<h2>Details about the organism</h2>
<p>
  <label>Organism:</label>
  <%= select :sop,:organism_id,Organism.find(:all,:order=>:title).collect{|o| [o.title.capitalize,o.id]},:include_blank=>"Not specified" -%>
</p>