<% if can_view_asset?(@sop, params[:code]) -%>

  <% if @sop.can_edit? -%>
      <%= button_link_to('Edit experimental conditions (latest version)', 'edit', sop_experimental_conditions_path(@sop)) -%>
  <% end -%>

  <br/>

  <% unless @display_sop.experimental_conditions.empty? -%>
    <%= render partial: "studied_factors/condition_or_factor_table", locals: { collection: @sop.experimental_conditions, asset: 'sop', show_delete: false } %>
  <% else -%>
    <span class="none_text">There are no experimental conditions for this <%= t('sop') %>.</span>
  <% end -%>

  <div style="clear:both;">&nbsp;</div>

<% end -%>