<% if can_view_asset?(@sop, params[:code]) -%>

  <% if @sop.can_edit? -%>
    <ul class="sectionIcons">
      <li><%= image_tag_for_key('edit', sop_experimental_conditions_path(@sop), nil, nil, 'Edit experimental conditions (latest version)') -%></li>
    </ul>
  <% end -%>

  <br/>

  <% unless @display_sop.experimental_conditions.empty? -%>
    <ul>
       <%= render :partial=>"studied_factors/condition_or_factor_row_headings", :locals=>{:asset => 'sop', :show_delete=>false} %>
       <%= render :partial=>"studied_factors/condition_or_factor_row",:collection=>@sop.experimental_conditions, :locals=>{:asset => 'sop', :show_delete=>false} %>
    </ul>
  <% else -%>
    <span class="none_text">There are no experimental conditions for this <%= t('sop') %>.</span>
  <% end -%>

  <div style="clear:both;">&nbsp;</div>

<% end -%>