<%
  default_scv = SampleControlledVocab::SystemVocabs.vocab_for_property(:protocols)

  if @sop.sop_type.nil?
    existing_items = []
  else
    sop_option_struct = Struct.new(:id, :title)
    existing_items = [sop_option_struct.new(@sop.sop_type, @sop.sop_type)]
  end

  options = {
    typeahead: {
      query_url: typeahead_sample_controlled_vocabs_path + "?scv_id=#{default_scv.id}" ,
      handlebars_template: 'typeahead/controlled_vocab_term'
    },
    limit: 1,
    allow_new: true,
    class: 'form-control',
    name: 'sop[sop_type]'
  }
%>
<div class="form-group" id="sop_type_selector">
  <label for="sop[sop_type]"><%= t("sop") %> Type value</label>
  <%= objects_input('sop[sop_type]', existing_items, options) %>
</div>