<%
  terms = local_assigns[:terms]
  current_value = local_assigns[:current_value]
%>
<% if current_value %>
  <option value="<%= current_value %>" selected="selected"><%= current_value %></option>
<% end %>
<% terms.each do |term| %>
  <option value="<%= term %>"><%= term %></option>
<% end %>