<ul class="sectionIcons">
	<li><%= icon "sop", new_sop_path, "Upload New SOP", nil, "Upload New SOP" %></li>
	<!-- <li><%#= icon "view-all", all_files_path, nil, nil, "View All Files" %></li> -->
</ul>

<% if @sops.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @sops } -%>
<% end %>

<%= render :partial => "assets/resource_list", :locals => { :collection => @sops, :authorization_for_showing_already_done=>true } %>
