<ul class="sectionIcons">
</ul>


<div class="show_basic">
  <p class="id">
    <label>
      ID:  <%= @id %>
    </label>
  <p>
    <b>Description:</b>
  <div id="description" class="box_standout">
    <%= @sbml.to_s %>
  </div>
  </p>
  <br/>
</div>
