<ul class="sectionIcons">


  <li></li>
  <li></li>
  <li></li>
  <li></li>


</ul>
<div class="show_basic">
  <p class="id">
    <label>
      ID:
    </label>

  <p>
    <b>Description:</b>

  <div id="description" class="box_standout">
    <%= @sbml.to_s %>
  </div>
  </p>
  <br/>

</div>
