<%
  options = ExtendedMetadataType.enabled.where(supported_type:resource.class.name).to_a
  if resource.extended_metadata && !resource.extended_metadata.enabled?
    options << resource.extended_metadata.extended_metadata_type
  end

 return if options.empty?
  options = options.collect do |extended_metadata_type|
    title = extended_metadata_type.enabled? ? extended_metadata_type.title : "#{extended_metadata_type.title} (DISABLED)"
    [title, extended_metadata_type.id]
  end
%>

<%
  label ||= 'Extended Metadata'
%>

<div class="form-group">
  <%= f.fields_for(:extended_metadata,resource.extended_metadata || ExtendedMetadata.new) do |ff| %>
    <%= f.label label %>
    <%= ff.select(:extended_metadata_type_id, options,
                             {prompt:'Select'},
                             {class:"form-control", id:'extended_metadata_attributes_extended_metadata_type_id'}) %>
  <% end %>
</div>

