<div class="row">
  <div class="col-sm-2">
    <p>
      <span class="<%= nels_project_glyph %>"></span> - Project
    </p>
    <p>
      <span class="<%= nels_dataset_glyph %>"></span> - Dataset
    </p>
    <p>
      <span class="<%= nels_locked_dataset_glyph %>"></span> - Locked Dataset
    </p>
    <p>
      <span class="<%= nels_subtype_glyph %>"></span> - Subtype
    </p>
  </div>
  <div class="col">
    <p>
      You can use the tree on the left to navigate the NeLS Projects, Datasets and Subtypes you have access to. You can click on a label to select and expand the tree node.
      You can also navigate via the links in the main view.
    </p>
    <p>
      When viewing a Project you have the option to create a new Dataset.
    </p>
    <p>
      You can upload or download data by viewing the appropriate Subtype. You can upload or download metadata files via the Dataset view.
    </p>
  </div>
</div>