<h1>NeLS Browser</h1>

Logged in as <%= @rest_client.user_info['name'] %><br/><br/>

<div class="row">
  <div class="col-sm-3">
    <div id="nels-tree" style="min-height: 300px; border-right: 1px solid #ddd"></div>
  </div>
  <div class="col-sm-9">
    <div id="nels-content" style="display: none">
      <h2></h2>
      <em>Other metadata here</em><br/><br/>
      <%= button_link_to('Register in SEEK', 'add', '#') %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $j(document).ready(function () {
        $j('#nels-tree')
            .bind('loaded.jstree', function() {})
            .jstree({
                'core': {
                    'check_callback': true,
                    'force_text': true,
                    'data' : {
                        'url': function (node) {
                            console.log(node);
                            if (node.id === '#') {
                                return 'nels_projects';
                            } else if (node.data.project_id) {
                                return 'nels_subtypes';
                            } else {
                                return 'nels_datasets';
                            }
                        },
                        'data': function (node) {
                            if (node.id === '#') {
                                return {};
                            }

                            var d = { id: node.data.id };
                            if (node.data.project_id) {
                                d.project_id = node.data.project_id
                            }
                            return d;
                        }
                    }
                }
            }).on('activate_node.jstree', function (e, data) {
          console.log(data);
          var el = $j('#nels-content');
          if (data.node.data.dataset_id) {
            el.show();
            $j('h2', el).html(data.node.text)
          } else {
            el.hide();
          }
        });
    });
</script>
