<%= item_actions_dropdown do %>
    <% if item.can_edit? -%>
          <li><%= icon_link_to("Edit #{t('service')} Details", 'edit', edit_service_path(item)) -%></li>
    <% end %>
    <% if item.can_delete? -%>
      <li><%= delete_icon(item,current_user) %></li>
    <% end -%>
<% end %>
