<%# this partial expects the following parameters to be set: -%>

<%
  allow_nil ||= false
  allow_all ||= false
  resource ||= nil

  selected_services = resource ? resource.services.to_a : []
  selected_service_ids = selected_services.collect { |x| x.id }
  possible_services = Service.all

  field_name = "#{resource.class.name.underscore}[service_ids][]"
  title = t('service').pluralize
  title += '<span class="required">*</span>'.html_safe unless allow_nil

%>

<%= folding_panel(title, false, id: "add_services_form",
                  help_text: "Here you can associate the #{t('assay')} with specific #{t('service').downcase.pluralize}.") do %>
    <p class="help-block">
      The following <%= t('service').downcase.pluralize -%> are associated with this <%= t('assay') -%>:
    </p>
    <div id="service-selector">
      <%= f.select "service_ids",
	  options_from_collection_for_select(possible_services, "id", "title", selected_service_ids ),
	  {},
	  {:multiple => true, :size => 5} %>
    </div>
<% end %>
