<%# this partial expects the following parameters to be set: -%>

<%
  allow_nil ||= false
  allow_all ||= false
  resource ||= nil

  selected_service = resource ? resource.service : nil
  selected_service_id = selected_service&.id
  possible_services = Service.all

  field_name = "#{resource.class.name.underscore}[service_id]"
  title = t('service')
  title += '<span class="required">*</span>'.html_safe unless allow_nil

%>

<%= folding_panel(title, false, id: "select_service_form",
                  help_text: "Here you can associate the object with a specific #{t('service').downcase}.") do %>
    <p class="help-block">
      The following <%= t('service').downcase -%> is associated with this object:
    </p>
    <div id="service-selector">
      <%= f.select "service_id",
	  options_from_collection_for_select(possible_services, "id", "title", selected_service_id ),
	  {},
	  {:multiple => false, :size => 5} %>
    </div>
<% end %>
