<ul data-role="seek-wizard-nav" class="pagination">
    {{#each steps}}
        <li>
            <a href="#" data-step="{{ this.number }}">Step {{ this.number }}
                {{#if this.name}}
                    - {{this.name}}
                {{/if}}
            </a>
        </li>
    {{/each}}
</ul>
