<ul data-role="seek-wizard-nav" class="pagination">
    {{#each steps}}
        <li>
            <a href="#" data-step="{{inc @index}}">Step {{inc @index}}
                {{#if this}}
                    - {{this}}
                {{/if}}
            </a>
        </li>
    {{/each}}
</ul>
