<%= item_actions_dropdown do %>
    <% if item.can_edit? -%>
          <li><%= icon_link_to("Edit #{t('institution')} Details", 'edit', edit_institution_path(item)) -%></li>
          <% if admin_logged_in? -%>
              <li><%= delete_icon(item,current_user) %></li>
          <% end -%>
    <% end %>
<% end %>
