<div id="institution_people">
  <ul><label>People:</label>
          <% for person in institution_people %>
            <li>
              <%=link_to(h(person.name), url_for(person)) %>
            </li>
          <% end  %>
        </ul>
</div>
