<%= list_item_title resource %>

<div class="list_item_left_column">
  <%= list_item_attribute "Country", (text_or_not_specified resource.country, :link_as_country => true) %>
  <%= list_item_optional_attribute "Web page", h(resource.web_page), h(resource.web_page) %>
</div>

<div class="list_item_right_column">
  <%= list_item_optional_attribute "City", h(resource.city) %>
</div>

			




