<small class="form-text text-muted">
  <div id="ror-error-message" class="text-danger" style="display: none;"></div>
  <em>Enter the ID only (e.g., 01f7bcy98), then click on the fetch button.</em>
</small>
<button type="button" id="fetch-ror-data-with-id" class="btn btn-sm btn-primary">Fetch</button>