<h1>Edit Institution: <%= link_to h(@institution.name), institution_path(@institution) -%></h1>

<div class="show_basic">
	<% form_for(@institution) do |f| %>
	  <%= render :partial => "form", :locals => { :f => f, :institution => @institution } -%>
	<% end %>
</div>