<%= index_title -%>
<ul class="sectionIcons">
    <% if project_manager_logged_in?-%>
        <li>
          <%= image_tag_for_key "new", new_institution_path(), "New Institution", nil, "New Institution" -%>
        </li>
    <% end -%>
</ul>

<%= render :partial => "general/index_facets_or_paged" %>