<ul class="sectionIcons">
    <% if project_manager_logged_in?-%>
        <li>
          <%= image_tag_for_key "new", new_institution_path(), "New Institution", nil, "New Institution" -%>
        </li>
    <% end -%>
</ul>

<% if @institutions.public_methods.include?("page_totals") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate_alphabetical", :locals => { :pages => @institutions.pages, :page_totals=>@institutions.page_totals,:current_page=>@institutions.page } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial=>"assets/resource_list_item", :collection=>@institutions %>
</div>

<% if @institutions.page == "latest" && Institution.find(:all).length > Seek::Config.limit_latest%>
    <%= render :partial => "layouts/paginate_see_all"%>
<% end %>