<ul class="sectionIcons">
    <% if project_manager_logged_in?-%>
        <li>
          <%= image_tag_for_key "new", new_institution_path(), "New Institution", nil, "New Institution" -%>
        </li>
    <% end -%>
</ul>

<% if Seek::Config.faceted_browsing_enabled && Seek::Config.facet_enable_for_pages[controller_name] && @ie_support_faceted_browsing  %>
    <%= render :partial => "faceted_browsing/faceted_browsing", :object => @institutions %>
<% else %>
    <%= render :partial => "assets/resources_alphabetical_paginated", :object => @institutions %>
<% end %>