<!--<%= link_to 'New institution', new_institution_path %>-->

<% if @institutions.public_methods.include?("page_totals") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate_alphabetical", :locals => { :pages => @institutions.pages, :page_totals=>@institutions.page_totals,:current_page=>@institutions.page } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial=>"layouts/resource_list_item", :collection=>@institutions %>
</div>

<% if @institutions.page == "latest" && @institutions.length > Seek::Config.limit_latest%>
    <%= render :partial => "layouts/paginate_see_all"%>
<% end %>