<h1>New <%= t('institution') %></h1>

<div class="show_basic">
	<%= form_for(@institution) do |f| %>
	  <%= render :partial => "form", :locals => { :f => f, :institution => nil } -%>
	<% end %>
</div>
