<h1>New institution</h1>

<% form_for(@institution) do |f| %>
  <%= f.error_messages %>
  
  Name: <%=f.text_field :name %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', institutions_path %>
