<div class="most-activity" data-stats-url="<%= url -%>">
  <div class="form-inline text-right">
    <%= render partial: 'dashboard/time_controls' -%>
  </div>

  <hr/>

  <ul class="mini-resource-list"></ul>
</div>
