<li>
    <span class="generic_file_icon"></span>
    {{text}}
    <a href="#" class="remove-file"><span class="remove_icon"></span></a>

    <input type="hidden" value="{{id}}" name="retained_content_blob_ids[]"/>
</li>
