<li>
    <span class="generic_file_icon"></span>
    {{text}}
    <a href="#" class="remove-file"><span class="remove_icon"></span></a>

    <input type="hidden" name="content_blobs[][data]" value=""/>
    <input type="hidden" name="content_blobs[][data_url]" value="{{dataURL}}"/>
    <input type="hidden" name="content_blobs[][original_filename]" value="{{originalFilename}}"/>
    <input type="hidden" name="content_blobs[][make_a_local_copy]" value="{{makeALocalCopy}}"/>
</li>
