<li class="association-list-item" title="{{human_disease_title}}">
    {{ truncate human_disease_title 100 }}
    <input type="hidden" name="assay_human_disease_ids[]" value="{{human_disease_id}}"/>
    <a class="remove-association clickable" title="Remove human disease">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
</li>
