<li class="association-list-item">
    <input type="hidden" name="samples[][id]" value="{{id}}"/>
    <input type="hidden" name="samples[][direction]" value="{{direction.value}}"/>
    {{title}}
    <a class="remove-association clickable" title="Remove sample">&times;</a>
</li>