---
http_interactions:
- request:
    method: post
    uri: https://mds.test.datacite.org/metadata
    body:
      encoding: UTF-8
      string: |
        <resource xmlns="http://datacite.org/schema/kernel-3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://datacite.org/schema/kernel-3 http://schema.datacite.org/meta/kernel-3/metadata.xsd">
        <identifier identifierType="DOI">10.5072/my_test</identifier>
        <creators>
        <creator>
        <creatorName>First, Last</creatorName>
        </creator>
        </creators>
        <titles>
        <title>For testing</title>
        </titles>
        <publisher>ABC</publisher>
        <publicationYear>2013</publicationYear>
        <subjects>
        <subject>Assessment</subject>
        <subject>Information Literacy</subject>
        <subject>Engineering</subject>
        </subjects>
        <language>eng</language>
        <resourceType resourceTypeGeneral="Dataset">Dataset</resourceType>
        <version>1</version>
        <descriptions>
        <description descriptionType="Abstract">
        A test
        </description>
        </descriptions>
        </resource>
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 201 Created
      Location:
      - https://mds.test.datacite.org/metadata/10.5072/my_test
    body:
      encoding: ASCII-8BIT
      string: OK (10.5072/MY_TEST)
  recorded_at: Wed, 11 Mar 2026 13:09:34 GMT
- request:
    method: post
    uri: https://mds.test.datacite.org/doi
    body:
      encoding: UTF-8
      string: |-
        doi=10.5072/MY_TEST
        url=https://seek.sysmo-db.org
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: ASCII-8BIT
      string: OK
  recorded_at: Wed, 11 Mar 2026 13:09:34 GMT
- request:
    method: delete
    uri: https://mds.test.datacite.org/metadata/10.5072/MY_TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: OK
  recorded_at: Wed, 11 Mar 2026 13:09:35 GMT
[...]
