@import 'variables'; // Import main SEEK variables (and bootstrap variables, implicitly)

/* BioVeL colour reference */
/* Yellow:            #EEEB99 */
/* Light yellow:      #FFFFCC */
/* Dark yellow:       #B2AF6A */
/* Darker yellow:     #868446 */
/* Green:             #99CC33 */
/* Light green:       #B1E10F */
/* Dark green:        #287621 */
/* Footer grey:       #CFD5AF */

// Colours
$biovel-green: #99CC33;
$biovel-light-green: #B1E10F;
$biovel-dark-green: #287621;

$biovel-yellow: #EEEB99;
$biovel-light-yellow: #FFFFCC;
$biovel-dark-yellow: #B2AF6A;
$biovel-darker-yellow: darken($biovel-dark-yellow, 15%);
$biovel-grey: #CFD5AF;

$biovel-border: $biovel-dark-yellow;
$biovel-green-border: darken($biovel-green, 10%);
$biovel-shadow: $biovel-dark-yellow;

// Overrides
$body-bg: $biovel-yellow;
$link-color: $biovel-dark-green;
$link-hover-color: $link-color;

$navbar-default-bg: $biovel-green;
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-link-color: #333;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-hover-color: $navbar-default-link-color;
$navbar-default-link-hover-bg: $biovel-light-green;
$navbar-default-link-active-bg: $biovel-light-green;
$navbar-default-toggle-hover-bg: $biovel-light-green;
$navbar-default-toggle-icon-bar-bg: $biovel-green-border;
$navbar-default-toggle-border-color: $biovel-green-border;

//$btn-default-color: ;
$btn-default-bg: $biovel-light-yellow;
$btn-default-border: $biovel-border;
$btn-primary-bg: $biovel-green;
$btn-primary-border: $biovel-green-border;

$input-border: $biovel-border;
$input-border-focus: $biovel-green;

$panel-footer-bg: $biovel-light-yellow;
$panel-default-border: $biovel-border;
$panel-default-heading-bg: $biovel-light-yellow;
$panel-inner-border: $biovel-border;

$breadcrumb-bg: $biovel-light-yellow;
$breadcrumb-color: $biovel-border;

$nav-tabs-border-color: $biovel-border;
$nav-tabs-link-hover-border-color: $biovel-border;
$nav-tabs-active-link-hover-bg: #fff;
$nav-tabs-active-link-hover-border-color: $biovel-border;
$nav-link-hover-bg: $biovel-light-yellow;

$well-bg: lighten($biovel-light-yellow, 5%);
$well-border: $biovel-border;

// Seek overrides
$info-box-colour: $biovel-light-yellow;
$seek-button-colour: $biovel-light-yellow;
