/* DELETE THIS FILE AFTER MERGIN STYLES INTO MAIN BIOVEL CSS */

/* Yellow:            #EEEB99 */
/* Light yellow:      #FFFFCC */
/* Medium-dark yellow (borders) #b2af6a */
/* Dark yellow-ish:   #918e5b */
/* Dark green:        #287621 */
/* Light green:       #99CC33 */
/* Footer grey:       #CFD5AF */

.workflow-category {
  background-color: #fff;
  box-shadow: 1px 1px 3px #918e5b;
}

.workflow-category:hover {
  text-decoration: none;
}

.sectionIcons li a, .with_smaller_shadow, a.doc-link, a.button-link {
  box-shadow: none;
  background-color: #FFFFCC;
  border-color: #918e5b;
}

.sectionIcons li a:hover, a.doc-link:hover, a.button-link:hover {
  background-color: #b1e10f;
  color: #287621;
}

.contribution_title {
  background-color: #99CC33;
  border-color: #287621;
}

.foldTitle, h2, div.collapsable_div_header {
  background-color: #FFC;
  background-image: none;
}

.collapsable_div_contents {
  background-color: white;
}

.box_normal {
  background-color: white;
}

h2 {
  border: none;
}

#workflow_filters a.active {
  background-color: #B1E10F;
}

.easytabs-pane, ul.easytabs-nav > li.active {
  background-color: #FFC;
}

ul.easytabs-nav > li.active {
  border-bottom-color: #FFC;
}

ul.easytabs-nav > li {
  background-color: #dcd98a;
}

.workflow .category {
  background-color: white;
}

h2.standout {
  background: #99cc33;
  border: none;
}


.with_shadow {
  box-shadow: -4px -4px 6px #b2af6a;
  border-color: #b2af6a;
}

ul.tabbernav li a {
  background-color: #99CC33;
  border-color: #99CC33;
  border-width: 0 0 1px 0;
  border-style: solid;
}

.enable-data-sweeps {
  background-color: #ffffcc;
  border: 1px solid #b2af6a;
}

ul.sweep_input_selection label {
  background: #FFFFCC;
}

ul.sweep_input_selection label:hover {
  background: white;
}

.jcarousel-wrapper  {
  border-color: #b2af6a;
}
