<% sweep_results_table(sweep).each do |result_row| -%>
        <tr>
          <% result_row.each do |result_col| %>
              <td><%= result_col %></td>
          <% end %>
        </tr>
<% end -%>


