var $j = jQuery;

$modal = $j('#modal-dialog'),
        $modalBody = $j('#modal-dialog .modal-body'),
        $modalHeading = $j('#modal-dialog .modal-heading');

$modal.dialog(
        {
            modal: true,
            autoOpen: true,
            width: 600,
            draggable: true,
            resizable: true,
            dialogClass: 'no-close noTitleStuff',
            buttons: [
                { text: "OK", click: function () {
                    $j(this).dialog("close");
                } }
            ]
        });

<%
    run = TavernaPlayer::Run.find(params[:run_id])
    output = run.outputs.select{ |output| output.name == params[:output_port_name]}[0]

    if output.blank?
        html = "<pre class=\"script_example_data_box\">Value is N/A.</pre>"
    else
      html = show_output(run, output)
    end

%>
$modalHeading.html("Run: <%= run.name %>");
$modalBody.html("<p>Result value for output port: <strong><%= params[:output_port_name] %></strong></p><%= escape_javascript html %>");

