<h1>Log in</h1>
<% if logged_in? %>
	<br/>
	<p style="text-align:center;">You are already logged in.</p>
	<p style="text-align:center;"><%= link_to "Sign out", logout_url %></p>
<% else %>
	<br/>
	<center>
	  <div style="width: 300px;">
		  <%= render :partial => "gadgets/sign_in" %>
	  </div>
	</center>
        
	<script language="javascript">
      function focusLogin() {
        document.getElementById('login').focus();
      }

      if (window.addEventListener){
        window.addEventListener('load', focusLogin, false); 
      } else if (window.attachEvent){
        window.attachEvent('onload', focusLogin);
      }
    </script>
	   
<% end %>