<% sample.sample_type.sample_attributes.each do |attribute| %>
    <p>
      <label><%= sample_attribute_title_and_unit(attribute) %>:</label>
      <%= display_attribute(sample, attribute, link: true) %>
    </p>
<% end %>
