<% sample_type.sample_attributes.each do |attribute| %>
    <div class="form-group">
      <label><%= sample_attribute_display_title(attribute) %></label><%= required_span if attribute.required? %>
      <% if attribute.description %>
        <p class="help-block"><%= attribute.description %></p>
      <% end %>
      <%= sample_form_field_for_attribute(attribute, @sample) %>
    </div>
  <script>
      $j(document).ready(function() {
              SampleAttributeType.initCVList();
          }
      );
  </script>
<% end %>
