<% if object.errors.any? %>
    <div id="error_explanation" class="error_explanation">
      <h2><%= pluralize(object.errors.count, 'error') %> prohibited this sample from being saved</h2>
      <p>There were problems with the following fields:</p>
      <ul>
        <% object.errors.each do |error| %>
          <li><%= error.full_message.html_safe %></li>
        <% end %>
      </ul>
    </div>
<% end %>
