<% sample_type = samples.first.sample_type %>
<% shown_attributes = sample_type.sample_attributes %>

<div  data-role="seek-association-candidate-list" data-multiple="true">
  <div class="table-responsive">
    <table class="table table-bordered samples-table" style="width: 100%">
      <thead>
      <tr>
        <% shown_attributes.each do |attribute| %>
            <th><%= attribute.title %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% samples.each do |sample| %>
          <%= content_tag(:tr, data: { role: 'seek-association-candidate',
                                             'association-id' => sample.id,
                                             'association-title' => sample.title }) do %>
              <% shown_attributes.each do |attribute| %>
                  <td><%= sample.send(attribute.accessor_name.to_sym) %></td>
              <% end %>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
