        <%= javascript_include_tag 'jquery.js', 'jquery.dataTables.js' %>
<%= stylesheet_link_tag 'demo_page.css', 'demo_table.css' %>


<script type="text/javascript" charset="utf-8">
    jQuery.noConflict();
     var $j = jQuery;

					$j(document).ready(function() {
				$j('#example').dataTable();
                    })
		</script>


<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	<thead>
		<tr>
			<th>Rendering engine</th>
			<th>Browser</th>
			<th>Platform(s)</th>
			<th>Engine version</th>

			<th>CSS grade</th>
		</tr>
	</thead>
	<tbody>
		<tr class="gradeX">
			<td>Trident</td>
			<td>Internet Explorer 4.0</td>

			<td>Win 95+</td>
			<td class="center">4</td>
			<td class="center">X</td>
		</tr>
		<tr class="gradeC">
			<td>Trident</td>
			<td>Internet Explorer 5.0</td>

			<td>Win 95+</td>
			<td class="center">5</td>
			<td class="center">C</td>
		</tr>
		<tr class="gradeA">
			<td>Trident</td>
			<td>Internet Explorer 5.5</td>

			<td>Win 95+</td>
			<td class="center">5.5</td>
			<td class="center">A</td>
		</tr>
		<tr class="gradeA">
			<td>Trident</td>
			<td>Internet Explorer 6</td>

			<td>Win 98+</td>
			<td class="center">6</td>
			<td class="center">A</td>
		</tr>
		<tr class="gradeA">
			<td>Trident</td>
			<td>Internet Explorer 7</td>

			<td>Win XP SP2+</td>
			<td class="center">7</td>
			<td class="center">A</td>
		</tr>
		<tr class="gradeA">
			<td>Trident</td>
			<td>AOL browser (AOL desktop)</td>

			<td>Win XP</td>
			<td class="center">6</td>
			<td class="center">A</td>
		</tr>
</tbody>
    </table>
