<%
   show_checkbox||=false
%>
<li>
  <ul class="condition_or_factor_row heading">
    <% if show_checkbox %>
        <li class="space_for_alignment"></li>
    <% end %>
    <li id="measured_item">
      Item
    </li>
    <li id="values">
      Value(s)
    </li>

    <% if asset == 'data_file' %>
      <li id="standard_deviation">
        SD
      </li>
    <% end %>

  </ul>
</li>