<li>
  <ul class="condition_or_factor_row heading">
    
    <li id="measured_item">
      Item
    </li>
    <li id="values">
      Value(s)
    </li>

    <% if asset == 'data_file' %>
      <li id="standard_deviation">
        SD
      </li>
    <% end %>

  </ul>
</li>