<h1>
  <%= "Factors studied for '#{link_to h(@data_file.title),data_file_path(@data_file, :version => @display_data_file.version)}' version #{@display_data_file.version}" %>
</h1>

<div align="center">
  <div id="add_condition_or_factor" style="display:block;">
    <%= render :partial=>"add_condition_or_factor", :locals => {:asset => 'data_file'} %>
  </div>

  <ul id="conditions_or_factors" class="conditions_or_factors">

    <%= render :partial=>"condition_or_factor_row_headings", :locals=>{:asset => 'data_file', :show_delete=>true} %>

    <div id="condition_or_factor_rows">
      <%= render :partial=>"condition_or_factor_row",:collection=>@display_data_file.studied_factors, :locals=>{:asset => 'data_file', :show_delete=>true} %>
    </div>
  </ul>

</div>

