<h1>
  <%= "Factors studied for '#{link_to h(@data_file.title),data_file_path(@data_file, :version => @display_data_file.version)}' version #{@display_data_file.version}" %>
</h1>

<center>
  <div id="add_factor" style="display:block;">
    <%= render :partial=>"add_factor" %>
  </div>

  <ul id="studied_factors" class="conditions_or_factors">

    <%= render :partial=>"factor_row_headings" %>

    <div id="studied_factors_rows">
      <%= render :partial=>"factor_row",:collection=>@display_data_file.studied_factors %>
    </div>
  </ul>
</center>

