<h1>Manage technology types</h1>

<div class="show_basic">
  <div style="float:left">
    <ul><%= ontology_editor_display TechnologyType %></ul>
  </div>      
  <div style="float:left">
    <ul class="sectionIcons">
        <li><%= image_tag_for_key "new", new_technology_type_path, "New technology type", nil, "New technology type" %></li>
        <li><%= image_tag_for_key "new", new_assay_path, "New #{t('assays.assay').downcase}", nil, "New #{t('assays.assay').downcase}" %></li>
    </ul>
  </div>
</div>