<%= item_actions_dropdown do %>
    <% if item.can_manage? -%>

        <li><%= image_tag_for_key('edit', edit_programme_path(item), "Edit #{t('programme')}", nil, "Edit #{t('programme')}") %></li>

        <% if item.is_activated? && can_create_projects? %>
            <li><%= image_tag_for_key('add',new_project_path(programme_id:item.id),"Create a #{t('project')}",nil, "Create a #{t('project')}") %></li>
        <% end %>

        <% if @programme.can_delete? %>
            <%= delete_icon(item, current_user) %>
        <% end %>

    <% end -%>
<% end -%>
