<%= list_item_title resource %>

<div class="list_item_left_column">
  <%= list_item_simple_list resource.projects, "Projects" %>
</div>

<div class="list_item_right_column">
  <%= list_item_optional_attribute "Web page", h(resource.web_page), h(resource.web_page) %>
</div>
<div class="list_item_whole_width">
  <%= list_item_description resource.description %>
</div>