<%
  parts = split_into_two(entity.properties)
  unless parts[0].empty?
%>
    <div class="row" id="openbis-details-properties">
      <div class="col-md-5">
        <% parts[0].each  do |key, value| %>
            <div>
              <label><%= "#{key}" %>: </label> <%= "#{value}" %>
            </div>
        <% end %>
      </div>
      <div class="col-md-5">
        <% parts[1].each  do |key, value| %>
            <div>
              <label><%= "#{key}" %>: </label> <%= "#{value}" %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
