<%
  if entity.properties
%>
    <div class="row" id="openbis-details-properties">
      <% entity.properties.each do |key, value| %>
          <div class="col-md-5 simple-formating">
            <label><%= key %>: </label> <%= openbis_rich_content_sanitizer(value) %>
          </div>
      <% end %>

    </div>
<% end %>
