<%  if @suggested_assay_type.link_from == "suggested_assay_types"
      type = "all_assay_type"
    else
      type = @suggested_assay_type.is_for_modelling ? "modelling_analysis" : "assay"
    end
 %>

<h1>Editing suggested <%= t('assays.assay').downcase %> type</h1>

<div class="show_basic">
  <div style="float:left;">
    <ul><%= ontology_editor_display type, (@suggested_assay_type.uri.blank? ? @suggested_assay_type.default_parent_uri : @suggested_assay_type.uri)  %></ul>
  </div>      
  <div style="float:left;">
    <%= form_for @suggested_assay_type do |f| %>
      <%= render :partial => "form", :locals => { :f => f, :action=>:edit, :type=> type } -%>
    <% end -%>
  </div>
</div>
