<h1>Manage suggested <%= t('assays.assay').downcase %> types</h1>

<div class="show_basic">
  <div style="float:left">
    <ul><%= ontology_editor_display "all_assay_type" %></ul>
  </div>      
  <div style="float:left">
    <ul class="sectionIcons">
        <li><%= create_suggested_assay_type_popup_link  %> </li>
        <li><%= image_tag_for_key "new", new_assay_path, "New #{t('assays.assay').downcase}", nil, "New #{t('assays.assay').downcase}" %></li>
    </ul>
  </div>
</div>