<h1>Create new <%= t('assays.assay').downcase %> type</h1>
<div class="show_basic">
  <div style="float:left;">
    <ul><%= ontology_editor_display "all_assay_type", (@suggested_assay_type.uri.blank? ? @suggested_assay_type.default_parent_uri : @suggested_assay_type.uri) %></ul>
  </div>
  <div style="float:left;">
    <%= render :partial =>  'form', :locals => { :action => :new, :type=> "all_assay_type"} %>
  </div>
</div>

