<div class="modal" role="dialog" tabindex="-1" id="openbis_batch_parent-view" size="xl"
     data-role="modal_openbis_batch_parent" style="display: none;">

  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Select parent for registration</h4>
      </div>

      <div class="modal-body">

        <%= form_tag do |f| %>
            <div class="form-group">
              <label>Register under Investigation </label><span class="required">*</span>
              <%= render :partial=>"studies/investigation_list",
                         :locals=>{:investigations=>Investigation.all.select {|i|current_user.person.member_of? i.projects},
                                   :study => Study.new} %>

            </div>
            <div class="form-group">
              <%= check_box_tag('link_dependent', 1, true) %>
              <%= label_tag('link_dependent', 'Automatically register all dependent enties') %>
              <div class="help-block">All dependent recognized OpenBis entities (e.g. Studies, DataSets) will be registered and linked during
                periodical synchronization
              </div>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" onclick="set_registration_parameters()">Register selected</button>
      </div>
    </div>
  </div>
</div>

<script>

    function set_registration_parameters() {

        if ($j('#study_investigation_id').val() > 0) {
            $j('#seek_parent').val($j('#study_investigation_id').val());
            $j('#sync_options_link_dependent').val($j('#link_dependent').prop("checked") ? '1' : undefined);
            $j('#openbis_batch_parent-view').modal('hide');
            if($j('#batch_form input:checkbox:checked').length > 0) {
                $j('#batch_form').submit();
            } else {
                alert('First select elements for batch registration');
            }
        } else {
            alert('Select the parent element');
        }
    }


</script>