<% attach_path = "#{application_root}#{attachment.public_filename}" %>



<li id="attachment_<%= attachment.id %>"><%= attachment.filename %> <%#= link_to attachment.filename,attach_path,{:style=>"color:#0000CC;"} %>
<%= link_to_remote "Remove", :url  => attachment_path(:id => attachment), :method => :delete, :html => { :title  => "Remove this attachment" } %></li>