<center>
  
  <%= image_tag("jwsonline_webpic.jpg",:id=>"jws_logo") -%>
  
  <h4>Connecting to JWS Online ...</h4>
  <span style="padding-top:10em;">
    <%= image_tag("ajax-loader-large.gif") %>
  </span>
</center>
