<%= javascript_include_tag :defaults %>

<% fields_for @newfile do |newfile| -%>
    <p>
      <label for="newfile_data">Attach Files:</label>

      <input id="newfile_data" type="file"
      <% if @model.attachments.count >= 5 -%> disabled
      <% end -%>>
    </p>
<% end -%>
<ul id="pending_files">
  <% if @model.attachments.size > 0 -%>
      <%= render :partial => "attachment", :collection => @model.attachments %>
  <% end -%>
</ul>
<script type="text/javascript">
    var multi_selector = new MultiSelector($('pending_files'), <%= @allowed %>);
    multi_selector.addElement($('newfile_data'));
</script>