<center>
  
  <% if @error_details -%>
    <p>
      There was an error submitting this model to JWS Online.
	  <% if current_user.person.is_admin? -%>
      <%= link_to_function "Show error details ..." do |page|
        page.visual_effect :toggle_blind, "jws_error"
      end -%>
	  <% end -%>
    </p>
    <p>
      Its possible your model is not compatible with JWS Online, but if you are sure that it is you can
      <%= link_to_remote "try again",
          :url=>execute_model_url(@model,:version=>@display_model.version),
          :method=>:post,
          :before=>"$('execute_model').innerHTML='<center><em>Reattempting to run the model: <b>#{h @display_model.title}</b> with JWS Online.</em><br/>#{image_tag("ajax-loader-large.gif")}</center>'" 
        -%>
    </p>

    <div id="jws_error" style="display:none;">
      <%= @error_details %>
    </div>

  <% else %>
    <%= @applet -%>
  <% end -%>    
  
</center>
