<% content_for(:buttons) { button_link_to("Back to #{t('model')}", 'back', model_path(:version=>@display_model.version, :code=>params[:code])) } %>
<%= render :partial => "general/item_title",:locals=>{:item=>@model,:title_postfix=>" - Copasi #{t('model')} Simulation"} %>

<!--https://copasijs.readthedocs.io/en/stable/api.html#javascript-->

<script>
    var copasi = null;
    createCpsModule().then(module => {
        copasi = new COPASI(module);
        console.log(copasi.version);
    });


    $j(document).ready(function () {
        $j('#cps').val(`<%= @blob %>`);
    });

    function automaticChanged() {
        var autoStepSize = document.getElementById("autoStepSize").checked;
        document.getElementById("numPoints").disabled = autoStepSize;
        //console.log("autoStepSize: " + autoStepSize);
    }

    function loadIntoCOPASI()
    {
        var info = copasi.loadModel(document.getElementById("cps").value);
        //console.log(info);
        document.getElementById("model_name").innerHTML = "none";
        if (info['status'] != "success") {
            document.getElementById("simulation_error").innerHTML = "Error loading model: " + info['messages'];
            document.getElementById('simulation_error').hidden = false;
        }
        document.getElementById("model_name").innerHTML = 'Model name: '+ info['model']['name'];
        document.getElementById("copasi_version").innerHTML = 'Copasi version: '+ copasi.version;
        document.getElementById('simulation_info').hidden = false;
    }


    function simulate() {

        if (copasi == null) {
            alert('There is a problem to load Copasi simulator.');
            return;
        }
        loadIntoCOPASI();
        runSimulation();

    }


    function runSimulation() {

        var autoStepSize = document.getElementById("autoStepSize").checked;
        var timeStart = parseFloat(document.getElementById("startTime").value);
        var timeEnd = parseFloat(document.getElementById("endTime").value);

        // console.log("timeStart: " + timeStart);
        // console.log("timeEnd: " + timeEnd);
        // console.log("autoStepSize: " + autoStepSize);

        if (autoStepSize) {
            var result = copasi.simulateYaml({
                "problem": {
                    "AutomaticStepSize": true,
                    "Duration": timeEnd,
                    "OutputStartTime": timeStart
                }
            });
            loadPlotFromResult(result);
            return;
        }

        var numPoints = parseInt(document.getElementById("numPoints").value);
        var result = copasi.simulateEx(timeStart, timeEnd, numPoints);

        // console.log("result: " + result);

        loadPlotFromResult(result);
    }

    function loadPlotFromResult(result) {

        if (typeof result === 'string') {
            result = JSON.parse(result);
        }

        clearResults();

        // dump data
        document.getElementById("data").innerHTML = JSON.stringify(result);
        //console.log("result2: " + result);

        // use highcharts to display data
        var data = [];
        for (var i = 1; i < result.num_variables; i++) {
            data.push({
                name: result.columns[i][0],
                x: result.columns[0],
                y: result.columns[i],
                type: "scatter",
                name: result.titles[i]
            });
        }

        Plotly.newPlot('chart', data);
    }

    function clearResults() {
        document.getElementById("data").innerHTML = "";
        document.getElementById("chart").innerHTML = "";
    }


</script>


<div class="container-fluid">

  <div id="simulation_error" class="alert alert-danger" role="alert" hidden="">

  </div>

  <div id="simulation_info" class="alert alert-info" role="alert" hidden="">
    <div id="model_name"></div>
    <div id="copasi_version"></div>
  </div>

  <div>
    <a class="btn btn-sm" data-toggle="collapse" href="#cps_form" role="button" aria-expanded="false"
       aria-controls="cps_form">show model file</a>
    <div class="form-group collapse show" id="cps_form">
      <textarea id="cps" class="form-control" rows="150"></textarea>
    </div>

    <div class="form-group collapse" id="yaml_form" hidden="">
      <textarea id="yaml" class="form-control" rows="8">{}</textarea>
    </div>
  </div>


  <div id="chart"></div>
  <div id="data" class="table collapse"></div>



  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <label for="startTime">Start Time:</label>
          <input type="number" class="form-control" id="startTime" placeholder="Enter start time" value="0">
        </div>
        <div class="col-sm-2">
          <label for="endTime">End Time:</label>
          <input type="number" class="form-control" id="endTime" placeholder="Enter end time" value="10">
        </div>
        <div class="col-sm-2">
          <label for="numPoints">Number of Points:</label>
          <input type="number" class="form-control" id="numPoints" placeholder="Enter number of points" value="101">
        </div>

        <div class="col-sm-3">
          <label for="simulate_js"> &nbsp;</label>
          <%= open_with_copasi_js_button %>
        </div>
        <div class="col-sm-3">
          <label for="simulate_ui"> &nbsp;</label>
          <%= open_with_copasi_ui_button %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="autoStepSize">Automatic Step Size:</label>
          <input type="checkbox" onclick="automaticChanged()" id="autoStepSize">
        </div>
      </div>
    </div>
  </div>
</div>

</div>
