<% content_for(:buttons) { button_link_to("Back to #{t('model')}", 'back', model_path(:version=>@display_model.version, :code=>params[:code])) } %>
<%= render :partial => "general/item_title",:locals=>{:item=>@model,:title_postfix=>" - Copasi #{t('model')} Simulation"} %>

<div class="container-fluid">
  <div id="simulation_error" class="alert alert-danger" role="alert" hidden=""></div>
  <div id="simulation_info" class="alert alert-info" role="alert" hidden="">
    <div id="model_name"></div>
    <div id="copasi_version"></div>
  </div>
  <div id="chart"></div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
          <label for="startTime">Start Time:</label>
          <input type="number" class="form-control" id="startTime" placeholder="Enter start time" value="0">
        </div>
        <div class="col-sm-2">
          <label for="endTime">End Time:</label>
          <input type="number" class="form-control" id="endTime" placeholder="Enter end time" value="10">
        </div>
        <div class="col-sm-2">
          <label for="numPoints">Number of Points:</label>
          <input type="number" class="form-control" id="numPoints" placeholder="Enter number of points" value="101">
        </div>
        <div class="col-sm-3">
          <label for="simulate_js"> &nbsp;</label>
          <%= open_with_copasi_js_button %>
        </div>
        <div class="col-sm-3">
          <label for="simulate_ui"> &nbsp;</label>
          <%= open_with_copasi_ui_button %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label for="autoStepSize">Automatic Step Size:</label>
          <input type="checkbox" onclick="automaticChanged()" id="autoStepSize">
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cps_form" role="tab" aria-controls="cps_form">CPS Model</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#yaml_form" role="tab" aria-controls="yaml_form">YAML</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#data_form" role="tab" aria-controls="data_form">Data</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="cps_form" role="tabpanel">
        <div class="form-group">
          <label for="cps">CPS Model:</label>
          <textarea id="cps" class="form-control" rows="150"></textarea>
        </div>
      </div>
      <div class="tab-pane fade" id="yaml_form" role="tabpanel">
        <div class="form-group">
          <label for="yaml">Processing: </label>
          <small> Changes for processing in yaml for the problem:
            <pre>{"problem":{"Duration": 100, "StepNumber": 100, "StepSize": 0.1}}</pre> or
            <pre>{"method": {"name": "Stochastic (Gibson + Bruck)"}}</pre> or for changes of
            initialvalues in the form of display names. So:
            <ul>
              <li>
                <pre>[A]_0</pre> for initial concentration of species A
              </li>
              <li>
                <pre>Values[t].InitialValue</pre> for initial value of parameter t
              </li>
              <li>
                <pre>(r1).k</pre> for the value of k of reaction r1.
              </li>
            </ul>
            <pre>{"initial_values": {"[A]_0": 10.0, "Values[t].InitialValue": 0.1, "(r1).k": 0.1}}</pre>
          </small>
          <textarea id="yaml" class="form-control" rows="8">{}</textarea>
        </div>
      </div>
      <div class="tab-pane fade" id="data_form" role="tabpanel">
        <div class="form-group">
          <label for="data">Data Yaml:</label>
          <textarea id="data" class="form-control" rows="8"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $j(document).ready(function () {
        createCpsModule().then(module => {
            copasi = new COPASI(module);
            console.log(copasi.version);
        });

        $j('#cps').val(`<%= @blob %>`);
    });
</script>