<% if logged_in? and current_user.person.member?%>
    <ul class="sectionIcons">
        <li><%= image_tag_for_key "new", new_model_path, "Upload a model", nil, "Upload a model" %></li>
        <!-- <li><%#= image_tag_for_key "view-all", all_files_path, nil, nil, "View All Files" %></li> -->
    </ul>
<% end %>

<% if @models.public_methods.include?("page_totals") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate_alphabetical", :locals => { :pages => @models.pages, :page_totals=>@models.page_totals,:current_page=>@models.page } -%>
<% end %>

<%= render :partial => "assets/resource_list", :locals => { :collection => @models, :authorization_for_showing_already_done=>true } %>

<% if @models.page == "latest" && Model.find(:all).length > Seek::Config.limit_latest%>
    <%= render :partial => "layouts/paginate_see_all"%>
<% end %>