<% if logged_in_and_member? %>
     <ul class="sectionIcons">
         <li><%= image_tag_for_key "new", new_model_path, "Upload a #{t('model')}", nil, "Upload a #{t('model')}" %></li>
         <!-- <li><%#= image_tag_for_key "view-all", all_files_path, nil, nil, "View All Files" %></li> -->
     </ul>
<% end %>

<% if Seek::Config.faceted_browsing_enabled && Seek::Config.facet_enable_for_pages[controller_name]  %>
    <%= render :partial => "faceted_browsing/facets", :object => @models %>
<% else %>
    <%= render :partial => "assets/resources_alphabetical_paginated", :object => @models %>
<% end %>