<ul class="sectionIcons">
	<li><%= icon "model", new_model_path, "Upload New Model", nil, "Upload New Model" %></li>
	<!-- <li><%#= icon "view-all", all_files_path, nil, nil, "View All Files" %></li> -->
</ul>

<% if @models.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @models } -%>
<% end %>

<%= render :partial => "assets/resource_list", :locals => { :collection => @models, :authorization_for_showing_already_done=>true } %>
