<ul class="sectionIcons">
	<li>
	<% if @saved_file -%>
		<%= image_tag_for_key('back', builder_model_path(@model,:version=>@display_model.version,:saved_file=>@saved_file), nil, nil, "Back to JWS One Stop") -%>
	<% else -%>
		<%= image_tag_for_key('back', model_path(@model,:version=>@display_model.version), nil, nil, "Back to Model") -%>
	<% end -%>
	</li>
</ul>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@display_model,:title_postfix=>" - JWS Model Simulation"} %>

<br/>


<div style="height: 100%;width: 100%;">
    <iframe src="http://jjj.mib.ac.uk/webMathematica/UItester.jsp?fileName=<%=@modelname-%>&noHeader=true" id="jws_simulator" width="100%" height="100%" frameborder=0>You need a Frames Capable browser to view this content.</iframe>
</div>

