<ul class="sectionIcons">
	<li><%= image_tag_for_key('back', "javascript:history.go(-1)", nil, nil, @back_button_text) -%></li>
</ul>

<%= render :partial => "layouts/item_title",:locals=>{:item=>@display_model,:title_postfix=>" - JWS Model Simulation"} %>

<br/>
<center>
	<div style="border: #999 1px solid;">	
    	<%= @applet -%>
	</div>
</center>
