<ul class="sectionIcons">
  <li>
       <%= image_tag_for_key('back', model_path(@model,:version=>@display_model.version), nil, nil, "Back to #{t('model')}") -%>
  </li>
</ul>

<%= render :partial => "general/item_title",:locals=>{:item=>@model,:title_postfix=>" - JWS Online #{t('model')} Simulation"} %>

<br/>

<div id="jws_simulator_wrapper">
  <iframe src="<%= @simulate_url.html_safe -%>" id="jws_simulator" width="100%" height="100%" frameborder=0>You need a Frames Capable browser to view this content.</iframe>
</div>