<!-- JWS CONSTRUCTOR -->

    <div style='height: 25px; width: 145px; float: left'>
        <button onclick="toggleContent()" title="Opens or closes all the input panels simultaneously">
            Open/Close Panels
        </button>
        <p>
    </div>
	
    
        <div style="float: left">
            <div style='float: left;'>
                <%= @page_content -%>
            </div>
        </div>
    
<!-- JWS CONSTRUCTOR END -->
<%= link_to "Try again", validate_model_path(@model) -%>

