<div class="alert alert-warning">
    <h4>No Projects Available</h4>
    <p>
        Your NeLS account does not have access to any SEEK enabled StoreBioinfo projects, please contact your
        Data Manager administrating the data of your scientific project you are looking for,
        or <a href="mailto:contact@bioinfo.no">contact@bioinfo.no</a> for more generic support.
    </p>
</div>
