<h2>{{ name }}</h2>
<p>{{ description }}</p>
{{#if contact_person }}
<strong>Contact person:</strong> {{ contact_person }}<br/>
{{/if}}
{{#if created_at }}
<strong>Created:</strong> {{ created_at }}<br/>
{{/if}}
<br/>
