syntax: glob
.redcar/
.idea/

data.sql
reset-db.sh
rails_best_practices_output.html

db/*.sqlite3
db/*.sqlite3-journal
config/database.yml
config/initializers/seek_local.rb
config/environment_local.rb
config/virtuoso_settings.yml
config/initializers/taverna_server.rb
config/sunspot.yml

*.DS_Store
log/*.log*

filestore*/

debug.log
.project
.buildpath

tmp/pids/*
tmp/cache/*
tmp/avatars/*
tmp/models/*
tmp/model_images/*
tmp/restart.txt
tmp/rubycritic/*
tmp/profile-*
tmp/test_content_blobs/*
tmp/rubycritic/*
tmp/rdf/
tmp/*.csv
tmp/*.zip
tmp/zip-files
tmp/testing-filestore
tmp/testing-seek-cache
tmp/rubycritic
*.tmp*
*~

solr/production/
solr/development/
solr/test/
solr/data/
solr/pids/
solr/default/

public/help_images/*
public/javascripts/*_cached.js
public/stylesheets/*_cached.css
public/system/

public/assets/
public/assets_dev/

.bundle/config

vendor/plugins/annotations/.git
vendor/bundle/
vendor/cache/
*.~lock*

*.orig

coverage/

Test\ Results*.html
