<% possible_orders ||= '' %>
<% page_size ||= '' %>

<div id="content-area">
  <div data-ex-role="exhibit-lens" class="hidden">
    <span data-ex-content=".display_content"></span>
  </div>

  <div data-ex-role="exhibit-viewPanel">
    <div data-ex-role="exhibit-view"
         data-ex-label="Tiles"
         data-ex-possible-orders=".<%= possible_orders %>"
         data-ex-paginate="<%= paginated %>"
         data-ex-page-size="<%= page_size %>"
         data-ex-show-all="true"
    ></div>
  </div>
</div>