<div id="data" style="display:none">
  <%
     object_type = objects.first.class.name
     facet_config = YAML.load(File.read(File.join(Rails.root, "config/facets.yml")))

     exhibit_items = []
     exhibit_properties = {}
     facet_config[object_type].keys.each do |facet|
       facet_class = facet_config[object_type][facet]['facet_class']
       if facet_class == 'NumericRange'
         exhibit_properties[facet] = {"valueType" => "number"}
       elsif facet_class == 'Exhibit.HierarchicalFacet'
         tree_from = facet_config[object_type][facet]['tree_from']
         tree_from.split(',').each do |tree_class|
           exhibit_items |= exhibit_tree(tree_class, facet)
         end
       end
     end

     #items
     objects.each do |object|
       exhibit_item = {}
       exhibit_item['item_id'] = object.id
       #This display_content will be later on replaced by resource_list_item, by using ajax, otherwise it causes speed problem
       exhibit_item['display_content'] = ''
       exhibit_item['type'] = object_type

       facet_config[object_type].keys.each do |facet|
         value = object
         value_from = facet_config[object_type][facet]['value_from']
         value_from.split(':').each do |field|
           if value.blank?
             next
           elsif value.kind_of?(Array)
             value = value.collect(&:"#{field}")
           else
             value = value.send(field)
           end
         end
         #escape value
         if value.blank?
         elsif value.kind_of?(Array)
           value = value.collect{|v| h(v)}
         else
           value = h(value)
         end
         exhibit_item[facet] = value
       end

       exhibit_items << exhibit_item
     end
  %>

  {
  "properties": <%= exhibit_properties.to_json %>,
  "items": <%= exhibit_items.to_json %>
  }

</div>