<div id="data" style="display:none">
  <%
     resource_hash = data_search
     common_facet_config = YAML.load(File.read(common_faceted_search_config_path))
     specified_facet_config = YAML.load(File.read(specified_faceted_search_config_path))

     #generate tree for HierarchicalFacet
     all_facet_config = common_facet_config
     resource_hash.keys.each do |object_type|
       all_facet_config.merge!(specified_facet_config[object_type] || {})
     end
     exhibit_items = exhibit_trees all_facet_config

     #generate exhibit_items
     resource_hash.each do |key,value|
       objects = value[:items]
       facets_for_object = specified_facet_config[key] || {}
       objects.each do |object|
         exhibit_item = exhibit_item_for object, common_facet_config.merge(facets_for_object)
         exhibit_items << exhibit_item
       end
     end
  %>

  {
  "items": <%= exhibit_items.to_json %>
  }

</div>
