<div id="data" style="display:none">
  <%
     resource_hash = data_search_one_instance
     object_types = resource_hash.keys
     facet_config = YAML.load(File.read(one_instance_facet_config_path))

     exhibit_items = []
     exhibit_properties = {}
     facet_config.each do |key,value|
       facet_class = value['facet_class']
       if facet_class == 'NumericRange'
         exhibit_properties[key] = {"valueType" => "number"}
       elsif facet_class == 'Exhibit.HierarchicalFacet'
         tree_from = value['tree_from']
         tree_from.split(',').each do |tree_class|
           exhibit_items |= exhibit_tree(tree_class, key)
         end
       end
     end

     #items
     i=1
     objects = resource_hash.values.collect{|value| value[:items]}.flatten
     objects.each do |object|
       exhibit_item = {}

       #this is to avoid exhibit warning messages
       exhibit_item['id'] = i
       exhibit_item['label'] = "#{i}"
       i += 1

       #This display_content will be later on replaced by resource_list_item, by using ajax, otherwise it causes speed problem
       exhibit_item['display_content'] = ''

       exhibit_item['type'] = object.class.name
       exhibit_item['item_id'] = object.id

       #generate facet values for each facet based on the facets.yml config file
       #TODO:   put this part into a function
       #        need comment and some tests for this part
       facet_config.each do |key, value|
         facet_values = object
         value_from = value['value_from']
         value_from.split(':').each do |field|
           if facet_values.blank?
             break
           elsif facet_values.kind_of?(Array) and facet_values.first.respond_to?field
             facet_values = facet_values.collect(&:"#{field}")
           elsif facet_values.respond_to?field
             facet_values = facet_values.send(field)
           elsif !value['rails_class'].nil? and facet_values.class.name == value['rails_class']
             next
           else
             facet_values = nil
           end
         end
         exhibit_item[key] = facet_values
       end

       exhibit_items << exhibit_item
     end
  %>

  {
  "properties": <%= exhibit_properties.to_json %>,
  "items": <%= exhibit_items.to_json %>
  }

</div>
