<div id="data" style="display:none">
  <%
     resource_hash = data_search_one_instance
     object_types = resource_hash.keys
     common_facet_config = YAML.load(File.read(one_instance_common_facet_config_path))
     specified_facet_config = YAML.load(File.read(one_instance_specified_facet_config_path))

     exhibit_items = []
     exhibit_properties = {}

     #generate properties for NumericRange facet and tree for HierarchicalFacet
     all_facet_config = common_facet_config
     resource_hash.keys.each do |object_type|
       all_facet_config.merge!(specified_facet_config[object_type] || {})
     end

     all_facet_config.each do |key,value|
       facet_class = value['facet_class']
       if facet_class == 'NumericRange'
         exhibit_properties[key] = {"valueType" => "number"}
       elsif facet_class == 'Exhibit.HierarchicalFacet'
         tree_from = value['tree_from']
         tree_from.split(',').each do |tree_class|
           exhibit_items |= exhibit_tree(tree_class, key)
         end
       end
     end

     i=1
     #generate facet values for each facet based on the config files
     resource_hash.each do |key,value|
       objects = value[:items]
       facets_for_object = specified_facet_config[key] || {}
       objects.each do |object|
         exhibit_item = {}
         #this is to avoid exhibit warning messages
         exhibit_item['id'] = i
         exhibit_item['label'] = "#{i}"
         i += 1

         #This display_content will be later on replaced by resource_list_item, by using ajax, otherwise it causes speed problem
         exhibit_item['display_content'] = ''

         exhibit_item['type'] = object.class.name
         exhibit_item['item_id'] = object.id


         common_facet_config.each do |key, config_for_key|
           exhibit_item[key] = value_for_key config_for_key, object
         end

         facets_for_object.each do |key, config_for_key|
           exhibit_item[key] = value_for_key config_for_key, object
         end

         exhibit_items << exhibit_item
       end
     end
  %>

  {
  "properties": <%= exhibit_properties.to_json %>,
  "items": <%= exhibit_items.to_json %>
  }

</div>
