---
http_interactions:
- request:
    method: get
    uri: https://test.datacite.org/mds/metadata/10.5072/MY_TEST
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <resource xmlns="http://datacite.org/schema/kernel-3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://datacite.org/schema/kernel-3 http://schema.datacite.org/meta/kernel-3/metadata.xsd">
        <identifier identifierType="DOI">10.5072/my_test</identifier>
        <creators>
        <creator>
        <creatorName>First, Last</creatorName>
        </creator>
        </creators>
        <titles>
        <title>For testing</title>
        </titles>
        <publisher>ABC</publisher>
        <publicationYear>2013</publicationYear>
        <subjects>
        <subject>Assessment</subject>
        <subject>Information Literacy</subject>
        <subject>Engineering</subject>
        </subjects>
        <language>eng</language>
        <resourceType resourceTypeGeneral="Dataset">Dataset</resourceType>
        <version>1</version>
        <descriptions>
        <description descriptionType="Abstract">
        A test
        </description>
        </descriptions>
        </resource>
  recorded_at: Tue, 04 Nov 2014 13:46:14 GMT
recorded_with: VCR 2.9.3