<%
   users = User.includes(:person).collect{|u| [u.person.name, u.id] unless u.person.nil?}.compact
   users = users.sort{|a,b| a[0] <=> b[0]}
-%>
<%= form_tag impersonate_users_url do %>
    <div class="form-group form-inline">

      <%= select_tag "id", options_for_select(users), :class => 'form-control' -%>

      <%= submit_tag "Go", data: { confirm: 'This action will log you out. Are you sure you wish to continue?' },
                     :class => 'btn btn-primary' %>
    </div>
<% end %>
