<%= stylesheet_link_tag "settings" -%>

<div class='box_normal'>
  <ul class='settings'>
    <br/>
    <%= render :partial=>'setting_li',:locals=>{
            :description=>"When changing settings '<b>search enabled, events enabled</b>' or changing code in production environment, you need to restart the server.
                           If deployed in production environment in conjunction with Passenger Phusion you can use this button,
                           otherwise you need to restart manually.",
            :name=>"",
            :field=>button_to('Restart server', restart_server_admin_path, :id => 'restart_server',:onclick => "confirmation(this.id, 'Restarting ...');return false;")
    } -%>

    <%= render :partial=>'setting_li',:locals=>{
            :description=>"Some background tasks are running in different process to server process, e.g. solr reindex, send subscription emails.
                           When changing setting '<b>search enabled</b>' or changing code, you need to restart this process.*",
            :name=>"",
            :field=>button_to('Restart background tasks', restart_delayed_job_admin_path, :id => 'restart_delayed_job', :onclick => "confirmation(this.id, 'Restarting ...');return false;")
    } -%>


    <span class="none_text">* The background processes - <%= delayed_job_status %></span>
  </ul>
</div>

<script type="text/javascript">
    function confirmation(button_id, value){
        if (confirm('Are you sure?')){
            var button = $(button_id);
            button.disabled = true;
            button.value = value
            button.form.submit();
        }
    }

</script>