    <%= select_tag :stats_query,
  options_for_select([["Select query ...","none"],
                      ["Content Statistics","contents"],
					  ["Activity Statistics","activity"],
					  ["Search Statistics","search"],
                      ["Job queue","job_queue"],
                      ["Auth table consistency","auth_consistency"],
                      ["Monthly User Statistics", "monthly_stats"],
                      ["Workflow Statistics", "workflow_stats"]
                     ],:length=>10),
    {:style=>"",
     :onchange=>remote_function(:url=>get_stats_admin_path(:element=>"stats_list"),
                                :with=>"'id='+this.value",
                                :update => {:success => 'stats_list'},
                                :success => "Element.show('stats_list'); new Effect.Highlight('stats_list', { duration: 1.0 });",
                                :loading => "Element.show('spinner');Element.hide('stats_list');Element.hide('refresh_button');",
                                :complete => "Element.hide('spinner');Element.show('stats_list');Element.show('refresh_button');"
                               )
     }
-%>

<%= link_to_with_callbacks image('refresh'),
            {:url=>get_stats_admin_path,
             :with=>"'id='+encodeURIComponent($F('stats_query'))",
             :update => {:success => 'stats_list'},
             :success => "Element.show('stats_list'); new Effect.Highlight('stats_list', { duration: 1.0 });",
             :loading => "Element.show('spinner');Element.hide('stats_list');Element.hide('refresh_button');",
             :complete => "Element.hide('spinner');Element.show('stats_list');Element.show('refresh_button');"},
            {:id=>'refresh_button', :style=>'display:none;'}
%>

<%= image_tag "ajax-loader.gif", :id => 'spinner', :style => 'display:none;' -%><br/>
<div id="stats_list">
</div>



