<div class="form-group form-inline">
  <%
     options = [["Select query ...","none"],
                ["Content Statistics","content_stats"],
                ["Activity Statistics","activity_stats"],
                ["Search Statistics","search_stats"],
                ["Job queue","job_queue"],
                ["Auth table consistency","auth_consistency"],
                ["Storage usage","storage_usage_stats"],
                ["Snapshot & DOI Statistics","snapshot_and_doi_stats"]
     ]
     options = options | [["Workflow Statistics", "workflow_stats"]] if Seek::Config.workflows_enabled
  %>

  <%= select_tag :stats_query,
                 options_for_select(options,:length=>10),
                 {:class => 'form-control',
                  :onchange=>remote_function(:url=>get_stats_admin_path(:element=>"stats_list"),
                                             :with=>"'id='+this.value",
                                             :update => {:success => 'stats_list'},
                                             :success => "Element.show('stats_list'); new Effect.Highlight('stats_list', { duration: 1.0 });",
                                             :loading => "Element.show('spinner');Element.hide('stats_list');Element.hide('refresh_button');",
                                             :complete => "Element.hide('spinner');Element.show('stats_list');Element.show('refresh_button');"
                  )
                 }
  -%>

  <%= button_link_to "Refresh", 'refresh', '#', :onclick =>
                                      remote_function(
                                              :url=>get_stats_admin_path,
                                              :with=>"'id='+encodeURIComponent($F('stats_query'))",
                                              :update => {:success => 'stats_list'},
                                              :success => "Element.show('stats_list'); new Effect.Highlight('stats_list', { duration: 1.0 });",
                                              :loading => "Element.show('spinner');Element.hide('stats_list');Element.hide('refresh_button');",
                                              :complete => "Element.hide('spinner');Element.show('stats_list');Element.show('refresh_button');") +
                                              '; return false;',
                     :id=>'refresh_button', :style=>'display:none;'
  %>
</div>

<%= image_tag "ajax-loader-large.gif", :id => 'spinner', :style => 'display:none;' -%>

<div id="stats_list"></div>
