<div id="run-button">
  <% if run.finished? %>
    <%= link_to 'Restart', new_embedded_run_path(run) %>
  <% else %>
    <%= link_to "Cancel", cancel_run_path(run.id), :method => :put, :data => { confirm: "Are you sure?" } %>
  <% end %>
</div>
