<div id="corner-logo">
  <a href="/" target="_blank" style="display: block">
    <img src="/images/biovel48x48.png" style="float: left; margin-right: 4px;">
    <br/>Powered by BioVeL Portal
  </a>
</div>