<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<div id="run-info">

  <p>
    <b>Name:</b>
    <%= run.name %>
  </p>

  <p>
    <b>Status message:</b>
    <%= run.status_message %>
  </p>

</div>
