<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<div id="embedded-run-info">
  <% unless run.complete? %>
    <%= image_tag 'ajax-loader-large.gif' %><br/>
  <% end %>
  <%= run.status_message %>
</div>
