<% tools_list=person.tools -%>
<% expertise_list=person.expertise -%>

<p id="expertise">
  <strong>Expertise:</strong>

  <%  if expertise_list.blank? -%>
      <span class='none_text'>Not known</span>
  <% else %>
      <%= list_item_tags_list expertise_list,:type=>:expertise %>
  <% end %>
</p>

<p id="tools">
  <strong>Tools:</strong>

  <%  if tools_list.blank? -%>
      <span class='none_text'>Not known</span>
  <% else %>
      <%= list_item_tags_list tools_list,:type=>:tools %>
  <% end %>
</p>
