<% tools_list=person.tools -%>
<% expertise_list=person.expertise -%>

<div id="expertise">
  
    <p>
      <label>Expertise:</label>

      <%  if expertise_list.blank? -%>
        <span class='none_text'>Not known</span>
      <% else %>

        <%= list_item_tags_list person.expertise,:type=>:expertise %>
      <% end %>
    </p>

    <p>
      <label>Tools:</label>

      <%  if tools_list.blank? -%>
        <span class='none_text'>Not known</span>
      <% else %>
        <%= list_item_tags_list person.tools,:type=>:tools %>
      <% end %>
    </p>
    
  </div>