<% tools_list=person.tools -%>
<% expertise_list=person.expertise -%>

<div id="expertise">
  
    <p>
      <label>Tools:</label>

      <%  if tools_list.blank? -%>
        <span class='none_text'>Not known</span>
      <% else %>

        <% for tool in tools_list  -%>
          <%= link_to tool.name, "http://www.google.com" -%>
          <% unless tool==tools_list.last %>
            |
          <% end %>
        <% end %>
      <% end %>
    </p>
    <p>
      <label>Expertise:</label>

      <%  if expertise_list.blank? -%>
        <span class='none_text'>Not known</span>
      <% else %>

        <% for expertise in expertise_list  -%>
          <%= link_to expertise.name, "http://www.google.com" -%>
          <% unless expertise==expertise_list.last %>
            |
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>