<% tools_list=person.tools -%>
<% expertise_list=person.expertise -%>

<div id="expertise">
  
    <p>
      <label>Expertise:</label>

      <%  if expertise_list.blank? -%>
        <span class='none_text'>Not known</span>
      <% else %>

        <% for expertise in expertise_list  -%>
          <%= link_for_tag expertise, :type=>:expertise -%>
          <% unless expertise==expertise_list.last %>
            |
          <% end %>
        <% end %>
      <% end %>
    </p>

    <p>
      <label>Tools:</label>

      <%  if tools_list.blank? -%>
        <span class='none_text'>Not known</span>
      <% else %>

        <% for tool in tools_list  -%>
          <%= link_for_tag tool,:type=>:tools -%>
          <% unless tool==tools_list.last %>
            |
          <% end %>
        <% end %>
      <% end %>
    </p>
    
  </div>