<% tools_list=person.tool_annotations.map(&:value) -%>
<% expertise_list=person.expertise_annotations.map(&:value) -%>

<p id="expertise">
  <strong>Expertise:</strong>


  <%= list_item_tags_list expertise_list,type: :expertise %>

</p>

<p id="tools">
  <strong>Tools:</strong>

  <%= list_item_tags_list tools_list,type: :tool %>

</p>
