<% tools_list=person.tools -%>
<% expertise_list=person.expertise -%>

<div id="expertise">
  
    <p>
      <label>Expertise:</label>

      <%  if expertise_list.blank? -%>
        <span class='none_text'>Not known</span>
      <% else %>

        <% for expertise in expertise_list  -%>

          <%= link_for_tag expertise, :type=>:expertise,:truncate_length=>150 -%>
          <%= ", " unless expertise==expertise_list.last %>
        <% end %>
      <% end %>
    </p>

    <p>
      <label>Tools:</label>

      <%  if tools_list.blank? -%>
        <span class='none_text'>Not known</span>
      <% else %>

        <% for tool in tools_list  -%>
          <%= link_for_tag tool,:type=>:tools,:truncate_length=>150 -%>
          <%= ", " unless tool==tools_list.last -%>
        <% end %>
      <% end %>
    </p>
    
  </div>