

<p>
  <% fields_for profile do |prof| %>
<p>
  <label for="expertises_text">Areas of expertise</label>
<%= help_icon("A comma seperated list of keywords that describe your expertise.<br/>Please let the suggestions guide you, but feel free to add you own if necessary.") %>
<br />
  <%= text_field :expertise, :name, {:value=>h(expertises_as_comma_seperated_list(profile.expertises))} %>

  

  <%= fast_auto_complete_field :expertise_name, :url =>"/expertise" %>

    </p>
  <% end %>
  
</p>