<% unless is_nil_or_empty? people_i_may_know -%>
    <ul class="items">
      <% for person in people_i_may_know -%>
        <li>
          <%= link_to h(person.name),url_for(person) -%>
        </li>
      <% end  %>
    </ul>
<% else -%>
  <% # most likely won't be shown, because a check if some people are in this list is carried before calling the partial -%>
  <span class="none_text">None</span>
<% end  -%>
