<% person = person_list_item_extra_details %>
<% if person_list_item_extra_details? person -%>

  <div id="expand_button">
    <%= link_to_function(expand_image, visual_effect(:toggle_blind, "extra_details_#{person.id}")) %>
  </div>


  <div id="<%= "extra_details_#{person.id}"%>" style="display:none;" >
    <div id="institutions">
      <% unless person.institutions.empty? %>
        <ul><label>Institutions:</label>
          <% for institution in person.institutions %>
            <li>
              <%= link_to h(institution.name),url_for(institution) %>
            </li>
          <% end -%>
        </ul>
      <% end -%>
    </div>
  
    <div id="projects">
      <% unless person.projects.empty? %>
        <ul><label>Projects:</label>
          <% for project in person.projects %>
            <li>
              <%= link_to h(project.name), url_for(project) %>
            </li>
          <% end -%>
        </ul>
      <% end -%>
    </div>
  </div>

<% end  -%>
