<%
   tags=[]

   if !person.user.nil?
       tags = person.user.annotations_by.with_attribute_name("tag")

       tag_values = []
       annotations = []
       tags.each do |tag|
         if !(tag_values.include?(tag.value.id))
           annotations << tag
           tag_values << tag.value.id
         end
       end
       tags = annotations.collect{|a| a.value}
   end
-%>

<div class="contribution_section_box">
  <p class="heading">
    <%= help_icon("These are the tags that #{person.first_name.capitalize} has used to tag items in #{Seek::Config.application_name}. The weight of the tag indicates how often it has been used within #{Seek::Config.application_name}.") -%>
    <%= "#{person.first_name.capitalize}'s tags" -%>
  </p>

  <%= render :partial=>"layouts/tag_cloud",:locals=>{:tags=>tags,:show_overall_count=>true,:id=>"personal_tags",:tags_smaller=>true,:no_tags_text=>"This person has not yet tagged anything."} %>
 
</div>