<%
  project_roles = @person.project_roles
  memberships = @person.group_memberships.includes(:project, :project_positions)
  memberships = memberships.sort_by do |m|
    roles = (project_roles[m.project] || [])
    if roles.include?('project_administrator')
      10
    else
      roles.length
    end
  end.reverse

  max_visible ||= 5
  visible_memberships = memberships[0...max_visible] || []
  hidden_memberships = memberships[max_visible..-1] || []
%>

<% if memberships.any? %>
  <%= panel("#{t('project')} positions and roles", id: 'project-positions') do %>
    <% visible_memberships.each do |membership| %>
      <%= render partial: 'people/membership_details', locals: { membership: membership,
                                                                 roles: (project_roles[membership.project] || []) } %>
    <% end %>
    <% if hidden_memberships.any? %>
      <div style="display: none" id="hidden-project-positions">
        <% hidden_memberships.each do |membership| %>
          <%= render partial: 'people/membership_details', locals: { membership: membership,
                                                                     roles: (project_roles[membership.project] || []) } %>
        <% end %>
      </div>
      <a href="#" onclick="$j('#hidden-project-positions').slideDown(); $j(this).hide(); return false;" class="pull-right">
        Show <%= hidden_memberships.count-%> more
      </a>
    <% end %>
  <% end %>
<% end %>
