<% if membership.project.can_be_administered_by?(current_user) %>
  <%= button_link_to('Manage project', 'manage', edit_project_path(membership.project), class: 'btn-xs pull-right') -%>
<% end %>
<%= membership_link(membership) %>
<ul>
  <% roles.each do |role| %>
    <li class="role">
      <%= seek_role_icon(role, 16, 'data-tooltip' => nil) -%>
      <%= role.humanize %>
    </li>
  <% end %>
</ul>
