<div class="fold">
  <div class="foldTitle">
    Subscriptions
  </div>
  <div class="foldContent">
    Here is the list of projects you are subscribed to:
    <% project_subscriptions = person.project_subscriptions.uniq %>
    <% if project_subscriptions.empty? %>
        <span class='none_text'>None</span>
    <% else %>
        <table>
          <tr>
            <th> Project</th>
            <th>Email Frequency</th>
          </tr>
          <% project_subscriptions.each do |project_subscription| %>
              <tr>
                <td style="text-align: left"> <%= link_to project_subscription.project.name, project_subscription.project %> </td>
                <td> <%= project_subscription.frequency %> </td>
              </tr>
          <% end %>
        </table>
    <% end %>
  </div>
</div>
