<label for="tool_list">
  Tools and techniques
  <%= help_icon("A comma seperated list of keywords that describe your tools and techniques.<br/>Please let the suggestions guide you, but feel free to add your own if necessary.") %>
</label>

<%
    all_tags,item_tags = fetch_tags_for_item @person,"tool"
%>

<%= render :partial=>"layouts/select_tags",:locals=>{:all_tags=>all_tags, :item_tags=>item_tags, :name=>"tool", :no_tags_message=>"Type the tools or techniques you use regularly" } -%>