<label>
  Expertise
  <%= help_icon("A comma separated list of keywords that describe your expertise.<br/>Please let the suggestions guide you, but feel free to add your own if necessary.") -%>
</label>

<%
    all_tags,item_tags = fetch_tags_for_item @person,"expertise"
%>

<%= render :partial=>"layouts/select_tags",:locals=>{:all_tags=>all_tags, :item_tags=>item_tags, :name=>"expertise", :no_tags_message=>"Type the areas you have expertise in" } -%>