<% projects=show_projects %>

<div id="projects">
  
  <ul><label>Projects:</label>
    
      <% for project in projects %>
        <li>
          <%= link_to h(project.name), url_for(project) %>
        </li>      
      <% end  %>
      <%= empty_list_li_text(projects)%>
    </ul>
  
</div>
