<br/>
<p class="box_infotext" style="text-align:center">
  Please now select yourself from the list of people below, and then click OK.<br/>
  If you do not appear in this list, then you will need to create a new profile by clicking the link below.
</p>
<br/>
<% form_for current_user do |f| -%>

  <%= f.collection_select(
    :person_id,
    people,
    :id,
    :name,
    {:include_blank=>"Select yourself.."},
    {:onchange=>"person_selected(this.value)"})
  -%>

  <br/><br/>
<%=f.submit("OK",:disabled=>true,:id=>"person_list_submit")%>


<% end -%>
