<% fields_for @person do |f|%>
  <div id="work_groups">
    <p><label for="work_groups">Projects and Institutions</label><br/>
      <%= f.collection_select :work_group_ids, WorkGroup.find(:all), :id, :description,{},{ :multiple=>true } %>
    </p>
  </div>
<% end  %>
