<center>
  <div id="profile_select" style="width: 700px; margin-top: 0.5em;">
    <ul class="sectionIcons" style="text-align: right;">
      <li><%= image_tag_for_key("refresh", logout_url, "Return to login page", nil, "Return to login page") -%></li>
    </ul>

    <div class="show_basic">
      <div id="profile_selection">
        <%= render :partial=>"registration_profile_selection" -%>
      </div>

      <div id="profile_creation" style="display:none">
        <%= render :partial=>"registration_profile_creation" %>

      </div>

    </div>
  </div>
</center>

<% if @userless_projects.blank? || !error_messages_for(:person).empty? %>
  <script type="text/javascript">
    $("profile_creation").style.display="block"
    $("profile_selection").style.display="none"
  </script>
<% end %>
