<script type="text/javascript">
  function person_selected(id) {
    if (id) {
      $('person_list_submit').disabled=false;
    }
    else {
      $('person_list_submit').disabled=true;
    }
  }

  function show_ajax_loader() {
    $('people_list').innerHTML=<%= "'"+image_tag("ajax-loader.gif")+"'" -%> ;
  }
</script>

<div class="show_basic">
  <div id="project_list">
    <%= select_tag "project_id",
      options_for_select([["Select project..",0]]|@userless_projects.collect {|p| [p.name,p.id]}),
      {:onchange=>remote_function(
        :update=>:people_list,
        :url=>{:action=>"userless_project_selected_ajax"},
        :with=>"'project_id='+this.value",
        :before=>"show_ajax_loader()"
      )
    }
    -%>
  </div>

  

  <div id="people_list">
    <%= render :partial=>"userless_people_list", :locals=>{:people=>[]} %>
  </div>

  <br/>

  <%= link_to "I am not a member of a Sysmo Project, or am not in the list", new_person_path %>
</div>

