<%= javascript_include_tag 'profile_project_selection' -%>

<div id="profile_select">
  <div class="show_basic">
    <div id="profile_selection">
      <%= render :partial => "registration_profile_selection" -%>
    </div>
    <div id="profile_creation" style="display:none">
      <%= render :partial => "registration_profile_creation" %>
    </div>
  </div>
</div>

<% if @userless_projects.blank? || !error_messages_for(:person).empty? %>
  <script type="text/javascript">
    $("profile_creation").style.display="block"
    $("profile_selection").style.display="none"
  </script>
<% end %>
