<div class="show_basic">
  <div id="project_list">
    
  </div>
  <div id="people_list" style="display:none">
    
  </div>

  <br/>

  <%= link_to "I am not in this list", new_person_path %>
</div>

