<% content_for(:buttons) do %>
  <%= button_link_to("Back to #{resource.title}", 'back', polymorphic_path(resource))%>
<% end -%>

<%= render partial: 'general/page_title', locals: { title: "Visualising #{resource.title}" } %>

<strong>Term:</strong> <%= content_tag(:code, resource.concept_uri) -%>

<div id="bioportal_visualise_container">
  <%= visualise_ontology(resource, show_concept: true, apikey: Seek::Config.bioportal_api_key) %>
</div>
