<%
    show_attributes = (params[:action] == "edit")
    show_attributes = show_attributes || !bioportal_search_enabled?

    attributes_display = show_attributes ? 'block' : 'none'
%>

<% if bioportal_search_enabled? %>
    <div id="organism-search">
      <%= render :partial=>"search_bioportal" %>
    </div>
<% end %>

<div id="organism-attributes" style='display:<%= attributes_display %>;'>
  <%= render :partial=>"organism_attributes_form" %>
</div>
