<%
    show_attributes = (params[:action] == "edit")

    attributes_display = show_attributes ? 'block' : 'none'
%>

<div id="organism-search">
  <%= render :partial=>"search_bioportal" %>
</div>

<div id="organism-attributes" style='display:<%= attributes_display %>;'>
  <%= render :partial=>"organism_attributes_form" %>
</div>
