<%= render :partial => "layouts/item_title",:locals=>{:item=>@organism} %>

<div class="show_basic">

  <% if @organism.concept -%>
  <h2>Details about this organism</h2>
    <%= render :partial=>"layouts/bioportal_concept_details",:locals=>{:concept=>@organism.concept} -%>
  <% end -%>

  <%= render :partial=>"layouts/items_related_to",:object => @organism %>

</div>