<h1>Organism: <%= h @organism.title -%></h1>

<div class="show_basic">

<%= link_to "More information about: #{@organism.title}", info_organism_path(@organism) %>
  
<%= render :partial=>"layouts/items_related_to",:object => @organism %>

</div>