<!-- data_type_form -->
<link rel="stylesheet" type="text/css" href="http://bioportal.bioontology.org/widgets/jquery.ncbo.tree.css">
<script src="http://bioportal.bioontology.org/widgets/jquery.ncbo.tree-2.0.2.js"></script>

<%

  resource_type = resource.class.name.underscore
  resource_type_text = text_for_resource(resource)
  collapsed = resource.data_types.empty?
  help_text = "You can add a data type for this #{resource_type_text}"
%>

<%= folding_panel('Data Type', collapsed, :body_options => {:id => 'data_type_urls'},
                  :help_text => help_text) do %>

    <p class="help-block">
      Specify a data type for this <%= resource_type_text %>.
    </p>

    <div id="widget_tree"></div>

<% end %>

<script type="application/javascript">

  $j(document).ready(function(){
      var widget_tree = $j("#widget_tree").NCBOTree({
	  apikey: "58de558b-45df-4e96-8bfe-4d63af070bd0",
	  ontology: "EDAM",
          startingClass: "http://edamontology.org/data_0006",
          startingRoot: "http://edamontology.org/data_0006"
      });
  });
</script>
