<% help_text = '
h1. Heading

h2. Sub-heading

# first item
# second item
# third item

*Bold* _Italics_

* point 1
* point 2
* point 3

Link:
"Link example":http://www.example.com

Image:
!/images/fairdom-seek-logo-100.png!

Help-page link:
[example]
'

   help_code = help_text.gsub("\n","<br/>").html_safe
   help_result = RedCloth.new(help_text.gsub("\n","\r\n").gsub(/\[([-a-zA-Z0-9]+)\]/) {|match| HelpDocument.friendly_redcloth_link($1)}, [ :hard_breaks ]).to_html.html_safe
%>

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#markup" aria-controls="markup" role="tab" data-toggle="tab">Markup</a></li>
    <li role="presentation"><a href="#result" aria-controls="result" role="tab" data-toggle="tab">Result</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane help_document active" id="markup"><%= help_code %></div>
    <div role="tabpanel" class="tab-pane help_document" id="result"><%= help_result %></div>
  </div>
</div>

For a full reference, visit: <a target="_blank" href="http://redcloth.org/textile/">http://redcloth.org/textile/</a>