<ul class="sectionIcons">
  <% if current_user.is_admin? -%>
    <li><%= image_tag_for_key('back', help_document_path(@help_document), "Return to document", nil, "Return to document") -%></li>
  <% end -%>
</ul>

<h1>Editing Page: <%= h @help_document.title %></h1>
<%= render :partial => "form", :locals => {:action=>:update } -%>

<%= render :partial => "attachments" -%>
