<ul class="sectionIcons">
  <% if admin_logged_in? -%>
    <li><%= image_tag_for_key('new', new_help_document_path, "Create New Page", nil, "Create New Page") -%></li>
  <% end -%>
</ul>

<h1>Help Index</h1>
<div style="padding-left: 2em;">
  List of topics:<br/>
  <ul class="bulleted_list">
    <%= "No topics found" if @help_documents.empty? %>
    <% @help_documents.each do |doc| %>
      <li><%= link_to doc.title, doc %></li>
    <% end %>
  </ul>
</div>