<% if admin_logged_in? -%>
    <% content_for(:buttons) do %>
        <%= button_link_to("Return to index", 'back', help_documents_path) -%>
    <% end -%>
<% end -%>

<%= render :partial=>"general/page_title", :locals=>{ :title => "New Help Page"} %>

<%= render :partial => "form", :locals => {:action=>:create } -%>

<p class="none_text">Attachments and images may be added after the page has been created.</p>
