<div class="list_items_container">

  <% if search_result_item.instance_of?(Person) -%>
    <%= render :partial=>"/people/person_list_item", :object=>search_result_item %>
  <% end -%>

  <% if search_result_item.instance_of?(Project) -%>
    <%= render :partial=>"/projects/project_list_item", :object=>search_result_item %>
  <% end -%>

  <% if search_result_item.instance_of?(Institution) -%>
    <%= render :partial=>"/institutions/institution_list_item", :object=>search_result_item %>
  <% end -%>

  <% if search_result_item.instance_of?(Sop) -%>
    <%= render :partial => "#{search_result_item.class.name.pluralize.downcase}/table", :locals => { :resource => search_result_item, :odd_row => false, :narrow_view => false } -%>
  <% end -%>
  
</div>

