
<% if !is_nil_or_empty? @results %>
<%= render :partial=>"search_result_item", :collection=>@results %>
<% else  %>
  <br/><br/>
  <div id="no_result" class="yui-b"><%= "No results for '<b>"+@search_query+"</b>'" %></div>
<% end %>