<div class="show_basic">
<% unless !logged_in? || params[:saved_search] %>
      <div class="box_standout">
        <% tiny_image = image "saved_search_avatar", {:style => "padding: 5px; border:1px solid #CCCCCC;background-color:#FFFFFF;vertical-align:middle;"} %>
        <%= link_to_draggable(tiny_image, search_path, :title=>tooltip_title_attrib("Drag to favourites to save this search"), :class=>"search", :id => "drag_search") %>
        Drag this icon over to your favourites to save this search.
      </div>

<% end %>
<% if !@results.blank? %>
    <% resource_hash = classify_for_tabs @results -%>
    <%= render :partial => "assets/resource_listing_tabbed_by_class",
               :locals => {:resource_hash => resource_hash,
                           :narrow_view => true,
                           :authorization_already_done => true} -%>
<% end %>
</div>