<div id="project_folders"></div>

<div id="assay_tree"></div>

<script type="text/javascript">
  $j(document).ready(function () {
    setupProjectFolders(<%= folder_tree_json(@folders).html_safe -%>);
  });

</script>