

<div id="project_folders"></div>

<hr/>
<hr/>

<div id="assay_folders"></div>

<script type="text/javascript">
  $j(document).ready(function () {
    setupFoldersTree(<%= folder_tree_json(@folders).html_safe -%>,'project_folders','draggable_folder_item');
    setupFoldersTree(<%= folder_tree_json(Seek::AssayFolder.assay_folders(@project)).html_safe -%>,'assay_folders','exp_assay_accepted_item');
  });

</script>