<%= javascript_include_tag "project_folders.js" -%>

<script type="text/javascript">
    function treeInit() {
        tree = new YAHOO.widget.TreeView("tree");
        root = tree.getRoot();
        <%= folder_node_creation_javascript @folders -%>

        tree.render();

        for (var key in elementFolderIds) {
            if (elementFolderIds.hasOwnProperty(key)) {
                Droppables.add(key, {accept:'draggable_folder_item', hoverclass:'folder_hover', onDrop:function(element, droppable_element) {
                    item_dropped_to_folder(element, droppable_element, <%= @project.id -%>);
                }});
            }
        }
    }
</script>

<div id="tree">

</div>

<script type="text/javascript">
    treeInit();
    focus_folder(<%= last_opened_folder_id(@project) -%>);
</script>


