

<div id="project_folders"></div>

<div id="isa_tree"  class="new-design"></div>

<div id="assay_folders"></div>

<script type="text/javascript">
  // $j(document).ready(function () {
  //   setupFoldersTree(<%= folder_tree_json(@folders).html_safe -%>,'project_folders','draggable_folder_item');
  // });

</script>