<div id="text_content">
    <div id="method-details" class="tab-pane fade in active" style="padding:10px">
        <div class="row">
            <div class="col-md-1" style="padding:0">
                <ul style="list-style-type:none;padding:0;float:left" id="method-icon">
                </ul>
            </div>
            <div class="col-md-11">
                <div class="col-md-12">
                    <p id="method-title"><strong style="text-align: center;">Title:</strong><input type="text" class="form-control" /></p>
                    </p>
                    <p id="method-description"> <strong>Description:</strong><input id="method_description" type="text" class="form-control" /></p>
                    <input type="hidden" id="method-id">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <a class="btn btn-primary" id="btn_update_method" onclick="updateMethod()">Update</a>
</div>