<%= render :partial=>"yui_css_and_js" -%>

<%= render :partial => "layouts/item_title",:locals=>{:title=>"Asset browser for the project '#{link_to h(@project.title),@project}'"} -%>

<div class="show_basic">
    <div class="yui-gf">
        <div id="folder_column" class="yui-u first yui-skin-sam">
          <div id="folders">
            <%= render :partial=>"folders" -%>
          </div>
        </div>
        <div class="yui-u">
            <div id="folder_contents">
                <h1>This is where the contents go</h1>
            </div>
        </div>
    </div>
</div>

<div>
  <h3>Dev tools</h3>
  <%= link_to "Nuke",nuke_project_folders_path(@project),:method=>:post %>
</div>