<script type="text/javascript">
    var loaded_scales = [];
    loaded_scales["all"]=false;
</script>
<% current_scale_key ||="all" %>
<%= show_title("Browse by #{t("scale")}") %>

<%= render :partial => 'scales/scale_slider', :locals => {:current_scale => current_scale_key} %>

<div style="clear:both"></div>
<div id="scaled_items">
  <% keys = Scale.all.map(&:key)
     keys = ['all'] + keys
     keys.each do |s| -%>
      <div id="<%= s %>_results" class="scaled_items" style="display: none;"></div>
  <% end %>
</div>
