<%
 ordered_scales = @scales.sort_by{|scale|
      Seek::Config.scales.index(scale.title)
    }
%>

<div class="contribution_title">
  <h1>All scales</h1>
</div>
<div class="list_items_container">
   <ul class="list">
  <% ordered_scales.each_with_index do |scale,index| %>
  <li>
  <%= link_to h(scale.title),scale,{:class => "item_scale_#{index}"} %>
  </li>
  <% end  %>
  </ul>
   <!-- add more css here if there are more scales -->
  <style type="text/css" >


     .item_scale_0 {
        font-size: xx-large;
     }
     .item_scale_1 {
         font-size: x-large;

     }
     .item_scale_2 {
         font-size: medium;

     }
     .item_scale_3 {
         font-size: small;

     }
     .item_scale_4 {
         font-size: x-small;


     }
     .item_scale_5 {
         font-size: xx-small;

     }
  </style>
</div>
