<h1>Manage Technology Types</h1>

<div class="show_basic">
  <div style="float:left">
    <ul><%= ontology_editor_display "technology" %></ul>
  </div>      
  <div style="float:left">
    <ul class="sectionIcons">
        <li><%= link_to image('new') + " New technology type", new_suggested_technology_type_path%> </li>
        <li><%= image_tag_for_key "new", new_assay_path, "New #{t('assays.assay').downcase}", nil, "New #{t('assays.assay').downcase}" %></li>
    </ul>
  </div>
</div>