<li>
  <ul class="compound_row heading">
    <li id="compound_name">
        Compound Name
    </li>

    <li id="synonyms">
      Synonyms
    </li>

    <li id="sabiork_id">
       SabioRK ID
    </li>

    <li id="chebi_ids">
      ChEBI IDs
    </li>

    <li id="kegg_ids">
      KEGG IDs
    </li>
  </ul>
</li>