<%= javascript_include_tag 'sharing', 'studied_factor'-%>
<div id="add_compound">
    <%= render :partial=>"add_compound" %>
</div>
<ul id='compounds' class='compounds'>
    <%= render :partial=>"compound_row_headings" %>
    <div id="compound_rows">
        <%= render :partial=>"compound_row",  :collection=>@compounds %>
    </div>
</ul>
