<h1>New <%= t('investigation') %></h1>

<%= form_for @investigation do |f| %>
    <%= render :partial => "investigations/form", :locals => { :f => f, :action=>:new , :object => @investigation, :showDetails => 0} -%>
<% end -%>