<%= list_item_description resource.description %>

<%= list_item_authorized_list resource.studies, t('study').pluralize %>

<div class="hidden-xs">
    <%= scales_list_for_list_item resource %>
</div>
