<% if logged_in_and_member? %>
    <ul class="sectionIcons">
        <li><%= image_tag_for_key "new", new_investigation_path, "New #{t('investigation')}", nil, "New #{t('investigation')}" %></li>
    </ul>
<% end %>

<% if @investigations.public_methods.include?(:page_totals) %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "general/paginate_alphabetical", :locals => { :pages => @investigations.pages, :page_totals=>@investigations.page_totals,:current_page=>@investigations.page } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial => "assets/resource_list_item", :collection=>@investigations %>
</div>

<% if @investigations.page == "latest" && (n=Investigation.all_authorized_for("view").count) > Seek::Config.limit_latest %>
    <%= render :partial => "general/paginate_see_all",:locals=>{:total=>n}%>
<% end %>