<% unless resource.nil? -%>
    <div>
      <p class="title">
        <%= list_item_title resource -%>
      </p>

      <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => resource, :list_item => true} -%>

      <p class="list_item_attribute">
        <%= list_item_author_list(resource.publication_authors) %>
      </p>

      <%= list_item_expandable_text "Abstract", h(resource.abstract) %>

    </div>
<% end -%>
