<h1>Associate authors</h1>

<div class="show_basic">
  <% form_tag publication_path(@publication), :method => :put do %>
  
    <%= render :partial => "associate_authors_form", :locals => {:project => @publication.project || current_user.person.projects.first, :authors => @publication.non_seek_authors, :author_associations => @author_associations} %>
    
    <p>
      <%= submit_tag 'Update' %>
    </p>
  <% end %>
</div>