<h1>Editing publication</h1>

<% form_for(@publication) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @publication %> |
<%= link_to 'Back', publications_path %>