<h1>Listing publications</h1>

<table>
  <tr>
  </tr>

<% @publications.each do |publication| %>
  <tr>
    <td><%= link_to 'Show', publication %></td>
    <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
    <td><%= link_to 'Destroy', publication, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New publication', new_publication_path %>