<% if logged_in? and current_user.person.member?%>
    <ul class="sectionIcons">
      <li><%= image_tag_for_key "new", new_publication_path, "Register a publication", nil, "Register a publication" %></li>
      <!-- <li><%#= image_tag_for_key "view-all", all_files_path, nil, nil, "View All Files" %></li> -->
    </ul>
<% end %>
<% if @publications.public_methods.include?("page_totals") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate_alphabetical", :locals => { :pages => @publications.pages, :page_totals=>@publications.page_totals,:current_page=>@publications.page } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial=>"assets/resource_list_item", :collection=>@publications %>
</div>

<% if @publications.page == "latest" && Publication.find(:all).length > Seek::Config.limit_latest%>
   <%= render :partial => "layouts/paginate_see_all"%>
<% end %>