<%= list_item_description resource.description %>

<%= render :partial=>"assets/resource_list_item_contributor_and_creators",:object=>resource -%>

<div class="hidden-xs">
  <%= scales_list_for_list_item resource %>
</div>
