<li class="institution_member change-item" data-person-id="{{person.id}}">
    Flag <strong>{{person.name}}</strong> as leaving on <strong>{{date}}</strong>
    <a href="#" class="undo-action">Undo</a>

    <input type="hidden" value="{{membershipData}}" name="memberships_to_flag[]"/>
</li>
