<li class="institution_member change-item" data-person-id="{{person.id}}">
    Unflag <strong>{{person.name}}</strong> as leaving/left
    <a href="#" class="undo-action">Undo</a>

    <input type="hidden" value="{{membershipData}}" name="memberships_to_unflag[]"/>
</li>
