<%= modal(id: 'existing_templates', size: 'xl') do %>
    <%= modal_body do %>
        <%= folding_panel('Filter templates', false, {help_text: "Narrow down your selection by filtering templates", :body_options => {:id => 'filter_repository_templates'}}) do %>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-2">
                    <div class="form-group">
                        <label>Group</label>
                        <select data-key="group" id="templates_repository_name_select" class="form-control">
                            <option selected="selected">not selected</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-2">
                    <div class="form-group">
                        <label>ISA Level</label>
                        <select data-key="level" id="templates_type_select" class="form-control">
                            <option selected="selected">not selected</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-2">
                    <div class="form-group">
                        <label>Organism</label>
                        <select data-key="organism" id="templates_organism_select" class="form-control">
                            <option selected="selected">not selected</option>
                        </select>
                    </div>
                </div>
            </div>
        <% end %>

        <h4>Choose a template</h4>

        <label for="source_select" style="width:100%;margin-bottom:10px;">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <select class="templates form-control" style="width: 100%" id="source_select" onchange="setTemplate()">
                </select>
            </div>
        </div>
        </label>

        <table class="table table-striped table-bordered" id="template-attributes" style="width:100%;"></table>

        <p class="actions">
            <input type="button" value="Apply" class="btn btn-primary" data-dismiss="modal" onClick="applyTemplate()">
            or
            <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
        </p>
    <% end %>
<% end %>

<script>
	initSelect2($j('.templates'), $j('#existing_templates'))
</script>
