<h1>Editing Template</h1>

<%= render 'form' %>

<script>
  $j(document).ready(function() {
    // Hide Input row
    $j('#attribute-table')
      .find('tr.sample-attribute')
      .filter(function() {
        return $j(this).find('input[data-attr="title"]').val() === 'Input' &&
               !$j(this).find('select[data-attr="isa_tag_id"]').val();
      })
      .first() // Take the first one in case there are more
      .addClass('hidden'); // Hide the row
  });
</script>
