<h1>New <%= t('template') %></h1>

<%= index_and_new_help_icon controller_name %>

<p>
  Templates can be defined manually through the form below or based on repository templates.
</p>
<div class="asset_form">
  <%= render partial: 'templates/form', locals: { tab: tab } %>
</div>

<script>
  $j(document).ready(function () {
    // A function to switch the form action depending on which tab is selected.
    // Also disables form elements in the hidden tab.
   $j('#attribute-table')
      .find('tr.sample-attribute')
      .has('input[data-attr="title"][value="Input"]') // Has an input with value "Input"
      .has('select[data-attr="isa_tag_title"]:not([value])') // Has a select with data-attr "isa_tag_title" but no value
      .first() // Take the first one in case there are more
      .addClass('hidden'); // Hide the row

    // Update the ISA tag select
    const attribute_row = ".sample-attribute";
    updateIsaTagSelect("<%= @template.level %>", attribute_row);
  });
</script>
