<h1>New <%= t('template') %></h1>

<%= index_and_new_help_icon controller_name %>

<p>
  Templates can be defined manually through the form below or based on repository templates.
</p>
<div class="asset_form">
  <%= render partial: 'templates/form', locals: { tab: tab } %>
</div>

