<% tab = @tab || 'manual' %>

<h1>New <%= t('template') %></h1>

<%= index_and_new_help_icon controller_name %>

<p>
  Templates can be defined manually through the form below or based on repository templates.
</p>

<div class="asset_form">
  <%= render partial: 'templates/form', locals: { tab: tab } %>
</div>

<script>
  $j(document).ready(function () {
    // A function to switch the form action depending on which tab is selected.
    // Also disables form elements in the hidden tab.
    var switchFormTarget = function () {
      var form = $j('#new_template');
      $j('.tab-pane :input:not(".template-input")', form).attr('disabled', true);
      $j('.tab-pane.active :input:not(".template-input")', form).attr('disabled', false);
    };

    $j('#sample-type-tabs a[data-toggle="tab"]').on('shown.bs.tab', switchFormTarget);

    switchFormTarget();
  });
</script>
