<div id="bpmn_table">
  <%= render :partial => "bpmn/bpmn_table", :locals => {:project => project} -%>
</div>

<script>
  function updateTable(){
      $j("#bpmn_table").load(location.href + " #bpmn_table>*", "");
  }
  
  $j(document).ready(function() {
    setInterval(updateTable,300000);
  }
		    );

</script>
