<h1><%= "Edit #{CELL_CULTURE_OR_SPECIMEN}: "%><%= link_to h(@specimen.title), specimen_path(@specimen) -%></h1>

<div class="show_basic">
  <% form_for(@specimen) do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :action=>:edit} -%>
  <% end %>
</div>
