<%= render :partial => "general/item_title", :locals => {:item => @specimen, :buttons_partial => 'specimens/buttons'} %>

<div class="row">
  <div class="col-md-9 col-sm-8">
    <div class="row">
      <div class="col-md-6">
        <%= render :partial => "samples/sample_specimen_details", :object => @specimen %>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4">
    <%= render :partial => "assets/resource_main_content_right", :locals => {:resource => @specimen } %>
  </div>
</div>

<%= render :partial => "general/items_related_to", :object => @specimen %>
