<%
    queue = AuthLookupUpdateQueue.all
%>

<p>
  Total waiting in queue = <%= queue.count -%>
</p>
<table id="auth_job_queue">
   <tr>
		<th>Time created</th>
		<th>Item type</th>
		<th>Item id</th>
   </tr>
   <% queue.each do |item| %>
    <tr>
      <td><%= item.created_at-%></td>
      <td><%= item.item_type -%></td>
      <td><%= item.item_id -%></td>
    </tr>
   <% end -%>
</table>