<%
  options = User.includes(:person).select(&:person).sort_by { |u| u.person.name }.collect { |u| [u.person.name, u.id] }
-%>
<h4>Act as another user</h4>

<%= form_tag impersonate_users_path do %>
    <div class="form-group form-inline">
      <%= select_tag :id, options_for_select(options), autocomplete: 'off', prompt: 'Select user...',
                     class: 'form-control' %>

      <%= submit_tag 'Go', class: 'btn btn-default',
                     data: { confirm: 'This action will log you out. Are you sure you wish to continue?' } %>
    </div>
<% end %>
