<%= admin_checkbox_setting(:omniauth_enabled, 1, Seek::Config.omniauth_enabled,
                           "Omniauth enabled", "Enables use of omniauth for authentication an user creation.",
                           :onchange=>toggle_appear_javascript('omniauth_settings')) %>
<div id="omniauth_settings" class="additional_settings" style="<%= show_or_hide_block(Seek::Config.omniauth_enabled) -%>;">
  <%= admin_checkbox_setting(:omniauth_user_create, 1, Seek::Config.omniauth_user_create,
                             "Omniauth user creation on login", "When a user logs in through an omniauth provider and does not exist as a seek user, they will be created with the information given by the provider."
                             ) %>

  <%= admin_checkbox_setting(:omniauth_user_activate, 1, Seek::Config.omniauth_user_activate,
                             "Omniauth user activation on login", "The user created through login by omniauth is also activated."
                             ) %>
</div>
