<%
user=profile.user
-%>


  <% if user -%>
    <p>User ID:<%= user.id %></p>
    <p>Login: <%= h user.login  %></p>
  <% else -%>
      <span class='none_text'>No associated user</span>
  <% end -%>
  <p>

    <%= link_to h(profile.name),profile %>

  </p>
