<ul>
  <li>
    <%= link_to "Register your SEEK installation", url_for(:action=>"registration_form", :controller=>"admin") %>
    - please fill out a short form to register you're installation of SEEK. This is entirely optional, but helps ensure continued funding and ongoing development of SEEK
  </li>
</ul>