<ul>
  <li>
    <%= link_to "Register your SEEK installation", registration_form_admin_path %>
    - please fill out a short form to register you're installation of SEEK. This is entirely optional, but helps ensure continued funding and ongoing development of SEEK
  </li>
</ul>