<%= panel do %>
    <p>
      When changing settings '<b>search enabled, events enabled</b>' or changing code in production environment, you need to restart the server.
      If deployed in production environment in conjunction with Passenger Phusion you can use this button,
      otherwise you need to restart manually.

      <%= button_to('Restart server', restart_server_admin_path, :class =>'btn btn-danger', :id => 'restart_server',
                    :onclick => 'return confirm("Are you sure you want to restart the server?")', data: { disable_with: 'Restarting...' }) -%>
    </p>

    <p>
      Some background tasks are running in different process to server process, e.g. solr reindex, send subscription emails.
      When changing setting '<b>search enabled</b>' or changing code, you need to restart this process.

      <%= button_to('Restart background tasks', restart_delayed_job_admin_path, :class =>'btn btn-danger', :id => 'restart_delayed_job',
                    :onclick => 'return confirm("Are you sure you want to restart the background tasks?")',data: { disable_with: 'Restarting...' }) -%>
    </p>

    <hr/>
    The background processes - <%= delayed_job_status %>
<% end %>
