<h3>Search statistics</h3>

<table>
	<tr>
		<th></th>					
		<th>1 year</th>
		<th>1 month</th>
		<th>1 week</th>
		<th>1 day</th>
	</tr>
	<tr>
		<td>Unique Users</td>		
		<td><%= stats.yearly_searches -%></td>
		<td><%= stats.monthly_searches -%></td>
		<td><%= stats.weekly_searches -%></td>
		<td><%= stats.daily_searches -%></td>
	</tr>
</table>	