<li>
      <span class='box_infotext setting_description'>
        <%= description -%>
      </span>
      <br/>
      <span class='setting_name'>
        <%= name -%>
      </span>
      <span class='setting_field'>
        <%= field -%>
      </span>
</li>