<%= select_tag :stats_query,
  options_for_select([["Select query ...","none"],
                      ["Content Statistics","contents"],
					  ["Activity Statistics","activity"],
					  ["Search Statistics","search"],
                      ["PALs", "pals"],
                      ["Administrators","admins"],
                      ["Invalid Users/Profiles", "invalid"],
                      ["Users Requiring Activation", "not_activated"],
                      ["Non-project Members", "projectless"],
                      ["Job queue","job_queue"],
                      ["Auth table consistency","auth_consistency"]
                     ],:length=>10),
    {:style=>"",
     :onchange=>remote_function(:url=>{:action=>"get_stats",:controller=>"admin",:element=>"stats_list"},
                                :with=>"'id='+this.value",
                                :update => {:success => 'stats_list'},
                                :success => "Element.show('stats_list'); new Effect.Highlight('stats_list', { duration: 1.0 });",
                                :loading => "Element.show('spinner')",
                                :complete => "Element.hide('spinner')"
                               )  
     }
-%><%= image_tag "ajax-loader.gif", :id => 'spinner', :style => 'display:none;' -%><br/>
<div id="stats_list">
</div>