<div class="fold">
  <div class="foldTitle"><%= "#{title} [#{users.size}]" %></div>
  <div class="foldContent" style="display:none;">
    <ul id="users_details">

      <% for u in users %>
        <li>
          <%= render :partial=>"user_details",:locals=>{:user=>u} %>
        </li>
      <% end -%>
    </ul>
  </div>
</div>