<%= javascript_include_tag 'link_adder' %>

<div class="form-group form-inline">
  <%= select_tag :user_admin_query,
                 options_for_select([["Select query ...","none"],
                                     ["Invalid Users or Profiles","invalid_users_profiles"],
                                     ["Users Requiring Activation","users_requiring_activation"],
                                     ["Non-#{t('project')} Members","non_project_members"],
                                     ["PALs","pals"],
                                     ["Profiles without users","profiles_without_users"],
                                     ["Administrators","administrators"]
                                    ],:length=>10),
                 {:class => "form-control",
                  :onchange=>remote_function(:url=>get_user_stats_admin_path(:element=>"user_stats_list"),
                                             :with=>"'id='+this.value",
                                             :update => {:success => 'user_stats_list'},
                                             :success => "Element.show('user_stats_list'); new Effect.Highlight('user_stats_list', { duration: 1.0 });",
                                             :loading => "Element.show('spinner_for_user_stats');Element.hide('user_stats_list');Element.hide('refresh_button_for_user_stats');",
                                             :complete => "Element.hide('spinner_for_user_stats');Element.show('user_stats_list');Element.show('refresh_button_for_user_stats');"
                  )
                 }
  -%>

  <%= button_link_to "Refresh", 'refresh', '#', :onclick =>
                                      remote_function(
                                              :url=>get_user_stats_admin_path,
                                              :with=>"'id='+encodeURIComponent($F('user_admin_query'))",
                                              :update => {:success => 'user_stats_list'},
                                              :success => "Element.show('user_stats_list'); new Effect.Highlight('user_stats_list', { duration: 1.0 });",
                                              :loading => "Element.show('spinner_for_user_stats');Element.hide('user_stats_list');Element.hide('refresh_button_for_user_stats');",
                                              :complete => "Element.hide('spinner_for_user_stats');Element.show('user_stats_list');Element.show('refresh_button_for_user_stats');") +
                                              '; return false;',
                     :id=>'refresh_button_for_user_stats', :style=>'display:none;'
  %>
</div>

<%= image_tag "ajax-loader-large.gif", :id => 'spinner_for_user_stats', :style => 'display:none;' -%>

<div id="user_stats_list"></div>

<style>
    div.stat_box {
        margin-top: 1em;
    }
</style>

