<%
profile=user.person
-%>


  <p>User ID:<%= user.id %></p>
  <p>Login: <%= h user.login  %></p>
  <p>
    <% if profile -%>
      <%= link_to h(profile.name),profile %>
    <% else -%>
      <span class='none_text'>No profile</span>
    <% end -%>
  </p>
