<%
people||=nil
collection= !people.nil? ? people : users %>
<div class="fold">
    <div class="foldTitle">
        <%= "#{title} [#{collection.size}]" %>
    </div>
    <div class="foldContent" style="display:none;">
        <ul class="users_details horiz_list_items">
            <% for el in collection -%>
	            <% if el.instance_of?(Person) -%>
	            <li>
	                <%= render :partial=>"profile_details",:locals=>{:profile=>el} %>
	            </li>
	            <% else -%>
	            <li>
	                <%= render :partial=>"user_details",:locals=>{:user=>el} %>
	            </li>
	            <% end -%>
            <% end -%>
        </ul>
        <br style="clear:both"/>
    </div>
</div>
