<div class="center-block">
  <h1>Activity graphs (experimental)</h1>

  <%= image_tag @sop_creation_graph.to_url %>
  <%= image_tag @model_creation_graph.to_url %>
  <hr/>

  <%= image_tag @df_creation_graph.to_url %>
  <%= image_tag @user_creation_graph.to_url %>
  <hr/>
</div>
