---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1371/journal.pcbi.1002352
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1371/journal.pcbi.1002352",
            "RA": "Crossref"
          }
        ]
  recorded_at: Fri, 31 Oct 2025 08:28:11 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pcbi.1002352
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,24]],"date-time":"2025-10-24T08:01:23Z","timestamp":1761292883372},"reference-count":41,"publisher":"Public
        Library of Science (PLoS)","issue":"1","license":[{"start":{"date-parts":[[2012,1,19]],"date-time":"2012-01-19T00:00:00Z","timestamp":1326931200000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":["www.ploscompbiol.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        Comput Biol"],"DOI":"10.1371\/journal.pcbi.1002352","type":"journal-article","created":{"date-parts":[[2012,1,19]],"date-time":"2012-01-19T16:55:02Z","timestamp":1326992102000},"page":"e1002352","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pcbi.corrections_policy","source":"Crossref","is-referenced-by-count":29,"title":["Dynamic
        Modelling under Uncertainty: The Case of Trypanosoma brucei Energy Metabolism"],"prefix":"10.1371","volume":"8","author":[{"given":"Fiona","family":"Achcar","sequence":"first","affiliation":[]},{"given":"Eduard
        J.","family":"Kerkhoven","sequence":"additional","affiliation":[]},{"name":"The
        SilicoTryp Consortium","sequence":"additional","affiliation":[]},{"given":"Barbara
        M.","family":"Bakker","sequence":"additional","affiliation":[]},{"given":"Michael
        P.","family":"Barrett","sequence":"additional","affiliation":[]},{"given":"Rainer","family":"Breitling","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2012,1,19]]},"reference":[{"key":"ref1","first-page":"80","article-title":"Prediction
        of enzyme kinetic parameters based on statistical learning.","volume":"17","author":"S
        Borger","year":"2006","journal-title":"Genome Inform Ser"},{"key":"ref2","doi-asserted-by":"crossref","first-page":"3750","DOI":"10.1529\/biophysj.104.048090","article-title":"Metabolic
        control analysis under uncertainty: Framework development and case studies.","volume":"87","author":"L
        Wang","year":"2004","journal-title":"Biophys J"},{"key":"ref3","doi-asserted-by":"crossref","first-page":"5606","DOI":"10.1529\/biophysj.108.135442","article-title":"Ensemble
        modeling of metabolic networks.","volume":"95","author":"LM Tran","year":"2008","journal-title":"Biophy[...]
