---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1093
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1093",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 22 Oct 2025 17:49:23 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1093/nar/gkw1032
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,9]],"date-time":"2025-10-09T21:11:24Z","timestamp":1760044284734},"reference-count":13,"publisher":"Oxford
        University Press (OUP)","issue":"D1","license":[{"start":{"date-parts":[[2016,11,24]],"date-time":"2016-11-24T00:00:00Z","timestamp":1479945600000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Nucleic
        Acids Res"],"published-print":{"date-parts":[[2017,1,4]]},"DOI":"10.1093\/nar\/gkw1032","type":"journal-article","created":{"date-parts":[[2016,10,31]],"date-time":"2016-10-31T20:05:13Z","timestamp":1477944313000},"page":"D404-D407","source":"Crossref","is-referenced-by-count":104,"title":["FAIRDOMHub:
        a repository and collaboration environment for sharing systems biology research"],"prefix":"10.1093","volume":"45","author":[{"given":"Katherine","family":"Wolstencroft","sequence":"first","affiliation":[]},{"given":"Olga","family":"Krebs","sequence":"additional","affiliation":[]},{"given":"Jacky
        L.","family":"Snoep","sequence":"additional","affiliation":[]},{"given":"Natalie
        J.","family":"Stanford","sequence":"additional","affiliation":[]},{"given":"Finn","family":"Bacall","sequence":"additional","affiliation":[]},{"given":"Martin","family":"Golebiewski","sequence":"additional","affiliation":[]},{"given":"Rostyk","family":"Kuzyakiv","sequence":"additional","affiliation":[]},{"given":"Quyen","family":"Nguyen","sequence":"additional","affiliation":[]},{"given":"Stuart","family":"Owen","sequence":"additional","affiliation":[]},{"given":"Stian","family":"Soiland-Reyes","sequence":"additional","affiliation":[]},{"given":"Jakub","family":"Straszewski","sequence":"additional","affiliation":[]},{"given":"David
        D.","family":"van\u00a0Niekerk","sequence":"additional","affiliation":[]},{"given":"Alan
        R.","family":"Williams","sequence":"additional","affiliation":[]},{"given":"Lars","family":"Malmstr\u00f6m","sequence":"additional","affiliation":[]},{"given":"Bernd","family":"Rinn","sequence":"additional","affiliation":[]},{"given":"Wolfgang","family":"M\u00fcller","sequence":"additional","affiliation":[]},{"given":"Carole","family":"Goble","sequence":"additional","affiliation":[]}],"member":"286","published-online":{"date-parts":[[2016,11,28]]},"reference":[{"key":"2017010323151262000_45.D1.D404.1","doi-asserted-by":"publisher","DOI":"10.1186\/1471-2105-12-468"},{"key":"2017010323151262000_45.D1.D404.2","doi-asserted-by":"crossref","first-page":"3","DOI":"10.1186\/s12918-015-0174-y","article-title":"SEEK:
        a systems biology data and model management platform","volume":"9","author":"Wolstencroft","year":"2015","journal-title":"BMC
        Syst. Biol."},{"key":"2017010323151262000_45.D1.D404.3","doi-asserted-by":"publisher","DOI":"10.1111\/febs.13237"},{"key":"2017010323151262000_45.D1.D404.4","doi-asserted-by":"publisher","DOI":"10.1093\/nar\/gkr1046"},{"key":"2017010323151262000_45.D1.D404.5","doi-asserted-by":"publisher","DOI":"10.1186\/1752-0509-4-92"},{"key":"2017010323151262000_45.D1.D404.6","doi-asserted-by":"publisher","DOI":"10.1093\/bioinformatics\/btr312"},{"key":"2017010323151262000_45.D1.D404.7","doi-asse[...]
