---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1016/j.future.2011.08.004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1016/j.future.2011.08.004",
            "RA": "Crossref"
          }
        ]
  recorded_at: Fri, 31 Oct 2025 09:31:20 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1016/j.future.2011.08.004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,24]],"date-time":"2025-10-24T07:29:10Z","timestamp":1761290950073},"reference-count":45,"publisher":"Elsevier
        BV","issue":"2","license":[{"start":{"date-parts":[[2013,2,1]],"date-time":"2013-02-01T00:00:00Z","timestamp":1359676800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Future
        Generation Computer Systems"],"published-print":{"date-parts":[[2013,2]]},"DOI":"10.1016\/j.future.2011.08.004","type":"journal-article","created":{"date-parts":[[2011,8,21]],"date-time":"2011-08-21T13:33:57Z","timestamp":1313933637000},"page":"599-611","source":"Crossref","is-referenced-by-count":210,"title":["Why
        linked data is not enough for scientists"],"prefix":"10.1016","volume":"29","author":[{"given":"Sean","family":"Bechhofer","sequence":"first","affiliation":[]},{"given":"Iain","family":"Buchan","sequence":"additional","affiliation":[]},{"given":"David","family":"De
        Roure","sequence":"additional","affiliation":[]},{"given":"Paolo","family":"Missier","sequence":"additional","affiliation":[]},{"given":"John","family":"Ainsworth","sequence":"additional","affiliation":[]},{"given":"Jiten","family":"Bhagat","sequence":"additional","affiliation":[]},{"given":"Philip","family":"Couch","sequence":"additional","affiliation":[]},{"given":"Don","family":"Cruickshank","sequence":"additional","affiliation":[]},{"given":"Mark","family":"Delderfield","sequence":"additional","affiliation":[]},{"given":"Ian","family":"Dunlop","sequence":"additional","affiliation":[]},{"given":"Matthew","family":"Gamble","sequence":"additional","affiliation":[]},{"given":"Danius","family":"Michaelides","sequence":"additional","affiliation":[]},{"given":"Stuart","family":"Owen","sequence":"additional","affiliation":[]},{"given":"David","family":"Newman","sequence":"additional","affiliation":[]},{"given":"Shoaib","family":"Sufi","sequence":"additional","affiliation":[]},{"given":"Carole","family":"Goble","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/j.future.2011.08.004_br000005","doi-asserted-by":"crossref","unstructured":"J.
        Ainsworth, I. Buchan, e-Labs and work objects: towards digital health economies,
        in: Comms. Infrastructure. Systems and Applications in Europe, vol. 16, 2009,
        pp. 206\u2013216.","DOI":"10.1007\/978-3-642-11284-3_22"},{"key":"10.1016\/j.future.2011.08.004_br000010","series-title":"Scientific
        Collaboration on the Internet","author":"Olson","year":"2008"},{"issue":"3","key":"10.1016\/j.future.2011.08.004_br000015","doi-asserted-by":"crossref","first-page":"1","DOI":"10.4018\/jswis.2009081901","article-title":"Linked
        data\u2014the story so far","volume":"5","author":"Bizer","year":"2009","journal-title":"International
        Journal on Semantic Web and Information Systems"},{"issue":"5964","key":"10.1016\/j.future.2011.08.004_br000020","doi-asserted-by":"crossref","first-page":"415","DOI":"10.1126\/science.1179653","article-title":"Accessible
        reproducible research","volume":"327","author":"Mesirov","year":"2010","journal-title":"Science"},{"key":"10.1016\/j.future.2011.08.004_br000025","unstructured":"D.
        De Roure, C. Goble, Anchors in shifting sand: the primacy of method in the
        web of data, in: Web Science Conference 2010, Raleigh, NC, 2010."},{"key":"10.1016\/j.future.2011.08.004_br000030","doi-asserted-by":"crossref","first-page":"142","DOI":"10.1186\/1471-2105-6-142","article-title":"Which
        gene did you mean?","volume":"6","author":"Mons","year":"2005","journal-title":"BMC
        Bioinformatics"},{"issue":"5","key":"10.1016\/j.future.2011.08.004_br000035","doi-asserted-by":"crossref","first-page":"8","DOI":"10.1109\/MCSE.2010.113","article-title":"Reproducible
        research: addressing the need for data and code sharing in computational science","volume":"12","author":"Yale
        Roundtable Participants","year":"2010","journal-title":"Journal of Computing
        Science and Engineering"},{"key":"10.1016\/j.future.2011.08.004_br000040","unstructured":"F.
        Giunchiglia, R. ChenuAbente, Scientific knowledge objects V.1, Technical Report
        DISI-09-006, University of Trento, January 2009."},{"issue":"1","key":"10.1016\/j.future.2011.08.004_br000045","doi-[...]
