---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1371
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1371",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 22 Oct 2025 17:49:17 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371/journal.pone.0004803
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,8]],"date-time":"2025-10-08T22:47:24Z","timestamp":1759963644547},"reference-count":31,"publisher":"Public
        Library of Science (PLoS)","issue":"3","license":[{"start":{"date-parts":[[2009,3,11]],"date-time":"2009-03-11T00:00:00Z","timestamp":1236729600000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/"}],"content-domain":{"domain":["www.plosone.org"],"crossmark-restriction":false},"short-container-title":["PLoS
        ONE"],"DOI":"10.1371\/journal.pone.0004803","type":"journal-article","created":{"date-parts":[[2009,3,10]],"date-time":"2009-03-10T12:23:18Z","timestamp":1236687798000},"page":"e4803","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","source":"Crossref","is-referenced-by-count":135,"title":["Clickstream
        Data Yields High-Resolution Maps of Science"],"prefix":"10.1371","volume":"4","author":[{"given":"Johan","family":"Bollen","sequence":"first","affiliation":[]},{"given":"Herbert","family":"Van
        de Sompel","sequence":"additional","affiliation":[]},{"given":"Aric","family":"Hagberg","sequence":"additional","affiliation":[]},{"given":"Luis","family":"Bettencourt","sequence":"additional","affiliation":[]},{"given":"Ryan","family":"Chute","sequence":"additional","affiliation":[]},{"given":"Marko
        A.","family":"Rodriguez","sequence":"additional","affiliation":[]},{"given":"Lyudmila","family":"Balakireva","sequence":"additional","affiliation":[]}],"member":"340","published-online":{"date-parts":[[2009,3,11]]},"reference":[{"key":"ref1","doi-asserted-by":"crossref","first-page":"669","DOI":"10.1038\/227669a0","article-title":"Citation
        indexing for studying science.","volume":"227","author":"E Garfield","year":"1970","journal-title":"Nature"},{"key":"ref2","doi-asserted-by":"crossref","first-page":"764","DOI":"10.1002\/asi.10066","article-title":"Domain
        visualization using VxInsight for science and technology management.","volume":"53","author":"KW
        Boyack","year":"2002","journal-title":"J Am Soc Inf Sci Technol"},{"key":"ref3","doi-asserted-by":"crossref","first-page":"351","DOI":"10.1007\/s11192-005-0255-6","article-title":"Mapping
        the backbone of science.","volume":"64","author":"KW Boyack","year":[...]
