---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.23943
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.23943",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 29 Oct 2025 16:48:55 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.23943/princeton/9780691161914.003.0002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,7,29]],"date-time":"2022-07-29T04:19:31Z","timestamp":1659068371433},"reference-count":0,"publisher":"Princeton
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2017,10,19]]},"abstract":"<p>This
        chapter shows how book 1 of <italic>Paradise Lost<\/italic> metaphorically
        depicts the role of the devil in raising the rebel angels out of their \u201cbottomless
        perdition,\u201d an act of poetic creation analogous to the divine creation
        of the universe described in the invocation\u2014\u201chow the heavens and
        earth\/Rose out of chaos.\u201d The chief devils described in the catalog
        that occupies the center of book 1 and organizes its poetic figures and symbolic
        geography\u2014Carthage, Sodom, Egypt, Babel-Babylon, Rome\u2014are precisely
        those who will come to inhabit the pagan shrines that human idolatry will
        build next to or even inside the Jerusalem temple, profaning God''s house.
        This catalog\u2014whose traditional epic function is to size up military force\u2014instead
        suggests the force of spiritual falsehood, and it corresponds to the defeated
        devils'' own reluctance to pursue another direct war against God; they would
        rather resort to satanic fraud.<\/p>","DOI":"10.23943\/princeton\/9780691161914.003.0002","type":"book","created":{"date-parts":[[2017,11,21]],"date-time":"2017-11-21T13:37:09Z","timestamp":1511271429000},"source":"Crossref","is-referenced-by-count":0,"title":["Milton\u2019s
        Book of Numbers: Book 1 and Its Catalog"],"prefix":"10.23943","author":[{"given":"David","family":"Quint","sequence":"first","affiliation":[]}],"member":"10341","container-title":["Princeton
        University Press"],"original-title":["Milton\u2019s Book of Numbers: Book
        1 and Its Catalog"],"deposited":{"date-parts":[[2022,7,28]],"date-time":"2022-07-28T14:40:42Z","timestamp":1659019242000},"score":1,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/princeton-scholarship-online\/book\/16275\/chapter\/171374633"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2017,10,19]]},"references-count":0,"URL":"https:\/\/doi.org\/10.23943\/princeton\/9780691161914.003.0002","relation":{},"subject":[],"published":{"date-parts":[[2017,10,19]]}}}'
  recorded_at: Wed, 29 Oct 2025 16:48:55 GMT
recorded_with: VCR 6.3.1
