---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1038/s41586-020-2649-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1038/s41586-020-2649-2",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 30 Oct 2025 20:16:29 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1038/s41586-020-2649-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,30]],"date-time":"2025-10-30T17:27:49Z","timestamp":1761845269596,"version":"3.41.0"},"reference-count":57,"publisher":"Springer
        Science and Business Media LLC","issue":"7825","license":[{"start":{"date-parts":[[2020,9,16]],"date-time":"2020-09-16T00:00:00Z","timestamp":1600214400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"},{"start":{"date-parts":[[2020,9,16]],"date-time":"2020-09-16T00:00:00Z","timestamp":1600214400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Nature"],"published-print":{"date-parts":[[2020,9,17]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Array
        programming provides a powerful, compact and expressive syntax for accessing,
        manipulating and operating on data in vectors, matrices and higher-dimensional
        arrays. NumPy is the primary array programming library for the Python language.
        It has an essential role in research analysis pipelines in fields as diverse
        as physics, chemistry, astronomy, geoscience, biology, psychology, materials
        science, engineering, finance and economics. For example, in astronomy, NumPy
        was an important part of the software stack used in the discovery of gravitational
        waves<jats:sup>1<\/jats:sup>and in the first imaging of a black hole<jats:sup>2<\/jats:sup>.
        Here we review how a few fundamental array concepts lead to a simple and powerful
        programming paradigm for organizing, exploring and analysing scientific data.
        NumPy is the foundation upon which the scientific Python ecosystem is constructed.
        It is so pervasive that several projects, targeting audiences with specialized
        needs, have developed their own NumPy-like interfaces and array objects. Owing
        to its central position in the ecosystem, NumPy increasingly acts as an interoperability
        layer between such array computation libraries and, together with its application
        programming interface (API), provides a flexible framework to support the
        next decade of scientific and industrial analysis.<\/jats:p>","DOI":"10.1038\/s41586-020-2649-2","type":"journal-article","created":{"date-parts":[[2020,9,17]],"date-time":"2020-09-17T20:48:17Z","timestamp":1600375697000},"page":"357-362","update-policy":"https:\/\/doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":18149,"title":["Array
        programming with NumPy"],"prefix":"10.1038","volume":"585","author":[{"given":"Charles
        R.","family":"Harris","sequence":"first","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-5263-5070","authenticated-orcid":false,"given":"K.
        Jarrod","family":"Millman","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0001-9276-1891","authenticated-orcid":false,"given":"St\u00e9fan
        J.","family":"van der Walt","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0002-0300-3333","authenticated-orcid":false,"given":"Ralf","family":"Gommers","sequence":"additional","affiliation":[]},{"given":"Pauli","family":"Virtanen","sequence":"additional","affiliat[...]
