---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1021
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1021",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 22 Oct 2025 19:43:17 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1021/acs.jcim.5c01488
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,5]],"date-time":"2025-10-05T00:39:41Z","timestamp":1759624781901,"version":"build-2065373602"},"reference-count":54,"publisher":"American
        Chemical Society (ACS)","license":[{"start":{"date-parts":[[2025,10,4]],"date-time":"2025-10-04T00:00:00Z","timestamp":1759536000000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by-nc-nd\/4.0\/"}],"funder":[{"DOI":"10.13039\/501100001659","name":"Deutsche
        Forschungsgemeinschaft","doi-asserted-by":"publisher","award":["INST 35\/1597-
        1 FUGG"],"id":[{"id":"10.13039\/501100001659","id-type":"DOI","asserted-by":"publisher"}]},{"DOI":"10.13039\/501100007316","name":"Klaus
        Tschira Stiftung","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100007316","id-type":"DOI","asserted-by":"publisher"}]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["J.
        Chem. Inf. Model."],"DOI":"10.1021\/acs.jcim.5c01488","type":"journal-article","created":{"date-parts":[[2025,10,4]],"date-time":"2025-10-04T13:01:23Z","timestamp":1759582883000},"source":"Crossref","is-referenced-by-count":0,"title":["A
        Multiscale Simulation Approach to Compute Protein\u2013Ligand Association
        Rate Constants by Combining Brownian Dynamics and Molecular Dynamics"],"prefix":"10.1021","author":[{"ORCID":"https:\/\/orcid.org\/0000-0002-2598-7687","authenticated-orcid":true,"given":"Abraham","family":"Mu\u00f1iz-Chicharro","sequence":"first","affiliation":[{"name":"Molecular
        and Cellular Modeling Group","place":["Heidelberg, Germany"]},{"name":"Heidelberg
        Institute for Theoretical Studies (HITS)","place":["Heidelberg, Germany"]}]},{"given":"Gaurav
        K.","family":"Ganotra","sequence":"additional","affiliation":[{"name":"Molecular
        and Cellular Modeling Group","place":["Heidelberg, Germany"]},{"name":"Heidelberg
        Institute for Theoretical Studies (HITS)","place":["Heidelberg, Germany"]}]},{"ORCID":"https:\/\/orcid.org\/0000-0001-5951-8670","authenticated-orcid":true,"given":"Rebecca
        C.","family":"Wade","sequence":"additional","affiliation":[{"name":"Molecular
        and Cellular Modeling Group","place":["Heidelberg, Germany"]},{"name":"Heidelberg
        Institute for Theoretical Studies (HITS)","place":["Heidelberg, Germany"]},{"name":"Faculties
        of Engineering Sciences and Biosciences, Center for Molecular Biology of Heidelberg
        University (ZMBH), DKFZ-ZMBH Alliance, and Interdisciplinary Center for Scientific
        Computing (IWR)","place":["Heidelberg, Germany"]},{"name":"Heidelberg University","place":["Heidelberg,
        Germany"]}]}],"member":"316","published-online":{"date-parts":[[2025,10,4]]},"reference":[{"key":"ref1\/cit1","doi-asserted-by":"publisher","DOI":"10.1038\/nrd2082"},{"key":"ref2\/cit2","doi-asserted-by":"publisher","DOI":"10.1021\/acs.jmedchem.5b01684"},{"key":"ref3\/cit3","doi-asserted-by":"publisher","DOI":"10.1039\/C6MD00581K"},{"key":"ref4\/cit4","doi-asserted-by":"publisher","DOI":"10.1063\/1.446900"},{"key":"ref5\/cit5","doi-asserted-by":"publisher","DOI":"10.1002\/wcms.1649"},{"key":"ref6\/cit6","doi-asserted-by":"publisher","DOI":"10.1016\/j.bbagen.2024.130740"},{"key":"ref7\/cit7"[...]
