---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1117
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1117",
            "RA": "Crossref"
          }
        ]
  recorded_at: Mon, 20 Oct 2025 16:32:13 GMT
- request:
    method: get
    uri: https://doi.org/10.1117/12.2275959
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Location:
      - https://api.crossref.org/v1/works/10.1117%2F12.2275959/transform
    body:
      encoding: UTF-8
      string: |-
        <html><head><title>Handle Redirect</title></head>
        <body><a href="https://api.crossref.org/v1/works/10.1117%2F12.2275959/transform">https://api.crossref.org/v1/works/10.1117%2F12.2275959/transform</a></body></html>
  recorded_at: Mon, 20 Oct 2025 16:32:13 GMT
- request:
    method: get
    uri: https://api.crossref.org/v1/works/10.1117%2F12.2275959/transform
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.citationstyles.csl+json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"indexed":{"date-parts":[[2024,10,23]],"date-time":"2024-10-23T09:55:38Z","timestamp":1729677338309,"version":"3.28.0"},"reference-count":54,"publisher":"SPIE","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2017,9,26]]},"DOI":"10.1117\/12.2275959","type":"proceedings-article","created":{"date-parts":[[2017,9,19]],"date-time":"2017-09-19T19:58:22Z","timestamp":1505851102000},"page":"24","source":"Crossref","is-referenced-by-count":4,"title":"The
        NOVA project: maximizing beam time efficiency through synergistic analyses
        of SR\u03bcCT data","prefix":"10.1117","author":[{"given":"Sebastian","family":"Schmelzle","sequence":"first","affiliation":[]},{"given":"Thomas","family":"van
        de Kamp","sequence":"first","affiliation":[]},{"given":"Michael","family":"Heethoff","sequence":"first","affiliation":[]},{"given":"Vincent","family":"Heuveline","sequence":"first","affiliation":[]},{"given":"Philipp","family":"L\u00f6sel","sequence":"first","affiliation":[]},{"given":"J\u00fcrgen","family":"Becker","sequence":"first","affiliation":[]},{"given":"Felix","family":"Beckmann","sequence":"first","affiliation":[]},{"given":"Frank","family":"Schluenzen","sequence":"first","affiliation":[]},{"given":"J\u00f6rg
        U.","family":"Hammel","sequence":"first","affiliation":[]},{"given":"Andreas","family":"Kopmann","sequence":"first","affiliation":[]},{"given":"Wolfgang","family":"Mexner","sequence":"first","affiliation":[]},{"given":"Matthias","family":"Vogelgesang","sequence":"first","affiliation":[]},{"given":"Nicholas
        T.","family":"Jerome","sequence":"first","affiliation":[]},{"given":"Oliver","family":"Betz","sequence":"first","affiliation":[]},{"given":"Rolf","family":"Beutel","sequence":"first","affiliation":[]},{"given":"Benjamin","family":"Wipfler","sequence":"first","affiliation":[]},{"given":"Alexander","family":"Blanke","sequence":"first","affiliation":[]},{"given":"Steffen","family":"Harzsch","sequence":"first","affiliation":[]},{"given":"Marie","family":"H\u00f6rnig","sequence":"first","affiliation":[]},{"given":"Tilo","family":"Baumbach","sequence":"first","affiliation":[]}],"member":"189","reference":[{"doi-asserted-by":"publisher","key":"c1","DOI":"10.1111\/jmi.2007.227.issue-1"},{"key":"c2","first-page":"70781U-1","article-title":"Micro-computer
        tomography and a renaissance of insect morphology","volume":"7078","author":"Friedrich","year":"2008"},{"doi-asserted-by":"publisher","key":"c3","DOI":"10.1016\/j.asd.2009.07.001"},{"doi-asserted-by":"publisher","key":"c4","DOI":"10.1016\/j.jcz.2014.09.002"},{"doi-asserted-by":"publisher","key":"c5","DOI":"10.1002\/jmor.v272.9"},{"key":"c6","first-page":"147","article-title":"Insect
        imaging at the ANKA Synchrotron Radiation Facility","volume":"25","author":"van
        de Kamp","year":"2013","journal-title":"Entomologie heute"},{"doi-asserted-by":"publisher","key":"c7","DOI":"10.1002\/jmor.v277.4"},{"key":"c8","first-page":"1","article-title":"Morphological
        and molecular evidence converging upon a robust phylogeny of the megadiverse
        Holometabola","volume":"26","author":"Beutel","year":"2011","journal-title":"Cladistics"},{"year":"2017","author":"Mexner","article-title":"OpenGL\u00ae
        API based analysis of large datasets in a cloud environment","key":"c9"},{"key":"c10","articl[...]
