---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.2307
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.2307",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 22 Oct 2025 17:48:52 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.2307/j.ctvn5txvs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,7,8]],"date-time":"2025-07-08T05:46:48Z","timestamp":1751953608465},"reference-count":0,"publisher":"Medieval
        Institute Publications","isbn-type":[{"value":"9781580443982","type":"electronic"},{"value":"1580443982","type":"electronic"},{"value":"9781879288997","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[1998,3,1]]},"DOI":"10.2307\/j.ctvn5txvs","type":"monograph","created":{"date-parts":[[2019,8,14]],"date-time":"2019-08-14T16:29:17Z","timestamp":1565800157000},"source":"Crossref","is-referenced-by-count":7,"title":["Troy
        Book"],"prefix":"10.2307","author":[{"given":"John","family":"Lydgate","sequence":"first","affiliation":[]}],"member":"1121","container-title":[],"original-title":[],"deposited":{"date-parts":[[2019,8,14]],"date-time":"2019-08-14T16:29:17Z","timestamp":1565800157000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.jstor.org\/stable\/10.2307\/j.ctvn5txvs"}},"subtitle":["Selections"],"editor":[{"given":"Robert
        R.","family":"Edwards","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[1998,3,1]]},"ISBN":["9781580443982","1580443982","9781879288997"],"references-count":0,"URL":"https:\/\/doi.org\/10.2307\/j.ctvn5txvs","relation":{},"subject":[],"published":{"date-parts":[[1998,3,1]]}}}'
  recorded_at: Wed, 22 Oct 2025 17:48:53 GMT
recorded_with: VCR 6.3.1
