---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.18653
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.18653",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 29 Oct 2025 16:49:02 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.18653/v1/w18-08
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:15:56Z","timestamp":1648977356913},"publisher-location":"Stroudsburg,
        PA, USA","reference-count":0,"publisher":"Association for Computational Linguistics","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2018]]},"DOI":"10.18653\/v1\/w18-08","type":"proceedings","created":{"date-parts":[[2018,5,30]],"date-time":"2018-05-30T00:48:35Z","timestamp":1527641315000},"source":"Crossref","is-referenced-by-count":0,"title":["Proceedings
        of the Second ACL Workshop on Ethics in Natural Language Processing"],"prefix":"10.18653","member":"1643","event":{"name":"Proceedings
        of the Second ACL Workshop on Ethics in Natural Language Processing","location":"New
        Orleans, Louisiana, USA","start":{"date-parts":[[2018,6]]},"end":{"date-parts":[[2018,6]]}},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2018,5,30]],"date-time":"2018-05-30T00:48:36Z","timestamp":1527641316000},"score":1,"resource":{"primary":{"URL":"http:\/\/aclweb.org\/anthology\/W18-08"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2018]]},"references-count":0,"URL":"https:\/\/doi.org\/10.18653\/v1\/w18-08","relation":{},"subject":[],"published":{"date-parts":[[2018]]}}}'
  recorded_at: Wed, 29 Oct 2025 16:49:03 GMT
recorded_with: VCR 6.3.1
