---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1037/0000001-000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1037/0000001-000",
            "RA": "Crossref"
          }
        ]
  recorded_at: Mon, 21 Apr 2025 00:00:00 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1037/0000001-000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"DOI":"10.1037\/0000001-000","type":"peer-review","title":["Peer
        review of test article"],"subtitle":[],"container-title":[],"short-container-title":[],"publisher":"American Psychological Association","issued":{"date-parts":[[2020,1,1]]},"author":[{"given":"Jane","family":"Doe","sequence":"first","affiliation":[]}],"URL":"https:\/\/doi.org\/10.1037\/0000001-000"}}'
  recorded_at: Mon, 21 Apr 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
