---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1007",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 29 Oct 2025 16:48:57 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007/978-3-642-16239-8_8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,10,27]],"date-time":"2025-10-27T16:00:18Z","timestamp":1761580818892},"publisher-location":"Berlin,
        Heidelberg","reference-count":10,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"type":"print","value":"9783642162381"},{"type":"electronic","value":"9783642162398"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2010]]},"DOI":"10.1007\/978-3-642-16239-8_8","type":"book-chapter","created":{"date-parts":[[2010,9,30]],"date-time":"2010-09-30T23:14:43Z","timestamp":1285888483000},"page":"37-44","source":"Crossref","is-referenced-by-count":48,"title":["Prediction
        with Confidence Based on a Random Forest Classifier"],"prefix":"10.1007","author":[{"given":"Dmitry","family":"Devetyarov","sequence":"first","affiliation":[]},{"given":"Ilia","family":"Nouretdinov","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"8_CR1","volume-title":"Algorithmic
        Learning in a Random World","author":"V. Vovk","year":"2005","unstructured":"Vovk,
        V., Gammerman, A., Shafer, G.: Algorithmic Learning in a Random World. Springer,
        New York (2005)"},{"key":"8_CR2","unstructured":"Gammerman, A., Vovk, V.,
        Vapnik, V.: Learning by Transduction. In: 14th Conference on Uncertainty in
        Artificial Intelligence, pp. 148\u2013155 (1998)"},{"key":"8_CR3","doi-asserted-by":"crossref","unstructured":"Proedrou,
        K., Nouretdinov, I., Vovk, V., Gammerman, A.: Transductive Confidence Machines
        for Pattern Recognition. Technical report 01-02, Royal Holloway, University
        of London (2001)","DOI":"10.1007\/3-540-36755-1_32"},{"key":"8_CR4","doi-asserted-by":"publisher","first-page":"5","DOI":"10.1023\/A:1010933404324","volume":"45","author":"L.
        Breiman","year":"2001","unstructured":"Breiman, L.: Random Forests. Mach.
        Learn.\u00a045, 5\u201332 (2001)","journal-title":"Mach. Learn."},{"key":"8_CR5","unstructured":"Breiman,
        L., Cutler, A.: Random Forests, http:\/\/www.stat.berkeley.edu\/users\/breiman\/RandomForests\/cc_home.htm#intro"},{"key":"8_CR6","doi-asserted-by":"publisher","first-page":"262","DOI":"10.1373\/clinchem.2009.133363","volume":"56","author":"J.F.
        Timms","year":"2010","unstructured":"Timms, J.F., Cramer, R., Camuzeaux, S.,
        Tiss, A., Smith, C., Burford, B., Nouretdinov, I., Devetyarov, D., Gentry-Maharaj,
        A., Ford, J., Luo, Z., Gammerman, A., Menon, U., Jacobs, I.: Peptides Generated
        Ex Vivo from Abundant Serum Proteins by Tumour-Specific Txopeptidases are
        Not Useful Biomarkers in Ovarian Cancer. Clin. Chem.\u00a056, 262\u2013271
        (2010)","journal-title":"Clin. Chem."},{"key":"8_CR7","doi-asserted-by":"crossref","unstructured":"Gammerman,
        A., Nouretdinov, I., Burford, B., Chervonenkis, A., Vovk, V., Luo, Z.: Clinical
        Mass Spectrometry Proteomic Diagnosis by Conformal Predictors. Stat. Appl.
        Genet. Mo. B.\u00a07(2), Art.\u00a013 (2008)","DOI":"10.2202\/1544-6115.1385"},{"key":"8_CR8","unstructured":"Nouretdinov,
        I., Burford, B., Luo, Z., Gammerman, A.: Data Analysis of 7 Biomarkers. Technical
        report, Royal Holloway, University of London (2008)"},{"issue":"1","key":"8_CR9","doi-asserted-by":"crossref","first-page":"15","DOI":"10.1055\/s-0038-1634813","volume":"30","author":"A.
        Gammerman","year":"1991","unstructured":"Gammerman, A., Thatcher, A.R.: Bayesian
        Diagnostic Probabilities without Assuming Independence of Symptoms. Method
        Inform Med.\u00a030(1), 15\u201322 (1991)","journal-title":"Method Inform
        Med."},{"key":"8_CR10","doi-asserted-by":"crossref","unstructured":"Nouretdinov,
        I., Burford, B., Gammerman, A.: Application of Inductive Confidence Machine
        to ICMLA Competition Data. In: The Eighth International Conference on Machine
        Learning and Applications, pp. 435\u2013438 (2009)","DOI":"10.1109\/ICMLA.2009.24"}],"container-title":["IFIP
        Advances in Information and Communication Technology","Artificial Intelligence
        Applications and Innovations"],"original-title":[],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-642-16239-8_8.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,11,23]],"date-time":"2020-11-23T21:46:30Z","timestamp":1606167990000},"score":1,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-3-642-16239-8_8"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2010]]},"ISBN":["9783642162381","9783642162398"],"references-count":10,"URL":"https:\/\/doi.org\/10.1007\/978-3-642-16239-8_8","relation":{},"ISSN":["1868-4238","1861-2288"],"issn-type":[{"type":"print","value":"1868-4238"},{"type":"electronic","value":"1861-2288"}],"subject":[],"published":{"date-parts":[[2010]]}}}'
  recorded_at: Wed, 29 Oct 2025 16:48:58 GMT
recorded_with: VCR 6.3.1
