---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.20944
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.20944",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 29 Oct 2025 16:48:58 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.20944/preprints201909.0043.v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,2,21]],"date-time":"2025-02-21T00:23:27Z","timestamp":1740097407763,"version":"3.37.3"},"posted":{"date-parts":[[2019,9,4]]},"group-title":"LIFE
        SCIENCES","reference-count":0,"publisher":"MDPI AG","license":[{"start":{"date-parts":[[2019,9,4]],"date-time":"2019-09-04T00:00:00Z","timestamp":1567555200000},"content-version":"unspecified","delay-in-days":0,"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2019,9,3]]},"abstract":"<jats:p>Myalgic
        Encephalomyelitis\/Chronic Fatigue Syndrome (ME\/CFS) is an enigmatic condition
        characterized by fatigue that is unaided by rest and by exacerbation of symptoms
        after exertion (post-exertional malaise or &amp;ldquo;PEM&amp;rdquo;). There
        is no definitive molecular marker or known underlying pathological mechanism
        for the condition. Increasing evidence for aberrant energy metabolism suggests
        a role for mitochondrial dysfunction in ME\/CFS. O[...]
