---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1007",
            "RA": "Crossref"
          }
        ]
  recorded_at: Wed, 29 Oct 2025 16:48:57 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007/978-3-540-70504-8_9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,9,5]],"date-time":"2024-09-05T06:09:47Z","timestamp":1725516587929},"publisher-location":"Berlin,
        Heidelberg","reference-count":14,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"type":"print","value":"9783540705031"},{"type":"electronic","value":"9783540705048"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1007\/978-3-540-70504-8_9","type":"book-chapter","created":{"date-parts":[[2008,8,12]],"date-time":"2008-08-12T16:07:43Z","timestamp":1218557263000},"page":"87-99","source":"Crossref","is-referenced-by-count":15,"title":["A
        Semantics for a Query Language over Sensors, Streams and Relations"],"prefix":"10.1007","author":[{"given":"Christian
        Y. A.","family":"Brenninkmeijer","sequence":"first","affiliation":[]},{"given":"Ixent","family":"Galpin","sequence":"additional","affiliation":[]},{"given":"Alvaro
        A. A.","family":"Fernandes","sequence":"additional","affiliation":[]},{"given":"Norman
        W.","family":"Paton","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"issue":"2","key":"9_CR1","doi-asserted-by":"publisher","first-page":"120","DOI":"10.1007\/s00778-003-0095-z","volume":"12","author":"D.J.
        Abadi","year":"2003","unstructured":"Abadi, D.J., Carney, D., \u00c7etintemel,
        U., Cherniack, M., et al.: Aurora: A new Model and Architecture for Data Stream
        Management. VLDB J.\u00a012(2), 120\u2013139 (2003)","journal-title":"VLDB
        J."},{"issue":"2","key":"9_CR2","doi-asserted-by":"publisher","first-page":"121","DOI":"10.1007\/s00778-004-0147-z","volume":"15","author":"A.
        Arasu","year":"2006","unstructured":"Arasu, A., Babu, S., Widom, J.: The CQL
        continuous query language: semantic foundations and query execution. VLDB
        J\u00a015(2), 121\u2013142 (2006)","journal-title":"VLDB J"},{"issue":"3","key":"9_CR3","doi-asserted-by":"publisher","first-page":"6","DOI":"10.1145\/1031570.1031572",[...]
