---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1007/978-3-540-70504-8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1007/978-3-540-70504-8",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 30 Oct 2025 20:16:25 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007/978-3-540-70504-8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,5,15]],"date-time":"2025-05-15T02:47:42Z","timestamp":1747277262358},"publisher-location":"Berlin,
        Heidelberg","reference-count":0,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"type":"print","value":"9783540705031"},{"type":"electronic","value":"9783540705048"}],"license":[{"start":{"date-parts":[[2008,1,1]],"date-time":"2008-01-01T00:00:00Z","timestamp":1199145600000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2008]]},"DOI":"10.1007\/978-3-540-70504-8","type":"book","created":{"date-parts":[[2008,8,12]],"date-time":"2008-08-12T12:07:43Z","timestamp":1218542863000},"source":"Crossref","is-referenced-by-count":6,"title":["Sharing
        Data, Information and Knowledge"],"prefix":"10.1007","member":"297","container-title":["Lecture
        Notes in Computer Science"],"original-title":[],"language":"en","link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-540-70504-8.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-540-70504-8","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,5,19]],"date-time":"2019-05-19T11:45:50Z","timestamp":1558266350000},"score":1,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-3-540-70504-8"}},"subtitle":["25th
        British National Conference on Databases, BNCOD 25, Cardiff, UK, July 7-10,
        2008. Proceedings"],"editor":[{"given":"Alex","family":"Gray","sequence":"first","affiliation":[]},{"given":"Keith","family":"Jeffery","sequence":"additional","affiliation":[]},{"given":"Jianhua","family":"Shao","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2008]]},"ISBN":["9783540705031","9783540705048"],"references-count":0,"URL":"https:\/\/doi.org\/10.1007\/978-3-540-70504-8","relation":{},"ISSN":["0302-9743","1611-3349"],"issn-type":[{"type":"print","value":"0302-9743"},{"type":"electronic","value":"1611-3349"}],"subject":[],"published":{"date-parts":[[2008]]}}}'
  recorded_at: Thu, 30 Oct 2025 20:16:26 GMT
recorded_with: VCR 6.3.1
