---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1145/3292500.3330675
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1145/3292500.3330675",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 30 Oct 2025 20:16:42 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1145/3292500.3330675
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,6,18]],"date-time":"2025-06-18T04:32:00Z","timestamp":1750221120476,"version":"3.41.0"},"publisher-location":"New
        York, NY, USA","reference-count":29,"publisher":"ACM","license":[{"start":{"date-parts":[[2019,7,25]],"date-time":"2019-07-25T00:00:00Z","timestamp":1564012800000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.acm.org\/publications\/policies\/copyright_policy#Background"}],"content-domain":{"domain":["dl.acm.org"],"crossmark-restriction":true},"short-container-title":[],"published-print":{"date-parts":[[2019,7,25]]},"DOI":"10.1145\/3292500.3330675","type":"proceedings-article","created":{"date-parts":[[2019,7,26]],"date-time":"2019-07-26T13:17:26Z","timestamp":1564147046000},"page":"3153-3161","update-policy":"https:\/\/doi.org\/10.1145\/crossmark-policy","source":"Crossref","is-referenced-by-count":12,"title":["Whole
        Page Optimization with Global Constraints"],"prefix":"10.1145","author":[{"given":"Weicong","family":"Ding","sequence":"first","affiliation":[{"name":"Amazon.com,
        Seattle, WA, USA"}]},{"given":"Dinesh","family":"Govindaraj","sequence":"additional","affiliation":[{"name":"Amazon.com,
        Seattle, WA, USA"}]},{"given":"S V N","family":"Vishwanathan","sequence":"additional","affiliation":[{"name":"Amazon.com,
        Seattle, WA, USA"}]}],"member":"320","published-online":{"date-parts":[[2019,7,25]]},"reference":[{"doi-asserted-by":"publisher","key":"e_1_3_2_1_1_1","DOI":"10.1145\/2740908.2745398"},{"doi-asserted-by":"publisher","key":"e_1_3_2_1_2_1","DOI":"10.1145\/1526709.1526713"},{"unstructured":"Shipra
        Agrawal and Nikhil Devanur. 2016. Linear contextual bandits with knapsacks.
        In Advances in Neural Information Processing Systems. 3450--3458.   Shipra
        Agrawal and Nikhil Devanur. 2016. Linear contextual bandits with knapsacks.
        In Advances in Neural Information Processing Systems. 3450--3458.","key":"e_1_3_2_1_3_1"},{"doi-asserted-by":"publisher","key":"e_1_3_2_1_4_1","DOI":"10.1145\/2124295.2124337"},{"volume-title":"Constrained
        Multi-Slot Optimization for Ranking Recommendations. arXiv preprint arXiv:1602.04391","year":"2016","author":"Basu
        Kinjal","key":"e_1_3_2_1_5_1"},{"unstructured":"Kinjal Basu Ankan Saha and
        Shaunak Chatterjee. 2017. Large-Scale Quadratically Constrained Quadratic
        Program via Low-Discrepancy Sequences. In Advances in Neural Information Processing
        Systems. 2297--2307.   Kinjal Basu Ankan Saha and Shaunak Chatterjee. 2017.
        Large-Scale Quadratically Constrained Quadratic Program via Low-Discrepancy
        Sequences. In Advances in Neural Information [...]
