---
http_interactions:
- request:
    method: get
    uri: https://doi.org/ra/10.1063
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "DOI": "10.1063",
            "RA": "Crossref"
          }
        ]
  recorded_at: Thu, 23 Oct 2025 12:37:24 GMT
- request:
    method: get
    uri: https://api.crossref.org/works/10.1063/1.2128263
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
      X-Api-Pool:
      - public
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,8,6]],"date-time":"2024-08-06T00:01:12Z","timestamp":1722902472549},"reference-count":0,"publisher":"AIP","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2005]]},"DOI":"10.1063\/1.2128263","type":"proceedings-article","created":{"date-parts":[[2005,11,1]],"date-time":"2005-11-01T14:06:18Z","timestamp":1130853978000},"page":"29-34","source":"Crossref","is-referenced-by-count":4,"title":["Conference
        Recommendations"],"prefix":"10.1063","volume":"795","author":[{"name":"Conference
        organizers","sequence":"first","affiliation":[]}],"member":"317","event":{"name":"WOMEN
        IN PHYSICS: 2nd IUPAP International Conference on Women in Physics","location":"Rio
        de Janeiro (Brazil)"},"container-title":["AIP Conference Proceedings"],"original-title":[],"deposited":{"date-parts":[[2023,4,20]],"date-time":"2023-04-20T10:00:04Z","timestamp":1681984804000},"score":1,"resource":{"primary":{"URL":"https:\/\/pubs.aip.org\/aip\/acp\/article\/795\/1\/29-34\/624381"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2005]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1063\/1.2128263","relation":{},"ISSN":["0094-243X"],"issn-type":[{"type":"print","value":"0094-243X"}],"subject":[],"published":{"date-parts":[[2005]]}}}'
  recorded_at: Thu, 23 Oct 2025 12:37:24 GMT
recorded_with: VCR 6.3.1
