<h1>Manage <%= all_types_text %> types</h1>
<%= button_link_to "New #{all_types_text("or")}  type", 'new', url_for(controller: controller_name, action: 'new') %>

<%= render partial: 'suggested_types/tree', locals: { types: controller_name.classify.constantize.all_term_types } %>
