<h1>Manage <%= all_types_text %> types</h1>
<%= button_link_to "New #{all_types_text("or")}  type", 'new', url_for(controller: controller_name, action: 'new') %>
<%= button_link_to "New assay", 'new', new_assay_path %>

<div class="show_basic">
    <ul><%= ontology_editor_display  controller_name.classify.constantize.all_term_types %></ul>
</div>