<center>
  <div class="yui-u first  box_simple" style="width: 42%; margin-left: 2em; margin-top: 1em; margin-bottom: 1em;">
    <label style="font-weight: bold; border-bottom: 1px solid #DDD"> Genotypes:</label>
    <table id='genotype_table'>
      <tr>
        <th>Gene affected</th>
        <th>Kind of mutation</th>
      </tr>

      <% i=1
         item.genotypes.each do |genotype| %>
          <tr id='genotype_row_<%= i %>'>
            <td> <%= text_field_tag "genotypes[#{i}][gene][title]", genotype.gene.try(:title), :size => 10 %>
            </td>
            <td><%= text_field_tag "genotypes[#{i}][modification][title]", genotype.modification.try(:title), :size => 10 %>
            </td>
            <td> <%= link_to_function image("destroy", :alt => "Delete", :title => "Delete this entry", :id => "delete_genotype_#{i}"), "fadeGenotypeRow('#{i}')" -%>
            </td>
          </tr>
          <% i += 1 %>
      <% end %>

    </table>
    <img src='/images/famfamfam_silk/add.png' alt="Add more" title="Add more gene and mutation" onclick="addGenotypeRow('genotype_table')"/>
  </div>
</center>