<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="index.html">
        <img style="max-width:50px; margin-top: -12px;"
             src="{{ site.baseurl }}images/seek-logo-header.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/index.html">About</a></li>
        <li><a href="{{ site.baseurl }}/roadmap.html">Roadmap</a></li>
      </ul>
    </div>


  </div><!-- /.container-fluid -->
</nav>