

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="{{ site.baseurl }}/">
        <div>
        <img style="max-width:50px; margin-top: -12px;"
             src="{{ site.baseurl }}/images/seek-logo-header.png">
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/tech/roadmap.html">Roadmap</a></li>
        <li><a href="{{ site.baseurl }}/get-seek.html">Getting FAIRDOM-SEEK</a></li>
        <li><a href="{{ site.baseurl }}/contacting-us.html">Contacting Us</a></li>
        <li><a href="{{ site.baseurl }}/contributing.html">Contributing</a></li>
        <li><a href="{{ site.baseurl }}/help/user-guide/index.html">User Guide</a></li>
        <li><a href="{{ site.baseurl }}/help/user-guide/api.html">API</a></li>
        <li><a href="{{ site.baseurl }}/tech/useful-links.html">Useful Links</a></li>
      </ul>
    </div>



  </div><!-- /.container-fluid -->
</nav>

