<% related_items = workflow.runs.where(:sweep_id => nil) + workflow.sweeps %>
<% related_items = related_items.select {|i| i.can_view? }.sort_by(&:created_at).reverse %>
<% unless related_items.empty? %>
  <h2>Related runs</h2>
  <ul id="related_runs">
    <% related_items.each do |item| %>
      <li>
        <%= link_to item do %>
          <%= image(item.is_a?(Sweep) ? 'sweep_run' : 'simple_run')-%><%= item.name -%>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
