<% authorization_for_showing_already_done ||= false -%>

<% if collection.empty? -%>
    <span style="font-size: 22px">No workflows found.</span>
<% else %>
    <div id="workflow_list">
      <% collection.each do |workflow| %>
          <% if authorization_for_showing_already_done || workflow.can_view? -%>
              <%= render :partial => "workflow_list_item", :locals => {:workflow => workflow, :show_category => show_category} -%>
          <% end %>
      <% end %>
    </div>
<% end %>
