<!-- Workflow category (not really needed if we are already inside a category ...) -->
<% if show_category %>
  <div class="category">
    <%= workflow.category.name %>
  </div>
<% end %>

<!-- Workflow icon and title -->
<% image = resource_avatar workflow,:style=>"width: 24px; height: 24px; vertical-align: middle"  %>
<h3>
  <% link_to image, show_resource_path(workflow) %>
  <%= link_to workflow.title, show_resource_path(workflow) %>
</h3>


<!-- Workflow visibility, e.g. 'private' -->
<% ((workflow.authorization_supported? && workflow.can_manage?) ? list_item_visibility(workflow) : "").html_safe %>

<!-- Description -->
<div class="description">
  <%= text_or_not_specified(workflow.description, :description => true, :auto_link=>true, :length=>300) %>
</div>

<%= link_to 'Run', new_run_path(workflow), :class => "run_workflow" %>
