<div id="in-progress" class="text-center">
  <p class="alert alert-info">Please wait whilst the uploaded file is processed ...</p>
  <%= image('large_spinner') %>
</div>

<div id="response-error" class="alert alert-danger" style="display:none;">
  <p>
  Unfortunately a problem occurred processing the file. The problem was been reported.
  </p>
  <p>
    Please try again later.
  </p>
  <p class="text-right small">Error: <span id="error-message"/></p>
</div>



<script type="application/javascript">

    $j(document).ready(function () {

        var request = $j.ajax({
            type: "POST",
            dataType: "html",
            timeout: 0,
            url: '<%= metadata_extraction_ajax_workflows_path -%>',
            data: <%= {content_blob_id: @workflow.content_blob.id, workflow_class_id: @workflow.workflow_class.id}.to_json.html_safe %>
        });

        request.done(function (data) {
           window.location='<%= provide_metadata_workflows_path() %>'
        }).fail(function (jqXHR, textStatus,errorThrown) {
            $j('#in-progress').hide();
            $j('#response-error').show();
            $j('#error-message').html(jqXHR.responseText);
        })
    });

</script>