<%= javascript_include_tag "sharing.js","associate_events.js","assays.js","attribution.js","resource.js" %>

<h1>Manage workflow: <%= @workflow.title %></h1>

<!-- Delete button -->
<p><ul class="sectionIcons">
    <%= delete_icon(@workflow, current_user) %>
</ul><p>

<div class="show_basic">
  <%= render :partial => 'form' %>
</div>