<h1>New Version</h1>

<%= panel do %>
  Currently there are two ways to add a new version of a workflow:
  <ul>
    <li><strong>Simple</strong> - as a file with a picture and a CWL description if you have one</li>
    <li><strong>Advanced</strong> - as a <em>Workflow RO Crate</em> (Note: this format is under development, click <a href="https://github.com/workflowhub-eu/about/wiki/Workflow-RO-Crate" target="_blank">here</a> to find out more)</li>
  </ul>
  <br/>
  Currently supported workflow types are: <%= WorkflowClass.order(:title).pluck(:title).join(', ') %>.
<% end %>

<%= render partial: 'upload_form', locals: { new_version: true, cancel_path: workflow_path(@workflow) } %>