<h1>Select Target</h1>
<%= form_tag(polymorphic_path([:create_version_from_git, @workflow])) do %>
  <%= hidden_field_tag "workflow[git_version_attributes][git_repository_id]", @git_repository.id %>
  <%= render partial: 'git_repositories/ref_form', locals: { name: "workflow[git_version_attributes][ref]",
                                                             git_repository: @git_repository } %>
<% end %>
