<%
   search_enabled = Seek::Config.solr_enabled ? 'enabled' : 'disabled'
   delayed_job_count = delayed_job_status.split("Running [Process ID:").count - 1
%>
<div id="application_status">
<%= Seek::Config.application_name %> is running<br/>
search is <%= search_enabled %><br/>
<%= delayed_job_count %> delayed jobs running<br/>
</div>