<%
  entity ||= openbis_zample_panel
%>

<div class="panel panel-default" id="openbis-details">
  <div class="panel-body">
    <p>
      <%= image(:openbis, :width=>'75px') %>
    </p>

    <%= render partial:'openbis_common/obis_attr_row', locals: {entity: entity} %>
    <%= render partial:'openbis_common/obis_prop_row', locals: {entity: entity} %>

  </div>
</div>
