{
    "swagger": "2.0",
    "info": {
        "version": "0.3",
        "title": "JSON API to FAIRDOM SEEK",
        "license": {
            "name": "The 3-Clause BSD License",
            "url": "https://opensource.org/licenses/BSD-3-Clause"
        },
        "contact": {
            "name": "SEEK support",
            "url": "http://groups.google.com/group/seek4science",
            "email": "support@fair-dom.org"
        },
        "description": {
            "$ref": "../descriptions/api.md"
        },
        "x-logo": {
            "url": "api/definitions/seek.png",
            "backgroundColor": "#FFFFFF"
        }
    },
    "host": "fairdomhub.org",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "OAuth2": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "/oauth/authorize",
            "tokenUrl": "/oauth/token",
            "scopes": {
                "read": "Read, download and list resources",
                "write": "Create, upload, update and delete resources"
            },
            "description": {
                "$ref": "../descriptions/authOAuth2.md"
            }
        },
        "apiToken": {
            "type": "apiKey",
            "in": "header",
            "name": "Authorization",
            "description": {
                "$ref": "../descriptions/authToken.md"
            }
        },
        "basicAuth": {
            "type": "basic",
            "description": {
                "$ref": "../descriptions/authBasic.md"
            }
        }
    },
    "security": [
        {
            "OAuth2": ["read", "write"]
        },
        {
            "apiToken": []
        },
        {
            "basicAuth": []
        }
    ],
    "tags": [
        {
            "name": "list",
            "description": {
                "$ref": "../descriptions/list.md"
            },
            "x-traitTag": true
        },
        {
            "name": "create",
            "description": {
                "$ref": "../descriptions/create.md"
            },
            "x-traitTag": true
        },
        {
            "name": "read",
            "description": {
                "$ref": "../descriptions/read.md"
            },
            "x-traitTag": true
        },
        {
            "name": "update",
            "description": {
                "$ref": "../descriptions/update.md"
            },
            "x-traitTag": true
        },
        {
            "name": "delete",
            "description": {
                "$ref": "../descriptions/delete.md"
            },
            "x-traitTag": true
        },
        {
            "name": "upload",
            "description": {
                "$ref": "../descriptions/upload.md"
            },
            "x-traitTag": true
        },
        {
            "name": "download",
            "description": {
                "$ref": "../descriptions/download.md"
            },
            "x-traitTag": true
        },
        {
            "name": "search",
            "description": {
                "$ref": "../descriptions/search.md"
            }
        },
        {
            "name": "institutions",
            "description": {
                "$ref": "../descriptions/institutions.md"
            }
        },
        {
            "name": "people",
            "description": {
                "$ref": "../descriptions/people.md"
            }
        },
        {
            "name": "programmes",
            "description": {
                "$ref": "../descriptions/programmes.md"
            }
        },
        {
            "name": "projects",
            "description": {
                "$ref": "../descriptions/projects.md"
            }
        },
        {
            "name": "investigations",
            "description": {
                "$ref": "../descriptions/investigations.md"
            }
        },
        {
            "name": "studies",
            "description": {
                "$ref": "../descriptions/studies.md"
            }
        },
        {
            "name": "assays",
            "description": {
                "$ref": "../descriptions/assays.md"
            }
        },
        {
            "name": "collections",
            "description": {
                "$ref": "../descriptions/collections.md"
            }
        },
        {
            "name": "contentBlobs",
            "description": {
                "$ref": "../descriptions/contentBlobs.md"
            }
        },
        {
            "name": "dataFiles",
            "description": {
                "$ref": "../descriptions/dataFiles.md"
            }
        },
        {
            "name": "documents",
            "description": {
                "$ref": "../descriptions/documents.md"
            }
        },
        {
            "name": "models",
            "description": {
                "$ref": "../descriptions/models.md"
            }
        },
        {
            "name": "publications",
            "description": {
                "$ref": "../descriptions/publications.md"
            }
        },
        {
            "name": "sops",
            "description": {
                "$ref": "../descriptions/sops.md"
            }
        },
        {
            "name": "events",
            "description": {
                "$ref": "../descriptions/events.md"
            }
        },
        {
            "name": "presentations",
            "description": {
                "$ref": "../descriptions/presentations.md"
            }
        },
        {
            "name": "organisms",
            "description": {
                "$ref": "../descriptions/organisms.md"
            }
        },
        {
            "name": "sampleTypes",
            "description": {
                "$ref": "../descriptions/sampleTypes.md"
            }
        },
        {
            "name": "samples",
            "description": {
                "$ref": "../descriptions/samples.md"
            }
        },
        {
            "name": "workflows",
            "description": {
                "$ref": "../descriptions/workflows.md"
            }
        }
    ],
    "x-tagGroups": [
        {
            "name": "operation types",
            "tags": [
                "list",
                "create",
                "read",
                "update",
                "delete",
                "upload",
                "download"
            ]
        },
        {
            "name": "Search",
            "tags": [
                "search"
            ]
        },
        {
            "name": "Yellow Pages",
            "tags": [
                "institutions",
                "people",
                "programmes",
                "projects"
            ]
        },
        {
            "name": "Experiments",
            "tags": [
                "investigations",
                "studies",
                "assays"
            ]
        },
        {
            "name": "Assets",
            "tags": [
                "collections",
                "dataFiles",
                "documents",
                "models",
                "publications",
                "sops",
                "workflows",
                "contentBlobs"
            ]
        },
        {
            "name": "Activities",
            "tags": [
                "events",
                "presentations"
            ]
        },
        {
            "name": "Samples",
            "tags": [
                "organisms",
                "sampleTypes",
                "samples",
                "sampleAttributeTypes"
            ]
        }
    ],
    "x-types": {
        "ListTypeT": {
            "501": {
                "description": "Not implemented"
            }
        },
        "CreateTypeT": {
            "400": {
                "description": "Bad request",
                "schema": {
                    "$ref": "#/definitions/bad_request"
                }
            },
            "403": {
                "description": "Forbidden",
                "schema": {
                    "$ref": "#/definitions/forbidden"
                }
            },
            "422": {
                "description": "Unprocessable entity",
                "schema": {
                    "$ref": "#/definitions/unprocessable_entity"
                }
            }
        },
        "ReadTypeT": {
            "403": {
                "description": "Forbidden",
                "schema": {
                    "$ref": "#/definitions/forbidden"
                }
            },
            "404": {
                "description": "Not found",
                "schema": {
                    "$ref": "#/definitions/not_found"
                }
            }
        },
        "UpdateTypeT": {
            "403": {
                "description": "Forbidden",
                "schema": {
                    "$ref": "#/definitions/forbidden"
                }
            },
            "404": {
                "description": "Not found",
                "schema": {
                    "$ref": "#/definitions/not_found"
                }
            },
            "422": {
                "description": "Unprocessable entity",
                "schema": {
                    "$ref": "#/definitions/unprocessable_entity"
                }
            }
        },
        "DeleteTypeT": {
            "403": {
                "description": "Forbidden",
                "schema": {
                    "$ref": "#/definitions/forbidden"
                }
            },
            "404": {
                "description": "Not found",
                "schema": {
                    "$ref": "#/definitions/not_found"
                }
            }
        }
    },
    "paths": {
        "/search": {
            "parameters": [
                {
                    "name": "q",
                    "in": "query",
                    "required": true,
                    "description": "The text to search for\n",
                    "type": "string",
                    "default": "lactate inhibition"
                },
                {
                    "name": "search_type",
                    "in": "query",
                    "required": false,
                    "description": "The type of resource to return",
                    "type": "string",
                    "enum": [
                        "assays",
                        "collections",
                        "data_files",
                        "events",
                        "institutions",
                        "investigations",
                        "models",
                        "people",
                        "presentations",
                        "programmes",
                        "projects",
                        "publications",
                        "sample_types",
                        "sops",
                        "studies",
                        "workflows"
                    ],
                    "default": "data_files"
                }
            ],
            "get": {
                "operationId": "search",
                "description": {
                    "$ref": "../descriptions/searchOperation.md"
                },
                "tags": [
                    "search"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/searchResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/searchResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/assays": {
            "get": {
                "operationId": "listAssays",
                "description": {
                    "$ref": "../descriptions/listAssays.md"
                },
                "tags": [
                    "list",
                    "assays"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/assaysResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/assaysResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createAssay",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/createAssay.md"
                },
                "tags": [
                    "create",
                    "assays"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "assay",
                        "description": "The assay to create.",
                        "schema": {
                            "$ref": "#/definitions/assayPost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/assayResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/assayPostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/assays/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The assay to be fetched, updated or deleted",
                    "type": "integer"
                }
            ],
            "patch": {
                "operationId": "updateAssay",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/updateAssay.md"
                },
                "tags": [
                    "update",
                    "assays"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "assay",
                        "description": "The assay to patch",
                        "schema": {
                            "$ref": "#/definitions/assayPatch"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/assayResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/assayPatchResponse.json"
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "readAssay",
                "description": {
                    "$ref": "../descriptions/readAssay.md"
                },
                "tags": [
                    "read",
                    "assays"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/assayResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/assayResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteAssay",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/deleteAssay.md"
                },
                "tags": [
                    "delete",
                    "assays"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ok"
                        }
                    }
                }
            }
        },
        "/collections": {
            "get": {
                "operationId": "listCollections",
                "description": {
                    "$ref": "../descriptions/listCollections.md"
                },
                "tags": [
                    "list",
                    "collections"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/collectionsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/collectionsResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createCollection",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/createCollection.md"
                },
                "tags": [
                    "create",
                    "collections"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "collection",
                        "description": "The collection to create.",
                        "schema": {
                            "$ref": "#/definitions/collectionPost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/collectionResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/collectionPostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/collections/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The collection to fetch",
                    "type": "integer",
                    "default": 1152
                }
            ],
            "get": {
                "operationId": "readCollection",
                "description": {
                    "$ref": "../descriptions/readCollection.md"
                },
                "tags": [
                    "read",
                    "collections"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/collectionResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/collectionResponse.json"
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateCollection",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/updateCollection.md"
                },
                "tags": [
                    "update",
                    "collections"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "collection",
                        "description": "The collection to patch.",
                        "schema": {
                            "$ref": "#/definitions/collectionPatch"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/collectionResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/collectionPatchResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteCollection",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/deleteCollection.md"
                },
                "tags": [
                    "delete",
                    "collections"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ok"
                        }
                    }
                }
            }
        },
        "/collections/{collection_id}/items": {
            "parameters": [
                {
                    "name": "collection_id",
                    "in": "path",
                    "required": true,
                    "description": "The ID of the collection",
                    "type": "integer",
                    "default": 123
                }
            ],
            "get": {
                "operationId": "listCollectionItems",
                "description": {
                    "$ref": "../descriptions/listCollectionItems.md"
                },
                "tags": [
                    "list",
                    "collections"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/collectionItemsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/collectionItemsResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createCollectionItem",
                "security": [
                    {
                        "OAuth2": [
                            "write"
                        ]
                    },
                    {
                        "apiToken": []
                    },
                    {
                        "basicAuth": []
                    }
                ],
                "description": {
                    "$ref": "../descriptions/createCollectionItem.md"
                },
                "tags": [
                    "create",
                    "collections"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "collection_item",
                        "description": "The collection item to create.",
                        "schema": {
                            "$ref": "#/definitions/collectionItemPost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/collectionItemResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/collectionItemPostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/collections/{collection_id}/items/{id}": {
            "parameters": [
                {
                    "name": "collection_id",
                    "in": "path",
                    "required": true,
                    "description": "The ID of the collection",
                    "type": "integer",
                    "default": 123
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The ID of the item in the collection",
                    "type": "integer",
                    "default": 1152
                }
            ],
            "get": {
                "operationId": "readCollectionItem",
                "description": {
                    "$ref": "../descriptions/readCollectionItem.md"
                },
                "tags": [
                    "read",
                    "collections"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/collectionItemResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/collectionItemResponse.json"
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateCollectionItem",
                "security": [
                    {
                        "OAuth2": [
                            "write"
                        ]
                    },
                    {
                        "apiToken": []
                    },
                    {
                        "basicAuth": []
                    }
                ],
                "description": {
                    "$ref": "../descriptions/updateCollectionItem.md"
                },
                "tags": [
                    "update",
                    "collections"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "collection_item",
                        "description": "The collection item to patch.",
                        "schema": {
                            "$ref": "#/definitions/collectionItemPatch"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/collectionItemResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/collectionItemPatchResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteCollectionItem",
                "security": [
                    {
                        "OAuth2": [
                            "write"
                        ]
                    },
                    {
                        "apiToken": []
                    },
                    {
                        "basicAuth": []
                    }
                ],
                "description": {
                    "$ref": "../descriptions/deleteCollectionItem.md"
                },
                "tags": [
                    "delete",
                    "collections"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ok"
                        }
                    }
                }
            }
        },
        "/data_files": {
            "get": {
                "operationId": "listDataFiles",
                "description": {
                    "$ref": "../descriptions/listDataFiles.md"
                },
                "tags": [
                    "list",
                    "dataFiles"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/dataFilesResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/dataFilesResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createDataFile",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/createDataFile.md"
                },
                "tags": [
                    "create",
                    "dataFiles"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "dataFile",
                        "description": "The dataFile to create.",
                        "schema": {
                            "$ref": "#/definitions/dataFilePost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/dataFileResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/dataFilePostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/data_files/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The data file to fetch",
                    "type": "integer",
                    "default": 1152
                }
            ],
            "get": {
                "operationId": "readDataFile",
                "description": {
                    "$ref": "../descriptions/readDataFile.md"
                },
                "parameters": [
                    {
                        "name": "version",
                        "in": "query",
                        "required": true,
                        "description": "The version of the data file to get",
                        "type": "integer",
                        "default": 2
                    }
                ],
                "tags": [
                    "read",
                    "dataFiles"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/dataFileResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/dataFileResponse.json"
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateDataFile",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/updateDataFile.md"
                },
                "tags": [
                    "update",
                    "dataFiles"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "data file",
                        "description": "The data file to patch",
                        "schema": {
                            "$ref": "#/definitions/dataFilePatch"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/dataFileResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/dataFilePatchResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteDataFile",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/deleteDataFile.md"
                },
                "tags": [
                    "delete",
                    "dataFiles"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ok"
                        }
                    }
                }
            }
        },
        "/{asset_types}/{id}/content_blobs/{blob_id}": {
            "parameters": [
                {
                    "name": "asset_types",
                    "in": "path",
                    "required": true,
                    "description": "The types of asset being fetched, uploaded or downloaded",
                    "type": "string",
                    "default": "data_files"
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The asset content to fetch, upload or download",
                    "type": "integer",
                    "default": 1152
                },
                {
                    "name": "blob_id",
                    "in": "path",
                    "required": true,
                    "description": "The asset identifier to fetch, upload or download",
                    "type": "integer",
                    "default": 1831
                }
            ],
            "put": {
                "operationId": "uploadAssetContent",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/uploadAssetContent.md"
                },
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "*/*"
                ],
                "tags": [
                    "upload",
                    "contentBlobs"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "blobContent",
                        "description": "The blob content to fetch, upload or download",
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "get": {
                "operationId": "readContentBlob",
                "description": {
                    "$ref": "../descriptions/readContentBlob.md"
                },
                "produces": [
                    "application/json",
                    "text/csv"
                ],
                "tags": [
                    "read",
                    "contentBlobs"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/contentBlobResponse"
                        }
                    }
                }
            }
        },
        "/{asset_types}/{id}/content_blobs/{blob_id}/download": {
            "parameters": [
                {
                    "name": "asset_types",
                    "in": "path",
                    "required": true,
                    "description": "The typs of asset being downloaded",
                    "type": "string",
                    "default": "data_files"
                },
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The asset to fetch",
                    "type": "integer",
                    "default": 1152
                },
                {
                    "name": "blob_id",
                    "in": "path",
                    "required": true,
                    "description": "The blob to download",
                    "type": "integer",
                    "default": 1831
                }
            ],
            "get": {
                "operationId": "downloadAssetContent",
                "description": {
                    "$ref": "../descriptions/downloadAssetContent.md"
                },
                "produces": [
                    "*/*"
                ],
                "tags": [
                    "download",
                    "contentBlobs"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/documents": {
            "get": {
                "operationId": "listDocuments",
                "description": {
                    "$ref": "../descriptions/listDocuments.md"
                },
                "tags": [
                    "list",
                    "documents"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/documentsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/documentsResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createDocument",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/createDocument.md"
                },
                "tags": [
                    "create",
                    "documents"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "document",
                        "description": "The document to create.",
                        "schema": {
                            "$ref": "#/definitions/documentPost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/documentResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/documentPostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/documents/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The document to fetch",
                    "type": "integer",
                    "default": 1152
                }
            ],
            "get": {
                "operationId": "readDocument",
                "description": {
                    "$ref": "../descriptions/readDocument.md"
                },
                "tags": [
                    "read",
                    "documents"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/documentResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/documentResponse.json"
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateDocument",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/updateDocument.md"
                },
                "tags": [
                    "update",
                    "documents"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "document",
                        "description": "The document to patch.",
                        "schema": {
                            "$ref": "#/definitions/documentPatch"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/documentResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/documentPatchResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteDocument",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/deleteDocument.md"
                },
                "tags": [
                    "delete",
                    "documents"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ok"
                        }
                    }
                }
            }
        },
        "/events": {
            "get": {
                "operationId": "listEvents",
                "description": {
                    "$ref": "../descriptions/listEvents.md"
                },
                "tags": [
                    "list",
                    "events"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/eventsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/eventsResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createEvent",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/createEvent.md"
                },
                "tags": [
                    "create",
                    "events"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "sop",
                        "description": "The event to create.",
                        "schema": {
                            "$ref": "#/definitions/eventPost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/eventResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/eventPostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/events/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The event to fetch",
                    "type": "integer",
                    "default": 75
                }
            ],
            "get": {
                "operationId": "readEvent",
                "description": {
                    "$ref": "../descriptions/readEvent.md"
                },
                "tags": [
                    "read",
                    "events"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/eventResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/eventResponse.json"
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateEvent",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/updateEvent.md"
                },
                "tags": [
                    "update",
                    "events"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "sop",
                        "description": "The event to update.",
                        "schema": {
                            "$ref": "#/definitions/eventPatch"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/eventResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/eventPatchResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteEvent",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/deleteEvent.md"
                },
                "tags": [
                    "delete",
                    "events"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ok"
                        }
                    }
                }
            }
        },
        "/institutions": {
            "get": {
                "operationId": "listInstitutions",
                "description": {
                    "$ref": "../descriptions/listInstitutions.md"
                },
                "tags": [
                    "list",
                    "institutions"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/institutionsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/institutionsResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createInstitution",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/createInstitution.md"
                },
                "tags": [
                    "create",
                    "institutions"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "institution",
                        "description": "The institution to create.",
                        "schema": {
                            "$ref": "#/definitions/institutionPost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/institutionResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/institutionPostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/institutions/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The institution to fetch, patch or delete",
                    "type": "integer",
                    "default": 142
                }
            ],
            "get": {
                "operationId": "readInstitution",
                "description": {
                    "$ref": "../descriptions/readInstitution.md"
                },
                "tags": [
                    "read",
                    "institutions"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/institutionResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/institutionResponse.json"
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateInstitution",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/updateInstitution.md"
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "institution",
                        "description": "The data with which to update the institution.",
                        "schema": {
                            "$ref": "#/definitions/institutionPatch"
                        }
                    }
                ],
                "tags": [
                    "update",
                    "institutions"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/institutionResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/institutionPatchResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteInstitution",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/deleteInstitution.md"
                },
                "tags": [
                    "delete",
                    "institutions"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ok"
                        }
                    }
                }
            }
        },
        "/investigations": {
            "get": {
                "operationId": "listInvestigations",
                "description": {
                    "$ref": "../descriptions/listInvestigations.md"
                },
                "tags": [
                    "list",
                    "investigations"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/investigationsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/investigationsResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createInvestigation",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/createInvestigation.md"
                },
                "tags": [
                    "create",
                    "investigations"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "investigation",
                        "description": "The investigation to create.",
                        "schema": {
                            "$ref": "#/definitions/investigationPost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/investigationResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/investigationPostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/investigations/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The investigation to fetch, patch or delete",
                    "type": "integer",
                    "default": 56
                }
            ],
            "get": {
                "operationId": "readInvestigation",
                "description": {
                    "$ref": "../descriptions/readInvestigation.md"
                },
                "tags": [
                    "read",
                    "investigations"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/investigationResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/investigationResponse.json"
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateInvestigation",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/updateInvestigation.md"
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "investigation",
                        "description": "The investigation to patch.",
                        "schema": {
                            "$ref": "#/definitions/investigationPatch"
                        }
                    }
                ],
                "tags": [
                    "update",
                    "investigations"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/investigationResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/investigationPatchResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteInvestigation",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/deleteInvestigation.md"
                },
                "tags": [
                    "delete",
                    "investigations"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ok"
                        }
                    }
                }
            }
        },
        "/models": {
            "get": {
                "operationId": "listModels",
                "description": {
                    "$ref": "../descriptions/listModels.md"
                },
                "tags": [
                    "list",
                    "models"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modelsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/modelsResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createModel",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/createModel.md"
                },
                "tags": [
                    "create",
                    "models"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "model",
                        "description": "The model to create.",
                        "schema": {
                            "$ref": "#/definitions/modelPost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/modelResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/modelPostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/models/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The model to fetch, patch or delete",
                    "type": "integer",
                    "default": 139
                }
            ],
            "get": {
                "operationId": "readModel",
                "description": {
                    "$ref": "../descriptions/readModel.md"
                },
                "parameters": [
                    {
                        "name": "version",
                        "in": "query",
                        "required": true,
                        "description": "The version of the model to get",
                        "type": "integer",
                        "default": 2
                    }
                ],
                "tags": [
                    "read",
                    "models"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modelResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/modelResponse.json"
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updateModel",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/updateModel.md"
                },
                "tags": [
                    "update",
                    "models"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "model",
                        "description": "The model to patch.",
                        "schema": {
                            "$ref": "#/definitions/modelPatch"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modelResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/modelPatchResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteModel",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/deleteModel.md"
                },
                "tags": [
                    "delete",
                    "models"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ok"
                        }
                    }
                }
            }
        },
        "/organisms": {
            "get": {
                "operationId": "listOrganisms",
                "description": {
                    "$ref": "../descriptions/listOrganisms.md"
                },
                "tags": [
                    "list",
                    "organisms"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/organismsResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/organismsResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/organisms/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The organism to fetch, patch or delete",
                    "type": "integer",
                    "default": 1933753696
                }
            ],
            "get": {
                "operationId": "readOrganism",
                "description": {
                    "$ref": "../descriptions/readOrganism.md"
                },
                "tags": [
                    "read",
                    "organisms"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/organismResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/organismResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/people": {
            "get": {
                "operationId": "listPeople",
                "description": {
                    "$ref": "../descriptions/listPeople.md"
                },
                "tags": [
                    "list",
                    "people"
                ],
                "responses": {
                    "501": {
                        "description": "Not implemented"
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/peopleResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/peopleResponse.json"
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "createPerson",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/createPerson.md"
                },
                "tags": [
                    "create",
                    "people"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "person",
                        "description": "The person to create.",
                        "schema": {
                            "$ref": "#/definitions/personPost"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad request",
                        "schema": {
                            "$ref": "#/definitions/bad_request"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/personResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/personPostResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/people/current": {
            "get": {
                "operationId": "currentPerson",
                "description": {
                    "$ref": "../descriptions/currentPerson.md"
                },
                "tags": [
                    "read",
                    "people"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/personResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/personResponse.json"
                            }
                        }
                    }
                }
            }
        },
        "/people/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "description": "The person to fetch, patch or delete",
                    "type": "integer",
                    "default": 433
                }
            ],
            "get": {
                "operationId": "readPerson",
                "description": {
                    "$ref": "../descriptions/readPerson.md"
                },
                "tags": [
                    "read",
                    "people"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/personResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/personResponse.json"
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "updatePerson",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/updatePerson.md"
                },
                "parameters": [
                    {
                        "in": "body",
                        "name": "person",
                        "description": "The data with which to update the person.",
                        "schema": {
                            "$ref": "#/definitions/personPatch"
                        }
                    }
                ],
                "tags": [
                    "update",
                    "people"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
                            "$ref": "#/definitions/not_found"
                        }
                    },
                    "422": {
                        "description": "Unprocessable entity",
                        "schema": {
                            "$ref": "#/definitions/unprocessable_entity"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/personResponse"
                        },
                        "examples": {
                            "application/json": {
                                "$ref": "../examples/personPatchResponse.json"
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deletePerson",
                "security": [{ "OAuth2": ["write"] }, { "apiToken": [] }, { "basicAuth": [] }],
                "description": {
                    "$ref": "../descriptions/deletePerson.md"
                },
                "tags": [
                    "delete",
                    "people"
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/forbidden"
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "schema": {
[...]
