---
openapi: 3.1.0
info:
  version: '0.3'
  title: JSON API to FAIRDOM SEEK
  license:
    name: The 3-Clause BSD License
    url: https://opensource.org/licenses/BSD-3-Clause
  contact:
    name: SEEK support
    url: http://groups.google.com/group/seek4science
    email: support@fair-dom.org
  description: "<a name=\"api\"></a>The JSON API to FAIRDOM SEEK is a [JSON API](http://jsonapi.org)
    specification describing how to read and write to a SEEK instance.\n\nThe API
    is defined in the [OpenAPI specification](https://swagger.io/specification) currently
    in [version 2](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md)\n\nExample
    IPython notebooks showing use of the API are available on [GitHub](https://github.com/FAIRdom/api-workshop)\n\n##
    Policy\n<a name=\"Policy\"></a>\nA Policy specifies the visibility of an object
    to people using SEEK. A <a href=\"#projects\">**Project**</a> may specify the
    default policy for objects belonging to that <a href=\"#projects\">**Project**</a>\n\nThe
    **Policy** specifies the visibility of the object to non-registered people or
    <a href=\"#people\">**People**</a> not allowed special access.\n\nThe access may
    be one of (in order of increasing \"power\"):\n\n* no_access\n* view\n* download\n*
    edit\n* manage\n\nIn addition a **Policy** may give special access to specific
    <a href=\"#people\">**People**</a>, People working at an <a href=\"#institutions\">**Institution**</a>
    or working on a <a href=\"#projects\">**Project**</a>.\n\n## License\n<a name=\"License\"></a>\nThe
    license specifies the license that will apply to any <a href=\"#dataFiles\">**DataFiles**</a>,
    <a href=\"#models\">**Models**</a>, <a href=\"#sops\">**SOPs**</a>, <a href=\"#documents\">**Documents**</a>
    and <a href=\"#presentations\">**Presentations**</a> associated with a <a href=\"#projects\">**Project**</a>.\n\nThe
    license can currently be:\n\n* `CC0-1.0` - [CC0 1.0](https://creativecommons.org/publicdomain/zero/1.0/)\n*
    `CC-BY-4.0` - [Creative Commons Attribution 4.0](https://creativecommons.org/licenses/by/4.0/)\n*
    `CC-BY-SA-4.0` - [Creative Commons Attribution Share-Alike 4.0](https://creativecommons.org/licenses/by-sa/4.0/)\n*
    `ODC-BY-1.0` - [Open Data Commons Attribution License 1.0](http://www.opendefinition.org/licenses/odc-by)\n*
    `ODbL-1.0` - [Open Data Commons Open Database License 1.0](http://www.opendefinition.org/licenses/odc-odbl)\n*
    `ODC-PDDL-1.0` - [Open Data Commons Public Domain Dedication and Licence 1.0](http://www.opendefinition.org/licenses/odc-pddl)\n*
    `notspecified` - License Not Specified\n* `other-at` - Other (Attribution)\n*
    `other-open` - Other (Open)\n* `other-pd` - Other (Public Domain)\n* `AFL-3.0`
    - [Academic Free License 3.0](http://www.opensource.org/licenses/AFL-3.0)\n* `Against-DRM`
    - [Against DRM](http://www.opendefinition.org/licenses/against-drm)\n* `CC-BY-NC-4.0`
    - [Creative Commons Attribution-NonCommercial 4.0](https://creativecommons.org/licenses/by-nc/4.0/)\n*
    `DSL` - [Design Science License](http://www.opendefinition.org/licenses/dsl)\n*
    `FAL-1.3` - [Free Art License 1.3](http://www.opendefinition.org/licenses/fal)\n*
    `GFDL-1.3-no-cover-texts-no-invariant-sections` - [GNU Free Documentation License
    1.3 with no cover texts and no invariant sections](http://www.opendefinition.org/licenses/gfdl)\n*
    `geogratis` - [Geogratis](http://geogratis.gc.ca/geogratis/licenceGG)\n* `hesa-withrights`
    - [Higher Education Statistics Agency Copyright with data.gov.uk rights](http://www.hesa.ac.uk/index.php?option=com_content&amp;task=view&amp;id=2619&amp;Itemid=209)\n*
    `localauth-withrights` - Local Authority Copyright with data.gov.uk rights\n*
    `MirOS` - [MirOS Licence](http://www.opensource.org/licenses/MirOS)\n* `NPOSL-3.0`
    - [Non-Profit Open Software License 3.0](http://www.opensource.org/licenses/NPOSL-3.0)\n*
    `OGL-UK-1.0` - [Open Government Licence 1.0 (United Kingdom)](http://reference.data.gov.uk/id/open-government-licence)\n*
    `OGL-UK-2.0` - [Open Government Licence 2.0 (United Kingdom)](https://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/)\n*
    `OGL-UK-3.0` - [Open Government Licence 3.0 (United Kingdom)](https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/)\n*
    `OGL-Canada-2.0` - [Open Government License 2.0 (Canada)](http://data.gc.ca/eng/open-government-licence-canada)\n*
    `OSL-3.0` - [Open Software License 3.0](http://www.opensource.org/licenses/OSL-3.0)\n*
    `dli-model-use` - [Statistics Canada: Data Liberation Initiative (DLI) - Model
    Data Use Licence](http://data.library.ubc.ca/datalib/geographic/DMTI/license.html)\n*
    `Talis` - [Talis Community License](http://www.opendefinition.org/licenses/tcl)\n*
    `ukclickusepsi` - UK Click Use PSI\n* `ukcrown-withrights` - UK Crown Copyright
    with data.gov.uk rights\n* `ukpsi` - [UK PSI Public Sector Information](http://www.opendefinition.org/licenses/ukpsi)\n\n##
    ContentBlob\n<a name=\"ContentBlob\"></a>\n<a name=\"contentBlobs\"></a>\nThe
    content of a <a href=\"#dataFiles\">**DataFile**</a>, <a href=\"#documents\">**Document**</a>,
    <a href=\"#models\">**Model**</a>, <a href=\"#sops\">**SOP**</a> or <a href=\"#presentations\">**Presentation**</a>
    is specified as a set of **ContentBlobs**.\n\nWhen a resource with content is
    created, it is possible to specify a ContentBlob either as:\n\n* A remote ContentBlob
    with:\n  * **URI to the content's location**\n  * The original filename for the
    content\n  * The content type of the remote content as a [MIME media type](https://en.wikipedia.org/wiki/Media_type)\n*
    A placeholder that will be filled with uploaded content\n  * **The original filename
    for the content**\n  * **The content type of the content as a [MIME media type](https://en.wikipedia.org/wiki/Media_type)**\n\nThe
    creation of the resource will return a JSON document containing ContentBlobs corresponding
    to the remote ContentBlob and to the ContentBlob placeholder. The blobs contain
    a URI to their location.\n\nA placeholder can then be satisfied by uploading a
    file to the location URI. For example by a placeholder such as \n\n```\n\"content_blobs\":
    [\n  {\n    \"original_filename\": \"a_pdf_file.pdf\",\n    \"content_type\":
    \"application/pdf\",\n    \"link\": \"http://fairdomhub.org/data_files/57/content_blobs/313\"\n
    \ }\n],\n```\n\nmay be satisfied by uploading a file to http://fairdomhub.org/data_files/57/content_blobs/313
    using the <a href=\"#uploadAssetContent\">uploadAssetContent</a> operation\n\nThe
    content of a resource may be downloaded by first *reading* the resource and then
    *downloading* the ContentBlobs from their URI.\n"
  x-logo:
    url: api/definitions/seek.png
    backgroundColor: "#FFFFFF"
security:
- OAuth2:
  - read
  - write
- apiToken: []
- basicAuth: []
servers:
- url: https://fairdomhub.org
tags:
- name: list
  description: "<a name=\"list\"></a>**List** operations return a JSON object containing
    a list of all the objects of the specified class to which the authenticated user
    has access.\r\n\r\nSuccess response codes:\r\n* 200 OK\r\n\r\nError response codes:"
  x-traitTag: true
- name: create
  description: "<a name=\"create\"></a>A **Create** operation creates a new instance
    of the specified class. The instance is populated with the content of the body
    of the API call.\r\n\r\nThe **Create** call returns a JSON object representing
    the newly created instance.\r\n\r\nSuccess response codes:\r\n* 201 Created\r\n\r\nError
    response codes:\r\n* 400 Bad request\r\n* 403 Forbidden\r\n* 422 Unprocessable
    entity\r\n"
  x-traitTag: true
- name: read
  description: "<a name=\"read\"></a>A **Read** operation will return information
    about the instance identified, provided the authenticated user has access to it.\r\n\r\nThe
    **Read** operation returns a JSON object representing the instance.\r\n\r\nSuccess
    response codes:\r\n\r\n* 200 OK\r\n\r\nError response codes:\r\n* 403 Forbidden\r\n*
    404 Not found\r\n"
  x-traitTag: true
- name: update
  description: "<a name=\"update\"></a>An **Update** operation will modify the information
    held about the specified instance. This operation is only available if the authenticated
    user has access to the object.\r\n\r\nSuccess response codes:\r\n* 200 OK\r\n\r\nError
    response codes:\r\n* 403 Forbidden\r\n* 404 Not found\r\n* 422 Unprocessable entity\r\n"
  x-traitTag: true
- name: delete
  description: "<a name=\"delete\"></a>A **Delete** operation will delete the specified
    instance, if the authenticated user has sufficient access to it.\r\n\r\nSuccess
    response codes:\r\n* 200 OK\r\n\r\nError response codes:\r\n* 403 Forbidden\r\n*
    404 Not found\r\n"
  x-traitTag: true
- name: upload
  description: "<a name=\"upload\"></a>**Upload** operations are used to satisfy the
    required content of previously created resources such as <a href=\"#dataFiles\">**DataFile**</a>,
    <a href=\"#documents\">**Document**</a>, <a href=\"#models\">**Model**</a>, <a
    href=\"#sops\">**SOP**</a> or <a href=\"#presentations\">**Presentation**</a>.
    See <a href=\"#ContentBlob\">**ContentBlob**</a> for more details.\n\n"
  x-traitTag: true
- name: download
  description: '<a name="download"></a>**Download** operations are used to retrieve
    the content of resources such as <a href="#dataFiles">**DataFile**</a>, <a href="#documents">**Document**</a>,
    <a href="#models">**Model**</a>, <a href="#sops">**SOP**</a> or <a href="#presentations">**Presentation**</a>.
    See <a href="#ContentBlob">**ContentBlob**</a> for more details.

    '
  x-traitTag: true
- name: search
  description: <a name="search"></a>
- name: institutions
  description: |
    <a name="institutions"></a>An **Institition** in SEEK is where someone is employed or works. It is normal for an **Institution** to have a physical location - a set of buildings in which <a href="#people">**People**</a> work.

    SEEK does not impose any constraints on the granularity of the **Institution** so it may represent a whole university or company, or be limited to a specific site.

    An **Institution** has the following associated information:

    * **The title of the Institution**
    * A reference to an avatar / logo for the **Institution**
    * The two letter country code
    * The name of the city where the **Institution** has its headquarters
    * The address of the **Institution** within the city
    * A URI to the webpage for the **Institution**

    A response for an **Institution** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * References to registered <a href="#people">**People**</a> who work at the **Institution**
    * References to the <a href="#projects">**Projects**</a> in which the **Institution** is a partner.
- name: people
  description: |-
    <a name="people"></a>A **Person** in SEEK is someone who participates directly or indirectly in the scientific research described within SEEK. A person may:

    * work at one or more <a href="#institutions">**Institutions**</a>
    * work on one or more <a href="#projects">**Projects**</a>

    A **Person** can have helped to carry out <a href="#investigations">**Investigations**</a>, <a href="#studies">**Studies**</a> and <a href="#assays">**Assays**</a>, and to have been involved in the creation of resources such as <a href="#dataFiles">**DataFles**</a>.

    A **Person** has the following associated information:

    * **The person's first name**
    * **The person's last name**
    * A personal description
    * An email address for the **Person**
    * A URI to a webpage about the **Person**
    * The [ORCID](https://orcid.org/) for the **Person**
    * A list of strings describing the expertise of the **Person**
    * A list of strings describing the tools that the **Person** uses
    * The telephone number of the **Person**, including country code
    * The [Skype](https://www.skype.com) name of the **Person**

    A response for a **Person** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * A URI to an image used as the **Person's** avatar
    * The **Person's** title, made from their first and last name
    * A list of the <a href="#projects">**Project**</a> positions held by the **Person**

    * References to the <a href="#projects">**Projects**</a> in which the **Person** is involved
    * References to the <a href="#institutions">**Institutions**</a> where the **Person** works
    * References to the <a href="#investigations">**Investigations**</a> in which the **Person** is involved
    * References to the <a href="#studies">**Studies**</a> in which the **Person** is involved
    * References to the <a href="#assays">**Assays**</a> in which the **Person** is involved
    * References to the <a href="#dataFiles">**DataFiles**</a> associated with the **Person**
    * References to the <a href="#documents">**Documents**</a> associated with the **Person**
    * References to the <a href="#models">**Models**</a> associated with the **Person**
    * References to the <a href="#sops">**SOPs**</a> associated with the **Person**
    * References to the <a href="#publications">**Publications**</a> associated with the **Person**
    * References to the <a href="#presentations">**Presentations**</a> associated with the **Person**
    * References to the <a href="#events">**Events**</a> associated with the **Person**

    **Note that in the Person response the email address is encoded in mbox_sha1sum**
- name: programmes
  description: |
    <a name="programmes"></a>**Programmes** are an umbrella group for one or more <a href="#projects">**Projects**</a>. They are usually, but not always, associated with a particular funded piece of research.

    A **Programme** has the following associated information:

    * ** The title of the Programme **
    * A description of the **Programme**
    * A URI to a webpage about the **Programme**
    * A string containing details about the funding of the **Programme**
    * A list of the funding codes for the **Programme**

    * References to the <a href="#people">**People**</a> who are administrators for the **Programme**
    * References to <a href="#projects">**Projects**</a> that are part of the **Programme**

    A response for a **Programme** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * References to <a href="#people">**People**</a> who work on the **Programme** and are not administrators
    * References to <a href="#institutions">**Institutions**</a> that are involved in the **Programme**
    * References to <a href="#investigations">**Investigations**</a> that are part of the **Programme**
    * References to <a href="#studies">**Studies**</a> that are part of the **Programme**
    * References to <a href="#assays">**Assays**</a> that are part of the **Programme**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#documents">**Documents**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#models">**Models**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#sops">**Sops**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#publications">**Publications**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#presentations">**Presentations**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#events">**Events**</a> that are held by or attended by <a href="#projects">**Projects**</a> that are part of the **Programme**
- name: projects
  description: |+
    <a name="projects"></a>A **Project** is an area of research carried out as part of a <a href="#programmes">**Programme**</a> and consisting of one or more <a href="#investigations">**Investigations**</a>.

    **In the current version of the API, the <a href="#Policy">Policy</a> and the description of Project members and administrative roles does not work correctly.  This will be improved in future versions of the API.**

    A **Project** has the following associated information:

    * **The title of the Project**
    * A reference to an avatar / logo for the **Project**
    * A description of the **Project**
    * A URI to a webpage about the **Project**
    * A URI to the wiki of the **Project**
    * The default <a href="#Policy">**Policy**</a> applied to objects belonging to the **Project**
    * The default <a href="#License">**License**</a> applied to objects belonging to the **Project**

    * References to the <a href="#programmes">**Programmes**</a> that the **Project** is part of
    * References to the <a href="#organisms">**Organisms**</a> studied by the **Project**

    A response for a **Project** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * References to <a href="#people">**People**</a> who work on the **Project**
    * References to <a href="#institutions">**Institutions**</a> that are involved in the **Project**
    * References to <a href="#investigations">**Investigations**</a> that are part of the **Project**
    * References to <a href="#studies">**Studies**</a> that are part of the **Project**
    * References to <a href="#assays">**Assays**</a> that are part of the **Project**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#documents">**Documents**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#models">**Models**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#sops">**Sops**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#publications">**Publications**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#presentations">**Presentations**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#events">**Events**</a> that are held by or attended by the <a href="#projects">**Project**</a>


- name: investigations
  description: |+
    <a name="investigations"></a>**Investigations** are high level descriptions of the research carried out by a particular <a href="#projects">**Project**</a>. They typically reflect the general aims of the <a href="#projects">**Project**</a>, for example, carbon metabolism or anaerobic/aerobic transitions.

    An **Investigation** has the following associated information:

    * **The title of the Investigation**
    * A description of the **Investigation**
    * A string listing other creators of the **Investigation**
    * The sharing <a href="#Policy">**Policy**</a> of the **Investigation**
    * References to the <a href="#people">**People**</a> who created the **Investigation**
    * References to the <a href="#projects">**Projects**</a> which the **Investigation** is part of
    * References to <a href="#publications">**Publications**</a> about the **Investigation**

    A response for an **Investigation** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * A reference to the <a href="#people">**Person**</a> who registered (submitted) the **Investigation** into SEEK
    * References to <a href="#studies">**Studies**</a> that are part of the **Investigation**
    * References to <a href="#assays">**Assays**</a> that are part of the **Investigation**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to the **Investigation**
    * References to <a href="#documents">**Documents**</a> that belong to the **Investigation**
    * References to <a href="#models">**Models**</a> that belong to the **Investigation**
    * References to <a href="#sops">**Sops**</a> that belong to the **Investigation**
    * References to <a href="#publications">**Publications**</a> that belong to the **Investigation**


- name: studies
  description: |+
    <a name="studies"></a>A **Study** is a series of experiments (or <a href="#assays">**Assays**</a> ) which can be combined to answer a particular biological question. These experiments might be a series of the same type of <a href="#assays">**Assay**</a> (for example, microarrays for different conditions), or they may be a collection of different types of <a href="#assays">**Assay**</a> (e.g. a combination of array and mass spec measurements).

    A **Study** has the following associated information:

    * **The title of the Study**
    * A description of the **Study**
    * A string listing experimentalists of the **Study**
    * A string listing other creators of the **Study**
    * A string containing the id of the <a href="#people">**Person**</a> responsible for the **Study**
    * The sharing <a href="#Policy">**Policy**</a> of the **Study**
    * References to the <a href="#people">**People**</a> who created the **Study**
    ** A reference to the <a href="#investigations">Investigation</a> containing the Study**
    * References to <a href="#publications">**Publications**</a> about the **Study**

    A response for a **Study** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * A reference to the <a href="#people">**Person**</a> who registered (submitted) the **Study** into SEEK
    * References to the <a href="#projects">**Projects**</a> that indirectly contain the **Study**
    * References to the <a href="#assays">**Assays**</a> that belong to the **Stuady**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to the **Study**
    * References to <a href="#documents">**Documents**</a> that belong to the **Study**
    * References to <a href="#models">**Models**</a> that belong to the **Study**
    * References to <a href="#sops">**Sops**</a> that belong to the **Study**
    * References to <a href="#publications">**Publications**</a> that belong to the **Study**





- name: assays
  description: |+
    <a name="assays"></a>An **Assay** describes a particular experiment. It allows you to associate <a href="#dataFiles">**DataFiles**</a>, <a href="#sops">**SOPs**</a> and <a href="#models">**Models**</a> together as well as describing the type of **Assay** and any technology required to perform the experiment.

    An **Assay** has the following associated information:

    * **The title of the Assay**
    * A description of the **Assay**
    * A string listing other creators of the **Assay**
    * A string containing the abbreviated form of the kind of **Assay** - normally *EXP* for experimental or *MOD* for modelling
    * A URI to the type of **Assay** resolving to an entry in the [JERM ontology](http://jermontology.org/ontology/JERMOntology)
    * A URI to the technology used in the **Assay** resolving to an entry in the [JERM ontology](http://jermontology.org/ontology/JERMOntology)
    * The sharing <a href="#Policy">**Policy**</a> of the **Assay**
    * References to the <a href="#people">**People**</a> who created the **Assay**
    * A singleton reference to the <a href="#studies">**Study**</a> which the **Assay** is part of
    * References to <a href="#publications">**Publications**</a> about the **Assay**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to the **Assay**
    * References to <a href="#documents">**Documents**</a> that belong to the **Assay**
    * References to <a href="#models">**Models**</a> that belong to the **Assay**
    * References to <a href="#sops">**Sops**</a> that belong to the **Assay**
    * References to the <a href="#organisms">**Organisms**</a> studied in the **Assay**

    A response for an **Assay** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * A singleton reference to the <a href="#investigations">**Investigation**</a> which the **Assay** is part of
    * References to the <a href="#projects">**Projects**</a> that indirectly contain the **Assay**





- name: collections
  description: |
    <a name="collections"></a>A **Collection** is a curated, ordered collection of assets.

    The collections API can be used to create an empty collections, and add metadata that describes the collection as a whole.

    Assets can be added, removed, re-ordered and annotated (in the context of the collection) via the <a href="#collection_items">**Collection Items**</a> API.

    <a name="collection_items"></a>A **Collection Item** is a resource that links an asset to a collection.
- name: contentBlobs
  description: |
    <a name="content_blobs"></a>A **ContentBlob** represents the actual content of an asset.

    It can refer to a locally held file, or a remote file linked to by a URL.

    It hold some metadata about the file, such as checksums, MIME type and file size.

    The content blobs API is used for uploading and downloading content to and from SEEK.
- name: dataFiles
  description: |+
    <a name="dataFiles"></a>A **dataFile** can be any file containing data relevant to the <a href="#assays">**Assay**</a> (raw data, processed data, calibration information etc). They can be in any format (word files, e-lab notebooks, code, annotated spreadsheets etc).

    **Although dataFiles are versioned, this is out of scope for the current release of the API.**

    A **DataFile** has the following associated information:

    * **The title of the DataFile**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the DataFile**
    * **References to the <a href="#projects">Projects</a> documented**
    * A string containing a list of tags for the **DataFile**
    * A description of the **DataFile**
    * The <a href="#License">**License**</a> applied to the **DataFile**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **DataFile**
    * A string listing other creators of the **DataFile**
    * References to the <a href="#people">**People**</a> who wrote the **DataFile**
    * References to the <a href="#assays">**Assays**</a> associated with the **DataFile**
    * References to the <a href="#publications">**Publications**</a> associated with the **DataFile**
    * References to the <a href="#events">**Events**</a> associated with the **DataFile**

    A response for a **DataFile** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * ** An array of the versions of the DataFile**
    * ** A number indicating the latest version**
    * ** The time when the DataFile was created**
    * ** The last time the DataFile was updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **DataFile**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **DataFile**
    * References to the <a href="#studies">**Studies**</a> associated with the **DataFile**



- name: documents
  description: |+
    <a name="documents"></a>A **Document** is any documentation that describes an <a href="#investigations">**Investigation**</a>, <a href="#studies">**Study**</a> or <a href="#assays">**Assay**</a>. The content of a **Document** is descriptive and it must not contain any data that is consumed or produced by an <a href="#assays">**Assay**</a>.

    **Although documents are versioned, this is out of scope for the current release of the API.**

    A **Document** has the following associated information:

    * **The title of the Document**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the Document**
    * **References to the <a href="#projects">Projects</a> documented**
    * A string containing a list of tags for the **Document**
    * A description of the **Document**
    * The <a href="#License">**License**</a> applied to the **Document**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **Document**
    * A string listing other creators of the **Document**
    * References to the <a href="#people">**People**</a> who wrote the **Document**
    * References to the <a href="#assays">**Assays**</a> documented

    A response for a **Document** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * ** An array of the versions of the Document**
    * ** A number indicating the latest version**
    * ** The time when the Document was created**
    * ** The last time the Document was updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **Document**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **Document**
    * References to the <a href="#studies">**Studies**</a> associated with the **Document**
    * References to the <a href="#publications">**Publications**</a> associated with the **Document**

















- name: models
  description: |
    <a name="models"></a>A **Model** is a computer model of a biological or biochemical network or process.Some **Models** may be simulated using the JWSOnline system.

    **Although models are versioned, this is out of scope for the current release of the API.**

    A **Model** has the following associated information:

    * **The title of the Model**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the Model**
    * **References to the <a href="#projects">Projects</a> documented**
    * A string containing a list of tags for the **Model**
    * A description of the **Model**
    * The <a href="#License">**License**</a> applied to the **Model**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **Model**
    * A string listing other creators of the **Model**
    * A string specifying the **Model** type
    * A string specifying the **Model** format
    * A string specifying the execution environment of the **Model**
    * References to the <a href="#people">**People**</a> who wrote the **Model**
    * References to the <a href="#assays">**Assays**</a> associated with the **Model**
    * References to the <a href="#publications">**Publications**</a> associated with the **Model**

    A response for a **Model** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * ** An array of the versions of the Model**
    * ** A number indicating the latest version**
    * ** The time when the Model was created**
    * ** The last time the Model was updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **Model**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **Model**
    * References to the <a href="#studies">**Studies**</a> associated with the **Model**
- name: publications
  description: "<a name=\"publications\"></a>A **Publication** is a publication about
    a <a href=\"#projects\">**Project**</a>, It normally has a [DOI](http://www.doi.org/)
    or [PubMed ID](https://en.wikipedia.org/wiki/Wikipedia:PMID).\n\nThe response
    to a read of a **Publication** includes the following information:\n\n* **The
    title of the Publication**\n* **The Publication type**\n* **The journal in which
    the Publication is published**\n* **A string containing the date of publication**\n*
    **The preferred string for citing the Publication**\n* **A link to the Publication**\n*
    **The DOI of the Publication**\n* **The PubMed of the Publication**\n* A list
    of strings for the authors\n* A list of strings for the editors (optional)\n*
    Publisher (optional)\n* Booktitle (optional)\n* An extra URL for publications
    without DOI or PubMed ID (optional)\n* **The specification for the <a href=\"#ContentBlob\">ContentBlobs</a>
    in the Publication (full text article) if allowed and activated**  \n* The sharing
    <a href=\"#Policy\">**Policy**</a> for the **Publication**\n* References to the
    <a href=\"#people\">**People**</a> who wrote the **Publication**\n* References
    to the <a href=\"#projects\">**Projects**</a> described in the **Publication**\n*
    References to the <a href=\"#investigations\">**Investigations**</a> described
    in the **Publication**\n* References to the <a href=\"#studies\">**Studies**</a>
    described in the **Publication**\n* References to the <a href=\"#assays\">**Assays**</a>
    described in the **Publication**\n* References to <a href=\"#dataFiles\">**DataFiles**</a>
    that were used in the work described in the **Publication**\n* References to <a
    href=\"#models\">**Models**</a> that were used in the work described in the **Publication**\n*
    References to related **Publications**\n* References to <a href=\"#presentations\">**Presentations**</a>
    associated with the **Publication**\n* References to <a href=\"#events\">**Events**</a>
    associated with the **Publication**\n\n"
- name: sops
  description: |+
    <a name="sops"></a>**SOPs** are standard operating procedures which describe the protocol required to reproduce an <a href="#assays">**Assay**</a>. They can be in any format (word files, e-lab notebooks, code, annotated spreadsheets etc). Relevant **SOPs** can be linked directly to the <a href="#assays">**Assay**</a>.

    **Although SOPs are versioned, this is out of scope for the current release of the API.**

    A **SOP** has the following associated information:

    * **The title of the SOP**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the SOP**
    * **References to the <a href="#projects">Projects</a> relevant to the SOP**
    * A string containing a list of tags for the **SOP**
    * A description of the **SOP**
    * The <a href="#License">**License**</a> applied to the **SOP**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **SOP**
    * A string listing other creators of the **SOP**
    * References to the <a href="#people">**People**</a> who wrote the **SOP**
    * References to the <a href="#assays">**Assays**</a> relevant to the SOP

    A response for a **SOP** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * An array of the versions of the **SOP**
    * A number indicating the latest **version**
    * The time when the SOP was **created**
    * The last time the SOP was **updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **SOP**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **SOP**
    * References to the <a href="#studies">**Studies**</a> associated with the **SOP**
    * References to the <a href="#publications">**Publications**</a> associated with the **SOP**

- name: events
  description: |-
    <a name="events"></a>An **Event** is an event that is associated with one or more <a href="#projects">**Projects**</a>, happening on specified dates and at a specific, actual or virtual, location.

    An **Event** has the following associated information:

    * **The title of the Event**
    * **The start date of the Event**
    * A description of the **Event**
    * A URI to a webpage about the **Event**
    * The two letter country code for where the **Event** is
    * The name of the city where the **Event** takes place
    * The address within the city where the **Event** takes place
    * The end date of the **Event**
    * The sharing <a href="#Policy">**Policy**</a> for the **Event**
    * **References to the <a href="#projects">Projects</a> associated with the Event**
    * References to any <a href="#dataFiles">**DataFiles**</a>  associated with the **Event**
    * References to any <a href="#publications">**Publications**</a>  associated with the **Event**
    * References to any <a href="#presentations">**Presentations**</a>  associated with the **Event**

    A response for an **Event** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * Reference to the <a href="#people">**Person**</a> who submitted the **Event**
- name: presentations
  description: |-
    <a name="presentations"></a>A **Presentation** is a presentation about one or more <a href="#projects">**Projects**</a>.

    **Although presentations are versioned, this is out of scope for the current release of the API.**

    A **Presentation** has the following associated information:

    * **The title of the Presentation**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the Presentation**
    * **References to the <a href="#projects">Projects</a> documented**
    * A string containing a list of tags for the **Presentation**
    * A description of the **Presentation**
    * The <a href="#License">**License**</a> applied to the **Presentation**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **Presentation**
    * A string listing other creators of the **Presentation**
    * References to the <a href="#people">**People**</a> who wrote the **Presentation**
    * References to the <a href="#assays">**Assays**</a> associated with the **Presentation**
    * References to the <a href="#publications">**Publications**</a> associated with the **Presentation**
    * References to the <a href="#events">**Events**</a> associated with the **Presentation**

    A response for a **Presentation** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * ** An array of the versions of the Presentation**
    * ** A number indicating the latest version**
    * ** The time when the Presentation was created**
    * ** The last time the Presentation was updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **Presentation**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **Presentation**
    * References to the <a href="#studies">**Studies**</a> associated with the **Presentation**
- name: organisms
  description: |+
    <a name="organisms"></a>An **Organism** is a organism as identified by an entry in the [NCBI ontology](http://www.ncbi.nlm.nih.gov/taxonomy).

    The response to a read of an **Organism** includes the following information:

    * **The title of the Organism**
    * **A URI referencing an ontology entry describing the Organism**
    * **The common abbreviation for the ontology**
    * **References to <a href="#projects">Projects</a> that use the Organism**
    * **References to <a href="#assays">Assays</a> that use the Organism**
    * **References to <a href="#models">Models</a> that simulate the Organism**

- name: sampleTypes
  description: "<a name=\"sampleTypes\"></a>A **SampleType** is a definition of the
    information that is held about a physical or virtual sample.\n\n* The **title**
    of the SampleType, which corresponds the the **title** attribute\n* References
    to the <a href=\"#projects\">Projects</a> relevant to the **SampleType**\n* An
    array of strings containing a list of **tags** for the **SampleType**\n* A string
    providing a **description** of the **SampleType**\n* An array of **Sample Attributes**,
    including their <a href=\"#sampleAttributeTypes\">Sample Attribute Type</a> contained
    in this **SampleType**\n\n\n\n\nA response for a **SampleType** such as that for
    a <a href=\"#create\">**Create**</a>, <a href=\"#read\">**Read**</a> or <a href=\"#update\">**Update**</a>
    includes the additional information\n\n* The time when the **SampleType** was
    **created**\n* The last time the **SampleType** was **updated**\n* A references
    to the **Submitter**</a> who created the **SampleType**  \n* References to the
    <a href=\"#people\">**People**</a> who created the **SampleType**\n* References
    to the <a href=\"#samples\">**Samples**</a> built from this **SampleType**\n\nSampleType's
    contain the attribute **sample_attributes** which contains information about the
    attributes associated with the \nSampleType. These attributes also link to the
    **sample_attribute_type**. The full list of \nattribute types registered with
    the system can be found using the <a href=\"#operation/listSampleAttributeTypes\">listSampleAttributeTypes</a>
    operation.\n\nWhen creating or updating and wishing to specify the **sample_attribute_type**,
    either it's **id** or unique **title** can be used.\n\nWhen updating a SampleType,
    a **sample_attribute** can be updated by specifying it's **id**. Without the **id**,
    a new attribute will be added.\nAny **sample_attribute** not described in the
    payload will be left alone and unchanged. To remove an attribute, specify its\n**id**
    and also set **_destroy** to be true.\n"
- name: samples
  description: "A **Sample** has the following associated information:\n\n* **The
    title of the Sample, which corresponds the the title attribute**\n* **References
    to the <a href=\"#projects\">Projects</a> relevant to the Sample**\n* A string
    containing a list of tags for the **Sample**\n* The sharing <a href=\"#Policy\">**Policy**</a>
    applied to the **Sample**\n* A string listing other creators of the **Sample**\n*
    The **attribute map**, containing the attribute values for the **Sample** _(see
    below)_ \n* References to the <a href=\"#people\">**People**</a> who created the
    **Sample**\n* References to the <a href=\"#assays\">**Assays**</a> relevant to
    the **Sample**\n* References to the <a href=\"#data_files\">**Data files**</a>
    relevant to the **Sample**\n* A references to the <a href=\"#sampleTypes\">**Sample
    type**</a> relevant to the **Sample**\n\nA response for a **Sample** such as that
    for a <a href=\"#create\">**Create**</a>, <a href=\"#read\">**Read**</a> or <a
    href=\"#update\">**Update**</a> includes the additional information\n\n* The time
    when the **Sample** was **created**\n* The last time the **Sample** was **updated**\n*
    A references to the **Submitter**</a> who created the **Sample**\n\n**Samples**
    differ slightly from other payloads due to the flexible nature of the attributes
    and their values,\nwhich are handled through the **attribute_map** property.\n\nThe
    **attribute_map** is a hash containing key/value pairs, where the key relates
    to the attribute title, which can be\nfound by looking at the corresponding <a
    href=\"#sample_types\">**Sample type**</a>. To set the attribute value, the key
    must\nmatch this title. \nWhen doing a patch, individual attributes can be updated
    without missing from the map, those will retain their current value.\nThe values
    will be validated against the corresponding **sample_attribute**.\n\nIt is possible
    to create a **Sample** together with its attribute values - infact it must do
    where\nattributes are required.\n"
- name: workflows
  description: |+
    <a name="workflows"></a>**Workflows**


x-tagGroups:
- name: operation types
  tags:
  - list
  - create
  - read
  - update
  - delete
  - upload
  - download
- name: Search
  tags:
  - search
- name: Yellow Pages
  tags:
  - institutions
  - people
  - programmes
  - projects
- name: Experiments
  tags:
  - investigations
  - studies
  - assays
- name: Assets
  tags:
  - collections
  - dataFiles
  - documents
  - models
  - publications
  - sops
  - workflows
  - contentBlobs
- name: Activities
  tags:
  - events
  - presentations
- name: Samples
  tags:
  - organisms
  - sampleTypes
  - samples
  - sampleAttributeTypes
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: "<a name=\"authentication\"></a>\n<a name=\"authentication-oauth\"></a>If
        you are creating an application for others to use, the best solution is to
        register an\nOAuth2 application in SEEK.\n\nThis can be done in SEEK by visiting
        *My Profile* > *Actions* > *API Applications*.\n\nSEEK currently only supports
        the \"Authorization Code\" flow.\n\nIf your application runs client-side (such
        as in a web browser using JavaScript, or on a phone), you will need to make
        \nsure that the \"Confidential?\" checkbox is unticked, and you will need
        to implement the PKCE extention to the \nAuthorization Code flow: https://oauth.net/2/pkce/\n"
      flows:
        authorizationCode:
          authorizationUrl: "/oauth/authorize"
          tokenUrl: "/oauth/token"
          scopes:
            read: Read, download and list resources
            write: Create, upload, update and delete resources
    apiToken:
      type: apiKey
      in: header
      name: Authorization
      description: |
        <a name="authentication-token"></a>If you are creating a simple script that makes use of the SEEK API, where implementing
        OAuth2 is unnecessarily complicated, you can create an API Token.

        This can be done in SEEK by visiting *My Profile* > *Actions* > *API Tokens*.

        *Note*: You will only be shown your API Token once, so make sure to paste it somewhere.

        To use your API Token, place it into the `Authorization` header when making API requests in the form: `Token abce1234...`
        where "abce1234..." is your token.

        *Warning*: API Tokens grant access to your account! Do not share them with anyone. You can revoke API Tokens at any time.
    basicAuth:
      type: http
      description: |
        <a name="authentication-basic"></a>The final authentication method uses [Basic access
        authentication](https://en.wikipedia.org/wiki/Basic_access_authentication)
        where the *username* and *password* correspond to a registered user on
        the SEEK that is being accessed.

        The **List** and **Read** API calls may be used without authentication. In
        that case, they will only list, or allow reading of, publicly viewable
        objects.
      scheme: basic
  schemas:
    error:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        code:
          type: string
        title:
          type: string
        detail:
          type: string
        source:
          type: object
          properties:
            pointer:
              type: string
    errorsArray:
      type: array
      minItems: 0
      items:
        "$ref": "#/components/schemas/error"
    dateTimeString:
      type: string
      minLength: 1
      format: date-time
    nullableDateTimeString:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/dateTimeString"
    dateString:
      type: string
      minLength: 1
      format: date
    nullableDateString:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/dateString"
    nonEmptyString:
      type: string
      minLength: 1
    nullableNonEmptyString:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/nonEmptyString"
    otherCreatorsString:
      type: string
      minLength: 1
    nullableOtherCreatorsString:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/otherCreatorsString"
    nonEmptyStringList:
      type: array
      items:
        "$ref": "#/components/schemas/nonEmptyString"
    itemReference:
      properties:
        id:
          "$ref": "#/components/schemas/nonEmptyString"
        type:
          "$ref": "#/components/schemas/anyType"
      required:
      - id
      - type
      additionalProperties: false
    singleReferenceWithTitle:
      type: object
      properties:
        data:
          "$ref": "#/components/schemas/itemReference"
        meta:
          type: object
          properties:
            title:
              "$ref": "#/components/schemas/nullableNonEmptyString"
      required:
      - data
      - meta
      additionalProperties: false
    singleReference:
      type: object
      properties:
        data:
          "$ref": "#/components/schemas/itemReference"
      required:
      - data
      additionalProperties: false
    multipleReferences:
      type: object
      properties:
        data:
          type: array
          minItems: 0
          uniqueItems: true
          items:
            "$ref": "#/components/schemas/itemReference"
      required:
      - data
      additionalProperties: false
    assetsCreator:
      type: object
      properties:
        pos:
          type: integer
        profile:
          "$ref": "#/components/schemas/uriString"
        given_name:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        family_name:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        orcid:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        affiliation:
          "$ref": "#/components/schemas/nullableNonEmptyString"
      required:
      - given_name
      - family_name
    assetsCreatorsList:
      type: array
      minItems: 0
      items:
        "$ref": "#/components/schemas/assetsCreator"
    assetLink:
      type: object
      properties:
        id:
          "$ref": "#/components/schemas/nonEmptyString"
        label:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        url:
          "$ref": "#/components/schemas/uriString"
      required:
      - id
      - label
      - url
    assetLinkCreate:
      type: object
      properties:
        label:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        url:
          "$ref": "#/components/schemas/uriString"
      required:
      - label
      - url
    assetLinkList:
      type: array
      minItems: 0
      items:
        "$ref": "#/components/schemas/assetLink"
    assetLinkPostList:
      type: array
      minItems: 0
      items:
        "$ref": "#/components/schemas/assetLinkCreate"
    assetLinkPatchList:
      type: array
      minItems: 0
      items:
        anyOf:
        - "$ref": "#/components/schemas/assetLink"
        - "$ref": "#/components/schemas/assetLinkCreate"
    snapshotSkeleton:
      type: object
      properties:
        snapshot:
          type: integer
          minimum: 1
        url:
          "$ref": "#/components/schemas/uriString"
      required:
      - snapshot
      - url
    snapshotsList:
      type: array
      items:
        "$ref": "#/components/schemas/snapshotSkeleton"
    uriString:
      type: string
      minLength: 1
      format: uri
    nullableUriString:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/uriString"
    nullableInteger:
      anyOf:
      - type: 'null'
      - type: integer
    license:
      type: string
      minLength: 1
    nullableLicense:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/license"
    md5sumString:
      type: string
      minLength: 32
      maxLength: 32
      pattern: "[0-9a-f]{32}"
    nullableMd5sumString:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/md5sumString"
    sha1sumString:
      type: string
      minLength: 5
      maxLength: 40
      pattern: "[0-9a-f]{5,40}"
    nullableSha1sumString:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/sha1sumString"
    countryString:
      type: string
    nullableCountryString:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/countryString"
    countryCodeString:
      minLength: 2
      maxLength: 2
      type: string
    nullableCountryCodeString:
      anyOf:
      - type: 'null'
      - "$ref": "#/components/schemas/countryCodeString"
    versionNumber:
      type: string
      minLength: 1
      enum:
      - '1.0'
    JsonApiVersion:
      type: object
      properties:
        version:
          "$ref": "#/components/schemas/versionNumber"
      required:
      - version
      additionalProperties: false
    indexLinks:
      type: object
      properties:
        self:
          "$ref": "#/components/schemas/uriString"
        first:
          "$ref": "#/components/schemas/nullableUriString"
        prev:
          "$ref": "#/components/schemas/nullableUriString"
        next:
          "$ref": "#/components/schemas/nullableUriString"
        last:
          "$ref": "#/components/schemas/nullableUriString"
      required:
      - self
      additionalProperties: false
    collectionLinks:
      type: object
      properties:
        self:
          "$ref": "#/components/schemas/uriString"
        items:
          "$ref": "#/components/schemas/uriString"
      required:
      - self
      - items
    links:
      type: object
      properties:
        self:
          "$ref": "#/components/schemas/uriString"
      required:
      - self
      additionalProperties: false
    downloadableLinks:
      type: object
      properties:
        self:
          "$ref": "#/components/schemas/uriString"
        download:
          "$ref": "#/components/schemas/uriString"
      required:
      - self
      - download
      additionalProperties: false
    baseMeta:
      type: object
      properties:
        base_url:
          "$ref": "#/components/schemas/uriString"
        api_version:
          "$ref": "#/components/schemas/nonEmptyString"
      required:
      - base_url
      - api_version
      additionalProperties: false
    meta:
      type: object
      properties:
        base_url:
          "$ref": "#/components/schemas/uriString"
        api_version:
          "$ref": "#/components/schemas/nonEmptyString"
        created:
          "$ref": "#/components/schemas/dateTimeString"
        modified:
          "$ref": "#/components/schemas/dateTimeString"
        uuid:
          "$ref": "#/components/schemas/nonEmptyString"
      required:
      - created
      - modified
      - uuid
      - base_url
      - api_version
      additionalProperties: false
    collectionItemMeta:
      type: object
      properties:
        base_url:
          "$ref": "#/components/schemas/uriString"
        api_version:
          "$ref": "#/components/schemas/nonEmptyString"
        created:
          "$ref": "#/components/schemas/dateTimeString"
        modified:
          "$ref": "#/components/schemas/dateTimeString"
      required:
      - created
      - modified
      - base_url
      - api_version
      additionalProperties: false
    policy:
      type: object
      properties:
        access:
          "$ref": "#/components/schemas/accessTypes"
        permissions:
          type: array
          minItems: 0
          uniqueItems: true
          items:
            properties:
              resource:
                "$ref": "#/components/schemas/permissionResource"
              access:
                "$ref": "#/components/schemas/accessTypes"
            required:
            - resource
            - access
            additionalProperties: false
      required:
      - access
      - permissions
      additionalProperties: false
    accessTypes:
      type: string
      minLength: 1
      enum:
      - manage
      - edit
      - download
      - view
      - no_access
    permissionResource:
      properties:
        type:
          "$ref": "#/components/schemas/permissionResourceTypes"
        id:
          "$ref": "#/components/schemas/nonEmptyString"
      additionalProperties: false
    permissionResourceTypes:
      type: string
      minLength: 1
      enum:
      - people
      - favourite_groups
      - work_groups
      - projects
      - programmes
      - institutions
    contributedTypeAttributes:
      type: object
      properties:
        tags:
          "$ref": "#/components/schemas/tags"
        title:
          "$ref": "#/components/schemas/nonEmptyString"
        description:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        license:
          "$ref": "#/components/schemas/nullableLicense"
        latest_version:
          type: number
        versions:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            "$ref": "#/components/schemas/version"
        version:
          type: number
        revision_comments:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        doi:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        created_at:
          "$ref": "#/components/schemas/dateTimeString"
        updated_at:
          "$ref": "#/components/schemas/dateTimeString"
        content_blobs:
          "$ref": "#/components/schemas/contentBlobsList"
        policy:
          "$ref": "#/components/schemas/policy"
        other_creators:
          "$ref": "#/components/schemas/nullableOtherCreatorsString"
        creators:
          "$ref": "#/components/schemas/assetsCreatorsList"
        discussion_links:
          "$ref": "#/components/schemas/assetLinkList"
      required:
      - title
      - license
      - latest_version
      - versions
      - version
      - created_at
      - updated_at
      - content_blobs
      additionalProperties: false
    collectionAttributes:
      type: object
      properties:
        tags:
          "$ref": "#/components/schemas/tags"
        title:
          "$ref": "#/components/schemas/nonEmptyString"
        description:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        created_at:
          "$ref": "#/components/schemas/dateTimeString"
        updated_at:
          "$ref": "#/components/schemas/dateTimeString"
        license:
          "$ref": "#/components/schemas/nullableLicense"
        policy:
          "$ref": "#/components/schemas/policy"
        other_creators:
          "$ref": "#/components/schemas/nullableOtherCreatorsString"
        creators:
          "$ref": "#/components/schemas/assetsCreatorsList"
        discussion_links:
          "$ref": "#/components/schemas/assetLinkList"
      required:
      - title
      - license
      - created_at
      - updated_at
      additionalProperties: false
    modelAttributes:
      type: object
      properties:
        tags:
          "$ref": "#/components/schemas/tags"
        title:
          "$ref": "#/components/schemas/nonEmptyString"
        description:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        license:
          "$ref": "#/components/schemas/nullableLicense"
        latest_version:
          type: number
        versions:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            "$ref": "#/components/schemas/version"
        version:
          type: number
        revision_comments:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        doi:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        created_at:
          "$ref": "#/components/schemas/dateTimeString"
        updated_at:
          "$ref": "#/components/schemas/dateTimeString"
        content_blobs:
          "$ref": "#/components/schemas/contentBlobsList"
        model_type:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        model_format:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        environment:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        policy:
          "$ref": "#/components/schemas/policy"
        other_creators:
          "$ref": "#/components/schemas/nullableOtherCreatorsString"
        creators:
          "$ref": "#/components/schemas/assetsCreatorsList"
        discussion_links:
          "$ref": "#/components/schemas/assetLinkList"
        model_image_link:
          "$ref": "#/components/schemas/nullableUriString"
      required:
      - title
      - license
      - latest_version
      - versions
      - version
      - created_at
      - updated_at
      - content_blobs
      - model_type
      - model_format
      - environment
      additionalProperties: false
    assayAttributes:
      type: object
      properties:
        tags:
          "$ref": "#/components/schemas/tags"
        title:
          "$ref": "#/components/schemas/nonEmptyString"
        description:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        assay_class:
          type: object
          properties:
            title:
              "$ref": "#/components/schemas/nonEmptyString"
            key:
              "$ref": "#/components/schemas/nonEmptyString"
            description:
              type: string
          required:
          - title
          - key
          additionalProperties: false
        assay_type:
          type: object
          properties:
            label:
              "$ref": "#/components/schemas/nonEmptyString"
            uri:
              "$ref": "#/components/schemas/uriString"
          required:
          - label
          - uri
          additionalProperties: false
        technology_type:
          type: object
          properties:
            label:
              "$ref": "#/components/schemas/nonEmptyString"
            uri:
              "$ref": "#/components/schemas/nullableUriString"
          required:
          - label
          - uri
        discussion_links:
          "$ref": "#/components/schemas/assetLinkList"
      required:
      - title
      - description
      - assay_class
      - assay_type
      - technology_type
      additionalProperties: false
    tags:
      "$ref": "#/components/schemas/nonEmptyStringList"
    ontologyTermsList:
      type: array
      minItems: 0
      uniqueItems: true
      items:
        "$ref": "#/components/schemas/ontologyTerm"
    ontologyTerm:
      type: object
      properties:
        label:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        identifier:
          "$ref": "#/components/schemas/uriString"
      required:
      - identifier
    anySkeleton:
      properties:
        id:
          "$ref": "#/components/schemas/nonEmptyString"
        type:
          "$ref": "#/components/schemas/anyType"
        attributes:
          type: object
          properties:
            title:
              "$ref": "#/components/schemas/nonEmptyString"
          required:
          - title
          additionalProperties: false
        links:
          "$ref": "#/components/schemas/links"
      required:
      - id
      - type
      - attributes
      - links
      additionalProperties: false
    collectionItem:
      type: object
      properties:
        id:
          "$ref": "#/components/schemas/nonEmptyString"
        type:
          "$ref": "#/components/schemas/collectionItemType"
        attributes:
          type: object
          properties:
            comment:
              "$ref": "#/components/schemas/nullableNonEmptyString"
            order:
              "$ref": "#/components/schemas/nullableInteger"
          required:
          - comment
          - order
          additionalProperties: false
        relationships:
          type: object
          properties:
            asset:
              "$ref": "#/components/schemas/singleReferenceWithTitle"
            collection:
              "$ref": "#/components/schemas/singleReference"
          required:
          - collection
          additionalProperties: false
        links:
          "$ref": "#/components/schemas/links"
        meta:
          "$ref": "#/components/schemas/collectionItemMeta"
      required:
      - id
      - type
      - attributes
      - relationships
      - links
      - meta
      additionalProperties: false
    contentBlobsList:
      type: array
      minItems: 1
      items:
        "$ref": "#/components/schemas/contentBlob"
    optionalContentBlobsList:
      type: array
      minItems: 0
      items:
        "$ref": "#/components/schemas/contentBlob"
    contentBlobSlotsList:
      type: array
      minItems: 1
      items:
        "$ref": "#/components/schemas/contentBlobSlot"
    contentBlobSlot:
      oneOf:
      - "$ref": "#/components/schemas/remoteContentBlob"
      - "$ref": "#/components/schemas/contentBlobPlaceholder"
    remoteContentBlob:
      properties:
        url:
          "$ref": "#/components/schemas/nullableUriString"
        original_filename:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        content_type:
          "$ref": "#/components/schemas/nullableNonEmptyString"
      required:
      - url
      additionalProperties: false
    contentBlobPlaceholder:
      properties:
        original_filename:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        content_type:
          "$ref": "#/components/schemas/nullableNonEmptyString"
      required:
      - original_filename
      - content_type
      additionalProperties: false
    contentBlob:
      properties:
        original_filename:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        url:
          "$ref": "#/components/schemas/nullableUriString"
        md5sum:
          "$ref": "#/components/schemas/nullableMd5sumString"
        sha1sum:
          "$ref": "#/components/schemas/nullableSha1sumString"
        content_type:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        link:
          "$ref": "#/components/schemas/uriString"
        size:
          "$ref": "#/components/schemas/nullableInteger"
      required:
      - original_filename
      - url
      - md5sum
      - sha1sum
      - content_type
      - link
      - size
      additionalProperties: false
    version:
      type: object
      properties:
        version:
          type: number
        revision_comments:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        url:
          "$ref": "#/components/schemas/uriString"
        doi:
          "$ref": "#/components/schemas/nullableNonEmptyString"
      required:
      - version
      - revision_comments
      - url
      additionalProperties: false
    gitVersion:
      type: object
      properties:
        version:
          type: number
        revision_comments:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        url:
          "$ref": "#/components/schemas/uriString"
        commit:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        ref:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        tree:
          "$ref": "#/components/schemas/uriString"
        remote:
          "$ref": "#/components/schemas/uriString"
        doi:
          "$ref": "#/components/schemas/nullableNonEmptyString"
      required:
      - version
      - revision_comments
      - url
      - commit
      - ref
      - tree
      additionalProperties: false
    workflowInput:
      type: object
      properties:
        id:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        name:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        description:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        type:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        default_value:
          "$ref": "#/components/schemas/nullableNonEmptyString"
    workflowStep:
      type: object
      properties:
        id:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        name:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        description:
          "$ref": "#/components/schemas/nullableNonEmptyString"
    workflowOutput:
      type: object
      properties:
        id:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        name:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        description:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        type:
          "$ref": "#/components/schemas/nullableNonEmptyString"
    projectMembersList:
      type: array
      items:
        type: object
        properties:
          person_id:
            "$ref": "#/components/schemas/nonEmptyString"
          institution_id:
            "$ref": "#/components/schemas/nonEmptyString"
        required:
        - person_id
        - institution_id
        additionalProperties: false
    sampleAttributeMap:
      type: object
      additionalProperties:
        type: string
    anyType:
      type: string
      minLength: 1
      enum:
      - assays
      - collections
      - collection_items
      - content_blobs
      - data_files
      - documents
      - file_templates
      - events
      - human_diseases
      - institutions
      - investigations
      - models
      - organisms
      - people
      - presentations
      - programmes
      - projects
      - publications
      - sample_types
      - sops
      - studies
      - workflows
    assetType:
      type: string
      minLength: 1
      enum:
      - collections
      - data_files
      - documents
      - models
      - publications
      - sops
      - workflows
    assayType:
      type: string
      minLength: 1
      enum:
      - assays
    contentBlobType:
      type: string
      minLength: 1
      enum:
      - content_blobs
    collectionType:
      type: string
      minLength: 1
      enum:
      - collections
    collectionItemType:
      type: string
      minLength: 1
      enum:
      - collection_items
    dataFileType:
      type: string
      minLength: 1
      enum:
      - data_files
    documentType:
      type: string
      minLength: 1
      enum:
      - documents
    eventType:
      type: string
      minLength: 1
      enum:
      - events
    fileTemplateType:
      type: string
      minLength: 1
      enum:
      - file_templates
    humanDiseaseType:
      type: string
      minLength: 1
      enum:
      - humanDiseases
    investigationType:
      type: string
      minLength: 1
      enum:
      - investigations
    institutionType:
      type: string
      minLength: 1
      enum:
      - institutions
    modelType:
      type: string
      minLength: 1
      enum:
      - models
    organismType:
      type: string
      minLength: 1
      enum:
      - organisms
    peopleType:
      type: string
      minLength: 1
      enum:
      - people
    placeholderType:
      type: string
      minLength: 1
      enum:
      - placeholders
    presentationType:
      type: string
      minLength: 1
      enum:
      - presentations
    programmeType:
      type: string
      minLength: 1
      enum:
      - programmes
    programmeDataType:
      type: object
      properties:
        avatar:
          "$ref": "#/components/schemas/nullableUriString"
        title:
          "$ref": "#/components/schemas/nonEmptyString"
        description:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        web_page:
          "$ref": "#/components/schemas/nullableUriString"
        funding_details:
          "$ref": "#/components/schemas/nullableNonEmptyString"
        funding_codes:
          "$ref": "#/components/schemas/tags"
        discussion_links:
          "$ref": "#/components/schemas/assetLinkList"
      required:
      - avatar
      - title
      - description
      - web_page
      - funding_details
      - funding_codes
      additionalProperties: false
    projectType:
      type: string
      minLength: 1
      enum:
      - projects
    publicationType:
      type: string
      minLength: 1
      enum:
      - publications
    sampleTypeType:
      type: string
      minLength: 1
      enum:
      - sample_types
    sampleType:
      type: string
      minLength: 1
      enum:
      - samples
    sampleAttributeType:
      type: object
      properties:
        id:
          "$ref": "#/components/schemas/nonEmptyString"
        type:
          "$ref": "#/components/schemas/sampleAttributeTypeType"
        attributes:
          type: object
          properties:
            title:
              "$ref": "#/components/schemas/nonEmptyString"
            base_type:
              "$ref": "#/components/schemas/sampleAttributeBaseType"
            regexp:
              "$ref": "#/components/schemas/nonEmptyString"
          required:
          - title
          - base_type
          - regexp
          additionalProperties: false
        links:
          "$ref": "#/components/schemas/indexLinks"
      required:
      - id
      - type
      - attributes
      - links
    sampleAttributeBaseType:
      type: string
      minLength: 1
      enum:
      - Integer
      - Float
      - String
      - DateTime
      - Date
      - Text
      - Boolean
      - SeekStrain
      - SeekSample
      - CV
      - SeekDataFile
    sampleAttributeTypeType:
      type: string
      minLength: 1
      enum:
      - sample_attribute_types
    sopType:
      type: string
      minLength: 1
      enum:
      - sops
    studyType:
      type: string
      minLength: 1
      enum:
      - studies
    workflowType:
      type: string
      minLength: 1
      enum:
      - workflows
    assayPost:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              "$ref": "#/components/schemas/assayType"
            attributes:
              type: object
              properties:
                tags:
                  "$ref": "#/components/schemas/tags"
                title:
                  "$ref": "#/components/schemas/nonEmptyString"
                description:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                other_creators:
                  "$ref": "#/components/schemas/nullableOtherCreatorsString"
                creators:
                  "$ref": "#/components/schemas/assetsCreatorsList"
                assay_class:
                  type: object
                  properties:
                    key:
                      "$ref": "#/components/schemas/nonEmptyString"
                  required:
                  - key
                  additionalProperties: false
                assay_type:
                  type: object
                  properties:
                    uri:
                      "$ref": "#/components/schemas/uriString"
                  required:
                  - uri
                  additionalProperties: false
                technology_type:
                  type: object
                  properties:
                    uri:
                      "$ref": "#/components/schemas/uriString"
                  required:
                  - uri
                  additionalProperties: false
                policy:
                  "$ref": "#/components/schemas/policy"
                discussion_links:
                  "$ref": "#/components/schemas/assetLinkPostList"
              required:
              - title
              - assay_class
              - assay_type
              additionalProperties: false
            relationships:
              type: object
              properties:
                creators:
                  "$ref": "#/components/schemas/multipleReferences"
                study:
                  "$ref": "#/components/schemas/singleReference"
                publications:
                  "$ref": "#/components/schemas/multipleReferences"
                data_files:
                  "$ref": "#/components/schemas/multipleReferences"
                documents:
                  "$ref": "#/components/schemas/multipleReferences"
                models:
                  "$ref": "#/components/schemas/multipleReferences"
                sops:
                  "$ref": "#/components/schemas/multipleReferences"
                organisms:
                  "$ref": "#/components/schemas/multipleReferences"
              required:
              - study
              additionalProperties: false
          required:
          - type
          - attributes
          - relationships
          additionalProperties: false
      required:
      - data
      additionalProperties: false
      example:
        data:
          type: assays
          attributes:
            title: A Maximal experimental Assay
            assay_class:
              key: EXP
            assay_type:
              uri: http://jermontology.org/ontology/JERMOntology#Transcriptomics
            technology_type:
              uri: http://jermontology.org/ontology/JERMOntology#RNA-Seq
            other_creators: Anonymous creator
            description: A Western Blot Assay
            policy:
              access: download
              permissions:
              - resource:
                  id: '185'
                  type: projects
                access: manage
            tags:
            - alan
          relationships:
            study:
              data:
                id: '32'
                type: studies
            publications:
              data:
              - id: '11'
                type: publications
            organisms:
              data:
              - id: '9'
                type: organisms
            sops:
              data:
              - id: '17'
                type: sops
            data_files:
              data:
              - id: '9'
                type: data_files
            documents:
              data:
              - id: '9'
                type: documents
            creators:
              data:
              - id: '163'
                type: people
    assayPatch:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              "$ref": "#/components/schemas/nonEmptyString"
            type:
              "$ref": "#/components/schemas/assayType"
            attributes:
              type: object
              properties:
                tags:
                  "$ref": "#/components/schemas/tags"
                title:
                  "$ref": "#/components/schemas/nonEmptyString"
                description:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                other_creators:
                  "$ref": "#/components/schemas/nullableOtherCreatorsString"
                creators:
                  "$ref": "#/components/schemas/assetsCreatorsList"
                assay_class:
                  type: object
                  properties:
                    key:
                      "$ref": "#/components/schemas/nonEmptyString"
                  required:
                  - key
                  additionalProperties: false
                assay_type:
                  type: object
                  properties:
                    uri:
                      "$ref": "#/components/schemas/uriString"
                  required:
                  - uri
                  additionalProperties: false
                technology_type:
                  type: object
                  properties:
                    uri:
                      "$ref": "#/components/schemas/uriString"
                  required:
                  - uri
                  additionalProperties: false
                policy:
                  "$ref": "#/components/schemas/policy"
                discussion_links:
                  "$ref": "#/components/schemas/assetLinkPatchList"
              additionalProperties: false
            relationships:
              type: object
              properties:
                creators:
                  "$ref": "#/components/schemas/multipleReferences"
                study:
                  "$ref": "#/components/schemas/singleReference"
                publications:
                  "$ref": "#/components/schemas/multipleReferences"
                data_files:
                  "$ref": "#/components/schemas/multipleReferences"
                documents:
                  "$ref": "#/components/schemas/multipleReferences"
                models:
                  "$ref": "#/components/schemas/multipleReferences"
                sops:
                  "$ref": "#/components/schemas/multipleReferences"
                organisms:
                  "$ref": "#/components/schemas/multipleReferences"
              additionalProperties: false
          required:
          - id
          - type
          additionalProperties: false
      required:
      - data
      additionalProperties: false
      example:
        data:
          type: assays
          id: '42'
          attributes:
            title: A Maximal Assay
            assay_class:
              key: EXP
            assay_type:
              uri: http://jermontology.org/ontology/JERMOntology#Transcriptomics
            technology_type:
              uri: http://jermontology.org/ontology/JERMOntology#RNA-Seq
            other_creators: Anonymous creator
            description: A Western Blot Assay
            policy:
              access: download
              permissions:
              - resource:
                  id: '235'
                  type: projects
                access: manage
            tags: []
          relationships:
            study:
              data:
                id: '49'
                type: studies
            publications:
              data:
              - id: '16'
                type: publications
            organisms:
              data:
              - id: '14'
                type: organisms
            sops:
              data:
              - id: '22'
                type: sops
            data_files:
              data:
              - id: '14'
                type: data_files
            documents:
              data:
              - id: '14'
                type: documents
            creators:
              data:
              - id: '208'
                type: people
    collectionPost:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              "$ref": "#/components/schemas/collectionType"
            attributes:
              type: object
              properties:
                tags:
                  "$ref": "#/components/schemas/tags"
                title:
                  "$ref": "#/components/schemas/nonEmptyString"
                description:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                license:
                  "$ref": "#/components/schemas/nullableLicense"
                policy:
                  "$ref": "#/components/schemas/policy"
                other_creators:
                  "$ref": "#/components/schemas/nullableOtherCreatorsString"
                creators:
                  "$ref": "#/components/schemas/assetsCreatorsList"
                discussion_links:
                  "$ref": "#/components/schemas/assetLinkPostList"
              required:
              - title
              additionalProperties: false
            relationships:
              type: object
              properties:
                creators:
                  "$ref": "#/components/schemas/multipleReferences"
                projects:
                  "$ref": "#/components/schemas/multipleReferences"
              required:
              - projects
              additionalProperties: false
          required:
          - type
          - attributes
          - relationships
          additionalProperties: false
      required:
      - data
      additionalProperties: false
      example:
        data:
          type: collections
          attributes:
            title: A Maximal Collection
            description: This is the description
            tags:
            - tag1
            - tag2
            license: CC-BY-4.0
            other_creators: John Smith, Jane Smith
            policy:
              access: view
              permissions:
              - resource:
                  id: '528'
                  type: projects
                access: edit
          relationships:
            creators:
              data:
              - id: '474'
                type: people
            projects:
              data:
              - id: '528'
                type: projects
    collectionPatch:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              "$ref": "#/components/schemas/nonEmptyString"
            type:
              "$ref": "#/components/schemas/collectionType"
            attributes:
              type: object
              properties:
                tags:
                  "$ref": "#/components/schemas/tags"
                title:
                  "$ref": "#/components/schemas/nonEmptyString"
                description:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                license:
                  "$ref": "#/components/schemas/nullableLicense"
                policy:
                  "$ref": "#/components/schemas/policy"
                other_creators:
                  "$ref": "#/components/schemas/nullableOtherCreatorsString"
                creators:
                  "$ref": "#/components/schemas/assetsCreatorsList"
                discussion_links:
                  "$ref": "#/components/schemas/assetLinkPatchList"
              additionalProperties: false
            relationships:
              type: object
              properties:
                creators:
                  "$ref": "#/components/schemas/multipleReferences"
                projects:
                  "$ref": "#/components/schemas/multipleReferences"
              additionalProperties: false
          required:
          - id
          - type
          additionalProperties: false
      required:
      - data
      additionalProperties: false
      example:
        data:
          type: collections
          id: '8'
          attributes:
            title: A Maximally Patched Collection
            description: A collection of very interesting things
            tags:
            - tag1
            - tag2
            - tag3
            license: CC-BY-4.0
            other_creators: John Smith, Jane Smith
            policy:
              access: no_access
              permissions:
              - resource:
                  id: '562'
                  type: projects
                access: edit
          relationships:
            creators:
              data:
              - id: '506'
                type: people
            projects:
              data:
              - id: '562'
                type: projects
    collectionItemPost:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              "$ref": "#/components/schemas/collectionItemType"
            attributes:
              type: object
              properties:
                comment:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                order:
                  "$ref": "#/components/schemas/nullableInteger"
              additionalProperties: false
            relationships:
              type: object
              properties:
                asset:
                  "$ref": "#/components/schemas/singleReference"
              required:
              - asset
              additionalProperties: false
          required:
          - type
          - relationships
          additionalProperties: false
      required:
      - data
      additionalProperties: false
      example:
        data:
          type: collection_items
          attributes:
            comment: A fine addition to the collection indeed
            order: 3
          relationships:
            asset:
              data:
                id: '42'
                type: sops
    collectionItemPatch:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              "$ref": "#/components/schemas/nonEmptyString"
            type:
              "$ref": "#/components/schemas/collectionItemType"
            attributes:
              type: object
              properties:
                comment:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                order:
                  "$ref": "#/components/schemas/nullableInteger"
              additionalProperties: false
            relationships:
              type: object
              properties:
                asset:
                  "$ref": "#/components/schemas/singleReference"
              required:
              - asset
              additionalProperties: false
          required:
          - id
          - type
          additionalProperties: false
      required:
      - data
      additionalProperties: false
      example:
        data:
          id: '20'
          type: collection_items
          attributes:
            comment: A fine addition to the collection indeed!!!
            order: 5
          relationships:
            asset:
              data:
                id: '45'
                type: sops
    dataFilePost:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              "$ref": "#/components/schemas/dataFileType"
            attributes:
              type: object
              properties:
                tags:
                  "$ref": "#/components/schemas/tags"
                title:
                  "$ref": "#/components/schemas/nonEmptyString"
                description:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                license:
                  "$ref": "#/components/schemas/nullableLicense"
                policy:
                  "$ref": "#/components/schemas/policy"
                content_blobs:
                  "$ref": "#/components/schemas/contentBlobSlotsList"
                other_creators:
                  "$ref": "#/components/schemas/nullableOtherCreatorsString"
                creators:
                  "$ref": "#/components/schemas/assetsCreatorsList"
                discussion_links:
                  "$ref": "#/components/schemas/assetLinkPostList"
              required:
              - title
              - content_blobs
              additionalProperties: false
            relationships:
              type: object
              properties:
                creators:
                  "$ref": "#/components/schemas/multipleReferences"
                projects:
                  "$ref": "#/components/schemas/multipleReferences"
                assays:
                  "$ref": "#/components/schemas/multipleReferences"
                publications:
                  "$ref": "#/components/schemas/multipleReferences"
                events:
                  "$ref": "#/components/schemas/multipleReferences"
              required:
              - projects
              additionalProperties: false
          required:
          - type
          - attributes
          - relationships
          additionalProperties: false
      required:
      - data
      additionalProperties: false
      example:
        data:
          type: data_files
          attributes:
            title: A Maximal Data File
            description: This is the description
            tags:
            - tag1
            - tag2
            license: CC-BY-4.0
            other_creators: John Smith, Jane Smith
            content_blobs:
            - original_filename: a_pdf_file.pdf
              content_type: application/pdf
            policy:
              access: download
              permissions:
              - resource:
                  id: '489'
                  type: projects
                access: edit
          relationships:
            creators:
              data:
              - id: '429'
                type: people
            projects:
              data:
              - id: '489'
                type: projects
            assays:
              data:
              - id: '76'
                type: assays
            publications:
              data:
              - id: '37'
                type: publications
            events:
              data:
              - id: '17'
                type: events
            workflows:
              data:
              - id: '15'
                type: workflows
    dataFilePatch:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              "$ref": "#/components/schemas/nonEmptyString"
            type:
              "$ref": "#/components/schemas/dataFileType"
            attributes:
              type: object
              properties:
                tags:
                  "$ref": "#/components/schemas/tags"
                title:
                  "$ref": "#/components/schemas/nonEmptyString"
                description:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                license:
                  "$ref": "#/components/schemas/nullableLicense"
                policy:
                  "$ref": "#/components/schemas/policy"
                other_creators:
                  "$ref": "#/components/schemas/nullableOtherCreatorsString"
                creators:
                  "$ref": "#/components/schemas/assetsCreatorsList"
                discussion_links:
                  "$ref": "#/components/schemas/assetLinkPatchList"
              additionalProperties: false
            relationships:
              type: object
              properties:
                creators:
                  "$ref": "#/components/schemas/multipleReferences"
                projects:
                  "$ref": "#/components/schemas/multipleReferences"
                assays:
                  "$ref": "#/components/schemas/multipleReferences"
                publications:
                  "$ref": "#/components/schemas/multipleReferences"
                events:
                  "$ref": "#/components/schemas/multipleReferences"
              additionalProperties: false
          required:
          - id
          - type
          additionalProperties: false
      required:
      - data
      additionalProperties: false
      example:
        data:
          type: data_files
          id: '38'
          attributes:
            title: A Maximally Patched Data File
            description: Study of the Human Genome
            tags:
            - tag1
            - tag2
            - tag3
            license: CC-BY-4.0
            other_creators: John Smith, Jane Smith
            policy:
              access: no_access
              permissions:
              - resource:
                  id: '524'
                  type: projects
                access: edit
          relationships:
            creators:
              data:
              - id: '468'
                type: people
            projects:
              data:
              - id: '524'
                type: projects
            assays:
              data:
              - id: '81'
                type: assays
            publications:
              data:
              - id: '42'
                type: publications
            events:
              data:
              - id: '22'
                type: events
            workflows:
              data:
              - id: '20'
                type: workflows
    documentPost:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              "$ref": "#/components/schemas/documentType"
            attributes:
              type: object
              properties:
                tags:
                  "$ref": "#/components/schemas/tags"
                title:
                  "$ref": "#/components/schemas/nonEmptyString"
                description:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                license:
                  "$ref": "#/components/schemas/nullableLicense"
                policy:
                  "$ref": "#/components/schemas/policy"
                content_blobs:
                  "$ref": "#/components/schemas/contentBlobSlotsList"
                other_creators:
                  "$ref": "#/components/schemas/nullableOtherCreatorsString"
                creators:
                  "$ref": "#/components/schemas/assetsCreatorsList"
                discussion_links:
                  "$ref": "#/components/schemas/assetLinkPostList"
              required:
              - title
              - content_blobs
              additionalProperties: false
            relationships:
              type: object
              properties:
                creators:
                  "$ref": "#/components/schemas/multipleReferences"
                projects:
                  "$ref": "#/components/schemas/multipleReferences"
                assays:
                  "$ref": "#/components/schemas/multipleReferences"
              required:
              - projects
              additionalProperties: false
          required:
          - type
          - attributes
          - relationships
          additionalProperties: false
      required:
      - data
      additionalProperties: false
      example:
        data:
          type: documents
          attributes:
            title: A Maximal Document
            description: This is the description
            tags:
            - tag1
            - tag2
            license: CC-BY-4.0
            other_creators: John Smith, Jane Smith
            content_blobs:
            - original_filename: a_pdf_file.pdf
              content_type: application/pdf
            policy:
              access: download
              permissions:
              - resource:
                  id: '724'
                  type: projects
                access: edit
          relationships:
            creators:
              data:
              - id: '670'
                type: people
            projects:
              data:
              - id: '724'
                type: projects
            assays:
              data:
              - id: '102'
                type: assays
            workflows:
              data:
              - id: '27'
                type: workflows
    documentPatch:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              "$ref": "#/components/schemas/nonEmptyString"
            type:
              "$ref": "#/components/schemas/documentType"
            attributes:
              type: object
              properties:
                tags:
                  "$ref": "#/components/schemas/tags"
                title:
                  "$ref": "#/components/schemas/nonEmptyString"
                description:
                  "$ref": "#/components/schemas/nullableNonEmptyString"
                license:
                  "$ref": "#/components/schemas/nullableLicense"
                policy:
[...]
