<div class="pull-right text-right">
  <div class="form-inline">
    <div class="form-group">
      <label>Interval</label>
      <select class="form-control input-sm" autocomplete="off" data-dashboard-field="interval-select">
        <option value="year">Year</option>
        <option value="month" selected="selected">Month</option>
        <option value="day">Day</option>
      </select>
    </div>
    <%= render partial: 'projects/dashboard/time_controls' -%>
  </div>
</div>

<canvas id="contributions-canvas"></canvas>

<p class="help-block">
  Mouse over a bar to see the breakdown of contributions for that month.
  Clicking on a type in the legend will hide it from the chart.
</p>

<script>
    var contributionChart = new Chart(document.getElementById('contributions-canvas').getContext('2d'), {
        type: 'bar',
        data: {},
        options: {
            legend: {
                position: 'right'
            },
            title: {
                display: false,
                text: 'Contributions'
            },
            tooltips: {
                mode: 'index',
                filter: function (x) { return x.yLabel > 0 }, // Hide asset types with 0 contributions in that month
                intersect: false
            },
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    ticks: { // This whole block is just to avoid and protoype.js bug that breaks the whole chart
                        beginAtZero:true,
                        userCallback: function(label, index) {
                            if (Math.floor(label) === label) {
                                return label;
                            }
                        }
                    },
                    stacked: true
                }]
            }
        }
    });

    function getContributionStats() {
        var container = $j('#contributions');
        var startDate = container.find('[data-dashboard-field="period-start"]').val();
        var endDate = container.find('[data-dashboard-field="period-end"]').val();
        var interval = container.find('[data-dashboard-field="interval-select"]').val();

        $j('#contributions-canvas').spinner('add');

        $j.ajax({ url: '<%= contributions_project_stats_path(@project) -%>',
            data: {
                start_date: startDate,
                end_date: endDate,
                interval: interval
            },
            success: function (resp) {
                contributionChart.data = resp;
                contributionChart.update();
            },
            error: function () {
                $j('#contributions-canvas').html('<div class="alert alert-danger">An error occurred whilst fetching your query.</div>');
            },
            complete: function () {
                $j('#contributions-canvas').spinner('remove');
            }
        });

        return false;
    }

    $j('#contributions [data-dashboard-field="period-select"]').change(function () {
        if ($j(this).val() !== 'custom') {
            setTimeout(getContributionStats, 200);
        }
    });
    $j('#contributions [data-dashboard-field="interval-select"]').change(getContributionStats);
    $j('#contributions [data-dashboard-period-btn]').click(function () { getContributionStats(); return false; });

    // Set the initial state
    //getContributionStats();
</script>
