<div class="most-activity" data-stats-url="<%= asset_activity_project_stats_path(@project, activity: action) -%>">
  <div class="text-right">
    <div class="form-inline">
      <%= render partial: 'projects/dashboard/time_controls' -%>
    </div>
  </div>

  <ul class="mini-resource-list"></ul>
</div>
