<div id="builder_header">
	<%= render :partial => "layouts/item_title",:locals=>{:item=>@model,:title_postfix=>" - JWS Online <em>OneStop</em> Editor" } -%>
	<p id="jws_builder_details" class="box_standout">
		You can examine and edit the model properties, validate the changes, simulate in JWS Online, generate reaction schema and render the rate equations. 
		Afterwards your model can be saved as a new version using either the JWS Online or SBML format.
	</p>
</div>	
