<div id="new_version_details" class="redbox_contents" style="width:500px;display:none;">
    <div class="head">
        <%= link_to_close_redbox image_tag("close.gif"), :style => "float:right; margin-left:0.5em; vertical-align:middle;" -%>
        <span style="vertical-align:middle;">Additional details about the new version</span>
    </div>
    <div class="body">    	
		<div id="new_version_options">
        <p>
            Revision comments:
            <br/>
            <textarea id="new_version_comments_rb" name="new_version_comments_rb" value="" rows="5" style="width:100%"></textarea>
        </p>
        <p>
            Preferred filename:
            <br/>
            <input type="textbox" id="new_version_filename_rb" name="new_version_filename_rb" value='<%= @display_model.original_filename -%>' style="width:100%"/>            
        </p>
        <p style="text-align:right;">
        	<input type="button" value="Cancel" style="width: 100px;" onclick="javascript: RedBox.close(); return(false);"/>
            <input type="button" value="Add" style="width: 100px;" onclick="javascript: this.disabled=true;save_new_version_clicked(); return(false);"/>			
        </p>
		</div>
		<div id="new_version_waiting" style="display:none;">
			Processing the Model and saving as a new version... (this can take a few moments)
		</div>
    </div>
	
</div>