	<% if Seek::Config.bpmn_enabled %>
  	<p>
	  <strong>Status:</strong>
	  <% if item.status %>
  	  <%= item.status -%>
	  <% else %>
	  Not planned
	  <% end %>
	</p>
	<% unless item.started_at.nil? %>
<p><strong>Started at: </strong><%= date_as_string(item.started_at, true, false) -%></p>
        <% end %>
	<% unless item.finished_at.nil? %>
          <p><strong>Finished at: </strong><%= date_as_string(item.finished_at, true, false) -%></p>
        <% end %>
	<% unless item.assignee.nil? %>
          <p><strong>Assignee: </strong><%= link_to(item.assignee.name, item.assignee) -%></p> 
        <% end %>
        <% end %>
