<%
  options ||= { depth: 4, parent_depth: nil, sibling_depth: nil, include_self: true }
  hash = Seek::IsaGraphGenerator.new(root_item).generate(options)
  elements = cytoscape_elements(hash)
  default_view ||= 'tree'
%>


<div class="row">
  <div class="col-sm-12 hidden-xs">
    <div id="isa-graph" class="panel panel-default">
      <div id="node_info"></div>
      <div class="isa-controls">
        <div id="isa-view-controls">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-xs" id="isa-tree-view-btn">
              <input type="radio" name="options" autocomplete="off"> Tree
            </label>
            <label class="btn btn-default btn-xs" id="isa-split-view-btn">
              <input type="radio" name="options" autocomplete="off"> Split
            </label>
            <label class="btn btn-default btn-xs" id="isa-graph-view-btn">
              <input type="radio" name="options" autocomplete="off"> Graph
            </label>
          </div>
        </div>
        <br/>
        <button class="btn btn-default btn-xs" id="toggle-fullscreen-btn">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          Toggle fullscreen
        </button>
        <button class="btn btn-default btn-xs" id="show-all-nodes-btn">
          All expanded
        </button>
      </div>
      <div class="isa-wrapper">
        <div id="cy"></div>
        <%= render partial: 'general/jstree', locals: { hash: hash, root_item: root_item } %>
      </div>
    </div>

    <span id="ruler" style="visibility: hidden"></span>
  </div>
</div>

<script type="text/javascript">
    var isaGraph = $j('#isa-graph')[0];
    var elements = <%= elements.to_json.html_safe %>;

    if (elements.error === 'error') {
        isaGraph.innerHTML = "<div class='none_text'>Currently unable to display the graph for this item</div>";
        isaGraph.style['text-align'] = 'center';
    } else if (!isCanvasSupportBrowser() || !isIEVersionSupported(5)) {
        isaGraph.innerHTML = "<div class='none_text'>Unable to display the graph for this browser version. Please upgrade your browser.</div>";
        isaGraph.style['text-align'] = 'center';
    } else {
        ISA.decodeHTMLForElements(elements);
        ISA.drawGraph(elements, '<%= node_id(root_item) -%>');
    }

    ISA.view = {
        tree: function () {
            $j('#isa-tree-view-btn').button('toggle');
            $j('#cy').hide();
            $j('#node_info').hide();
            $j('#jstree').show();
            $j('#jstree').css('width', '100%');
            $j('#show-all-nodes-btn').hide();
            return false;
        },

        graph: function () {
            $j('#isa-graph-view-btn').button('toggle');
            $j('#cy').show();
            $j('#node_info').show();
            $j('#jstree').hide();
            $j('#show-all-nodes-btn').show();
            cy.fit(ISA.defaults.padding);
            cy.resize();
            return false;
        },

        split: function () {
            $j('#isa-split-view-btn').button('toggle');
            $j('#cy').show();
            $j('#jstree').show();
            $j('#node_info').show();
            $j('#show-all-nodes-btn').show();
            $j('#jstree').css('width', '300px');
            cy.fit(ISA.defaults.padding);
            cy.resize();
            return false;
        },

        isShowGraphNodesActive: function() {
            return $j('#show-all-nodes-btn').hasClass('active');
        },

        default: '<%= default_view -%>'
    };

    $j(document).ready(function () {
        // View buttons
        $j('#isa-split-view-btn').click(ISA.view.split);
        $j('#isa-graph-view-btn').click(ISA.view.graph);
        $j('#isa-tree-view-btn').click(ISA.view.tree);
        ISA.view[ISA.view.default](); // Apply the default view on page load

        // Fullscreen
        $j('#toggle-fullscreen-btn').click(function () {
            $j('#toggle-fullscreen-btn').button('toggle');
            ISA.fullscreen();
            return false;
        });

        // Expand all graph nodes
          $j('#show-all-nodes-btn').click(function () {
          $j('#show-all-nodes-btn').button('toggle');
          if (ISA.view.isShowGraphNodesActive()) {
              cy.$('node.resource').addClass('selected');
          }
          else {
              cy.$('node.resource').removeClass('selected');
              if (ISA.currentSelectedNode) {
                  ISA.selectNode(ISA.currentSelectedNode);
              }

          }

          return false;
        });

        $j(document).keyup(function(e) {
            if (e.keyCode == 27) { // Escape key
                ISA.fullscreen(false);
            }
        });

    });
</script>
