<% item = items_related_to %>
<% resource_hash = get_related_resources(item) %>
<h2 style="margin-top: 3em;">
  Related items
</h2>

<%= render :partial => "assets/resource_listing_tabbed_by_class", :locals => { :resource_hash => resource_hash,
  :narrow_view => true,
  :authorization_already_done => true,
  :item => item,
  :actions_partial_disable=>false,
  :limit => Seek::Config.related_items_limit } -%>
