<%
version ||= params[:version]
avatar = resource_title_draggable_avatar(item, version)
title_prefix||="" 
title_postfix||=""
title ||= item.title || ""
title = "#{h(title_prefix) + h(title) + h(title_postfix)}".html_safe
%>

<div class="row">
  <div class="col-md-8">
    <% unless avatar.blank? -%>
      <%= avatar -%>
    <% end %>
    <h1>
      <%= title -%>
    </h1>
    <% if @action=="show" && item.respond_to?(:private?) && item.respond_to?(:public?) && item.try(:can_manage?) %>
        <div class="sharing_summary">
          <%= sharing_text(item) %>
        </div>
    <% end %>
  </div>
  <div class="col-md-4" id="buttons">
    <%= render :partial => 'buttons', :locals => {:item => item, :version => version} -%>
  </div>
</div>
