<div>
  <ul class="menutabs">

    <%= top_level_menu_tabs(menu_definitions) -%>

  </ul>
</div>



<% menu_definitions.each do |menu| -%>
    <span id="<%= menu_section_id(menu[:title]) -%>" style="display:none;">

        <%= section_menu_items menu[:sections] %>

    </span>

<% end -%>