<%
title_prefix||=""
title_postfix||=""
title ||= ""
title = "#{h(title_prefix) + h(title) + h(title_postfix)}".html_safe
buttons_partial ||= nil
col_width = buttons_partial.nil? && !content_for?(:buttons) ? 12 : 6
%>

<div class="row contribution-header">
  <div class="col-md-<%= col_width -%>">
    <h1>
      <%= title -%>
    </h1>
  </div>
  <% if buttons_partial %>
      <div class="col-md-6 text-right-md" id="buttons">
        <%= render :partial => buttons_partial -%>
      </div>
  <% elsif content_for? :buttons %>
      <div class="col-md-6 text-right-md" id="buttons">
        <%= content_for :buttons -%>
      </div>
  <% end %>
</div>
