<% filter_hash = {:filter => params[:filter]}
   total ||= nil
   see_all_text = "See all"
   authorized = controller_name.classify.constantize.authorization_supported?
   see_all_text << " #{total} #{'visible' if authorized} items" unless total.nil?

%>
<div class="alphabetcal_pagination">
   <ul>

      <li><%= link_to see_all_text, {:id => params[:id], :page => "all"}.merge(filter_hash) %></li>
   </ul>
   <%=  link_to("Clear Filter", CGI::unescape(request.url).gsub(/filter\[.+\]=[0-9]*[&]?/,""), :style => "display:none") unless params[:filter].blank? %>
</div>