<% versioned_resource ||= nil %>

<ul class="nav nav-tabs">
  <%= tab('details') do %>
    <span class="glyphicon glyphicon-list-alt"></span> Overview
  <% end %>

  <% if versioned_resource&.is_git_versioned? %>
    <%= tab('files') do %>
      <span class="glyphicon glyphicon-folder-close"></span> Files
    <% end %>
  <% end %>

  <%= tab('related-items') do %>
    <span class="glyphicon glyphicon-th-list"></span> Related items
  <% end %>
</ul>
