<ul class="nav nav-tabs">
  <%= tab('overview') do %>
    <span class="glyphicon glyphicon-list-alt"></span> Overview
  <% end %>

  <%= tab('related-items') do %>
    <span class="glyphicon glyphicon-th-list"></span> Related items
  <% end %>
</ul>
