<ul class="nav nav-tabs">
  <li class="active ">
    <a data-toggle="tab" href="#details"><i class="glyphicon glyphicon-list-alt"></i> Details</a>
  </li>
  <li>
    <a data-toggle="tab" href="#related-items">
      <i class="glyphicon glyphicon-th-list"></i> Related items
    </a>
  </li>
</ul>