<%= tabbar %>
<div id="topbar" class="curved_top">
  <ul id="section_menu_items"></ul>
  <%= render :partial=>"search/search_box" %>
</div>

<%= select_menu(menu_definitions) unless Seek::Config.is_virtualliver-%>


