<div class="dialog">
  <h1>403</h1>
  <h2>The <%= t("#{controller_name.singularize}")%> is not visible to you.</h2>
  <p style="text-align: center;">You may need to login.</p>
  <%  hidden_item_contributor_links = hidden_item_contributor_links([item])%>
  <% unless hidden_item_contributor_links.empty? %>
    <p style="text-align: center;">Or you may want to contact the authors: <%= hidden_item_contributor_links([item]).join(', ').html_safe%></p>
  <% end %>
</div>



<style type="text/css">
    div.dialog {
        text-align: center;
    }
    div.dialog h1 { font-size: 300%; color: #00d; }
    div.dialog h2 { font-size: 200%; color: #00d; }
    div.dialog p  { font-size: 150%; color: #555 }
</style>