<div class="landing_page">
  <h1>404</h1>
  <% asset_type = t("#{controller_name.singularize}") %>
  <h2>The requested page or resource does not exist.</h2>
  <p>You may have mistyped the address or the item may have been deleted.</p>
</div>