<div class="dialog">
  <h1>404</h1>
  <h2>The <%= t("#{controller_name.singularize}")%> does not exist.</h2>
  <p style="text-align: center;">You may have mistyped the address or the <%= t("#{controller_name.singularize}")%> may have deleted.</p>
</div>



<style type="text/css">
    div.dialog {
        text-align: center;
    }
    div.dialog h1 { font-size: 300%; color: #00d; }
    div.dialog h2 { font-size: 200%; color: #00d; }
    div.dialog p  { font-size: 150%; color: #555 }
</style>