.hTagcloud { font-weight: normal; text-align: center; color: #999999; line-height: 1.6em; }
.hTagcloud .popularity 		{ margin:0; padding:0; }
.hTagcloud .popularity li	{ display:inline; text-decoration:none; line-height: 1.6em; }
.hTagcloud .popularity .popular			{ font-size:85% }
.hTagcloud .popularity .v-popular 		{ font-size:100%; }
.hTagcloud .popularity .vv-popular 		{ font-size:116%; }
.hTagcloud .popularity .vvv-popular		{ font-size:131%; }
.hTagcloud .popularity .vvvv-popular	{ font-size:146.5%; }

.tags_smaller .hTagcloud .popularity li	{ display:inline; text-decoration:none; line-height: 1.3em; }
.tags_smaller .hTagcloud .popularity .popular { font-size:77% }
.tags_smaller .hTagcloud .popularity .v-popular { font-size:85%; }
.tags_smaller .hTagcloud .popularity .vv-popular { font-size:100%; }
.tags_smaller .hTagcloud .popularity .vvv-popular { font-size:116%; }
.tags_smaller .hTagcloud .popularity .vvvv-popular { font-size:131%; }

.tags_onesize .hTagcloud .popularity li	{ display:inline; text-decoration:none; line-height: 1.2em; }
.tags_onesize .hTagcloud { font-size:85%; text-align: left; color: #999999; display: inline; }
.tags_onesize .hTagcloud .popularity .popular { font-size:100%; }
.tags_onesize .hTagcloud .popularity .v-popular { font-size:100%; }
.tags_onesize .hTagcloud .popularity .vv-popular { font-size:100%; }
.tags_onesize .hTagcloud .popularity .vvv-popular { font-size:100%; }
.tags_onesize .hTagcloud .popularity .vvvv-popular { font-size:100%; }

