.alphabetcal_pagination {
	padding: 3px;
	margin: 3px;
	text-align: center;
    font-weight:bold;
    font-size:larger;
}

.alphabetcal_pagination ul {
	list-style-type: none;
}

.alphabetcal_pagination ul li {
	display: inline;
  padding: 1px 2px;
}

.alphabetcal_pagination a {
	text-decoration: none; /* no underline */
	color: #456AAA;
}

.alphabetcal_pagination a:hover,.pagination a:active {	
	color: #CE0434;
}

.alphabetcal_pagination .current_page {
  background-color:#ABDBFA;
  border:1px solid #456AAA;
}

.alphabetcal_pagination .disabled_page {	
	color: #BBB;
}