#pending_files { list-style:none;padding:0; }
#pending_files tr td {font-size:11px;}
#pending_files tr td a { color:red;text-decoration:none;font-size:11px;}
#pending_files tr td img { width: 20px; height: 20px;vertical-align: middle}

/*#pending_files li a:hover { background:red;color:#fff; }*/
#container {

     width:auto;
     height:auto;
    overflow-x: auto;
    overflow-y: auto;
}
#pending_files li input{
   margin-top:0.5em;
   margin-left:1em;

}

