.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* Max Width */

#header > div, #bd > div, #ft > div {
  max-width: 1400px;
  min-width: 800px;
  margin: auto;
}

.workflow-category {
  display: inline-block;
  width: 300px;
  height: 80px;
  line-height:80px;
  background-color: #f4f4f4;
  font-size: 16px;
  box-shadow: 1px 1px 3px #ccc;
  border: 1px solid #ccc;
  margin: 10px;
  color: #333333;
}

.workflow-category:hover {
  background-color: #b1e10f;
  color: #333333;
}

body, html {
  background: #FAFAFA;
  margin: 0;
  padding: 0;
  height: 100%;
}

#ft {
  width: 100%;
  position: absolute;
  min-width: 800px;
  height: 180px;
}

#bd {
  min-height: 0;
  padding-bottom: 180px;
}

#container {
  position: relative;
  min-height: 100%;
}

a:hover {
  color: #3d47ba;
}

#header {
  margin-bottom: 10px;
  box-shadow: 0 3px 5px #ccc;
  height: 50px;
  background-color: #99cc33;
  border-bottom: 1px solid #88bb22;
}

div.asset_form {
  text-align: left;
}

td.port-name, th.port-name {
  text-align: right;
}

td.port-type, th.port-type {
  text-align: left;
  padding-left: 5em;
}

th.port-type, th.port-name {
  padding-top: 20px;
}

td.port-type input {
  vertical-align: middle;
}
td.port-type label {
  font-weight: normal;
}

#search_box {
  padding: 12px 20px;
}

#search_box input[type="submit"] {
  line-height: 20px;
}

#search_box input[type="text"] {
  height: 20px;
  width: 15em;
}

#search_box select {
  display: none;
}

.script_example_data_box {
    overflow: auto;
    max-height: 400px;
    white-space: -moz-pre-wrap !important; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
    overflow-y: hidden;
    overflow: auto;
    word-wrap: inherit;
    width: 100%;
}

.workflow {
    display: inline-block;
    width: 270px;
    height: 200px;
    background-color: #E0F495;
    font-size: 14px;
    box-shadow: 1px 1px 3px #ccc;
    border: 1px solid #ccc;
    margin: 3px;
    color: #333333;
    padding: 0 0.4em 0 0.4em;
}

div.small_list_item_title {
    border-bottom: 1px solid #BBBBBB;
    margin-bottom: 0.1em;
    padding-bottom: 0.1em;
    font-size: 80%;
    font-weight: bold;
    text-align: left;
    padding: 0.4em 0.6em;
}
