/* Yellow:            #EEEB99 */
/* Light yellow:      #FFFFCC */
/* Medium-dark yellow (borders) #b2af6a */
/* Dark yellow-ish:   #918e5b */
/* Dark green:        #287621 */
/* Light green:       #99CC33 */
/* Footer grey:       #CFD5AF */



body, #bd {
  background-color: #EEEB99;
}

#ft {
  background-color: #CFD5AF;
}

#header {
  box-shadow:  0 3px 5px #918e5b;
}

.workflow,.workflow-category {
  background-color: #ffc;
  border-color: #918e5b;
  box-shadow: 1px 1px 3px #918e5b;
}

.workflow-category:hover {
  text-decoration: none;
}

.sectionIcons li a, .with_smaller_shadow {
  box-shadow: none;
  background-color: #FFFFCC;
  border-color: #918e5b;
}

.sectionIcons li a:hover {
  background-color: #b1e10f;
  color: #287621;
}

.contribution_title {
  background-color: #99CC33;
  border-color: #287621;
}

.foldTitle, h2 {
  background-color: #FFC;
  background-image: none;
}

.foldContent, .foldTitle, h2, .box_standout, h3, .sectionIcons li a, .with_smaller_shadow {
  border-color: #b2af6a;
}

#workflow_filters a.active {
  background-color: #B1E10F;
}

a {
  color: #287621;
}

a:hover {
  color: #287621;
  text-decoration: underline;
}

.easytabs-pane, ul.easytabs-nav > li.active {
  background-color: #FFC;
}

.workflow .category {
  background-color: white;
}

h2.standout {
  background: #99cc33;
  border: none;
}

.dataTables_wrapper th {
  background-color: white;
}

.dataTables_wrapper table {
  border: 1px solid #918e5b;
}

input[type="submit"], button {
  background-color: #FFFFCC;
  border-color: #b2af6a;
}