.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* Max Width */

#header > div, #bd > div, #ft > div {
  max-width: 1400px;
  min-width: 800px;
  margin: auto;
}

.workflow-category {
  display: inline-block;
  width: 300px;
  height: 80px;
  line-height:80px;
  background-color: #f4f4f4;
  font-size: 16px;
  box-shadow: 1px 1px 3px #ccc;
  border: 1px solid #ccc;
  margin: 10px;
  color: #333333;
}

.workflow-category:hover {
  background-color: #b1e10f;
  color: #333333;
  border-color: #77aa11;
}

body, html {
  background: #FAFAFA;
  margin: 0;
  padding: 0;
  height: 100%;
}

#ft {
  width: 100%;
  position: absolute;
  min-width: 800px;
  height: 80px;
  border: none;
  background: #555;
  color: #ffffff;
  font-weight: normal;
  padding-top: 20px;
  text-align: left;
}

#ft a {
  color: #B1E10F;
}

#bd {
  min-height: 0;
  padding-bottom: 100px;
}

#container {
  position: relative;
  min-height: 100%;
  padding-bottom: 10px;
}

a:hover {
  color: #3d47ba;
}

#header {
  margin-bottom: 10px;
  box-shadow: 0 3px 5px #ccc;
  height: 50px;
  background-color: #99cc33;
  border-bottom: 1px solid #88bb22;
}

div.asset_form {
  text-align: left;
}

td.port-name, th.port-name {
  text-align: right;
}

td.port-type, th.port-type {
  text-align: left;
  padding-left: 5em;
}

th.port-type, th.port-name {
  padding-top: 20px;
}

td.port-type input {
  vertical-align: middle;
}
td.port-type label {
  font-weight: normal;
}

#search_box {
  padding: 12px 20px;
}

#search_box input[type="submit"] {
  line-height: 20px;
}

#search_box input[type="text"] {
  height: 20px;
  width: 15em;
}

#search_box select {
  display: none;
}

.script_example_data_box {
    overflow: auto;
    max-height: 400px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-all;       /* webkit */
    border: 1px solid #aaa;
}

.workflow {
    background-color: #f4f4f4;
    margin: 10px;
    color: #333333;
    padding: 10px;
    text-align: left;
    background-color: #f4f4f4;
    font-size: 16px;
    box-shadow: 1px 1px 3px #ccc;
    border: 1px solid #ccc;
}

.workflow .category {
  background-color: #FFFFCC;
  border: 1px solid #DDDDAA;
  border-radius: 4px 4px 4px 4px;
  float: right;
  font-size: 12px;
  padding: 2px 5px;
}

.workflow .description {
  font-size: 14px;
}

div.small_list_item_title {
    border-bottom: 1px solid #77aa11;
    margin-bottom: 0.1em;
    font-size: 80%;
    font-weight: bold;
    text-align: left;
    padding: 0.4em 0.6em;
}

.run_workflow {
  padding: 15px 20px;
  text-decoration: none;
  color: #283a12;
  line-height: 20px;
  display: block;
  background-color: #99cc33;
  float: right;
}

.run_workflow:hover {
    background-color: #b1e10f;
  color: #283a12;
}

.workflow_input {
  text-align: left;
}

