.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Max Width */

#header > div, #bd > div, #ft > div {
    max-width: 1400px;
    min-width: 900px;
    margin: auto;
}

.workflow-category {
    display: inline-block;
    width: 300px;
    height: 80px;
    line-height: 80px;
    background-color: #f4f4f4;
    font-size: 16px;
    box-shadow: 1px 1px 3px #ccc;
    border: 1px solid #ccc;
    margin: 10px;
    color: #333333;
    text-align: center;
}

.workflow-category:hover {
    background-color: #b1e10f;
    color: #333333;
    border-color: #77aa11;
}

body, html {
    background: #FAFAFA;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #444;
}

#ft {
    width: 100%;
    position: absolute;
    min-width: 800px;
    height: 110px;
    border: none;
    background: #dddddd;
    color: #555555;
    font-weight: normal;
    padding-top: 20px;
    text-align: left;
    margin-top: 20px;
}

#ft a {
    font-weight: bold;
}

#bd {
    min-height: 0;
    padding: 0 20px 150px;
}

#container {
    position: relative;
    min-height: 100%;
}

a {
    color: #003355;
}

a:hover {
    color: #225577;
}

#header {
    margin-bottom: 10px;
    box-shadow: 0 3px 5px #ccc;
    height: 50px;
    background-color: #99cc33;
    border-bottom: 1px solid #88bb22;
}

div.asset_form {
    text-align: left;
}

td.port-name, th.port-name {
    text-align: right;
}

td.port-type, th.port-type {
    text-align: left;
    padding-left: 5em;
}

th.port-type, th.port-name {
    padding-top: 20px;
}

td.port-type input {
    vertical-align: middle;
}

td.port-type label {
    font-weight: normal;
}

#workflow_search_box {
    padding: 12px 10px;
    text-align: right;
}

#workflow_search_box input[type="submit"] {
    line-height: 20px;
}

#workflow_search_box input[type="text"] {
    height: 20px;
    width: 15em;
}

.CodeRay > .code > pre, .script_example_data_box {
    overflow: auto;
    max-height: 400px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all; /* webkit */
    border: 1px solid #aaa;
}

.workflow {
    background-color: #f4f4f4;
    margin: 10px;
    color: #333333;
    padding: 10px;
    text-align: left;
    background-color: #f4f4f4;
    font-size: 16px;
    box-shadow: 1px 1px 3px #ccc;
    border: 1px solid #ccc;
    overflow: auto;
}

.workflow .category {
    background-color: #FFFFCC;
    border: 1px solid #DDDDAA;
    border-radius: 4px 4px 4px 4px;
    float: right;
    font-size: 12px;
    padding: 2px 5px;
}

.workflow .description {
    font-size: 14px;
    padding-top: 5px;
}

div.small_list_item_title {
    border-bottom: 1px solid #77aa11;
    margin-bottom: 0.1em;
    font-size: 80%;
    font-weight: bold;
    text-align: left;
    padding: 0.4em 0.6em;
}

.run_workflow {
    padding: 15px 20px;
    text-decoration: none;
    color: #283a12;
    line-height: 20px;
    display: block;
    background-color: #99cc33;
    float: right;
}

.run_workflow:hover {
    background-color: #b1e10f;
    color: #283a12;
}

.workflow_input {
    text-align: left;
}

table.display tr.odd {
    background-color: #F7F4F4;
}

table.display tr.even {
    background-color: #FFFFFF;
}

tr.odd td.sorting_1 {
    background-color: #E8E3E3;
}

tr.odd td.sorting_2 {
    background-color: #d1ffd1;
}

tr.odd td.sorting_3 {
    background-color: #d1ffd1;
}

tr.even td.sorting_1 {
    background-color: #F7F4F4;
}

tr.even td.sorting_2 {
    background-color: #e2ffe2;
}

tr.even td.sorting_3 {
    background-color: #e2ffe2;
}

.dataTables_filter {
    padding: 10px 0px 20px 10px;
}

table.display td {
    border-bottom: 1pt solid #BABABA;
}

table.display tr td:first-child {
    text-align: left;
    padding-left: 20px;
}

#workflow_filters {
    float: left;
    width: 250px;
    text-align: left;
    margin-right: 10px;
}

#workflow_filters a.active {
    background-color: #ACF;
}

#workflow_list {
    min-width: 640px;
    max-width: 1140px;
    margin-left: 260px;
}

#menubar-login-form {
    position: absolute;
    top: 50px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #ccc;
    box-shadow: 0 3px 5px #ccc;
    width: 200px;
    margin-left: -60px;
    background: white;
    z-index: 999999;
}

#workflow_runs_table_wrapper {
    position: static;
}

div.file_input, div.text_input {
    float: left;
}

div.file_input {
    color: #666;
    line-height: 1.5;
}

div.text_input {
    margin-right: 20px;
}

div.your_recent {
    text-align: left;
    padding: 5px;
    width: 390px;
    float: left;
}

body {
    text-align: left;
}

#run-interaction iframe {
    margin: 20px auto;
    border: 1px solid #999;
}

span.mime_type {
    color: #999;
    font-size: 80%;
    font-weight: normal;
}

/* Hide the close button and tittle bar on the jquery modal dialog */
.no-close .ui-dialog-titlebar-close {display: none }
.noTitleStuff .ui-dialog-titlebar {display:none}

.chk-select-column {
  vertical-align: middle;
}

input[type="submit"], button {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    cursor: pointer;
    padding: 3px 4px;
    font-size: 14px;
    font-family: arial, sans-serif;
}

h2.standout {
  background-color: #CDDEEF;
  background-image: url('/public/images/header-bg2.png');
}

#sweep_results_table table {
  width: auto;
  background-color: white;
  border-collapse: collapse;
  margin: 10px 0;
}

#sweep_results_table table td, #sweep_results_table table th {
  border: 1px solid #ccc;
  padding: 10px;
}

a.preview_result {
  font-size: 80%;
}

ul.runs_and_sweeps_list  {
  margin: 0;
}

ul.runs_and_sweeps_list li {
  list-style-type: none;
  line-height: 20px;
  margin-left: 5px;
}

ul.runs_and_sweeps_list li > a > img {
  vertical-align: text-top;
  margin-right: 10px;
}

table.csv {
  border-collapse: collapse
}

ul.sweep_input_selection li {
  margin: 5px 5px 10px 5px;
}

ul.sweep_input_selection label {
  background: #FFFFCC;
  padding: 5px;
  display: block;
  width: 20em;
  border-radius: 5px;
  cursor: pointer;
}

ul.sweep_input_selection label:hover {
  background: white;
}

ul.sweep_input_selection li input {
  vertical-align: middle;
}
