ul.dynamic_menu {
    position: absolute;
    z-index: 2;
    background-color: white;
    list-style-type:none;
    width: 10em;
    margin-top: -0.4em;
    border: solid #AAA 1px;
    cursor: pointer;  /* make the cursor like hovering over an <a> element */
}
ul.dynamic_menu>li {
    list-style: none;
    text-align: left;
    padding-left: 0.5em;
}
ul.dynamic_menu>li.dynamic_menu_li:hover {
    background-color: #6da0f5;
}