.easytabs-pane {
  display: none;
  padding: 1em;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: #ccc;
}

.easytabs-pane.active {
  display: block;
}

ul.easytabs-nav {
  margin-top: 2em;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

ul.easytabs-nav > li {
  display: inline-block;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  margin-right: 5px;
  background-color: #eeeeee;
  margin-bottom: -1px;
  font-size: 120%;
  padding: 5px 10px;
  border-radius: 3px 3px 0 0;
}

ul.easytabs-nav > li:hover {
  cursor: pointer;
}

ul.easytabs-nav > li.active{
  background-color: #fff;
  border-bottom-color: #fff;
}

