table.sheet {
  border: 1px solid #CCC;
  background-color: #DDD;
  table-layout: fixed;
  width: 1px;
}

table.sheet tr td {
  overflow: hidden;
  white-space: nowrap;
  padding: 2px 5px;
}

th.col_heading, td.row_heading {
  border: 1px outset #FFF;
  background: #DDD;
  text-align: center;
  width: 2em;
  padding: 2px 5px;
}

th.selected_heading, td.selected_heading{
  border: 1px outset #9CF;
  background: #9CF;
  text-align: center;
}

td.cell {
  background: #FFF;
  border: 1px solid #CCC;
  border-width: 0px 1px 1px 0px;
}

td.selected_cell {
  background: #9CF;
}

td.primary_selected_cell {
  background: #69F;
}

td.annotated_cell {
  border: 3px ridge #7F4;
}

div.sheet {
  overflow: scroll;
  height: 600px;
  margin: 0px;
}

a.sheet_tab {
  display: inline-block;
  background: #AAA;
  margin: 0 0.5em;
  padding: 0.5em;
  border: 1px solid black;
  border-width: 1px 1px 0px 1px;
  color: #000;
}

a.sheet_tab:hover
{
  background: #7CF;
  color: #125;
}

a.selected_tab
{
  background: #EEE;
}

div.spreadsheet_container
{
  border: 1px solid black;
  padding: 0px;
}

div.annotation
{
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 0.5em;
  position: absolute;
  display:none;
  width:20em;
}

div.annotation_body
{
  border-top: 1px dashed #AAA;
  border-bottom: 1px dashed #AAA;
  background-color: #FFF;
  padding: 0.5em;
  margin: 0.5em
}

div.annotation_header
{
}

div.annotation_header img
{
  vertical-align: middle;
  float: left;
  margin-right: 0.5em;
}


div.annotation_footer
{
  text-align: right;  
  color: #79B; 
}

div#annotation_form
{
  width: 50%;
  border: 1px solid #CCC;
  padding: 0.5em;
  margin: 0.5em;
}
