table.sheet {
  border: 1px solid #CCC;
  background-color: #69F;
  table-layout: fixed;
  width: 1px;
}

table.sheet tr td {
  overflow: hidden;
  white-space: nowrap;
  padding: 2px 5px;
}

th.col_heading, td.row_heading {
  border: 1px outset #FFF;
  background: #DDD;
  text-align: center;
  width: 2em;
  padding: 2px 5px;
}

th.selected_heading, td.selected_heading{
  border: 1px outset #69F;
  background: #69F;
  text-align: center;
}

td.cell {
  background: #FFF;
  border: 1px solid #CCC;
  border-width: 0px 1px 1px 0px;
}

td.selected_cell {
  opacity: 0.5;
  filter:alpha(opacity=50);
}

td.primary_selected_cell {
  background: #69F;
}

td.annotated_cell {
  border: 1px dotted #4477FF;
  background-image: url('../images/famfamfam_silk/tag_blue.png');
  background-repeat:no-repeat;
  background-position:right middle;
}

div.sheet {
  overflow: scroll;
  height: 600px;
  margin: 0px;
}

a.sheet_tab {
  display: inline-block;
  background: #AAA;
  margin: 0 0.5em;
  padding: 0.5em;
  border: 1px solid black;
  border-width: 1px 1px 0px 1px;
  color: #000;
}

a.sheet_tab:hover
{
  background: #7CF;
  color: #125;
}

a.selected_tab
{
  background: #EEE;
}

div.spreadsheet_container
{
  border: 1px solid black;
  padding: 0px;
}

div.annotation
{
  border: 1px solid #CCC;
  background-color: #FFF;
  padding: 0.5em;
  position: relative;
  display:none;
  width:20em;
  z-index: 1;
  margin-bottom: 0.5em;
}

div.annotation_content
{
  border-top: 1px dashed #AAA;
  border-bottom: 1px dashed #AAA;
  background-color: #FFF;
  padding: 0.5em;
  margin: 0.5em
}

div.annotation_header
{
}

div.annotation_header img
{
  vertical-align: middle;
  float: left;
  margin-right: 0.5em;
}


div.annotation_footer
{
  text-align: right;  
  color: #79B; 
}

div.annotation_form
{
  width: 30em;
  border: 1px solid #CCC;
  padding: 0.5em;
  margin: 0.5em;
}

div.spreadsheet_layout {
  width: 70%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: #FFF;
  text-align: left;
}

div.annotation textarea[readonly]
{
  background-color: #FFF;
  border: none;
  width: 100%;
}

div.annotation textarea
{
  background-color: #FFD;
  border: 1px dashed #F99;
  width: 100%;
}

div#annotation_controls
{
  text-align: center;
  margin: 0.5em; 
  border-top: 1px dashed #AAA; 
  padding: 0.5em;
}

div#annotation_container
{
  position: absolute;
}

span.cell_coverage, span.sheet_location
{
}

div#annotation_overview
{
  margin-top: 10px;  
}

div#annotation_overview table td
{
  text-align: left;
}

div#annotation_overview table tr.source_header td
{
  background-color: #DDDDFF;
}

div#annotation_overview table tr
{
  cursor: pointer;
}
