/* begin css folds */

.fold {
	margin-bottom: 0.5em;
}

.foldTitle {
	background-image: url('../images/header-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	color: #333333;
	border: 1px solid #AAA;
	pointer: pointer;
	cursor: pointer;
	width: 100%;
}

.foldTitle p {
	padding: 0.1em 0;
	line-height: 1.0;
	vertical-align: middle;
}

.foldTitle p * {
	vertical-align: top;
}

.foldTitle hr {
	margin: 0.4em 0;
	*margin: 0;
	line-height: 1.0;
}

.foldTitle small {
	font-size: 85%;
	font-weight: normal;
	line-height: 1.2;
}

.foldText {
	font-weight: bold;
	text-align: left;
	padding: 0.5em;
	*padding: 0.3em;
	vertical-align: middle;
	
}

.foldText * {
	vertical-align: middle;
}

.foldPlaintext {
	font-weight: normal;
	font-size: 85%;
	line-height: 1.2;
	padding: 0.1em 0;
}

.foldImage {
	text-align: center;
	padding: 0 0.5em;
	vertical-align: middle;
	width: 20px;
}

.foldContent {
	border: 1px solid #aaa;
	border-width: 0px 1px 1px 1px;
	padding: 1em 0.5em;
	
    background-color: #FCFCFF;
}