/* begin css gadget base */

.sysmo_gadget {
	margin-bottom: 0.5em;
	text-align: center;        
}

.sysmo_gadget p {
	margin: 0;
}

.sysmo_gadget a:hover {
	text-decoration: none;
}

.sysmo_gadget ul.gadget_list {
	list-style: none;
	padding-left: 0;
	margin: 0.3em;
}

.sysmo_gadget ul.gadget_list li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 100%;
}

.sysmo_gadget ul.gadget_list li * {
	vertical-align: middle;
}

.sysmo_gadget .header {
	min-height: 10px;
	border: #CCCCCC 0px solid;
        border-bottom: #AAAAEE 1px solid;
	border-width: 0 1px 1px 1px;
	border-bottom-color: #CCCCCC;
	background-image: url('../images/gadget-hd-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	padding-bottom: 0.3em;
        padding-top: 0.3em;
        padding-left: 0.2em;
        padding-right: 0.2em;
	text-align: center;
	vertical-align: middle;        
}

.sysmo_gadget .header p {
	font-weight: bold;
	text-align: center;
}

.sysmo_gadget .header small {
	font-size: 85%;
	line-height: 1.4;
	color: #333333;
	margin: 0 0.5em;
}

.sysmo_gadget .contents {
	border-top: none;
	border-right: #CCCCCC 1px solid;
	border-bottom: none;
	border-left: #CCCCCC 1px solid;
	color: #000000;
  padding: 3px;
	margin-top: 0;
	text-align: center;
  background-color: #FFFFFF;
}

.sysmo_gadget .contents p {
	text-align: center;
}

.sysmo_gadget .contents hr {
	height: 1px;
	border-bottom: 1px dotted #999999;
	margin: 0.7em 0;
	*margin: 0;
	padding: 0;
}

.sysmo_gadget .contents img {
  vertical-align: middle;
  margin-bottom: 3px;  
  background-color: #FFFFFF;
}

.sysmo_gadget .contents span {
  margin-left: 5px;
  text-align: left;
}

.sysmo_gadget .contents .box1 {
	border: 1px dotted #999999;
	padding: 0.2em 0;
}

.sysmo_gadget .contents .label {
	font-size: 93%;
	color: #333333;
	padding: 0.2em 0;
	line-height: 1.0;
	margin: 0;
}

.sysmo_gadget .contents .title {
	font-size: 93%;
	font-weight: bold;
	color: #990000;
}

.sysmo_gadget .contents .field {
	border: solid 1px #CCCCCC;
	background-color:#F0F8FF;
	color: #333333;
	padding: 2px;
	font-size: 93%;
}

.sysmo_gadget .sectionIcons {
	margin: 0.5em 0;
}


/* end css gadget base */

/* begin css rounded corners - based on "Snazzy Corners" */

.sysmo_gadget .xtop,
.sysmo_gadget .xbottom {
	display: block;
	background: transparent;
	font-size: 1px;
}

.sysmo_gadget .xb1,
.sysmo_gadget .xb2,
.sysmo_gadget .xb3,
.sysmo_gadget .xb4,
.sysmo_gadget .xb5,
.sysmo_gadget .xb6,
.sysmo_gadget .xb7 {
	display: block;
	overflow: hidden;
}

.sysmo_gadget .xb1,
.sysmo_gadget .xb2,
.sysmo_gadget .xb3,
.sysmo_gadget .xb6,
.sysmo_gadget .xb7 {
	height: 1px;
}

.sysmo_gadget .xb2,
.sysmo_gadget .xb3,
.sysmo_gadget .xb4 {
	background: #DEDEDE;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.sysmo_gadget .xb5,
.sysmo_gadget .xb6,
.sysmo_gadget .xb7 {
	background: #FFFFFF;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.sysmo_gadget .xb1 {
	margin: 0 5px;
	background: #CCCCCC;
}

.sysmo_gadget .xb2,
.sysmo_gadget .xb7 {
	margin: 0 3px;
	border-width: 0 2px;
}

.sysmo_gadget .xb3,
.sysmo_gadget .xb6 {
	margin: 0 2px;
}

.sysmo_gadget .xb4,
.sysmo_gadget .xb5 {
	height: 2px;
	margin: 0 1px;
}

/* end css rounded corners - based on "Snazzy Corners" */

/* begin css New Object Gadget style */

#new_object_form {
	padding: 0 0.5em;
	text-align: center; 
}

#new_object_type {
	width: 110px;
	text-align: center;
	font-weight: bold;
}

