/* begin css gadget base */

.myexperiment_gadget {
	margin: 0 0 0.5em 0;
	text-align: center;
}

.myexperiment_gadget p {
	margin: 0;
}

.myexperiment_gadget ul.gadget_list {
	list-style: none;
	padding-left: 0;
	margin: 0.3em;
}

.myexperiment_gadget ul.gadget_list li {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 93%;
}

.myexperiment_gadget ul.gadget_list li * {
	vertical-align: middle;
}

.myexperiment_gadget .header {
	border: #CCCCCC 0px solid;
	border-width: 0 1px 1px 1px;
	border-bottom-color: #CCCCCC;
	background-image: url('/images/gadget-hd-bg.png');
	background-position: top;
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	text-align: center;
	padding: 0 0.5em 0.2em 0.5em;
}

.myexperiment_gadget .header p {
	font-weight: bold;
	text-align: center;
}

.myexperiment_gadget .header small {
	font-size: 85%;
	line-height: 1.4;
	color: #333333;
	margin: 0 0.5em;
}

.myexperiment_gadget .contents {
	border-top: none;
	border-right: #CCCCCC 1px solid;
	border-bottom: none;
	border-left: #CCCCCC 1px solid;
	color: #000000;
	padding: 0.4em;
	margin-top: 0;
	text-align: center;
	background-color: #FFFFFF;
}

.myexperiment_gadget .contents p {
	text-align: center;
}

.myexperiment_gadget .contents hr {
	height: 1px;
	border-bottom: 1px dotted #999999;
	margin: 0.7em 0;
	*margin: 0;
	padding: 0;
}

.myexperiment_gadget .contents .box1 {
	border: 1px dotted #999999;
	padding: 0.2em 0;
}

.myexperiment_gadget .contents .label {
	font-size: 93%;
	color: #333333;
	padding: 0.2em 0;
	line-height: 1.0;
	margin: 0;
}

.myexperiment_gadget .contents .title {
	font-size: 93%;
	font-weight: bold;
	color: #990000;
}

.myexperiment_gadget .contents .field {
	border: solid 1px #CCCCCC;
	background-color:#F0F8FF;
	color: #333333;
	padding: 2px;
	font-size: 93%;
}

.myexperiment_gadget .sectionIcons { 
	margin: 0.5em 0;
}

/* end css gadget base */

/* begin css rounded corners - based on "Snazzy Corners" */

.myexperiment_gadget .xtop, 
.myexperiment_gadget .xbottom {
	display: block;
	background: transparent;
	font-size: 1px;
}

.myexperiment_gadget .xb1, 
.myexperiment_gadget .xb2, 
.myexperiment_gadget .xb3, 
.myexperiment_gadget .xb4,
.myexperiment_gadget .xb5, 
.myexperiment_gadget .xb6, 
.myexperiment_gadget .xb7 {
	display: block;
	overflow: hidden;
}

.myexperiment_gadget .xb1, 
.myexperiment_gadget .xb2, 
.myexperiment_gadget .xb3, 
.myexperiment_gadget .xb6, 
.myexperiment_gadget .xb7 {
	height: 1px;
}

.myexperiment_gadget .xb2, 
.myexperiment_gadget .xb3, 
.myexperiment_gadget .xb4 {
	background: #DEDEDE;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.myexperiment_gadget .xb5, 
.myexperiment_gadget .xb6, 
.myexperiment_gadget .xb7 {
	background: #FFFFFF;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.myexperiment_gadget .xb1 {
	margin: 0 5px;
	background: #CCCCCC;
}

.myexperiment_gadget .xb2, 
.myexperiment_gadget .xb7 {
	margin: 0 3px;
	border-width: 0 2px;
}

.myexperiment_gadget .xb3, 
.myexperiment_gadget .xb6 {
	margin: 0 2px;
}

.myexperiment_gadget .xb4, 
.myexperiment_gadget .xb5 {
	height: 2px;
	margin: 0 1px;
}

/* end css rounded corners - based on "Snazzy Corners" */

/* begin css New Object Gadget style */

#new_object_form {
	padding: 0 0.5em;
	text-align: center; 
}

#new_object_type {
	width: 110px;
	text-align: center;
	font-weight: bold;
}

/* end css New Object Gadget style */

/* begin css User Monitor Gadget styles */

#myexp_usermonitor_gadget_contents {
	margin: 0;
	text-align: left;
}

#myexp_usermonitor_gadget_contents .content {
	line-height: 1.1;
}

/* begin css User Monitor Gadget styles */

/* begin css Asset Manager Gadget styles */

#myexp_assetmanager_gadget_contents {
	max-height: 150px;
	overflow: auto;
	line-height: 1.1;
	text-align: left;
}

#myexp_assetmanager_gadget_contents .title {
	margin-top: 0.6em;
	margin-bottom: 0.2em;
	padding: 0.2em 0;
	border-bottom: 1px dotted #999999;
	font-weight: bold;
}

#myexp_assetmanager_gadget_contents .content {
}

#myexp_assetmanager_gadget_contents li {
	font-size: 85%;
	font-weight: normal;
}

/* end css Asset Manager Gadget styles */