div.isa_graph {
    float: left;
    width: 79.5%;
    background-color: #fffff3;
    border: 1px solid #ececc7;
}

div.node_info {
    position: relative;
    float: right;
    width: 18%;
    background-color: #fffff3;
    border: 1px solid #ececc7;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    display: 'none';
}

div.node_info ul.items {
    margin-left: 1em;
}
