div.isa_graph {
    float: left;
    width: 79.5%;
    background-color: #fffff3;
    border: 1px solid #ececc7;
}

div.node_info {
    position: relative;
    float: right;
    width: 19.5%;
    background-color: #fffff3;
}

div.node_info ul.items {
    margin-left: 1em;
}
