
.mainButtons {
    margin: 1em 0 0.5em 0;
    font-size: small;
    text-align: center;
}

.mainButtons * {
    vertical-align: middle;
}

.mainButtons li {
    padding-bottom: 1em;
    /*border: 2px solid #F5F5F5;*/
}

.mainButtons li * {
    vertical-align: middle;
}

.mainButtons li a {
    display:block;
    width:90%;
    padding: 0.5em 0.5em;
    *padding: 0.2em 0.5em;
    line-height: 1.0;
    text-decoration: none;
    border: 1px solid #BBBBBB;
    background-color: #FEF6FF;
}

.mainButtons li a:hover {
    background-color: #0099FF;
    color: #F5F5F5;
}

.mainButtons li a * {
    vertical-align: middle;
}

