#person_list_item {
    background-color: #DDDDDD;
    margin: 5px;
    padding: 5px;
    padding-left: 1em;
    border: #999999 solid 1px;
    font-size: 1.1em;
    min-height: 90px;
}

#person_list_item #avatar_pane {
    margin: 1em 1em 1em 1em;
    float: left;
}

#person_list_item #avatar {
    border: black solid 1px;   
    max-width: 50px;  
}

#person_list_item #name {
    font-size: 1.5em;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    border-bottom: black dotted 1px;
}

#person_list_item #details {
    margin-left: 100px;
    padding-left: 1em;
    border-left: black dotted 1px;  
}

#person_list_item ul {margin: 0;  padding: 0;}

#person_list_item li {
    
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 1em;
    white-space:nowrap;
}

#person_list_item label {
    font-weight: 500;
}