div#folder_contents {
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
}

div#folder_column {
    border-right: 1px #666 solid;
    min-height: 40em;
}

ul.asset_cards {
    font-size:smaller;
}

ul.asset_cards li.asset_card_item {
    margin: 0.25em 0.25em 0.25em 0.25em;
    padding-left: 0.2em;
    padding-bottom: 0em;
    border: #555 solid 1px;
    min-width: 17em;
    max-width: 17em;
    min-height: 3em;
    float: left;
}

li.asset_card_item p.asset_card_title {

}

li.asset_card_item img.asset_card_avatar {
    width: 18px;
    height: 18px;
    padding-right: 0.3em;
    vertical-align: middle;
    float: left;
}

li.asset_card_item.data_file {
    background-color: #eec591;
}

li.asset_card_item.model {
    background-color: #cdcd00;
}

li.asset_card_item.publication {
    background-color: #84b5fd;
}

li.asset_card_item.sop {
    background-color: #7ac5cd;
}

li.asset_card_item.presentation {
    background-color: #8ee5ee;
}

li.asset_card_item {
    background-color: red;
}