ul.publishing_options {
    padding-left: 1em;
}

ul.publishing_options li.type_and_title {
    font-weight:bolder;
}

ul.publishing_options li.title {
    font-weight:bolder;
}

.secondary {
    padding-left: 1em;
}

.status  {
    font-weight:bolder;
    font-style:italic;
    color:gray;
}

.published {
    color: green;
    font-weight:bolder;
}

.owned {
    color: orange;
    font-weight:bolder;
}

.protected {
    color: red;
    font-weight:bolder;
}

ul.publishing_options li.type_and_title img.icon_visibility {
    margin-left:2em;
}

span.related_items {
    font-weight: bold;
}
