

#errorExplanation {
    width: 95%;
    border: 2px solid #c00;
    padding: 0.5em;
    margin-bottom: 1.5em;
    background-color: #F5F5F5;
    text-align:left;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 93%;
    margin: 0;
    background-image: none;
    background-color: #c00;
    border: none;
    color: #fff;
}

#errorExplanation p {	
    color: #333;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding: 5px;
}

#errorExplanation ul {
    font-size: 14px;
    list-style:none;
}

#errorExplanation ul li {
    list-style: none;
}

.fieldWithErrors {	
    border: solid 2px red;
}

#header {
    padding-top: 1em;
    text-align:right;
}

#main_pane {
    padding-right: 1em;
    padding-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 3em;
}

#bd {
    background-color: #FAFAFA;
}

#who_am_i #avatar img {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border: black double 4px;
}

#who_am_i p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.tabnav {
    text-align: left;
    font-weight: bolder;
    font-size: 108%;
    padding: 4px 0 3px 2em;
    margin: 0;
}

.list_items_container{
    padding-left: 7px;
}

table.list_item {
    width: 100%;
    background-color: #F0F0F0;
    margin-top: 6px;
    padding: 1em;
    border: #999999 solid 1px;
    border-collapse: collapse;
    font-size: 93%;
    min-height: 90px;
}

table.list_item tr.odd_row {
    background-color: #F5F5F5;
}

table.list_item tr.even_row {
    background-color: #EEEEEE;
}

table.list_item tr td.actions {
    text-align: left;
}

table.list_item tr td.actions a {
    display: block;
    border-bottom: 0px solid #999999;
    margin-bottom: 0.3em;
    font-size: 85%;
    font-weight: normal;
}

table.list_item .desc {
    border: 1px dotted #999999;
    margin: 0.2em 0;
    padding: 0.4em 0.6em;
    background-color: #FFFFCC;
    text-align: left;
    line-height: 1.3;
    overflow: hidden;
}

table.list_item .standout {
    border: 1px dotted #999999;
    margin: 0.2em 0;
    padding: 0.5em 0.6em;
    background-color: #FFFFCC;
    text-align: left;
    line-height: 1;
    font-size: 93%;
    font-weight: bold;
    color: #333333;
}



table.list_item p {
    line-height: 1.0;
    margin-top: 0.2em;
}

table.list_item p.title {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 108%;
}

table.list_item p.section_header {
    text-align: left;
    font-size: 107%;
    font-weight: bold;
}

table.list_item td {
    vertical-align: top;
}

table.list_item .item_avatar {
    /* styling of avatars in table listings */
    width: 100px;
    min-width: 100px;
}

table.list_item .item_details {
    text-align: left;
}

table.list_item .item_right_table_cell {
    text-align: left;
    padding-top: 2em;
}

table.list_item .name {
    font-size: 131%;
    font-weight: bold;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    border-bottom: black dotted 1px;
}

table.list_item .details {
    margin-left: 100px;
    margin-right: 120px;
    padding: 0.5em 1em;
}

table.list_item ul {
    margin: 0;  padding: 0;
}

table.list_item li {
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0;
    white-space:nowrap;
}

table.list_item label {
    font-weight: bold;
}

table.list_item .tags {
    text-align: left;
    border-left: 1px dotted #365FA5;
    margin-top: 0.7em;
}


.show_basic {
    padding-left: 2em;
}

.show_basic input {

}

#person_description  {

}

.show_basic #tool_list {
    width: 22em;
}

.show_basic select {

}

.show_basic .submit  {
    width: 5em;
}

.show_basic #edit_person_left {
    width:87%;
    padding-left: 2em;
    border-right: dotted 1px black;
}



.show_basic label {
    font-weight: bold;
}

.fold label {
    font-weight: normal;
}

.show_basic #name p {
    font-size: 24px;
    font-weight: bold;
}

.show_basic ul {margin: 0;  padding: 0;}

.show_basic li {

    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 1em;
    white-space:nowrap;
}

#expertise_people a.current_user {
    color: red;
}


/* boxes */

.box_about_actor {
    /* reserved for potential styling of the box containing personal information about actor */
}

.main_content_left_box {
    float: left;
    width: 73.5%;
}

.main_content_right_box {
    float: right;
    width: 25%;
}


/* customized version of styles from my_exp.css with different names */
.contribution_section_box ul.list {
    margin: 0 0 0 0.8em;
    text-align: left;
}

.contribution_section_box ul.list li {
    list-style-type: none;
    margin: 0.6em 0;
    padding-left: 0;
    line-height: 1.1;
    /*border-left: 3px solid #DDDDBB;*/
}

.contribution_section_box ul.list li * {
    vertical-align: middle;
}

/* text style classes */
.admin_warning {
    color: #F00000;
}

.allowed_text {
    font-weight: bold;
    font-style: normal;
    color: #00BC0C;
}

.denied_text {
    font-weight: bold;
    font-style: normal;
    color: #900000;
}

.note_text_disabled {
    font-size: 93%;
    font-weight: bold;
    color: #666666;
}


/* BEGIN Tabber tab styles */

/*--------------------------------------------------
REQUIRED to hide the non-active tab content.
But do not hide them in the print stylesheet!
--------------------------------------------------*/
.tabberlive .tabbertabhide {
    display: none;
}

/*--------------------------------------------------
.tabber = before the tabber interface is set up
.tabberlive = after the tabber interface is set up
--------------------------------------------------*/
.tabber {
}

.tabberlive {
    margin-top: 1em;
}

/*--------------------------------------------------
ul.tabbernav = the tab navigation list
li.tabberactive = the active tab
--------------------------------------------------*/
ul.tabbernav
{
    margin: 0;
    padding: 3px 0;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
    font-size: 108%;
}

ul.tabbernav li
{
    list-style: none;
    margin: 0;
    display: inline;
}

ul.tabbernav li a
{
    padding: 3px 0.5em;
    margin-left: 3px;
    border: 1px solid #CCC;
    border-bottom: none;
    background: #ccccff;
    text-decoration: none;
}

ul.tabbernav li a:link { color: #333; }

ul.tabbernav li a:hover
{
    color: #000;
    background: #3173ff;
    border-color: #CCC;
}

ul.tabbernav li.tabberactive a
{
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
    color: #000;
    background: white;
    border-bottom: 1px solid white;
}

/*--------------------------------------------------
.tabbertab = the tab content
Add style only after the tabber interface is set up (.tabberlive)
--------------------------------------------------*/
.tabberlive .tabbertab {
    margin-right: 0.3em;

}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h3 {
    display: none;
}
.tabberlive .tabbertab h3 {
    display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}

.tabberlive#tab2 .tabbertab {
    height:200px;
    overflow:auto;
}

/* END Tabber tab styles */

/* Colapsable tags */

.expand_collapse_tags_button {
    width:100%;
    text-align:right;
}

/* END Collapsable tags */


ul#user_details  {    
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    border: solid 1px black;
    list-style: none;
    width: 14em;
    text-align: left;
    background-color:silver;
}

ul#users_details li {
    list-style-type: none;
}

ul#user_details li {
    font-size: 11px;
    list-style-type: none;
}

#sop_preview {    
    width: 20em;
    max-height: 25em;
    background-color: #EEEEEE;
    display: inline-block;
    padding: 1em 1em 1em 1em;
    border: 1px solid #999999;
}

#sop_preview p.title {
    font-weight: bolder;
    text-align:center;
}

#sop_preview p.description {
    border: 1px dotted #999999;
    margin: 0.2em 0;
    padding: 0.4em 0.6em;
    background-color: #FFFFCC;
    text-align: left;
    line-height: 1.3;
    overflow: hidden;
}

.foldContent {
    padding-top:0.5em;
    background-color: #FCFCFF;
}

table.conditions_or_factors {
    border: dotted #999999 1px;
    margin-top: 1em;
}

ul.conditions_or_factors li {        
    list-style-type:none;    
}

ul.condition_or_factor_row {
    clear:both;
}

ul.condition_or_factor_row li {
    float:left;
    padding: 0 1em 0.25em 1em;
    text-align:left;
    border-bottom: dotted #999999 1px;
    min-height: 2em;
}

ul.condition_or_factor_row li#measured_item {
    width:15em;
}

ul.condition_or_factor_row li#values {
    width:15em;
}

ul.condition_or_factor_row li#time_point {
    width:5em;
}

ul.condition_or_factor_row li#standard_deviation {
    width:5em;
}

ul.condition_or_factor_row li#delete {
    width:1em;
}

ul.heading li {
    font-weight:bolder;
    min-height: 4em;
}

.show_basic div#studied_factors {
    max-height:30em;
    overflow:auto;
}