

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

#header {
    border:dashed gray 1px;
    height: 6em;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

#footer {
    border:dashed gray 1px;
    height: 6em;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

#main_pane {
    padding-right: 1em;
    padding-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 3em;
}

#bd {
    background-color: #FAFAFA;
}

.myexperiment_gadget #avatar img {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border: black double 4px;
}


