

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

#header {
    padding-top: 1em;
    text-align:right;
}

#footer {
    border:dashed gray 1px;
    height: 6em;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: center;
}

#main_pane {
    padding-right: 1em;
    padding-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 3em;
}

#bd {
    background-color: #FAFAFA;
}

#who_am_i #avatar img {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border: black double 4px;
}

#who_am_i p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.tabnav {
	text-align: left;
	font-weight: bolder;
	font-size: 108%;
	padding: 4px 0;
	padding-left: 2em;
	margin: 0;
}

#list_item {
    background-color: #F0F0F0;
    margin: 4px;
    padding: 4px;
    padding-left: 1em;
    border: #999999 solid 1px;
    font-size: 93%;
    min-height: 90px;
}

#list_item #avatar_pane {
    margin: 1em 1em 1em 1em;
    float: left;
}

#list_item #avatar {
    border: black solid 1px;   
    max-width: 50px;  
}

#list_item #name {
    font-size: 1.5em;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    border-bottom: black dotted 1px;
}

#list_item #details {
    margin-left: 100px;
    padding-left: 1em;
    border-left: black dotted 1px;  
}

#list_item ul {margin: 0;  padding: 0;}

#list_item li {
    
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 1em;
    white-space:nowrap;
}

#list_item label {
    font-weight: bold;
}

#list_item #expertise {
    
    text-align: center;
    bottom :0px;
}

#list_item #expand_button {
    text-align: right;
    float: bottom;
}

.show_basic {
    padding-left: 2em;
}

.show_basic input {
    width: 22em;   
}

#person_description  {
    height: 10em;    
}

.show_basic #expertise_name {
    width: 22em;
    max-height: 2.5em;
}

.show_basic select {
    width: 22em;
    height: 25em;
    min-height: 25em;
    max-height: 25em;
}

.show_basic .submit  {
    width: 5em;
}

.show_basic #edit_person_left {
    width:87%;
    padding-left: 2em;
    border-right: dotted 1px black;
}



.show_basic label {
    font-weight: bold;
}

.show_basic #name p {
    font-size: 24px;
    font-weight: bold;
}

.show_basic ul {margin: 0;  padding: 0;}

.show_basic li {
    
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 1em;
    white-space:nowrap;
}

#expertise_people a.current_user {
    color: red;
}


/* boxes */

.box_about_actor {
	/* reserved for potential styling of the box containing personal information about actor */
}

.main_content_left_box {
	float: left;
	width: 73.5%;
}

.main_content_right_box {
	float: right;
	width: 25%;
}