.menutabs {
    margin: 0;
    border-top: 0px;
    border-bottom: 0px;
    float: left;
}

.menutabs li {
    list-style: none;
    margin: 0;
    float: left;
}

.menutabs li.spacer_before {
    margin-left: 1em;
}

.menutabs li a {
  padding: 15px 20px;
  text-decoration: none;
  color: #283a12;
  line-height: 20px;
  display: block;
}

.menutabs li a:hover, .menutabs li.active a {
    background-color: #b1e10f;
}

ul#section_menu_items {
    margin: 0em 3em;
    float:left;
}

ul#section_menu_items > li {
    list-style: none;
    list-style-type: none;
    float:left;
    margin-top: 0em;


}

ul#section_menu_items > li.selected_menu {
    background-color: #001dff;
}

ul#section_menu_items > li > a {
    color :white;
    padding: 0.25em 0.5em;
}

ul#section_menu_items > li > a:hover {
    background-color: #001dff;
}

#search_box {
    float: right;
    margin-right: 2em;
    width:auto;
    color:white;
}

#search_query {
    width:30em;
}