.tabnav2 {
    font-weight: bolder;
    padding: 4px 0 1px 2em;
    margin: 0;
    border-top: 0px;
    border-bottom: 0px;
}

.tabnav2 li {
    list-style: none;
    margin: 0;
    display: inline;
}

.tabnav2 li.spacer_before {
    margin-left: 1em;
}

.tabnav2 li a {
    padding: 3px 8px;
    margin-left: 1px;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    background-image: url('../images/tab-bg.png');
    background-position: top;
    background-repeat: repeat-x;
    background-color: #EDEDED;
}

.tabnav2 li a:link {
    color: #FFFFFF;
    background: #317eff;
    border: 0px;
}

.tabnav2 li a:visited {
    color: #FFFFFF;
    background: #317eff;
}

.tabnav2 li a:hover {
    color: #FFFFFF;
    background-color: #2651ff;
}

.tabnav2 li#selected_tabnav a {
    background-color: #001dff;
    background-image: none;
    color: #FFFFFF;
}

ul#section_menu_items {
    margin: 0em 3em;
    float:left;

}

ul#section_menu_items > li {
    list-style: none;
    list-style-type: none;
    float:left;
    margin-top: 0em;


}

ul#section_menu_items > li.selected_menu {
    background-color: #001dff;
}

ul#section_menu_items > li > a {
    font-weight: bolder;
    color :white;
    padding: 0.25em 0.5em;
}

ul#section_menu_items > li > a:hover {
    background-color: #001dff;
}