.rtContainer
{
 position: relative;
 font-size: 1px; 
}

.rtTextArea
{
  position: absolute;
  left: 1px;
  top: 1px;
  border: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  /* This sets the color of the textarea */
  background-color: White;
}

.rtTopEdge, .rtLeftEdge
{
  position: absolute;
  left: 0px; 
  
  /* This sets the color of the left and top edge
   * for the other edges, you will have to modify
   * the images */
  background-color: #A5ACB2;
}

.rtTopEdge
{
  height: 1px;  
}

.rtLeftEdge
{
  width: 1px;
}

.rtRightEdge
{
  position: absolute;
  width: 4px;
  top: 3px;
  cursor: e-resize;
  background-image: url('../../../images/jws/vert_repeater.gif');
  background-repeat: repeat-y;
}

.rtBottomEdge
{
  position: absolute;
  height: 4px;
  left: 3px;
  cursor: s-resize;
  background-image: url('../../../images/jws/horz_repeater.gif');
  background-repeat: repeat-x;
}

.rtCorner, .rtLeftCorner, .rtTopCorner, .rtBottomHandle, .rtRightHandle, .rtTopRightImage, .rtBottomLeftImage
{
  position: absolute;
  background-image: url('../../../images/jws/non_repeaters.gif');
  background-repeat: no-repeat;
}

.rtCorner
{
  height: 7px;
  width: 7px;
  cursor: se-resize;
  background-position: -23px -7px;
}

.rtLeftCorner
{
  height: 7px;
  width: 7px;
  top: 0px;
  left: -7px;
  background-position: -16px -7px;
}

.rtTopCorner
{
  height: 7px;
  width: 7px;
  top: -7px;
  left: 0px;
  background-position: -23px 0px;
}

.rtRightHandle
{
  width: 8px;
  height: 22px;
  left: 0px;
  background-position: 0px 0px;
}

.rtBottomHandle
{
  width: 22px;
  height: 8px;
  top: 0px;
  background-position: -8px -14px;
}

.rtTopRightImage
{
   width: 4px;
   height: 3px;
   top: -3px;
   left: 0px;
   background-position: -10px -6px;
}

.rtBottomLeftImage
{
   width: 3px;
   height: 4px;
   top: 0px;
   left: -3px;
   background-position: -10px -1px;
}