.squarebox {
    width: 100%;
    border: solid 1px #336699;
    text-align: center;
    overflow: hidden; }
.squareboxgradientcaption {
    color: White;
    padding: 5px;
    background-image: url("../../images/jws/gradient_blue.gif");
    background-repeat: repeat-x; }
.squareboxgradientcaption2 {
    color: White;
    padding: 5px;
    background-image: url("../../images/jws/gradient_red.gif");
    background-repeat: repeat-x; }
.squareboxcontent {
    background-color: WhiteSmoke;
    padding: 10px;
    overflow: hidden;
    border-top: solid 1px #336699; }
