.reContainer
{
 position: relative;
 font-size: 1px; 
}

.reContent
{
  position: absolute;
  left: 1px;
  top: 1px;
  border: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: White;
}

.reTopEdge, .reLeftEdge
{
  position: absolute;
  left: 0px; 
  
  /* This sets the color of the left and top edge
   * for the other edges, you will have to modify
   * the images */
  background-color: #A5ACB2;
}

.reTopEdge
{
  height: 1px;  
}

.reLeftEdge
{
  width: 1px;
}

.reRightEdge
{
  position: absolute;
  width: 4px;
  top: 3px;
  cursor: e-resize;
  background-image: url('../../../images/jws/vert_repeater.gif');
  background-repeat: repeat-y;
}

.reBottomEdge
{
  position: absolute;
  height: 4px;
  left: 3px;
  cursor: s-resize;
  background-image: url('../../../images/jws/horz_repeater.gif');
  background-repeat: repeat-x;
}

.reCorner, .reLeftCorner, .reTopCorner, .reBottomHandle, .reRightHandle, .reTopRightImage, .reBottomLeftImage
{
  position: absolute;
  background-image: url('../../../images/jws/non_repeaters.gif');
  background-repeat: no-repeat;
}

.reCorner
{
  height: 7px;
  width: 7px;
  cursor: se-resize;
  background-position: -23px -7px;
}

.reLeftCorner
{
  height: 7px;
  width: 7px;
  top: 0px;
  left: -7px;
  background-position: -16px -7px;
}

.reTopCorner
{
  height: 7px;
  width: 7px;
  top: -7px;
  left: 0px;
  background-position: -23px 0px;
}

.reRightHandle
{
  width: 8px;
  height: 22px;
  left: 0px;
  background-position: 0px 0px;
}

.reBottomHandle
{
  width: 22px;
  height: 8px;
  top: 0px;
  background-position: -8px -14px;
}

.reTopRightImage
{
   width: 4px;
   height: 3px;
   top: -3px;
   left: 0px;
   background-position: -10px -6px;
}

.reBottomLeftImage
{
   width: 3px;
   height: 4px;
   top: 0px;
   left: -3px;
   background-position: -10px -1px;
}