<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<!DOCTYPE html>

<html>
  <head>
    <title>Taverna Player</title>
    <%= stylesheet_link_tag    "taverna_player/coderay", :media => "all" %>
    <%= javascript_include_tag "taverna_player/application", 'jquery-1.5.1.min.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
