<%= panel('Forgot Password', :id => 'forgot-password-panel') do %>
    <div class="alert alert-info">
      Instructions on how to reset your password will be sent to your registered email address.
    </div>

    <%= form_tag :action => "forgot_password" do  -%>
        <div class="form-group">
          <label>Login name or email address</label>
          <div class="input-group">
            <%= text_field_tag "login", nil, :size => 50, :class => 'form-control' %>
            <div class="input-group-btn">
              <%= submit_tag "Submit", data: { disable_with: 'Submitting...' }, :class => 'btn btn-primary' %>
            </div>
          </div>
        </div>
    <% end -%>
<% end -%>
