<% t "Forgot Password" -%>

<ul class="sectionIcons" style="text-align: right;">
  <li><%= image_tag_for_key("refresh", login_url, "Return to login page", nil, "Return to login page") -%></li>
</ul>

<h1>Forgotten Password</h1>



<br/>

<div>
  <% form_tag :action => "forgot_password" do  -%>

    <p class="box_infotext" style="text-align: center;">
      Instructions on how to reset your password will be sent to your registered email address.
    </p>

    <p style="text-align: center;padding-top:2em;">
      <b>Login name:</b> <%= text_field_tag "login", nil, :size => 15 %>
    </p>
    <p  style="text-align: center;">
      
    </p>

    <p style="text-align: center;">
      <%= submit_tag "Submit", :disable_with => "Submitting..." %>
    </p>

  <% end -%>
</div>