<%
   favourites = Favourite.for_user(current_user).includes(:resource)

   #this shouldn't be necessry thanks to acts_as_favouritable, but acts as a safety net for an old bug that left old Favourites with nil resources [SYSMO-520]
   favourites = favourites.select{ |f| !f.resource.nil? }.sort_by do |a|
     ASSET_ORDER.index(a.resource_type.chomp('::Version')) || 0
   end
%>
<% if favourites.empty? %>
    <span class="subtle" style="margin-left: 15px">None</span>
    <%= help_icon("Drag an icon here to remember for future reference.") -%>
<% else %>
    <% favourites.each do |fav| %>
        <%= favourite_icon(fav, 40, :avatar_class => 'framed') %>
    <% end %>
<% end %>

<script>
    // Rebind event to the favourites that were just added to the DOM
    bindFavourites($j('.favourite'));
</script>
