<% favourites=Favourite.find_all_by_user_id(current_user.id) %>
<% saved_searches=SavedSearch.find_all_by_user_id(current_user.id) %>
<% if favourites.empty? %>
  <span class="none_text" style="vertical-align:middle;height:100%;">
    Drag an icon here to remember for future reference.<br/>    
  </span>
<% else %>
  <% favourites.sort_by{|a| Asset::ASSET_ORDER.index(a.resource_type)}.each do |fav| %>
  <% if true -%>
   <%= fav_line_tag(fav) %>
  <% else -%>
    <%= fav_image_tag(fav) %>
  <% end -%>
  <% end %>  
<% end %>

<%= drop_receiving_element("content",
  :accept=>"favourite",
  :url=>{:controller=>'favourites', :action=>'delete'},
  :before => "Element.show('fav_ajax-loader')",
  :complete => "Element.hide('fav_ajax-loader');") %>