---
http_interactions:
- request:
    method: post
    uri: https://test.datacite.org/mds/metadata
    body:
      encoding: UTF-8
      string: |
        <resource xmlns="http://datacite.org/schema/kernel-3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://datacite.org/schema/kernel-3 http://schema.datacite.org/meta/kernel-3/metadata.xsd">
        <identifier identifierType="DOI">10.5072/test_doi</identifier>
        <creators>
        <creator>
        <creatorName>First, Last</creatorName>
        </creator>
        <creator>
          <creatorName>Test, Doi</creatorName>
        </creator>
        </creators>
        <titles>
        <title>For testing</title>
        </titles>
        <publisher>ABC</publisher>
        <publicationYear>2013</publicationYear>
        <subjects>
        <subject>Assessment</subject>
        <subject>Information Literacy</subject>
        <subject>Engineering</subject>
        </subjects>
        <language>eng</language>
        <resourceType resourceTypeGeneral="Dataset">Dataset</resourceType>
        <version>1</version>
        <descriptions>
        <description descriptionType="Abstract">
        A test
        </description>
        </descriptions>
        </resource>
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://test.datacite.org/mds/metadata/10.5072/test_doi
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: OK (10.5072/test_doi)
  recorded_at: Tue, 04 Nov 2014 15:06:57 GMT
- request:
    method: post
    uri: https://test.datacite.org/mds/doi
    body:
      encoding: UTF-8
      string: |-
        doi=10.5072/test_doi
        url=https://seek.sysmo-db.org
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://test.datacite.org/mds/doi/10.5072/TEST_DOI
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: OK
  recorded_at: Tue, 04 Nov 2014 15:15:03 GMT
- request:
    method: get
    uri: https://test.datacite.org/mds/doi/10.5072/test_doi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: https://seek.sysmo-db.org
  recorded_at: Tue, 04 Nov 2014 15:16:41 GMT
[...]
- request:
    method: get
    uri: https://test.datacite.org/mds/doi/10.5072/test_doi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdDp0ZXN0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: https://seek.sysmo-db.org/data_files
  recorded_at: Tue, 04 Nov 2014 15:01:57 GMT
recorded_with: VCR 2.9.3