<% if @data_file.can_view? -%>

  <% if @data_file.can_edit? -%>
    <ul class="sectionIcons">
      <li><%= image_tag_for_key('edit', data_file_studied_factors_path(@data_file), nil, nil, 'Edit factors studied (latest version)') -%></li>
    </ul>
  <% end -%>

  <br/>
  
  <div>
    <% unless @display_data_file.studied_factors.empty? -%>
      <ul>
        <%= render :partial=>"studied_factors/condition_or_factor_row_headings", :locals=>{:asset => 'data_file', :show_delete=>false} %>
        <%= render :partial=>"studied_factors/condition_or_factor_row",:collection=>@display_data_file.studied_factors, :locals=>{:asset => 'data_file', :show_delete=>false} %>
      </ul>
    <% else -%>
      <span class="none_text">No factors studied for this Data file.</span>
    <% end -%>
  </div>

  <div style="clear:both;">&nbsp;</div>

<% end -%>