
    <table id="treatments">
      <thead>
        <th>Sample name</th>
        <% treatments.values.keys.each do |treatment| %>
            <th><%= h(treatment) -%></th>
        <% end -%>
      </thead>
      <% treatments.sample_names.each_with_index do |sample,i| -%>
        <tr>
          <td><%= h(sample) -%></td>
          <% treatments.values.keys.each do |treatment| -%>
            <td><%= h(treatments.values[treatment][i]) -%></td>
          <% end -%>
        </tr>
      <% end -%>

    </table>
