<% if @data_file.is_with_sample?
bio_samples = @data_file.bio_samples_population nil, false
sample_names = bio_samples.instance_values["sample_names"]
end
-%>

<% if @data_file.is_with_sample? -%>
    <% rna_extractions = bio_samples.instance_values["rna_extractions"] -%>
    <% unless rna_extractions.nil? -%>
        <% unless rna_extractions.empty? -%>
            <%= folding_panel('RNA Extractions', true) do %>
                <% if can_download_asset?(@data_file, params[:code]) -%>
                    <%= render :partial => "extractions_table", :locals => {:extractions => rna_extractions, :sample_names => sample_names} -%>
                <% else -%>
                    <span id="rna_extractions" class="none_text">You do not have permission to view the RNA extractions for this file.</span>
                <% end -%>
            <% end %>
        <% end -%>
    <% end -%>
    <% sequencing = bio_samples.instance_values["sequencing"] -%>
    <% unless sequencing.nil? -%>
        <% unless sequencing.empty? -%>
            <%= folding_panel('Sequencing', true) do %>
                <% if can_download_asset?(@data_file, params[:code]) -%>

                    <%= render :partial => "extractions_table", :locals => {:extractions => sequencing, :sample_names => sample_names} -%>

                <% else -%>
                    <span id="sequencing" class="none_text">You do not have permission to view the sequencing for this file.</span>
                <% end -%>
            <% end %>
        <% end -%>
    <% end -%>
<% end -%>