<div id="in-progress" class="text-center">
  <p class="alert alert-info">Please wait whilst the uploaded file is proccessed ...</p>
  <%= image('large_spinner') %>
</div>

<div id="response-error" class="alert alert-danger" style="display:none;">
  <p>
  Unfortunately a problem occurred processing the file.
  </p>
  <p>
    Somebody has been notified of the problem.
    Please try again later.
  </p>
</div>

<div id="datafile-wizard-form">

</div>

<script type="application/javascript">

    $j(document).ready(function () {

        var request = $j.ajax({
            type: "POST",
            dataType: "html",
            url: '<%= rightfield_extraction_ajax_data_files_path -%>',
            data: <%= {content_blob_id:@data_file.content_blob.id}.to_json.html_safe %>
        });

        request.done(function (data) {
            $j('#datafile-wizard-form').html(data);
        }).fail(function (jqXHR, textStatus) {
            $j('#response-error').show();
        }).always(function () {
            $j('#in-progress').hide();
        });
    });

</script>