<div id="in-progress" class="text-center">
  <p class="alert alert-info">Please wait whilst the uploaded file is processed ...</p>
  <%= image('large_spinner') %>
</div>

<div id="response-error" class="alert alert-danger" style="display:none;">
  <p>
  Unfortunately a problem occurred processing the file. The problem was been reported.
  </p>
  <p>
    Please try again later.
  </p>
  <p class="text-right small">Error: <span id="error-message"/></p>
</div>



<script type="application/javascript">

    $j(document).ready(function () {

        var request = $j.ajax({
            type: "POST",
            dataType: "html",
            timeout: 0,
            url: '<%= rightfield_extraction_ajax_data_files_path -%>',
            data: <%= {content_blob_id:@data_file.content_blob.id}.to_json.html_safe %>
        });

        request.done(function (data) {
            <% options = @source_assay_ids.present? ? {assay_ids:@source_assay_ids} : {} %>
            window.location='<%= provide_metadata_data_files_path(options) %>'
        }).fail(function (jqXHR, textStatus,errorThrown) {
            $j('#in-progress').hide();
            $j('#response-error').show();
            $j('#error-message').html(jqXHR.responseText);
        })
    });

</script>