<%= stylesheet_link_tag('finn_spreadsheet') %>
<%= javascript_include_tag 'jquery-1.4.3.js', 'finn_spreadsheet.js' %>


<h1>Exploring Data File</h1>

<div class="show_basic">
  <input size="10" readonly="readonly" id="selection_data"></input>
  <input size="60" readonly="readonly" id="cell_info"></input><br/><br/>
  <%= generate_spreadsheet_html(@spreadsheet) %>   
</div>

(<span id="debug"></span>)