<style>

  table#progress {
    width: 90%;
    border: 1px solid;
  }

  table#progress thead {
    border: 1px solid;
  }

  table#progress th, td{
    border-left:1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0.5em;
  }

  table#progress tbody tr {
    border-bottom: 1px solid #ccc;
  }

  table#progress tr.status-queued {
    background-color: lightgrey;
  }

  table#progress tr.status-running {
    background-color: lightyellow;
  }

  table#progress tr.status-storing {
    background-color: lightyellow;
  }

  table#progress tr.status-finished {
    background-color: lightgreen;
  }

  table#progress tr.status-failed {
    background-color: rgba(255, 0, 0, 0.42);
  }

  span.step_status {
    padding: 0.2em 0.5em;
    border: 1px dotted #555;
    margin-left: 0.5em;
    border-radius: 5px;
  }

  span.step_queued {
    background-color: lightgrey;
  }

  span.step_running {
    background-color: lightgoldenrodyellow;
  }

  span.step_finished {
    background-color: #70e36c;
  }

</style>

<%= image(:galaxy_logo) %>

<h1>Progress for <%= @data_file.title %></h1>




  <%= render partial: 'data_files/galaxy_execution_status', locals: { galaxy_items: @galaxy_items, execution_id:params[:execution_id] } %>

