

<%#= stylesheet_link_tag "match_making" -%>


<div class="contribution_title">
  <h1><%= t('model').pluralize %> that may be relevant to <%= link_to h(@data_file.title), @data_file -%></h1>
</div>

<div class="show_basic">

  <%= render :partial => "matching_model_item", :locals => {:matching_model_items => @matching_model_items} -%>

</div>
