<div class="panel panel-default" id="openbis-details">
  <div class="panel-body alert-danger" role="alert">
    <p>
      <%= image(:openbis, :width => '75px') %> <p>An error occurred contacting openBIS, please try again later</p>
    </p>
  </div>
</div>