<style>

  table.csv_view {
      border: 1px double black;
      overflow-x:auto;
  }
    
  table.csv_view th {
      font-weight:bolder;
  }

  table.csv_view td {
      border: 1px solid #777;
  }
  table.csv_view th {
      border: 1px solid #777;
  }
</style>
<%
  csv_arr = FasterCSV.parse(csv)
  highlight_first_row ||= false


  if highlight_first_row
    heading=csv_arr.slice!(0)
  end

%>

<table class="csv_view">
  <thead>
  <tr>
    <% if heading -%>
        <% heading.each do |v| -%>
            <th><%= h(v) -%></th>
        <% end -%>
    <% end -%>
    </tr>
  </thead>
    <tbody>
        <% csv_arr.each do |row| -%>
            <tr>
              <% row.each do |v| -%>
                <td><%= h(v) -%></td>
              <% end -%>
            </tr>
        <% end -%>
    </tbody>  
</table>