<%= javascript_include_tag 'flot/excanvas.min.js' -%>
<%= javascript_include_tag 'jquery-1.5.1.min.js' -%>
<%= javascript_include_tag 'flot/jquery.flot.js' -%>
    <%= javascript_include_tag 'flot/curvedLines.js' -%>

<%
    csv_data ||= open(csv_url).read
-%>

    <div id="placeholder" style="width:800px;height:400px;"></div>

<script id="source">
$(function () {
    var json_data = <%= csv_to_flot_data(csv_data) -%>;

    var options = { series: {
        curvedLines: {
            active: true
        }
    }
    };

    $.plot($("#placeholder"), json_data,options );
});
</script>
