
    <table border="1">
      <thead>
      <th>Key</th>
      <th>Use?</th>
      </thead>
      <tbody>
      <% keys.each do |k| -%>
          <tr>
            <td><%= h(k) -%></td>
            <td><%= check_box_tag "parameter_keys[#{k}]", "1", false -%></td>
          </tr>
      <% end -%>
      </tbody>
    </table>
