<%
   checked_by_default=true
-%>
<h3>Available Parameter keys</h3>
<ul class="param_keys">
  <% keys.sort.each do |k| -%>
  <li class="param_key">
    <%= h(k) -%>
    <%= check_box_tag "parameter_keys[#{k}]", "1", checked_by_default -%>
  </li>
  <% end -%>
</ul>
