
<ul class="feed_announcement_list">
  <%= render :partial => "site_announcements/feed_announcement",:collection=>feed_announcements,:locals=>{:truncate_length=>truncate_length,:show_seperator=>true} %>
  <li class="feed_announcement">
  	<% if SiteAnnouncement.count > limit -%>
  	<center>
  		<span class="announcement_title"><%= link_to "See all",site_announcements_path(:feed_only=>true) -%></span>
	</center>
	<% end -%>
  </li>
</ul>