
<%= render :partial => 'scales/scale_slider', :locals => {:scale_slider_function => remote_function(
        :url=>{:action=>'scale_search', :controller=>'scales'},
        :with=>"'scale_type='+this.id",
        :before=>"show_ajax_loader('scaled_items_id')")} %>

<!--Inserting the javascripts for loading tabber dynamically-->
 <div id="js_for_tabber"></div>


 <div id="scaled_items_id" class="scaled_items">



 <% resource_hash ||={} -%>
 <%= render :partial => "assets/resource_listing_tabbed_by_class",
               :locals => {:resource_hash => resource_hash,
                           :narrow_view => true,
                           :authorization_already_done => true} -%>

 </div>



