<script type="text/javascript">
  var loaded_scales = new Array();
  loaded_scales['all'] = true;
</script>
<%= render :partial => 'scales/scale_slider', :locals => {:scale_slider_function => (remote_function(
        :url=>{:action=>'scale_search', :controller=>'scales'},
        :with=>"'scale_type='+this.id",
        :before=>"show_ajax_loader(this.id+'_results')",
        :condition=>'!loaded_scales[this.id]') +
        ";loaded_scales[this.id] = true;
        $$('#scaled_items > div').invoke('hide');
        $(this.id+'_results').show();")} %>

<!--Inserting the javascripts for loading tabber dynamically-->
<div id="js_for_tabber"></div>

<div id="scaled_items">
    <div id="all_results" class="scaled_items">
      <% resource_hash = classify_for_tabs @scaled_objects -%>
      <%= render :partial => "assets/resource_listing_tabbed_by_class",
                   :locals => {:resource_hash => resource_hash,
                               :narrow_view => true,
                               :authorization_already_done => false, :limit => 20} -%>
    </div>
    <% Scale.all.map(&:title).reject{|s| s == 'all'}.each do |s|%>
    <div id="<%= s %>_results" class="scaled_items" style="display: none;"></div>
    <% end %>
</div>



