<p id="home_intro" class="box_standout">
  Welcome to <b><%= Seek::Config.application_name %></b>.
  <br/><br/>
  For commonly asked questions please visit the <%= link_to "FAQ",HelpDocument.find_by_identifier("faq") -%>.<br/> 
  For a more detailed overview please read our <%= link_to "Help documents", help_documents_path -%>.
  <br/>
  For a summary of recent changes, please visit our <%= link_to "Recent changes","http://www.sysmo-db.org/changes##{APP_VERSION}",:popup=>true -%> page.

</p>