<p id="home_intro" class="box_standout">
  Welcome to <b>SysMO SEEK</b>.
  <br/><br/>
  For commonly asked questions please visit the <%= link_to "FAQ",{:action=>"faq"} -%>.<br/>
  For an overview of recent changes to SEEK please visit: <%= link_to "Recent changes","http://www.sysmo-db.org/changes.html##{APP_VERSION}",:popup=>true -%>.

</p>