<div class="yui-g home_panel_pair">
  <div class="yui-u first home_panel">
     <div class="heading">Recently added</div>
    <div id="recently_added" class="homepanel_list">
        <ul>
        <% recently_added_item_logs(1.year.ago, 8).each do |added_item_log|
            uploaded_item = added_item_log.activity_loggable %>
            <%= display_single_item(uploaded_item, 'added', added_item_log.created_at) -%>
        <%end%>
        </ul>
     </div>
  </div>
  <div class="yui-u home_panel">
    <div class="heading">Recently downloaded</div>
    <div id="recently_downloaded" class="homepanel_list">
        <ul>
        <% recently_downloaded_item_logs(1.year.ago, 8).each do |downloaded_item_log|
           downloaded_item = downloaded_item_log.activity_loggable
        %>
           <%= display_single_item(downloaded_item, 'downloaded', downloaded_item_log.created_at) -%>
        <% end %>
        </ul>
     </div>
  </div>

</div>