<p id="home_intro" class="box_standout">
  Welcome to <b>SysMO SEEK</b>.
  <br/><br/>
  For commonly asked questions please visit the <%= link_to "FAQ",HelpDocument.find_by_identifier("faq") -%>.<br/> 
  For a more detailed overview please read our <%= link_to "Help documents", help_documents_path -%>.<br/>
  For an overview of recent changes to SEEK please visit the <%= link_to "Recent changes","http://www.sysmo-db.org/changes.html##{APP_VERSION}",:popup=>true -%>.

</p>