

<div id="faq">
  <h1>Frequently asked questions</h1>
  <h3>What is the SysMO-SEEK?</h3>
  <p>
    The SEEK is a catalogue of assets held by the SysMO consortium. You can use the SEEK searching interface to find Data, Models, SOPs and protocols. You can also use it to find people, their institutions and their expertise
  </p>

  <h3>What is the Yellow Pages?</h3>
  <p>
    A directory of all the current and past members of the SysMO consortium, their project associates, their institutions and their expertise and experience
  </p>

  <h3>Are the SysMO Assets (Data, Models, and SOPs) kept in SEEK?</h3>
  <p>
    Not normally. SEEK links to the repositories of each SysMO project, so it is a catalogue of what is available rather than a repository. You can, however, upload files if you wish.
  </p>

  <h3>What kind of Models can I store/link to?</h3>
  <p>
    SEEK can handle models in any format, but we recommend that you use SBML. JWS Online simulations can also be run from SEEK for models in SBML
  </p>

  <h3>What format should SOPs be in?</h3>
  <p>
    You can upload SOPs in any format, but we recommend you use the “Nature Protocols” format. A template is available for download from SEEK. In the future, we will be able to extract extra information from this format to help with the searching
  </p>

  <h3>Can I delete things from SEEK?</h3>
  <p>
    Yes, you can delete any assets owned by you (i.e. any items that show you as the uploader). If they are associated with other assets, you will first have to remove the associations, otherwise the asset won’t be properly deleted, but deprecated.
  </p>

  <h3>What is the Investigations Tab for?</h3>
  <p>
    Investigations are high level descriptions of the research carried out by a particular SysMO project. They typically reflect the general aims of the project, for example, carbon metabolism or anaerobic/aerobic transitions.
  </p>

  <h3>What is the Studies Tab for?</h3>
  <p>
    A study is a series of experiments (or assays) which can be combined to answer a particular biological question. These experiments might be a series of the same type of assay (for example, microarrays for different conditions), or they may be a collection of different types of assay (e.g. a combination of array and mass spec measurements).
  </p>

  <h3>What is the Assay Tab for?</h3>
  <p>
    An assay describes a particular experiment. It allows you to associate data files and SOPs, as well as describing the type of assay and any technology required to perform the experiment.
  </p>

  <h3>Can I change or add information to SEEK assets after they are uploaded?</h3>
  <p>
    Yes, if you have permission, you can edit any asset. You will automatically have permission to change anything you own and other people in your project might also give you permission to edit their assets.
  </p>

  <h3>Can I see all the assets on SEEK?</h3>
  <p>
    No. All assets can be shared with specific individuals or groups, so some things will be not be public and hidden from view. In some cases, you might be able to see a description of an asset (the asset metadata), but not be able to download it. In these situations, you will be able to send a request to the owner to ask for their permission to download the asset.
  </p>

  <h3>What is metadata?</h3>
  <p>
    Metadata is a description of the data and where it originates (it is data about the data). For example, metadata about a model would include; who produced it, what project was it associated with, what format it was in, what type of model etc.
  </p>
</div>
