<span>
    <span class="glyphicon glyphicon-user"></span>
    <span class="text">{{given_name}} {{family_name}} (ID: {{creator_id}})</span>
    {{#if affiliation}}
        , <em>{{affiliation}}</em>
    {{/if}}
</span>
