<ul class="sectionIcons">
	<li><%= image_tag_for_key "new", new_event_path, "Announce an Event", nil, "Announce an Event" %></li>
</ul>
<%= render :partial => "assets/resource_list", :locals => { :collection => @events, :authorization_for_showing_already_done=>true } %>
