.rtTextArea {
    font-size: 10pt;
}

div.builder_actions {
    border-right: 1px #999 solid;
    border-left: 1px #999 solid;
    border-bottom: 1px #999 solid;
    text-align: center;
    height: 100%;
}

div.builder_actions h6 {
    background-color: #EEE;
    width: 100%;
    margin-bottom: 0.5em;	
    padding-top: 0.4em;
    border-top: solid 1px #999;
    border-bottom: solid 1px #BBB;
    height: 1.5em;
    vertical-align: middle;
}

div.jws_errors {
    color: red;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 1em;
}

div.jws_success {
    color: green;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 1em;
}

#builder_header p {
	margin: 0.0em 0.0em 0.5em 1em;
}
