<li>
  <ul class="condition_or_factor_row heading">
    <li id="measured_item">
      Item measured
    </li>
    <li id="range">
      Range or value
    </li>
    <li id="unit">
      Unit
    </li>
  </ul>
</li>
