<h1>
  <%= "Experimental conditions for '#{link_to h(@sop.title),sop_path(@sop, :version => @display_sop.version)}' version #{@display_sop.version}" %>
</h1>

<center>

  <div id="add_condition" style="display:block;">
    <%= render :partial=>"add_condition" %>
  </div>

  <ul id="experimental_conditions" class="conditions_or_factors">

    <%= render :partial=>"condition_row_headings" %>

    <div id="experimental_conditions_rows">
      <%= render :partial=>"condition_row",:collection=>@display_sop.experimental_conditions %>
    </div>
  </ul>


</center>
