<h1>
  <%= "Experimental conditions for '#{link_to @sop.title,sop_path(@sop, :version => @display_sop.version)}' version #{@display_sop.version}".html_safe %>
</h1>

<div id="add_condition_or_factor" style="display:block;">
  <%= render :partial=>"studied_factors/add_condition_or_factor", :locals => {:asset => 'sop'} %>
</div>

<div id="condition-or-factor-table">
  <%= render partial: "studied_factors/condition_or_factor_table", locals: { collection: @display_sop.experimental_conditions, asset: 'sop', show_delete: true}  %>
</div>

<script>
    $j(document).ready(function () {
        $j(document).on('ajax:error', function (xhr) {
            alert(xhr.responseText);
        });
    });
</script>