<div id="assays">
  <p>
      <label>Assays:</label>

      <%  if assays.blank? -%>
        <span class='none_text'>None defined</span>
      <% else %>

        <% for assay in assays  -%>
          <%
            title=h assay.title
            type=h assay.assay_type.title
          %>
          <%= link_to "#{title.capitalize} (#{type.capitalize})",assay_path(assay) %>
          
          <% unless assay==assays.last %>
            |
          <% end %>
        <% end %>
      <% end %>
    </p>
</div>