<h2 style="margin-top: 3em;">Assets related to this study</h2>

<% study_asset_hash = Asset.classify_and_authorize(@study.sops.collect{|sop| sop.asset  }, true, current_user) -%>

<%= render :partial => "assets/resource_listing_tabbed_by_class", :locals => { :asset_hash => study_asset_hash,
  :narrow_view => true,
  :authorization_already_done => true } -%>
