<h2 style="margin-top: 3em;">Assets related to this study</h2>

<% experiment_asset_hash = Asset.classify_and_authorize([], true, current_user) -%>

<%= render :partial => "assets/resource_listing_tabbed_by_class", :locals => { :asset_hash => experiment_asset_hash,
  :narrow_view => true,
  :authorization_already_done => true } -%>
