<ul class="sectionIcons">
	<li><%= icon "new", new_study_path, "New study", nil, "New study" %></li>    
</ul>

<% if @studies.public_methods.include?("page_totals") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate_alphabetical", :locals => { :pages => @studies.pages, :page_totals=>@studies.page_totals,:current_page=>@studies.page } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial => "resource_list_item", :collection=>@studies %>
</div>