<ul class="sectionIcons">
	<li><%= icon "new", new_study_path, "New study", nil, "New study" %></li>    
</ul>

<% if @studies.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @studies } -%>
<% end %>

<%= render :partial => "resource_list_item", :collection=>@studies %>

<% if @studies.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @studies } -%>
<% end %>