<ul class="sectionIcons">
	<li><%= icon "study", new_study_path, "New study", nil, "New study" %></li>
	<!-- <li><%#= icon "view-all", all_files_path, nil, nil, "View All Files" %></li> -->
</ul>


<%= render :partial => "resource_list_item", :collection=>@studies %>