<ul class="sectionIcons">
	<li><%= icon "new", new_study_path, "New study", nil, "New study" %></li>
    <li><%= icon "new", new_assay_path, "New assay", nil, "New assay" %></li>
</ul>


<%= render :partial => "resource_list_item", :collection=>@studies %>