<script type="text/javascript">
  var CREATE_INVESTIGATION_PATH='<%= create_investigation_path %>';
</script>
<% investigations = Investigation.all.select &:can_view? -%>
<% if investigations.blank? %>
    <ul class="sectionIcons">
   <%= image_tag_for_key('arrow_right', new_investigation_path(:create_from_asset=>@study.create_from_asset), "New investigation", {:style=>"font-size:larger"}, "New investigation") -%>
    </ul>
<% else %>
<h1>New study</h1>

<div class="show_basic">

	<% form_for @study do |f| %>
	  <%= render :partial => "form", :locals => { :f => f, :action=>:new } -%>
	<% end -%>
</div>
<% end -%>