<%
  #FIXME: 2197 - move query to model or helper method
  uploads = FairDataStationUpload.for_project_and_contributor(project, contributor).show_status.import_purpose
  return if uploads.empty?
%>

<h1>Existing Imports</h1>

<% uploads.each do |upload| %>
  <%= render partial: 'fair_data_station_import_status', locals: { upload: upload } %>
<% end %>