 <div class="col-lg-12">
     <div class="row">
         <div id=files class="simpleForm">
             <ul class="fileManager">
                 <li>empty</li>
             </ul>
         </div>
     </div>
     <div class="row">
         <textarea placeholder="Insert content here!" id="txt_file_content" class="form-control"></textarea>
     </div>
 </div>