   <div class="simpleForm">
       <p id="investigationTitle"><strong style="text-align: center;">Title:</strong> <span
               id="investigationTitleC">Investigation</span></p>
       <p id="investigationDes"> <strong>Description:</strong> <span id="investigationDesC">inv content</span> </p>
       <div class="form-group">
           <label>The following people...</label>
           <%= objects_input('permission-people-ids', [], typeahead: { values: Person.all.map { |p| { id: p.id, name: p.name, hint: p.typeahead_hint } } }, name: nil) -%>
           <p class="help-block">Start typing a person's name and select from the list that appears. You can select
               multiple people.</p>
       </div>
       <div class="form-group">
           <label>can...</label>
           <%= select_tag('permission-people-access-type', policy_selection_options(nil, nil, Policy::ACCESSIBLE), name: nil, class: 'form-control') -%>
       </div>

       <input type="submit" id="submit_btn" value="Update" class="btn btn-primary">

   </div>
   <script>
       // Add a person permission to the table
       $j('#submit_btn').on('click', e => {
           let people = $j('#permission-people-ids').tagsinput('items');
           let pid = <%= params[:id] %>
               let url = pid + '/update_investigation_permission';
           let inv_id = $j("#selected_item_id").val()
           if (!inv_id) return
           let data = {
               inv_id,
               'investigation': {
                   'project_ids': pid //We need to update the permissions of the investigation of current project only
               },
               'policy_attributes': {
                   'access_type': '0',
                   'permissions_attributes': [{
                       'contributor_type': 'Project',
                       'contributor_id': pid
                   }]
               }
           }
           people.forEach(function (person, index) {
               data.policy_attributes.permissions_attributes.push({
                   'contributor_type': 'Person',
                   'contributor_id': person.id,
                   'access_type': parseInt($j('#permission-people-access-type').val())
               })
           });
           $j.ajax({
               type: 'POST',
               url,
               data,
               success: s => {
                   alert(s.message)
               },
               error: (e) => {
                   console.log(e)
                   alert('Error')
               }
           })
       });
       
   </script>