   <div class="simpleForm">
       <p id="investigationTitle"><strong style="text-align: center;">Title:</strong> <span
               id="investigationTitleC"></span></p>
       <p id="investigationDes"> <strong>Description:</strong> <span id="investigationDesC"></span> </p>
       <div class="form-group">
           <label>The following people...</label>
           <%= objects_input('investigation-permission-people-ids', [], typeahead: { values: Person.all.map { |p| { id: p.id, name: p.name, hint: p.typeahead_hint } } }, name: nil) -%>
           <p class="help-block">Start typing a person's name and select from the list that appears. You can select
               multiple people.</p>
       </div>
       <div class="form-group">
           <label>can...</label>
           <%= select_tag('permission-people-access-type', policy_selection_options(nil, nil, Policy::ACCESSIBLE), name: nil, class: 'form-control') -%>
       </div>

       <input type="submit" id="submit_btn" value="Update" class="btn btn-primary">

   </div>
   <script>
       // Add a person permission to the table
       $j('#submit_btn').on('click', e => {
           let people = $j('#investigation-permission-people-ids').tagsinput('items');
           let pid = <%= params[:id] %>
           let inv_id = $j("#selected_item_id").val()
           if (!inv_id) return
           let url = `/investigations/${inv_id}`;
           let data = {
               "data": {
                   "type": "investigations",
                   "id": inv_id,
                   "attributes": {
                       "policy": {
                           "access": "download",
                           "permissions": []
                       }
                   }
               }
           }
           people.forEach(function (person, index) {
               data.data.attributes.policy.permissions.push({
                   'resource': {
                       'id': person.id,
                       'type': 'people'
                   },
                   'access': get_permission(parseInt($j('#permission-people-access-type')
                   .val()))
               })
           });
           $j.ajax({
               method: 'PUT',
               "headers": {
                   "Content-Type": "application/json",
                   "Accept": "application/json"
               },
               url,
               data: JSON.stringify(data),
               success: s => {
                   alert('Sharing policy updated successfully!')
               },
               error: (e) => {
                   alert('error!')
               }
           })
       });

       function get_permission(permission) {
           switch (permission) {
               case 0:
                   return 'no_access'
               case 1:
                   return 'view'
               case 3:
                   return 'edit'
               case 4:
                   return 'manage'
           }
       }
   </script>