   <div class="simpleForm">
       <p id="investigationTitle"><strong style="text-align: center;">Title:</strong> <span
               id="investigationTitleC">Investigation</span></p>
       <p id="investigationDes"> <strong>Description:</strong> <span id="investigationDesC">inv content</span> </p>
       <div class="form-group">
           <label>Shared with: </label>
           <div class="bootstrap-tagsinput"><span class="tag label label-default">Vahid Kiani<span
                       data-role="remove"></span></span>
               <input type="text" />
           </div>
       </div>
       <div class="form-group">
           <label>Permission: </label>
           <div class="bootstrap-tagsinput"><span class="tag label label-default">Vahid Kiani<span
                       data-role="remove"></span></span>
               <span class="tag label label-default">Flora D'Anna<span data-role="remove"></span></span>
               <input type="text" />
           </div>
       </div>
   </div>