<%
    include_blank = (admin_logged_in? && params[:programme_id].blank?) ? "No associated #{t('programme')}" : nil
    available = User.current_user.person.administered_programmes.activated +
        Programme.select { |p| p.allows_user_projects? }
    if params[:programme_id]
      available =   available.select{|p| p.id.to_s == params[:programme_id]}
    end

    selected = params[:programme_id] || @project.programme_id
%>
<div class="form-group">
  <%= f.label "Associated #{t('programme')}" %>
  <%= f.collection_select(:programme_id, available, :id, :title,
                          { selected: selected, include_blank: include_blank }, class: 'form-control') %>
</div>
