<%# this partial expects the following parameters to be set: -%>
<%# - "resource_type" - type (string value required) of the current resource -%>
<%# - project_hash - hash in a form of { <project_id> => <project_name>, [...] } of all projects that the current user is a member of -%>
<%# - selected_project_id - ID of the project the resource is currently associated with; skip this parameter for a "new" resource -%>
<%# - disable_project_select - selection should only be available on 'new' action, but not on 'edit'; this parameter has a default of "false" -%>

<% resource ||= nil
   if resource
       selected_project_ids ||= resource.project_ids
   end
   selected_project_ids ||= []
%>

<% allow_nil ||= false %>
<% possibilities = Project.all %>
<% unless allow_nil %>
    <span class="required">*</span>
<% end %>
<%= fancy_multiselect resource, :projects, :possibilities => possibilities, :selected => selected_project_ids %>




