<% project = project_list_item %>
<% drag_id = model_to_drag_id(project) %>

<div class="list_items_container">
  <table class="list_item">
  	<tr>
  		<td class="item_avatar" style="width: 100px">
  			<% image_tag = avatar(project, 60, true) -%>
  	    <%= link_to_draggable(image_tag, url_for(project), :id => drag_id, :class => "asset", :title => tooltip_title_attrib(h(project.name))) -%>
  		</td>
			
			<td class="item_details">
			  <p class="name">
			  	<% project_name = h(project.name) -%>
					<%= project_name.blank? ? "<span class='none_text'>Unknown</span>" : link_to(project_name, project_path(project)) -%>
			  </p>
				
				<% unless is_nil_or_empty? project.web_page %>
		      <p class="web_page">
		        <label>Web page:</label>
		        <%= link_to h(project.web_page), h(project.web_page),:popup=>true %>
		      </p>
		    <% end %>
		    
		    <% unless is_nil_or_empty? project.wiki_page %>
		      <p class="wiki_page">
		        <label>Wiki page:</label>
		        <%= link_to h(project.wiki_page), h(project.wiki_page),:popup=>true %>
		      </p>
		    <% end %>
				
			</td>
		</tr>
	</table>
</div>
