<h2>Remote site credentials</h2>
<%
@project.decrypt_credentials
%>

<p>
  <%= f.label :username -%><br/>
  <%= f.text_field :site_username -%>
</p>

<p>
  <%= f.label :password -%><br/>
  <%= f.password_field :site_password -%>
</p>