
<%= render :partial => "general/item_title",:locals=>{:title=>"Edit #{t('project') } #{link_to(h(@project.title), @project)}".html_safe} %>

<div class="show_basic">
  <%= form_for(@project) do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :project => @project } -%>
  <% end %>
</div>

