<h1>Edit Project: <%= link_to h(@project.name), project_path(@project) -%></h1>

<div class="show_basic">
  <% form_for(@project) do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :project => @project } -%>
  <% end %>
</div>

