<%= index_title -%>
<% if @organisms -%>
  <h2><%= "#{t('project').pluralize} involved with the organism '"+h(@organisms)+"' ... " -%></h2>
<% end %>

<%= render :partial => "assets/asset_index", :object => @projects-%>