<%= index_title -%>
<% if @organisms -%>
  <h2><%= "#{t('project').pluralize} involved with the organism '"+h(@organisms)+"' ... " -%></h2>
<% end %>

<% if index_with_facets?(controller_name)  %>
    <%= render :partial => "faceted_browsing/faceted_browsing", :object => @projects %>
<% else %>
    <%= render :partial => "assets/resources_alphabetical_paginated", :object => @projects %>
<% end %>