<% if @organisms -%>
  <h2><%= "Projects involved with the organism '"+h(@organisms)+"' ... " -%></h2>
<% end %>

<% if @projects.public_methods.include?("page_totals") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate_alphabetical", :locals => { :pages => @projects.pages, :page_totals=>@projects.page_totals,:current_page=>@projects.page } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial=>"assets/resource_list_item", :collection=>@projects %>
</div>

<% if @projects.page == "latest" && Project.find(:all).length > Seek::Config.limit_latest%>
    <%= render :partial => "layouts/paginate_see_all"%>
<% end %>