<h1>Manage projects</h1>

<div class="show_basic">
  <div>
    <ul><%= Rails.cache.fetch([:projects_tree_manage]){tree_editor_display Project, true, true, nil,"Person"} if Seek::Config.project_hierarchy_enabled%></ul>
  </div>
</div>