<h1>Edit Experiment: <%= link_to h(@experiment.title), experiment_path(@experiment) -%></h1>

<div class="show_basic">
  <% form_for(@experiment) do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :experiment => @experiment } -%>
  <% end %>
</div>
