

<ul class="sectionIcons">
    <li><%= image_tag_for_key "new", new_experiment_path, "New experiment", nil, "New experiment" %></li>
</ul>

<% if @experiments.public_methods.include?("page_totals") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate_alphabetical", :locals => { :pages => @experiments.pages, :page_totals=>@experiments.page_totals,:current_page=>@experiments.page } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial=>"layouts/resource_list_item", :collection=>@experiments %>
</div>
<% if @experiments.page == "latest" && Experiment.find(:all).length > Seek::Config.limit_latest%>
    <%= render :partial => "layouts/paginate_see_all"%>
<% end %>


