<script type="text/javascript">
  var CREATE_TOPIC_PATH='<%= create_topic_path %>';
</script>
<h1>New experiment</h1>

<div class="show_basic">
	<% form_for @experiment do |f| %>
	  <%= render :partial => "form", :locals => { :f => f, :action=>:new } -%>
	<% end -%>
</div>
