
<tr>
    <td>
      <input type="checkbox" name='requested_project[]' id='requested_project_{{id}}' value='{{ id }}' data-project-id="{{ id }}" class="project-selected"/>
    </td>
    <td>
      {{#if attributes.avatar}}
        <img src="{{ attributes.avatar  }}" height='50px'/>
      {{else}}
        <%= image_tag(Seek::ImageFileDictionary.instance.image_filename_for_key(:project_avatar),height:'50px') %>
      {{/if}}
    </td>
    <td><a href='{{ links.self }}'>{{ attributes.title }}</a></td>
</tr>