<%
  panel_label ||= 'Extended metadata'
  panel_style = resource.custom_metadata.try(:custom_metadata_type) ? '' : 'display:none'
%>

<%= folding_panel(panel_label, false, style:panel_style,id:'custom_metadata_attribute_panel') do %>
  <div id="custom_attributes">
    <% if resource.custom_metadata.try(:custom_metadata_type) %>
      <%= render partial: 'custom_metadata/custom_metadata_fields', locals: { custom_metadata_type: resource.custom_metadata.custom_metadata_type, resource: resource } %>
    <% end %>
  </div>
<% end %>

<script>

    $j(document).ready(function () {

        $j('#custom_metadata_attributes_custom_metadata_type_id').change(function() {
            if (this.value) {
                $j('#custom_metadata_attribute_panel').show();
            } else {
                $j('#custom_metadata_attribute_panel').hide();
            }
            $j.ajax({
                url: "<%= form_fields_custom_metadata_types_path %>",
                type: "get",
                data: {'id':this.value},
                dataType: 'html',
                beforeSend: function() {
                    $j('#custom_attributes').html('<div class="spinner"></div>');
                }
            })
                .done(function(data){
                    $j('#custom_attributes').html(data);
                    // fixme: hack hack, copied from calendar.js - should be converted to a function if it becomes final
                    $j('[data-calendar]').each(function () {
                        var showTime = $j(this).data('calendar') === 'mixed';
                        $j(this).datetimepicker({
                            format: showTime ? 'YYYY-MM-DD HH:mm' : 'YYYY-MM-DD',
                            sideBySide: showTime
                        });
                    });
                    ObjectsInput.init();
                })
                .error(function() {
                    $j('#custom_attributes').text("Something went wrong!");
                });
        });
    });

</script>