<%

  label ||= 'Extended Metadata'
%>

<div class="form-group">
  <%= f.fields_for(:custom_metadata,resource.custom_metadata || CustomMetadata.new) do |ff| %>
    <%= f.label label %>
    <%= ff.collection_select(:custom_metadata_type_id,CustomMetadataType.where(supported_type:resource.class.name),
                             :id, :title,
                             {prompt:'Select'},
                             {class:"form-control", id:'custom_metadata_attributes_custom_metadata_type_id'}) %>
  <% end %>
</div>

