<h1>Edit Sample Controlled Vocabulary</h1>

<%= render partial: 'form' -%>

<script>
    $j(document).ready( function() {    
        SampleTypeControlledVocab.initialise_deferred_rich_editor();
    });
</script>