<h1>Manage assay types</h1>

<div class="show_basic">
  <div style="float:left">
    <ul><%= ontology_editor_display AssayType %></ul>
  </div>      
  <div style="float:left">
    <ul class="sectionIcons">
        <li><%= image_tag_for_key "new", new_assay_type_path, "New assay type", nil, "New assay type" %></li>
        <li><%= image_tag_for_key "new", new_assay_path, "New assay", nil, "New assay" %></li>
    </ul>
  </div>
</div>