<h1>Manage assay types</h1>

<ul class="sectionIcons">
    <li><%= icon "new", new_assay_type_path, "New assay type", nil, "New assay type" %></li>
</ul>
<div class="show_basic">
  <ul><%= assay_type_ontology_edit_display %></ul>
</div>