<h1>Manage assay types</h1>

<div class="show_basic">
  <div style="float:left">
    <ul><%= assay_type_ontology_edit_display %></ul>
  </div>      
  <div style="float:left">
    <ul class="sectionIcons">
        <li><%= icon "new", new_assay_type_path, "New assay type", nil, "New assay type" %></li>
    </ul>
  </div>
</div>