<h1>All tags</h1>

<div id='super_tag_cloud'>
  <%= render partial: "tags/tag_cloud",
             locals: {
               tags: TextValue.all_tags.select { |t| t.tag_count > 0 },
               no_tags_text: 'There are currently no tags',
               cache_key: 'super_tag_cloud',
               show_all: true
             } %>
</div>
