<div class="arrow_box" style="padding:5px; display:none; z-index:999; position:absolute">
    <ul id="preDefinedList" class="fadeout" style="list-style-type: none;padding:0;max-height:300px;overflow-y: scroll;margin:0">
        <li>
            <div class="input-group">
                <input placeholder="column name..." class="form-control customCol" />
                <span class="input-group-btn">
                    <input id="btn_custom_col" class="btn btn-primary" type="button" value="Insert" onClick="">
                </span>
            </div>
        </li>
    </ul>
</div>