<%= modal(id: 'change-batch-permission-modal', size: 'xl') do %>
  <%= modal_header("Batch permission changes") %>
  <%= modal_body do %>
    <div id="change-batch-permission">
      hello
    </div>
  <% end %>
<% end %>
