<div class="simpleForm">
    <ul class="nav nav-tabs">
        <li class="active "><a data-toggle="tab" href="#data_file-details"><i class="glyphicon glyphicon-list-alt"></i>
                Details</a></li>
            <li>
            <a data-toggle="tab" href="#data_file-related-items">
                <i class="glyphicon glyphicon-th-list"></i>&nbsp;Related items
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="data_file-details" class="tab-pane fade in active" style="padding:10px"></div>
        <div id="data_file-related-items" class="tab-pane fade" style="padding:10px"></div>
    </div>
</div>