   <div class="simpleForm">
       <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#investigation-details">
                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Details
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#investigation-related-items">
                <i class="glyphicon glyphicon-th-list"></i>&nbsp;Related items
            </a>
        </li>
       </ul>
       <div class="tab-content">
            <div id="investigation-details" class="tab-pane fade in active" style="padding:10px"></div>
            <div id="investigation-related-items" class="tab-pane fade" style="padding:10px"></div>
       </div>

   </div>