
     <div id="text_content">
         <div id="assayDetails" class="tab-pane fade in active">
              <p><strong>Title: </strong> <span id="methodTitle"></span></p>
            
         </div>
         <input id="btn_save_method" class="btn btn-sm btn-primary pull-right" type="button" value="Save">
         <textarea placeholder="Insert content here!" id="txt_file_content" class="form-control">
         </textarea>
     </div>
