<div id="text_content">
    <div id="method-details" class="tab-pane fade in active" style="padding:10px">
        <div class="row">
            <div class="col-md-1" style="padding:0">
                <ul style="list-style-type:none;padding:0;float:left" id="method-icon">
                </ul>
            </div>
            <div class="col-md-11">
                <div class="col-md-12">
                    <p id="method-title"><strong style="text-align: center;">Title:</strong><input id="method_title" type="text" class="form-control" /></p>
                    </p>
                    <p id="method-description"> <strong>Description:</strong><input id="method_description" type="text" class="form-control" /></p>
                    <input type="hidden" id="method-id">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <a class="btn btn-primary" id="btn_update_method">Update</a>
</div>


<script>
    $j("#btn_update_method").on("click", () => {
        $j("#btn_update_method").attr("disabled", "disabled")
        const methodId = $j("#method-id").val()
        let data = {
            "data": {
                "type": "sops",
                "id": methodId,
                "attributes": {
                    "title": $j("#method_title").val(),
                    "description": $j("#method_description").val()
                }
            }
        }
        $j.ajax({
            method: 'PATCH',
            "headers": {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            cache: false,
            url: `/sops/${methodId}`,
            data: JSON.stringify(data),
            success: s => {
                $j(this).removeAttr("disabled")
                location.reload();
            },
            error: (e) => {
                $j(this).removeAttr("disabled")
                alert('An error occurred when updating the method')
            }
        })
    })
</script>