<div id="content-wrapper">
    <div class="inner" style="overflow-x:scroll">
        <table class="table tableXs tbl_sample_source">
            <thead class="thead-dark">
                <tr></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <a id="btn_add_col" class="btn btn-primary btn-sm"> <i class="glyphicon glyphicon-plus"></i>Add column</a>

</div>
<script>
    $j("#btn_add_col").on("click", function() {
        showPreDefinedCols(event, '.tbl_sample_source', 1)
    })

    function showPreDefinedCols(e, tblClass, bias) {
        $j('.arrow_box').toggle();
        $j('.arrow_box').position({
            my: "left top",
            at: "right+12 top-10",
            of: $j(e.target),
            collision: "fit"
        });
        $j("#btn_custom_col").attr("onclick", `addCustomCol('${tblClass}','${bias}')`); // Custom Input
        $j('#preDefinedList li:not(:first-child)').remove()
        $j.each($j(`${tblClass} thead tr th:hidden`), (i, x) => {
            const title = $j.trim($j(x).html().replace(/<a( |>).*?<\/a>/gi, ""))
            $j('#preDefinedList').append(`<li><input type="button" class="btn btn-primary col-md-12 predef"
                onClick= "addCustomCol('${tblClass}','${bias}','${title}')" value="${title}"></li>`)
        })
    }
</script>