<div class="simpleForm">
    <ul class="nav nav-tabs">
        <li class="active ">
            <a data-toggle="tab" href="#study-details">
                <i class="glyphicon glyphicon-list-alt"></i>&nbsp;Details
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#study-related-items">
                <i class="glyphicon glyphicon-th-list"></i>&nbsp;Related items
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="study-details" class="tab-pane fade in active" style="padding:10px"></div>
        <div id="study-related-items" class="tab-pane fade" style="padding:10px"></div>
    </div>
</div>