<%= javascript_include_tag 'jquery.jcarousel' -%>

<script type="application/javascript">
  $j(function() {
    $j('.jcarousel').jcarousel({
      wrap: 'circular'
    });

    $j('.jcarousel-prev').jcarouselControl({
        target: '-=1'
    });

    $j('.jcarousel-next').jcarouselControl({
        target: '+=1'
    });
  });
</script>

<div class="jcarousel-wrapper">
  <div class="jcarousel">
    <ul>
      <li>
        <div style="text-align: center; width: 900px; height: 300px; background-color: #99cc33; position: relative;">
          <div class="carousel-info-box">
            <h4>Welcome to the BioVeL Portal</h4>
            <p>
              For technical support or questions about the <%= link_to 'BioVeL Project', 'http://biovel.eu/' -%>, please visit the <%= link_to 'contact page', contact_path -%>.
            </p>
            <% unless logged_in? %>
              <br/>
              <h5>Visitors</h5>
              <p>
                A guest account is available for visitors to use to evaluate the BioVeL Portal's functionality, but please be aware that any workflow runs created under this
                account will be periodically deleted. <br/>
                <strong><%= guest_login_link('Click here to log into the guest account') -%></strong>
              </p>
            <% end %>
          </div>
        </div>
      </li>
      <li>
        <div style="text-align: center; width: 900px; height: 300px; background-color: #88cc22; font-size: 32px;line-height: 300px">Your picture here</div>
      </li>
      <li>
        <div style="text-align: center; width: 900px; height: 300px; background-color: #aabb33; font-size: 32px;line-height: 300px">Your picture here</div>
      </li>
    </ul>
  </div>
  <!-- Controls -->
  <a class="jcarousel-prev" href="#">&lt;</a>
  <a class="jcarousel-next" href="#">&gt;</a>
</div>
