<% unless current_user.nil? %>
    <% workflows = Favourite.where(:user_id => current_user.id, :resource_type => 'Workflow').all.map {|f| f.resource} %>
    <div class="your_recent full_width">
      <h2>Your favourite workflows</h2>
      <% if workflows.empty? %>
          <span class="none_text">No workflows</span>
      <% else %>
          <ul>
            <% workflows.each do |workflow| %>
                <li><%= link_to workflow.title, main_app.workflow_path(workflow) -%></li>
            <% end %>
          </ul>
      <% end %>
    </div>
<% end %>
