<div class="row seek-homepage-button-container">
  <div class="col-sm-4">
    <%= frontpage_button('http://docs.seek4science.org/help/user-guide/registering.html',
                         '/assets/button_placeholder.png') do %>
        Get started
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= frontpage_button(programmes_path,
                         '/assets/button_placeholder.png') do %>
        Who is using it?
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= frontpage_button('http://docs.seek4science.org/contributing.html',
                         '/assets/button_placeholder.png') do %>
        Get involved
    <% end %>
  </div>
</div>
