<div class="row seek-homepage-button-container">
  <div class="col-sm-4">
    <%= frontpage_button(help_link(:get_started,url_only:true),
                         '/assets/front_page/home-get-started-ibisba.svg',
	target: '_blank') do %>
        Get started
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= frontpage_button(projects_path,
                         '/assets/front_page/home-who-ibisba.svg') do %>
      Who uses it?
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= frontpage_button('https://www.ibisba.eu/Join-Us',
        '/assets/front_page/home-participate-ibisba.svg',
	target: '_blank') do %>
        Get involved
    <% end %>
  </div>
</div>
