<div class="row">
  <% if Seek::Config.project_news_enabled %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><%= Seek::Config.application_name%> News</div>
          <div id="community_news" class="panel-body">
            <ul>
              <%
                 entries = Seek::FeedReader.fetch_entries_for :project_news
              %>
              <% unless entries.blank? %>
                  <% entries.each do |entry|   %>
                      <%= display_single_entry(entry) -%>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  <% end %>

  <% if Seek::Config.community_news_enabled %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Community News</div>
          <div id="community_news" class="panel-body">
            <ul>
              <%
                 entries = Seek::FeedReader.fetch_entries_for :community_news
              %>
              <% unless entries.blank? %>
                  <% entries.each do |entry|   %>
                      <%= display_single_entry(entry) -%>
                  <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  <% end %>
</div>