<div class="row seek-homepage-button-container">
  <div class="col-sm-4">
    <%= frontpage_button('/projects',
                         '/assets/front_page/explore.svg') do %>
        Explore projects
    <% end %>
  </div>
  <div class="col-sm-4">
      <%= frontpage_button('projects/new',
                           '/assets/front_page/create.svg') do %>
         Create Project
      <% end %>
     
  </div>
  <div class="col-sm-4">
    
  </div>
</div>
