<div class="row seek-homepage-button-container">
  <div class="col-sm-4">
    <%= frontpage_button(help_link(:get_started,url_only:true),
                         '/assets/button_placeholder.png') do %>
        Get started
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= frontpage_button(programmes_path,
                         '/assets/button_placeholder.png') do %>
        Who is using it?
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= frontpage_button(help_link(:get_involved,url_only:true),
                         '/assets/button_placeholder.png') do %>
        Get involved
    <% end %>
  </div>
</div>
