<% if Seek::Config.news_enabled %>
    <div class="panel panel-default">
      <div class="panel-heading">News</div>
      <div id="news-feed" class="panel-body front-page-panel">
        <ul class="feed">
          <% entries = Seek::FeedReader.fetch_entries_for(:news) %>
          <% unless entries.blank? %>
              <% entries.each do |entry| %>
                  <%= display_single_entry(entry) -%>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>
