<div class="row seek-homepage-button-container">
  <div class="col-sm-4">
    <%= frontpage_button(help_link(:get_started,url_only:true),
                         '/assets/front_page/home-get-started-3.svg') do %>
        Get started
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= frontpage_button(Seek::Config.programmes_enabled ? programmes_path : projects_path,
                         '/assets/front_page/home-who-2.svg') do %>
      Who is using it?
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= frontpage_button(help_link(:get_involved,url_only:true),
                         '/assets/front_page/home-participate-3.svg') do %>
        Get involved
    <% end %>
  </div>
</div>
