<div class="panel panel-default" id="home_integrations">
  <h2 class="text-center">Integrations</h2>
  <img src='/assets/front_page/integrations.svg' alt='Integrations' style="width: 100%;padding: 20px;">
</div>

