<div class="row seek-homepage-button-container">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-md-6">
        <%= frontpage_button('#', '/assets/button_placeholder.png') do %>
            Click here to do a thing
        <% end %>
      </div>
      <div class="col-md-6">
        <%= frontpage_button('#', '/assets/button_placeholder.png') do %>
            Here you can do another thing
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-md-6">
        <%= frontpage_button('#', '/assets/button_placeholder.png') do %>
            Yet another thing is here
        <% end %>
      </div>
      <div class="col-md-6">
        <%= frontpage_button('#', '/assets/button_placeholder.png') do %>
            The last thing you can do
        <% end %>
      </div>
    </div>
  </div>
</div>
