<div class="panel panel-default" id="home_features" style="padding: 20px;">
  <h1 class="text-center">Linked tools</h1>
  <div class="row seek-homepage-button-container" style="display: flex;align-items: center;">
    <div class="col-sm-4 text-center">
      <a class="image-link" target="_blank" href="https://fair-dom.org/jws-online/">
        <img src='/assets/front_page/integrations_JWS.png' style="width:50%">
      </a>
    </div>
    <div class="col-sm-4 text-center">
      <a class="image-link" target="_blank" href="https://seek4science.org/organise.html">
        <img src='/assets/front_page/openBIS_Logo.png' style="width:50%">
      </a>
    </div>
    <div class="col-sm-4 text-center">
      <a class="image-link" target="_blank" href="https://fair-dom.org/platform/rightfield/">
        <img src='/assets/front_page/integrations_rightfield.png' style="width:50%">
      </a>
    </div>
  </div>
</div>

