<div class="panel panel-default" id="home-integrations">
  <h2 class="text-center">Integrations</h2>
  <%= image('front_page_integrations', alt:'Integrations',id:'front-page-integrations') %>
</div>

