<div class="row">
  <div class="col-md-6">
    <%= panel('Latest additions', body_options: { id: 'recently_added', class: 'front-page-panel' }) do %>
        <ul class="feed">
          <% recently_added_item_logs_hash(1.years.ago, 8).each do |added_item_log| -%>
              <%= display_single_log_item_hash(added_item_log, 'added') -%>
          <% end %>
        </ul>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= panel('Latest downloads', body_options: { id: 'recently_downloaded', class: 'front-page-panel' }) do %>
        <ul class="feed">
          <% recently_downloaded_item_logs_hash(1.years.ago, 8).each do |downloaded_item_log| %>
              <%= display_single_log_item_hash(downloaded_item_log, 'downloaded') -%>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
