<div class="panel panel-default" id="home_features" style="padding: 20px;">
<h1 class="text-center">FAIRDOMHub: The better way to manage your data.</h1>
<p class="text-center">Free and open platform for easier research data management.</p>

  <div class="row seek-homepage-button-container">
    <div class="col-sm-3 text-center">
      <a class="image-link" target="_blank" href="https://seek4science.org/">
        <img src='/assets/front_page/home_feature_organise.svg' style="width:75%;height:200px;">
      </a>
      <h3>Organise & Structure</h3>
      <p>Organise documents and data to easily manage your research project.</p>
    </div>

    <div class="col-sm-3 text-center">
      <a class="image-link" target="_blank" href="https://seek4science.org/">
        <img src='/assets/front_page/home_feature_collaborate.svg' style="width:75%;height:200px;">
      </a>
      <h3>Collaborate & Manage access</h3>
      <p>There is a lot of flexibility and control over who can see, download or edit your items.</p>
    </div>

    <div class="col-sm-3 text-center">
      <a class="image-link" target="_blank" href="https://seek4science.org/">
        <img src='/assets/front_page/home_feature_standardise.svg' style="width:75%;height:200px;">
      </a>
      <h3>Standardise research data</h3>
      <p>Use available standrds to describe your dataset and make it ready for publication.</p>
    </div>

    <div class="col-sm-3 text-center">
      <a class="image-link" target="_blank" href="https://seek4science.org/">
        <img src='/assets/front_page/home_feature_publish.svg' style="width:75%;height:200px;">
      </a>
      <h3>Publish & Share data</h3>
      <p> Publish your data and link them to your scientific article.</p>
    </div>
  </div>

  <div class="row" style="position: relative;">
    <div class="col-sm-6">
      <a class="btn btn-primary" style="position: absolute;bottom: 0;" target="_blank" href="https://seek4science.org/" role="button" aria-label="Left Align" style="white-space: normal;"> Learn more </a>        
    </div>
    <div class="col-sm-6 text-right">
      <a class="btn btn-success btn-lg" style="position: absolute;bottom: 0;right: 16px;" target="_blank" href="https://docs.seek4science.org/help/user-guide/index.html" role="button" aria-label="Left Align" style="white-space: normal;"> Get started </a>        
    </div>
  </div>
</div>