<% integrations_content = YAML.load(File.read(File.join(Rails.root, 'config/home', 'integrations.yml'))) %>

<div class="panel panel-default" id="home_features" style="padding: 20px;">
  <h2 class="text-center">Linked tools</h2>
  <div class="row seek-homepage-button-container" style="display: flex;align-items: center;">
    <% integrations_content.each do |item| %>
      <div class="col-sm-<%= (12/integrations_content.length).floor %> text-center">
        <a class="image-link" target="_blank" href="<%= item['url'] %>">
          <img src='<%= item['logo'] %>' style="width:40%" alt='<%= item['title'] %>'>
        </a>
      </div>
    <% end %>
  </div>
</div>

