<style>
.front-info-block {
   text-align: center; background-color:white;padding:0.5em;border:solid white 0.5em;min-height:11em;
}
</style>
<div id="top-description">
      <h1>Welcome to the IBISBAHub</h1>
      <p><b>The IBISBAHub is a key part of the IBISBA ecosystem of facilities and serving as a complete data management platform for the IBISBA projects. It is an online portal for recording the progression of the projects as well as storing, sharing and organising the data and models being generated from the IBISBA projects. It uses the ISA (Investigation, Study, Assay) structure to organise data providing different levels of accessibility and confidentiality.</b></p>
</div>
<br/>
<br/>

<div>
    <div id="middle-description" class="row" style="text-align: center">
    <h2>Industrial Biotechnology Innovation and Synthetic Biology Accelerator (IBISBA)</h2>
      <div class="col-md-4 front-info-block">
        Industrial Biotechnology Innovation and Synthetic Biology Accelerator (<b><a href="https://www.ibisba.eu">IBISBA</a></b>) is a distributed European research infrastructure for biotechnology, gathering research facilities from 8 EU member countries.
<br/><br/>
By fostering their integration, IBISBA produces translational R&D&I services for an international community of biotechnology stakeholders.
      </div>
      <div class="col-md-4 front-info-block">
        IBISBA 1.0 is composed of <a href="https://www.ibisba.eu/About/IBISBA-1.0/Partners">research operators and universities</a> from 8 EU Member States (France, Spain, Italy, Netherlands, Germany, Belgium, Greece, Finland) and United Kingdom.
<br/><br/>
For more information about IBISBA and the IBISBAHub see <a href="https://ibisba.github.io/handbook/index.html">the handbook</a> or <a href="https://www.ibisba.eu">the project website</a>
      </div>
      <div class="col-md-4 front-info-block">
If you are a member of the IBISBA consortium, you should be able to <a href="https://ibisba.github.io/handbook/hub_account_creation.html">register</a> as an IBISBAHub user.<br/></br>If you would like to advise, collaborate or simply are interested in IBISBA, then please visit the Join Us page

      </div>
    </div>
</div>

