<% unless current_user.nil? %>
<% workflows = TavernaPlayer::Run.by_owner(current_user.id).order('created_at DESC').includes(:workflow).map {|r| r.workflow}.uniq.first(5) %>
<div class="your_recent">
  <h2>Your recently used workflows</h2>
  <% if workflows.empty? %>
    <span class="none_text">No workflows</span>
  <% else %>
    <ul>
      <% workflows.each do |workflow| %>
        <li><%= link_to workflow.title, main_app.workflow_path(workflow) -%></li>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>