<% runs = TavernaPlayer::Run.where(:user_id => current_user.id).order(:created_at).limit(5) %>
<div class="your_recent">
  <h2>Your recent runs</h2>
  <% if runs.empty? %>
    <span class="none_text">No workflow runs</span>
  <% else %>
    <ul>
      <% runs.each do |run| %>
        <li><%= link_to run.name, taverna_player.run_path(run) -%></li>
      <% end %>
    </ul>
  <% end %>
</div>