<h1>Choose an analysis...</h1>
<div style="width: 800px; margin: auto">
  <% WorkflowCategory.all.each do |category| %>
    <%= link_to workflows_path(:category_id => category.id), :class => "workflow-category" do %>
      <%= category.name %>
    <% end %>
  <% end %>
</div>
