<div class="box_infotext curved" style="width: 886px; margin: 1em auto">
  <h5>Visitors</h5>
  <p>
    A guest account is available for visitors to use to evaluate the BioVeL Portal's functionality, but please be aware that any workflow runs created under this
    account will be periodically deleted. <br/>
    <strong><%= guest_login_link('Click here to log into the guest account') -%></strong>
  </p>
</div>
