
<% if SiteAnnouncement.headline_announcement and !current_user.nil? -%>
  <div class="box_standout headline_announcement">
    <%= site_annoucements_headline %>
  </div>
<% end -%>
<% if show_scales? %>
    <%= tabs_lazy_loaded? ? render(:partial => "scales/scale_display_lazy_load") : render(:partial => "scales/scale_display") -%>
<% end %>





