<div id="home">
  <% if Seek::Config.is_virtualliver %>
      <%= render :partial => "vln_home_contents" -%>
  <% else %>
      <%= render :partial => "home_contents" -%>
  <% end %>
  <%= render :partial => "nels/popup" -%>
  <%= button_link_to('NeLS', 'add', '#', 'data-toggle' => 'modal', 'data-target' => "#nels-modal") %>
</div>
