<div id="home">
  <%= render :partial=>"thematic_categorisation" -%>
  <% if logged_in? %>
    <div style="width: 900px; margin: auto;">
      <%= render :partial=>"recent_runs" -%>
      <%= render :partial=>"recent_workflows" -%>
    </div>
  <% end %>
</div>
