<div id="home">

  <%= render :partial=>"thematic_categorisation" -%>
  <div style="width: 800px; margin: auto;">
    <%= render :partial=>"recent_runs" -%>
    <%= render :partial=>"recent_workflows" -%>
  </div>
</div>



