<div class="text-center" id="home">
  <% if SiteAnnouncement.headline_announcement -%>
    <div class="box_standout headline_announcement curved">
      <%= site_annoucements_headline %>
    </div>
  <% end -%>

  <%= render :partial=>"carousel" -%>

  <%= render :partial=>"thematic_categorisation" -%>
</div>
