<h1>My BioVeL</h1>

<% if logged_in? %>
  <div style="width: 900px; margin: auto; overflow: auto">
    <%= render :partial=>"recent_runs" -%>
    <%= render :partial=>"recent_workflows" -%>
    <%= render :partial=>"favourite_workflows" -%>
  </div>
<% end %>