
<p id="url_type">This is a webpage, and a link to this page will be registered.</p>
<p id="url_info">
  <% if @image %>
      <img src='<%=@image%>'/>
  <% end %>
  <ul>
    <li><b>Title: </b><%= text_or_not_specified(@title) %></li>
    <li><b>Description: </b><%= text_or_not_specified(@description) %></li>
  </ul>
</p>