<p>
  This link is a file and is expected to be of size <%= number_to_human_size(@size) %>.<br/>
  Check the following checkbox to transfer a copy of this data into SEEK, otherwise leave unchecked to register a link to the data.
<p style="clear:both;">
  <b>Upload a copy?</b>
  <%= check_box_tag :copy_data,:id=>"copy_data" %>
</p>
</p>