<div class='alert alert-warning'>
  <p>
    The Snapshot <%= @snapshot.snapshot_number %> for <%= link_to @snapshot.resource.title, @snapshot.resource %> cannot currently be displayed as it is incomplete.
  </p>
  <p>
    It is likely that the Snapshot is still being generated, so please try again later.
  </p>
</div>