---
http_interactions:
- request:
    method: get
    uri: https://usegalaxy.org.au/api/tools
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Clacks-Overhead:
      - GNU James Taylor (@jxtx) Simon Gladman (@slugger70)
    body:
      encoding: ASCII-8BIT
      string: '[{"model_class":"ToolSection","id":"fastq_quality_control","name":"FASTQ Quality Control","version":"","description":null,"links":null,"elems":[{"model_class":"Tool","id":"toolshed.g2.bx.psu.edu/repos/iuc/multiqc/multiqc/1.11+galaxy1","name":"MultiQC","version":"1.11+galaxy1","description":"aggregate results     from bioinformatics analyses into a single report","labels":[],"edam_operations":[],"edam_topics":[],"hidden":"","is_workflow_compatible":true,"xrefs":[{"value":"multiqc","reftype":"bio.tools"}],"tool_shed_repository":{"name":"multiqc","owner":"iuc","changeset_revision":"abfd8a6544d7","tool_shed":"toolshed.g2.bx.psu.edu"},"link":"/tool_runner?tool_id=toolshed.g2.bx.psu.edu%2Frepos%2Fiuc%2Fmultiqc%2Fmultiqc%2F1.11%2Bgalaxy1","min_width":-1,"target":"galaxy_main","panel_section_id":"fastq_quality_control","panel_section_name":"FASTQ Quality Control","form_style":"regular"}]},{"model_class":"ToolSection","id":"vcfbcf","name":"VCF/BCF","version":"","description":null,"links":null,"elems":[{"model_class":"Tool","id":"toolshed.g2.bx.psu.edu/repos/iuc/bcftools_plugin_fill_tags/bcftools_plugin_fill_tags/1.15.1+galaxy3","name":"bcftools fill-tags","version":"1.15.1+galaxy3","description":"plugin Set INFO tags AF, AN, AC, AC_Hom, AC_Het, AC_Hemi","labels":[],"edam_operations":[],"edam_topics":[],"hidden":"","is_workflow_compatible":true,"xrefs":[{"value":"bcftools","reftype":"bio.tools"}],"tool_shed_repository":{"name":"bcftools_plugin_fill_tags","owner":"iuc","changeset_revision":"c01be0ab9806","tool_shed":"toolshed.g2.bx.psu.edu"},"link":"/tool_runner?tool_id=toolshed.g2.bx.psu.edu%2Frepos%2Fiuc%2Fbcftools_plugin_fill_tags%2Fbcftools_plugin_fill_tags%2F1.15.1%2Bgalaxy3","min_width":-1,"target":"galaxy_main","panel_section_id":"vcfbcf","panel_section_name":"VCF/BCF","form_style":"regular"}]}]'
  recorded_at: Tue, 14 Feb 2023 14:55:17 GMT
- request:
    method: get
    uri: https://usegalaxy.eu/api/tools
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
        - application/json; charset=UTF-8
      X-Clacks-Overhead:
        - GNU James Taylor (@jxtx) Simon Gladman (@slugger70)
    body:
      encoding: ASCII-8BIT
      string: '[{"model_class":"ToolSection","id":"get_data","name":"Get Data","version":"","description":null,[...]
