<%
  text ||= "your items"
  blocked_selector ||= ''

  select_deselect_all ||= false
  collapse_expand ||= false
  show_hide_blocked ||= false
  show_hide_permissions ||= false
%>

<div class="batch-asset-selection-buttons">
  <% if select_deselect_all %>
    <div class="btn-group">
      <a type="button" class="btn btn-default btn-xs selectChildren">
        Select all <%= text %>
      </a>
      <a type="button" class="btn btn-default btn-xs deselectChildren">
        Deselect all <%= text %>
      </a>
    </div>
  <% end %>
  <% if collapse_expand %>
    <div class="btn-group">
      <a type="button" class="btn btn-default btn-xs collapseChildren">
        Collapse all
      </a>
      <a type="button" class="btn btn-default btn-xs expandChildren">
        Expand all
      </a>
    </div>
  <% end %>
  <% if show_hide_blocked %>
    <div class="btn-group">
      <a type="button" class="btn btn-default btn-xs showBlocked"
         data-blocked_selector="<%= blocked_selector %>">
        Show blocked items
      </a>
      <a type="button" class="btn btn-default btn-xs hideBlocked"
         data-blocked_selector="<%= blocked_selector %>">
        Hide blocked items
      </a>
    </div>
  <% end %>
  <% if show_hide_permissions %>
    <div class="btn-group">
      <a type="button" class="btn btn-default btn-xs showPermissions">
        Show all permissions
      </a>
      <a type="button" class="btn btn-default btn-xs hidePermissions">
        Hide all permissions
      </a>
    </div>
  <% end %>
</div>
