<%
  text ||= "your items"
  blocked_selector ||= ''

  select_deselect_all ||= false
  collapse_expand ||= false
  show_hide_blocked ||= false
  show_hide_permissions ||= false
%>

<div style="margin-bottom: 1em">
  <% if select_deselect_all %>
    <div class="btn-group" style="padding-right: 15px">
      <a type="button" style="padding: 2px 6px" class="btn btn-default btn-sm selectChildren">
        Select all <%= text %>
      </a>
      <a type="button" style="padding: 2px 6px" class="btn btn-default btn-sm deselectChildren">
        Deselect all <%= text %>
      </a>
    </div>
  <% end %>
  <% if collapse_expand %>
    <div class="btn-group" style="padding-right: 15px">
      <a type="button" style="padding: 2px 6px" class="btn btn-default btn-sm collapseChildren">
        Collapse all
      </a>
      <a type="button" style="padding: 2px 6px" class="btn btn-default btn-sm expandChildren">
        Expand all
      </a>
    </div>
  <% end %>
  <% if show_hide_blocked %>
    <div class="btn-group" style="padding-right: 15px">
      <a type="button" style="padding: 2px 6px" class="btn btn-default btn-sm showBlocked"
         data-blocked_selector="<%= blocked_selector %>">
        Show blocked items
      </a>
      <a type="button" style="padding: 2px 6px" class="btn btn-default btn-sm hideBlocked"
         data-blocked_selector="<%= blocked_selector %>">
        Hide blocked items
      </a>
    </div>
  <% end %>
  <% if show_hide_permissions %>
    <div class="btn-group" style="padding-right: 15px">
      <a type="button" style="padding: 2px 6px" class="btn btn-default btn-sm showPermissions">
        Show all permissions
      </a>
      <a type="button" style="padding: 2px 6px" class="btn btn-default btn-sm hidePermissions">
        Hide all permissions
      </a>
    </div>
  <% end %>
</div>
