<%
  return unless resource.supports_controlled_vocab_annotations?(property)
  param_key = "#{property.to_s.singularize}_annotations"
  annotations_accessor = "#{property.to_s.singularize}_annotation_values"
  vocab = resource.annotation_controlled_vocab(property)
  return unless vocab
  values = resource.send(annotations_accessor).pluck(:label)
  title = resource.class.human_attribute_name(annotations_accessor)
  %>

<% if vocab %>
  <div class="form-group">
    <label><%= title -%></label>
    <%= controlled_vocab_form_field(vocab, "#{resource.class.model_name.singular}[#{param_key}]", values, false, 10 ) -%>
  </div>
<% end %>
