<%
  return unless resource.supports_edam_annotations?
  with_edam= "edam_#{subtree}"
  vocab = resource.method("#{with_edam}_vocab").call
  return unless vocab
  values = resource.method("#{with_edam.singularize()}_labels").call
  %>

<% if vocab %>
  <div class="form-group">
    <label><%= "EDAM #{subtree.capitalize()}" -%></label>
    <%= controlled_vocab_form_field(vocab, "#{resource.class.model_name.singular}[#{with_edam}]", values, 10 ) -%>
    <p class="help-block"><%= "The EDAM #{subtree.capitalize()}." -%></p>
  </div>
<% end %>
