<% if resource.respond_to?(:edam_topics_vocab) && resource.edam_topics_vocab %>
  <div class="form-group">
    <label>EDAM Topic</label>
    <%= controlled_vocab_form_field(resource.edam_topics_vocab, "#{resource.class.model_name.singular}[edam_topics]", resource.edam_topic_values.collect(&:label), 10 ) -%>
    <p class="help-block">The EDAM Topic.</p>
  </div>
<% end %>