<%= panel("EDAM Properties", :body_options => { :class => 'text-center' }) do %>

  <% if resource.edam_topics.any? %>
    <div>
      <strong>Topics</strong>
    </div>
    <div>
      <%= edam_ontology_items(resource.edam_topic_values) %>
    </div>
  <% end %>

  <% if resource.edam_operations.any? %>
    <div>
      <strong>Operations</strong>
    </div>
    <div>
      <%= edam_ontology_items(resource.edam_operation_values) %>
    </div>
  <% end %>

<% end %>