<%
   filter_path = index_path + '?user_enable_facet=true'
   unfilter_path = index_path
%>
<div class="text-center">
    <%= button_link_to('Advance filter', 'filter', filter_path,
                          {:style => params[:user_enable_facet] == 'true' ? 'display: none' : ''}) %>
    <%= button_link_to('Un-filter', 'filter', unfilter_path,
                          {:style => params[:user_enable_facet] == 'true' ? '' : 'display: none'}) %>
</div>
