<%= panel("Format types", :body_options => {:class => 'text-center'}) do %>
  <% resource.format_types.each do |m| %>
  <% text = EdamHelper::url_to_text(m);
     if text.nil? %>
<li class="author-list-item"><%= m -%></li>
<% else %>
<li class="author-list-item"><a href='<%= m -%>' target="_blank"><%= text -%></a></li>
<% end %>
  <% end %>
<% end %>
