<%
   hidden_items ||= []
   hidden_count = hidden_items.count
%>
<%= hidden_count -%> hidden <%= hidden_count > 1 ? "items" : "item" %>
<%
   contributor_links = hidden_item_contributor_links(hidden_items)
%>
<% if !contributor_links.empty? %>
    <span class="none_text">(Please contact: <%= contributor_links.join(', ').html_safe %>)</span>
<% end %>