<%
  item = isa_tree_preview
  preselected ||=[]
  publishing ||= false

  case item
  when Investigation
    children = item.studies
  when Study
    children = item.assays
  when Assay
    children = item.assets
  else
    children = []
  end

  show_permissions ||= false
  show_managers ||= false
-%>
<div class="batch-selection-scope split_button_parent">
  <%= render partial: "assets/asset_checkbox_row",
             object: item,
             locals: { html_classes: "publishing_options",
                       toggle: children.any?,
                       block_published: publishing,
                       checked: (item == preselected),
                       show_permissions: show_permissions,
                       show_managers: show_managers
             } -%>

  <% if children.any? %>
    <div class="collapse-scope" style="margin-left: 3em">
      <% children.each do |child| %>
        <%= render partial: "assets/isa_tree_preview",
                   object: child,
                   locals: { preselected: preselected,
                             publishing: publishing,
                             html_classes: "publishing_options",
                             show_permissions: show_permissions,
                             show_managers: show_managers
                   } -%>
      <% end %>
    </div>
  <% end %>
</div>
