<% default_license ||= 'CC-BY-4.0' %>
<% accessor ||= :license %>
<% selected_license = resource.send(accessor) %>
<% selected_license = (resource.new_record? ? default_license : Seek::License::NULL_LICENSE) if selected_license.nil? %>
<% label ||= 'License' %>

<%= folding_panel(label, false,
                  :help_text => "Here you can choose which license this #{text_for_resource(resource)} is available under.") do %>
    <div class="form-group" id="license-section">
      <label><%= label %></label>

      <%= grouped_license_select("#{resource.class.name.underscore}[#{accessor.to_s}]", selected_license,
                                 :id => 'license-select', :class => 'form-control',
                                 :source => Seek::License::OPENDEFINITION[:data]) %>

      <span class="help-block license-url-block">
        For more information on this license, please visit <a id="license-url" href="" target="_blank"></a>
      </span>
    </div>
<% end %>

<script>
    $j(document).ready(function () {
        $j('#license-select').change(zenodoExport.setLicenseUrl); // Set URL on user change
        zenodoExport.setLicenseUrl(); // Set URL on initial page load
    });
</script>
