<%
  return unless resource.supports_ontology_annotations?(property)
  annotations_accessor = "#{property.to_s.singularize}_annotations"
  vocab = resource.send("ontology_annotation_vocab",property)
  return unless vocab
  values = resource.send("#{annotations_accessor.singularize()}_labels")
  %>

<% if vocab %>
  <div class="form-group">
    <label><%= "EDAM #{property.capitalize()}" -%></label>
    <%= controlled_vocab_form_field(vocab, "#{resource.class.model_name.singular}[#{annotations_accessor}]", values, 10 ) -%>
    <p class="help-block"><%= "The EDAM #{property.capitalize()}." -%></p>
  </div>
<% end %>
