<%= panel("#{preview_name.singularize.humanize} preview") do %>
    <div id="<%= preview_name -%>_preview" class="preview_box">
      <span class="none_text">Nothing selected</span>
    </div>
<% end %>
