    <div id="<%= preview_name -%>_preview" class="yui-u preview_box"  style="float:right;">
      <div style="text-align: center;"><%= preview_name.humanize%> preview</div>
    </div>

    <br style="clear:both"/>