<div class="alert alert-success">
  An email has been sent on your behalf to <b><%= @resource.managers_names -%></b> requesting the file <b><%= h(@resource.title) -%></b>.
</div>

<hr/>

<div>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
