<% objects = resources_numerical_paginated %>

<% content_for :pagination do %>
  <%= render partial: 'general/paginate_numerical', locals: { objects: objects } if objects.respond_to?(:current_page) %>
<% end %>

<%= content_for :pagination %>

<div class="list_items_container">
  <%= render partial: 'assets/resource_list_item', collection: objects %>
</div>

<%= content_for :pagination %>
