<% authorization_for_showing_already_done ||= false -%>
<% narrow_view ||= false -%>

<% unless collection.empty? -%>
  <div class="list_items_container">

    <% collection.each do |item| -%>
		  <% if authorization_for_showing_already_done || item.can_view? -%>  
				<%= render :partial => "assets/resource_list_item",:object=>item -%>
			<% end -%>
		<% end -%>
	</div>
<% end -%>