<%# this partial displays collection of items as a list that the 'resource' is associated with; -%>
<%# expected parameters: 'resource' and 'truncate_to' -%>

<div class="contribution_section_box">
	<p class="heading">
		<%= help_icon("Shows the main project with which this #{resource.class.name} is associated.") -%>
		Associated Project
	</p>

  <% collection = resource.projects -%>
  <%= render :partial => "layouts/contribution_section_box_item_list",
             :locals => { :icon_type => "project", :collection_name => "resource_associated_with",
                          :collection => collection, :truncate_to => truncate_to } -%>
</div>