<% objects = resources_alphabetical_paginated %>

<%
   visible_total,full_total=resource_count_stats
%>

<% if objects.public_methods.include?(:page_totals) %>
    <!-- only do the page links if the collection supports it -->
    <%= render :partial => "general/paginate_alphabetical", :locals => {:pages => objects.pages, :page_totals => objects.page_totals, :current_page => objects.page} -%>
<% end %>

<div class="list_items_container">
  <%= render :partial => "assets/resource_list_item", :collection => objects %>
</div>


<% if objects.respond_to?(:page) && objects.page == "top" && visible_total > Seek::Config.limit_latest %>
    <%= render :partial => "general/paginate_see_all", :locals => {:visible_total => visible_total} %>
<% end %>
