<% if @available_filters&.any? %>
  <div class="index-filters" id="sidebar">
    <h3 class="index-filters-heading">
      Filters
      <button href="#" class="btn pull-right close" id="sidebar-close">&times</button>
    </h3>
    <div class="index-filters-body" data-role="ajax-filters"
         data-url="<%= url_for(page_and_sort_params.merge(filters_only: 1, page: nil)) %>">
      <div class="index-filters-loading">Loading filters&hellip;</div>
      <noscript>
        <p>Filtering requires JavaScript to be enabled in your browser.</p>
      </noscript>
    </div>
  </div>
<% end %>
