<% if @available_filters&.any? %>
  <div class="index-filters">
    <% @available_filters.each do |key, filters| %>
      <% if filters.any? %>
        <div class="filter-category">
          <div class="filter-category-title"><%= key.to_s.humanize %></div>
          <% sorted_filters(filters).each do |filter| %>
            <%= filter_link(key, filter) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
