<% objects = resources_alphabetical_paginated %>

<% unless objects.empty? %>
    <% if objects.public_methods.include?(:page_totals) %>
        <!-- only do the page links if the collection supports it -->
        <%= render :partial => "general/paginate_alphabetical", :locals => { :pages => objects.pages, :page_totals=>objects.page_totals,:current_page=>objects.page } -%>
    <% end %>

    <div class="list_items_container">
      <%= render :partial => "assets/resource_list_item", :collection=>objects %>
    </div>

    <%
       klass = klass_from_controller(controller_name)
       if klass.respond_to?(:all_authorized_for)
         total = klass.all_authorized_for("view").count
       elsif klass.kind_of?(Person) && Seek::Config.is_virtualliver && User.current_user.nil?
         total = 0
       else
         total = klass.count
       end
    %>
    <% if objects.respond_to?(:page) && objects.page == "latest" && total > Seek::Config.limit_latest %>
        <%= render :partial => "general/paginate_see_all", :locals=>{:total=>total}%>
    <% end %>
<% else %>
    <%= no_items_to_list_text %>
<% end %>
