<% if @active_filters&.any? %>
  <div class="active-filters">
    <% @active_filters.each do |key, values| %>
      <div class="active-filter-category">
        <strong class="active-filter-category-title"><%= key.to_s.humanize %>:</strong>
        <% first = true %>
        <% values.each do |value| %>
          <% title = @available_filters[key].detect { |f| f[:value] == value }.try(:[], :title) || value %>
          <% unless first %>
            or
          <% end; first = false %>
          <%= active_filter_link(key, title, value) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
