<div class="contribution_aftertitle" style="line-height: 1.5; margin-bottom: 0.8em;">
	<b>Created at:</b> <%= resource.asset.created_at.strftime('%d/%m/%Y @ %H:%M:%S') -%>
  &nbsp;&nbsp;&nbsp;&nbsp;
	<b>Last used: </b><%= @last_used_before_now.blank? ? "never" : @last_used_before_now.strftime('%d/%m/%Y @ %H:%M:%S') -%>
	<% unless resource.asset.created_at == resource.asset.updated_at -%>
		<br/>
		<b>Last updated: </b><%= resource.asset.updated_at.strftime('%d/%m/%Y @ %H:%M:%S') -%> 
		<b>by </b><%= link_to h(resource.contributor.person.first_name + " " + resource.contributor.person.last_name), person_path(resource.contributor.person) -%>
	<% end -%>
</div>