<% if @active_filters&.any? %>
  <div class="active-filters">
    <% @active_filters.each_key do |key| %>
      <div class="active-filter-category">
        <strong class="active-filter-category-title"><%= key.to_s.humanize %>:</strong>
        <% filters = @available_filters[key] %>
        <% first = true %>
        <% filters.select  {|f| f[:active] }.each do |filter| %>
          <% unless first %>
            or
          <% end; first = false %>
          <%= filter_link(key, filter) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
