<%
   entity=controller_name.singularize
   object=eval("@"+entity)
   model_class=entity.camelize.constantize
   #FIXME: this is required for some cases where the page is rendered from an error, but the @entity doesn't exist. Mainly when rendering from a caught Exception AssetsCommon.handle_data
   #the correct fix is to fix AssetsCommon.handle_data to correctly create an instance of @entity
   object ||= model_class.new
%>

<p>
<div class="fold">
  <div class="foldTitle">
    Tags
  </div>
  <div class="foldContent">
    <%= render :partial=>"layouts/select_tags", :locals=>{:all_tags=>aggregated_asset_tags, :item_tags=>object.owner_tags_on(current_user,:tags), :name=>"tag"} -%>
  </div>
</div>
</p>