<%= javascript_include_tag "upload_url" %>
<%
    new_version ||= false
%>
<script type="text/javascript">
    function from_url_selected(){
        Effect.Fade("upload_from_file", {
            duration: 0.0
        });
        Effect.Appear("upload_from_url");
        $j('#upload_from_file_button').removeClass("block_link_active");
        $j('#upload_from_url_button').addClass("block_link_active");
    }
    
    function from_file_selected(){
        Effect.Fade("upload_from_url", {
            duration: 0.0
        });
        Effect.Appear("upload_from_file");
		$j('#upload_from_file_button').addClass("block_link_active");
		$j('#upload_from_url_button').removeClass("block_link_active");
    }
</script>
 <% resource ||=nil %>
<div class="fold">
    <div class="foldTitle">
        Upload
    </div>

    <div class="foldContent" style="display: block;">
      <% if !resource.nil? && resource.respond_to?(:content_blobs) %>
          <%= render :partial=>"assets/batch_upload",:locals=>{:new_version=>new_version}-%>
      <% else %>
          <%= render :partial=>"assets/upload",:locals=>{:new_version=>new_version} -%>
      <% end %>
    </div>
</div>
