<%= javascript_include_tag "upload_selection" %>
<%
    new_version ||= false
%>
 <% resource ||=nil %>
<div class="fold">
    <div class="foldTitle">
        Upload
    </div>

    <div class="foldContent" style="display: block;">
      <% if !resource.nil? && resource.respond_to?(:content_blobs) %>
          <%= render :partial=>"assets/batch_upload",:locals=>{:new_version=>new_version}-%>
      <% else %>
          <%= render :partial=>"assets/upload",:locals=>{:new_version=>new_version} -%>
      <% end %>
    </div>
</div>
