<% if logged_in_and_member? -%>
<div id="upload_new_version_form" style="display:none">
    <%= form_tag({:action=>"new_version", :id=>resource}, :multipart => true) do -%>

           <% locals = resource.respond_to?(:content_blobs) ? {:resource=>resource, :new_version=>true} : {:new_version=>true}  %>
           <%= render :partial=>"assets/upload_box" ,:locals=>locals-%>
            <p>
                <b>Revision comments (optional)</b>
                <br/>
                <%= text_area_tag :revision_comment, nil, :size=>"55x4" -%>
                <br/>
                <%= submit_tag "Upload", :id => "new_version_submit_btn", :onclick => "javascript: validateUploadNewVersion(#{resource.respond_to?(:content_blobs)}, '#{controller_name.singularize}'); return(false);" -%>
            </p>

    <% end -%>
</div>
<%end%>
