<div class="fold">
    <div class="foldTitle">
        
        Upload
    </div>
    <div class="foldContent" style="display: block;">
        <%= render :partial=>"assets/upload" -%>
    </div>
</div>
