<style>
    div#version_box li.current {
        font-style: italic;
        font-size:larger;
    }
    .smaller {
        font-size:smaller;
    }
    ul#version_list {
        text-align: left;
        padding-left:1em;
    }
</style>
<div id="version_box" class="contribution_section_box curved with_shadow">

  <p class="heading">
    Versions
  </p>
  <ul id="version_list">
    <% resource.versions.each do |version| %>
        <% if version == versioned_resource %>
            <% clz = "current" %>
        <% else %>
            <% clz = "" %>
        <% end %>
        <%
           link = link_to "#{date_as_string(version.updated_at,true)}",model_path(resource,:version=>version.version)
           if version!=versioned_resource && versioned_resource.contains_sbml? && version.contains_sbml?
             compare_path = compare_versions_model_path(resource,:version=>versioned_resource.version,:other_version=>version.version)
             compare_link = link_to " [compare sbml]",compare_path,:class=>"smaller"
           else
             compare_link = ""
           end

        %>
        <%= content_tag "li","#{version.version} - #{link}#{compare_link}".html_safe,:class=>clz %>


    <% end %>
  </ul>

</div>