
<% if existing_tissue_and_cell_types.empty? -%>
  <p class="none_text">No tissue or cell types have yet been defined, you can type the name in the box below to create a new one if required.</p>
<% else -%>
  <p class="none_text">Optionally, select an existing tissue or cell type below, or type the name in the box below to create a new one.</p>

  <%= collection_select(resource, :id, existing_tissue_and_cell_typesl, :id, :title) %>



<% end -%>