---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/v1/organizations/027m9bs27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, PUT, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"id":"https://ror.org/027m9bs27","name":"University of Manchester","email_address":null,"ip_addresses":[],"established":1824,"types":["Education","Funder"],"relationships":[{"label":"Manchester
        School of Architecture","type":"Child","id":"https://ror.org/03xxxrq06"},{"label":"Wellcome
        Centre for Cell-Matrix Research","type":"Child","id":"https://ror.org/0094tm228"},{"label":"Centre
        for Epidemiology Versus Arthritis","type":"Child","id":"https://ror.org/05eev2q71"},{"label":"Cancer
        Research UK Manchester Centre","type":"Child","id":"https://ror.org/033svsm10"},{"label":"Cancer
        Imaging Centre","type":"Child","id":"https://ror.org/023a2er20"},{"label":"Lancashire
        Teaching Hospita[...]
