---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/v2/organizations/027m9bs27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, PUT, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"admin":{"created":{"date":"2018-11-14","schema_version":"1.0"},"last_modified":{"date":"2025-05-05","schema_version":"2.1"}},"domains":[],"established":1824,"external_ids":[{"all":["501100000770","100007545","100007546","501100000584","501100006628","100012371","501100009148","501100014814","501100020358","501100024330"],"preferred":"501100000770","type":"fundref"},{"all":["grid.5379.8"],"preferred":"grid.5379.8","type":"grid"},{"all":["0000
        0001 2166 2407"],"preferred":null,"type":"isni"},{"all":["Q230899"],"preferred":null,"type":"wikidata"}],"id":"https://ror.org/027m9bs27","links":[{"type":"website","value":"http://www.manchester.ac.uk/"},{"type":"wikipedia","value":"http://en.wikipedia.org/wiki/University_of_Manchester"}],"locations":[{"geonames_details":{"continent_code":"EU","continent_name":"Europe","country_code":"GB","country_name":"United
        Kingdom","country_subdivision_code":"ENG","country_subdivision_name":"England","lat":53.48095,"lng":-2.23743,"name":"Manchester"},"geonames_id":2643123}],"names":[{"lang":"en","types":["alias"],"value":"Manchester
        University"},{"lang":"cy","types":["label"],"value":"Prifysgol Manceinion"},{"lang":"en","types":["ror_display","label"],"value":"University
        of Manchester"},{"lang":"en","types":["alias"],"value":"University of Manchester
        Institute of Science and Technology"},{"lang":"en","types":["alias"],"value":"Victoria
        University of Manchester"}],"relationships":[{"label":"Manchester School of
        Architecture","type":"child","id":"https://ror.org/03xxxrq06"},{"label":"Wellcome
        Centre for Cell-Matrix Research","type":"child","id":"https://ror.org/0094tm228"},{"label":"Centre
        for Epidemiology Versus Arthritis","type":"child","id":"https://ror.org/05eev2q71"},{"label":"Cancer
        Research UK Manchester Centre","type":"child","id":"https://ror.org/033svsm10"},{"label":"Cancer
        Imaging Centre","type":"child","id":"https://ror.org/023a2e[...]
