---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/organizations?query=nonexistentuniversity123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"number_of_results":0,"time_taken":3,"items":[],"meta":{"types":[],"countries":[],"statuses":[]}}'
  recorded_at: Wed, 12 Mar 2025 12:03:07 GMT
recorded_with: VCR 2.9.3
