---
http_interactions:
- request:
    method: get
    uri: https://api.ror.org/v2/organizations?query=nonexistentuniversity123*
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"number_of_results":0,"time_taken":3,"items":[],"meta":{"types":[],"countries":[],"continents":[],"statuses":[]}}'
  recorded_at: Fri, 11 Jul 2025 19:20:45 GMT
recorded_with: VCR 6.3.1
