<div class="main">
  <div class="container">
    <h1>Search RDF</h1>

    <p>Enter search details: </p>
    <%= form_tag '/searchRdf' do -%>
        <div id="search_box">

          <div class="input-group">
            <%= text_field_tag :rdf_search_query, @rdf_search_query, :class => "form-control", :placeholder => "Search rdf here..." %>
            <div class="input-group-btn">
              <%= submit_tag "Search RDF", :class => 'btn btn-default' -%>

            </div>
          </div>

        </div>
    <% end -%>
  </div>
</div>