<% assay ||= nil %>
<% valid_assay = assay&.sample_type.present? %>

<div style="padding: 0 20px 20px 20px;">
    <div class="row" id="options_container" style="margin-bottom:15px">
			<b><%= t('sample_type').pluralize %>: </b>&nbsp;
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered display nowrap" id="assay-table" style="width:100%;"></table>
        </div>
    </div>
</div>

<% if valid_assay %>
    <script>
        var assayDynamicTable
        let initialLoad = true;
        $j(document).ready(function () {
            const dt = <%= sanitize(dt_aggregated(assay.study, assay).to_json) %>
            assayDynamicTable = new $j.dynamicTable('#assay-table')
            const ajax = {
                url: dynamicTableDataPath,
                data: function(d) {
                    if (initialLoad) {
                        initialLoad = false;
                        return;
                    }
                    d.study_id = '<%=assay.study.id%>';
                    d.assay_id = '<%=assay.id%>';
                    d.rows_pad = "true";
                }
            }
            assayDynamicTable.init(dt.rows, dt.columns, { readonly: true, level: "assay", ajax })
            const types = assayDynamicTable.getSampleTypes()
            createSampleTypeOptions(dt.sample_types)
        });

        function createSampleTypeOptions(types){
            $j("#options_container").append('<div id="checkbox_group" class="btn-group" data-toggle="buttons"></div>')
                types.forEach( (t, i) => {
                    let elem = `<label class="btn btn-default active sp-btn-variant-${i%2}"><input id="checkbox-${t.id}" type="checkbox" checked onchange="toggleSampleType(${t.id}, $j(this))" />${t.title}</label>`
                    $j("#checkbox_group").append(elem)
                })
        }

        function toggleSampleType(sample_type, e){
            assayDynamicTable.toggleSampleType(sample_type, e.is(":checked"))
        }

    </script>
<% end %>
