<% assay ||= nil %>
<% valid_assay = assay && !assay.sample_type.blank? && assay&.sample_type %>
<% sample_type = assay&.sample_type %>

<div style="padding: 20px;">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered display nowrap" id="assay-samples-table" style="width:100%;"></table>
        </div>
    </div>
</div>

<input class="btn btn-default" type="button" value="New row" onClick="SampleAddNewRow()" />
</br>
<input class="btn btn-default" type="button" value="Paste From Clipboard" onClick="SamplePasteFromClipboard()" />
<input class="btn btn-default" type="button" value="Delete selected" onClick="SampleSetAsDeleted()" />
<input class="btn btn-primary" type="button" value="Save changes" onClick="SampleSave()" />
<input class="btn btn-primary" type="button" value="*TEST*" onClick="SampleTest()" />

<% if valid_assay %>
    <script>
        let sampleDynamicTable 
        $j(document).ready(function () {
            const dt = <%= sanitize(dt_data(sample_type).to_json) %>
            sampleDynamicTable = new $j.dynamicTable('#assay-samples-table')
            sampleDynamicTable.init(dt.rows, dt.columns)
        });

        function SamplePasteFromClipboard(){
            sampleDynamicTable.pasteFromClipboard()
        }

        function SampleSave(){
            sampleDynamicTable.save()
        }

        function SampleSetAsDeleted(){
            sampleDynamicTable.setAsDeleted()
        }

        function SampleAddNewRow(){
            sampleDynamicTable.newRow()
        }

        function SampleTest() {
            console.log(sampleDynamicTable.table.rows().data())
        }
																														
    </script>
<% end %>
