<div id="announcement_gadget" class="panel panel-default">
  <div class="panel-heading">
    <%= link_to image("atom_feed"),feed_site_announcements_path(:format=>"atom") %>
    <% if admin_logged_in? %>
        <%= link_to 'Announcements', site_announcements_path %>
    <% else %>
        Announcements
    <% end %>
  </div>

  <div class="panel-body">
    <%= site_announcements_feed :truncate_length=>100, :limit=>3 -%>
  </div>
</div>
