<div id="favourites_gadget" class="sysmo_gadget">

  <div class="header">
    Favourites
    <span id="fav_ajax-loader" style="display:none; position: absolute; right: 13px;">
      <%= image_tag("ajax-loader.gif", :alt=>"loading...",:title=>"loading...") %>
    </span>
  </div>
  
  <% cache "favourites/user/#{current_user.id}" do -%>
  <div id="drop_favourites" class="contents" style="min-height:100px; text-align: left">    
    <div id="favourite_list">
      <%= render :partial=>"favourites/gadget_list" %>
    </div>    
  </div>
  <% end -%>
  <%= drop_receiving_element(:drop_favourites, 
    :accept=>"asset",
    :url=>{:controller=>'favourites', :action=>'add'},
    :before => "Element.show('fav_ajax-loader')",
    :complete => "Element.hide('fav_ajax-loader');")
  %>
  <%= drop_receiving_element(:drop_favourites, 
    :accept=>"search",
    :url=>{:controller=>'favourites', :action=>'add',
           :search_query => params[:search_query],
           :search_type => params[:search_type]},
    :before => "Element.show('fav_ajax-loader')",
    :complete => "Element.hide('fav_ajax-loader');")
  %>
  
</div>