<div id="favourites_gadget" class="myexperiment_gadget">
  <b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>

  <div class="header">
    Favourites
    <span id="fav_ajax-loader" style="display:none; position: absolute; right: 13px;">
      <%= image_tag("ajax-loader.gif", :alt=>"loading...",:title=>"loading...") %>
    </span>
  </div>
  
  
  <div id="drop_favourites" class="contents" style="min-height:100px">
    
    <div id="favourite_list">
      <%= render :partial=>"favourites/gadget_list" %>
    </div>
    
  </div>
  <%= drop_receiving_element(:drop_favourites, 
    :accept=>"asset",
    :url=>{:controller=>'favourites', :action=>'add'},
    :before => "Element.show('fav_ajax-loader')",
    :complete => "Element.hide('fav_ajax-loader');")
  %>
  
  <b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>