
<% if current_user.try(:person).try(:member?) -%>
    <div class="sysmo_gadget">
      <div class="header">
        File upload tool
      </div>
      <div class="contents">
        <div style="text-align: center">
            <input type=button id="file_upload_tool" class="gadget_button" value="Start" onclick="window.open('http://seek.virtual-liver.de/file_upload_tool/')">
        </div>
      </div>
    </div>
<% end -%>

