
 <div class="sysmo_gadget">

  <div class="header">
    Tags
    <%= link_to "[show all]", all_anns_path -%>
  </div>

  <div class="contents">
    <div class="tags_smaller">
      <div class="hTagcloud">
        <div class="popularity">
          <%
           count=0
           all_tags=[]
           show_tags=[]

           tag_cloud = Annotation.all
           no_of_tags = tag_cloud.size

           for i in (Seek::Config.tag_threshold...no_of_tags)
             show_tags << tag_cloud[i]  if  i < Seek::Config.max_visible_tags
             all_tags << tag_cloud[i]
           end

           #filter out annotations with the same text as another annotation
           tags = []
           tag_values = []
           all_tags.each do |tag|
             if !(tag_values.include?(tag.value.id))
                tags << tag
                tag_values << tag.value.id
              end
            end

           hidden_tags=all_tags.size != show_tags.size
           hidden_class="merged_tag_hidden"
          %>

          <% unless tags.blank? -%>
          <% tags.each do |ann| -%>
              <%= link_for_ann ann, :truncate_length=>40 -%>
          <% end -%>

              <% if hidden_tags -%>
                  <div class="expand_collapse_tags_button">
                    <%
                       button_images=image("expand", :id=>"toggle_merged_button_down") +
                               image("collapse", :id=>"toggle_merged_button_up", :style=>"display:none;")
                    %>
                    <%= link_to_function(button_images) do |page|
                        page.select(".#{hidden_class}").each do |el|
                            el.toggle
                        end

                        page.toggle "toggle_merged_button_down"
                        page.toggle "toggle_merged_button_up"
                    end
                    %>
                  </div>
              <% end -%>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>


