


<% if current_user.try(:person).try(:member?) -%>
    <div class="sysmo_gadget">

      <div class="header">
        Browse to my project
      </div>
      <div class="contents">
        <div style="text-align: center">

            <input type=button id="my_project_button" class="gadget_button" value="My Project" onclick="javascript:toggleDynamicMenu('my_project_menu');"/>

            <ul id="my_project_menu" class='dynamic_menu' style="display:none;">

                <% current_user.person.projects.each do |p| %>
                    <li onclick="javascript:location.href='<%= project_path(p.id) -%>';"><%= p.name %></li>
                <% end %>
            </ul>

        </div>
      </div>
    </div>

<% end -%>

