

<style type="text/css">
    div.my_project_gadget {
        padding: 0.5em;
        margin-bottom: 0.5em;
        background-color: white;
        text-align: center;
        vertical-align: middle;
    }

    div#my_project_selection_list {
        position: absolute;
        z-index: 1
    }

    input.my_project_button {
        background-color: #307af5;
        font-weight: bolder;
        width: 6em;
        height: 2em;
        border: thin #dcdcdc;
        border-radius: 3px;
        color: white;

    }

    table#my_project_selection_table tbody tr.even:hover, #my_project_selection_table tbody tr.even td.highlighted {
        background-color: #307af5;
    }

    table#my_project_selection_table tbody tr.odd:hover, #my_project_selection_table tbody tr.odd td.highlighted {
        background-color: #307af5;
    }

    table#my_project_selection_table tr.even:hover {
        background-color: #307af5;
    }

    table#my_project_selection_table tr.odd:hover {
        background-color: #307af5;
    }

    table#my_project_selection_table tr.row_color {
        background-color: white;
    }
</style>

<% if current_user.try(:person).try(:member?) -%>
    <div class="sysmo_gadget">

      <div class="header">
        Browse to my project
      </div>
      <div class="contents">
        <div style="text-align: center; padding-left: 0.5em;">
          <ul class="gadget_list">
            <input type=button id="my_project_button" class="my_project_button" value="My Project" onclick="my_project_selection()"/>

            <div id='my_project_selection_list' style="display: none;">
              <table cellpadding="0" cellspacing="0" id="my_project_selection_table" class="display" style="width: 15em; margin-top: -0.5em; margin-left: 3em;">
                <tbody>
                <% current_user.person.projects.collect{|p| [p.name, p.id]}.each do |p| %>
                    <tr class="row_color">
                      <td style="text-align: left"><%= p.first %></td>
                      <td><%= p.last %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </ul>
        </div>
      </div>
    </div>

<% end -%>


