




<%= new_creatable_javascript -%>
<%= hidden_field_tag :new_resource_type %>
<% if current_user.person.can_create_new_items? -%>
    <% cache "new_object_gadget" do -%>

        <div id="new_asset" class="sysmo_gadget">

          <div class="header">
            New or upload
          </div>

          <div class="contents">
            <div style="text-align: center;">

                  <input type=button id="new_asset_button" class="gadget_button" value="CREATE" onclick="javascript:toggleDynamicMenu('new_asset_menu');"/>

                    <ul id="new_asset_menu" class='dynamic_menu' style="display:none;">

                      <% new_creatable_selection_list.each do |item| -%>
                        <li onclick="javascript:newAssetSelected('<%= item[1] -%>');"><%= item[0] -%></li>
                      <% end -%>

                    </ul>

              </ul>
            </div>
          </div>

        </div>
    <% end -%>
<% end -%>

<script type="text/javascript">

  function newAssetSelected(item) {
      $('new_resource_type').value=item;
      newAsset();
  }

</script>

