
<%
   if Seek::Config.is_virtualliver
     button_class="gadget_button_menu"
   else
     button_class="gadget_button"
   end
%>

<% if current_user.person.can_create_new_items? -%>
    <% cache "new_object_gadget" do -%>
        <div id="new_asset" class="sysmo_gadget">

          <div class="header curved_top">
            <%= t('gadget.new_heading') %>
          </div>

          <div class="contents curved_bottom">
            <div class="text-center">
              <input type=button id="new_asset_button" class="<%= button_class %>" value="<%= t('gadget.create_button')%>" onclick="javascript:toggleDynamicMenu('new_asset_menu');"/>
              <ul id="new_asset_menu" class='dynamic_menu with_smaller_shadow' style="display:none;">

                <% new_creatable_selection_list.each do |item| -%>
                    <li class='dynamic_menu_li'><%= link_to item[0], item[1] %></li>
                <% end -%>

              </ul>

              <% if Seek::Config.is_virtualliver -%>
                  <input type=button id="file_upload_tool" class="gadget_button" value="Upload tool" onclick="window.open('http://seek.virtual-liver.de/file_upload_tool/')">
              <% end %>

            </div>
          </div>

        </div>
    <% end -%>
<% end -%>



