<div id="organism_gadget" class="sysmo_gadget"  >
  

  <div class="header">
    Organisms
  </div>

  <div class="contents" style="text-align: left">
    <ul style="margin: 0 0 0 1em">
    <% organisms = Organism.all.sort_by{|o| -o.assays.count - o.models.count - o.projects.count} %>
    <% organisms[0...5].each do |organism| %>
      <li><i><%= link_to organism.title, organism%></i></li>
    <% end %>    
    </ul> 
    <% if organisms.count > 5 %>   
      <ul id = "hidden_organisms" style="margin: 0 0 0 1em; display: none;">
      <% organisms[5...organisms.count].each do |organism| %>
        <li><i><%= link_to organism.title, organism%></i></li>
      <% end %>    
      </ul>
      <div class="expand_collapse_tags_button">
        <%= link_to_function(image_tag("folds/unfold.png"), nil, 
                :style => "", :id => "expand_organisms", 
                :onclick => "toggleExpandOrganismsBox();")%>
        <%= link_to_function(image_tag("folds/fold.png"), nil, 
                :style => "display:none", :id => "collapse_organisms", 
                :onclick => "toggleExpandOrganismsBox();")%>
      </div>
    <% end %>
  </div>
</div>    

<script type="text/javascript">
function toggleExpandOrganismsBox () {
  var el = document.getElementById("hidden_organisms");
  var expand_button = document.getElementById("expand_organisms");
  var collapse_button = document.getElementById("collapse_organisms");
  if ( el.style.display != 'none' ) {
    Effect.BlindUp(el,{duration:0.2});
    expand_button.style.display = '';
    collapse_button.style.display = 'none';
  }
  else
  {
    Effect.BlindDown(el,{duration:0.2});
    expand_button.style.display = 'none';
    collapse_button.style.display = '';
  }  
} 
</script>
