<% cache("organisms_gadget") do -%>
  <div id="organism_gadget" class="sysmo_gadget"  >


    <div class="header">
      Organisms
    </div>

    <div class="contents">
      <ul>
        <% organisms = Organism.all.sort_by{|o| -o.assays.count - o.models.count - o.projects.count} %>
        <% organisms[0...5].each do |organism| %>
          <li>
            <%= link_to organism.title, organism%>
          </li>
        <% end %>
      </ul>
      <% if organisms.count > 5 %>
        <ul id = "hidden_organisms" style="display: none;">
          <% organisms[5...organisms.count].each do |organism| %>
            <li>
              <%= link_to h(organism.title), organism  -%>
            </li>
          <% end %>
        </ul>
        <div class="expand_collapse_tags_button">
          <%= link_to_function(image_tag("folds/unfold.png"), nil, :id => "expand_organisms",
            :onclick => "toggleExpandOrganismsBox();")%>
          <%= link_to_function(image_tag("folds/fold.png"), nil, :id => "collapse_organisms",
            :onclick => "toggleExpandOrganismsBox();")%>
        </div>
      <% end %>
    </div>
  </div>
<% end -%>

<script type="text/javascript">
<% if cookies["expanded_organism_box"] == "true" -%>
    $('hidden_organisms').style.display = '';
    $('expand_organisms').style.display = 'none';
    $('collapse_organisms').style.display = '';
<% else -%>
    $('hidden_organisms').style.display = 'none';
    $('expand_organisms').style.display = '';
    $('collapse_organisms').style.display = 'none';
<% end -%>
  function toggleExpandOrganismsBox () {
  
    var box_status = getCookie("expanded_organism_box");    
    var expand_button = $('expand_organisms');
    var collapse_button = $('collapse_organisms');
  
    if (box_status == "true") {
      setCookie("expanded_organism_box",false,"","/");
      Effect.BlindUp("hidden_organisms",{duration:0.2});
      expand_button.style.display = '';
      collapse_button.style.display = 'none';
    }
    else
    {
      setCookie("expanded_organism_box",true,"","/");
      Effect.BlindDown("hidden_organisms",{duration:0.2});
      expand_button.style.display = 'none';
      collapse_button.style.display = '';
    }
  }
</script>
