<div id="organism_gadget" class="sysmo_gadget"  >
  <div class="header">
    Organisms
  </div>

  <div class="contents">
    <ul>
      <% Organism.all.sort_by(&:title).each do |organism| %>
        <li>
          <%= link_to organism.title, organism %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

