<div id="organism_gadget" class="sysmo_gadget"  >
  <div class="header">
    Organisms
  </div>

  <div class="contents">
    <ul>
      <% organisms = Organism.all.sort_by{|o| -o.assays.count - o.models.count - o.projects.count} %>
      <% organisms[0...5].each do |organism| %>
        <li>
          <%= link_to organism.title, organism%>
        </li>
      <% end %>
    </ul>
  </div>
</div>

