<div class="panel panel-default">

  <div class="panel-heading">
    Tags
    <%= link_to "[show all]", all_anns_path -%>
  </div>

  <div class="panel-body">
    <% cache('tag_cloud') do %>
      <%= render :partial => "tags/tag_cloud",
                 :locals => { tags: tags_above_threshold,
                              no_tags_text: 'There are not yet any tags defined'
                 }
      %>
    <% end %>

  </div>
</div>


