<div class="panel panel-default">

  <div class="panel-heading">
    Tags
    <%= link_to "[show all]", all_anns_path -%>
  </div>

  <div class="panel-body">

    <%= render partial: 'general/build_tag_cloud' %>

  </div>
</div>


