<div id=<%=  "#{type}_tag_cloud" %> class="sysmo_gadget"  >
  

  <div class="header">
    <%= title %>
  </div>

  <div class="contents">
    <div class="tags_smaller">
      <div class="hTagcloud">
        <div class="popularity">
          <%= render :partial=>"gadgets/tag_cloud", :object=>tag_cloud_gadget, :locals=>{:type=>type.to_sym,:min_count=>min_count} -%>
          
        </div>
      </div>
    </div>
    
  </div>
  

  
</div>