<div class="myexperiment_gadget" id="tools_tag_cloud">
  <b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>

  <div class="header">
    Tools and Techniques
  </div>

  <div class="contents">
    <div class="hTagcloud">
      <div class="popularity">
        <%= render :partial=>"gadgets/tag_cloud", :object=>Person.tool_counts, :locals=>{:type=>:tools} %>
      </div>
    </div>
  </div>

  <b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>

<%= drop_receiving_element("tools_tag_cloud",
  :accept=>"favourite",
  :url=>{:controller=>'favourites', :action=>'delete'},
  :before => "Element.show('fav_ajax-loader')",
  :complete => "Element.hide('fav_ajax-loader');") %>
