<div class="myexperiment_gadget">
  <b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>

  <div class="header">
    <%=  person_full_name(@current_user.person) %>
  </div>
  
  <div class="contents">
    <%= link_to "Logout", logout_url %>
  </div>
  
  <b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>