<% environment.context_class.instance_eval { include Seek::Util.routes } %>

function toggleUserInput(disabled) {
    const action = disabled ? 'addClass' : 'removeClass';
    const elements = [
        '#institution_title',
        '#institution_city',
        '#institution_ror_id',
        '#institution_web_page',
        '.tt-input'
    ];

    elements.forEach(selector => {
        $j(selector)[action]('institution-input-disable');
        $j(selector).prop("readonly", disabled);
        $j('#institution_country').prop('disabled', disabled);
    });
}

function extractRorId(rorUrl) {
    const regex = /https:\/\/ror\.org\/([^\/]+)/;
    const match = rorUrl.match(regex);
    if (match) {
        return match[1];
    } else {
        return null;
    }
}

function fetchRorData(rorId) {

    //use /institutions/ror_search endpoint instead of the direct ROR API
    var url = '<%= ror_search_institutions_path %>?ror_id=' + encodeURIComponent(rorId);

    fetch(url)
        .then(response => {
            if (!response.ok) {
                return response.json().then(err => {
                    throw new Error(err.error || "Unknown error occurred");
                });
            }
            return response.json();
        })
        .then(data => {
            if (!data || data.error) {
                throw new Error(data.error || "Invalid response from server");
            }

            $j('#ror-response').html(JSON.stringify(data, null, 4));
            $j('#institution_title').val(data.name);
            $j('#institution_city').val(data.city);
            $j('#institution_country').val(data.countryCode);
            $j('#institution_ror_id').val(data.id);
            $j('#institution_web_page').val(data.webpage);
            $j('#ror-error-message').text('').hide();
            $j('#institution_ror_id').removeClass("field_with_errors");
            $j("#ror-error-message").closest(".form-group").removeClass("field_with_errors");
            toggleUserInput(true);
        })
        .catch(error => {
            $j('#ror-error-message').text(error.message).show();
            $j('#institution_ror_id').addClass("field_with_errors");
            $j("#ror-error-message").closest(".form-group").addClass("field_with_errors");
        });
}


function rorQuerySource(query, processSync, processAsync) {
    if (query.length < 4) {
        return processAsync([]);
    }

    //use /institutions/ror_search endpoint instead of the direct ROR API
    var url = '<%= ror_search_institutions_path %>?query=' + encodeURIComponent(query);
    return $j.ajax({
        url: url,
        type: 'GET',
        dataType: 'json',
        success: function (json) {
            const orgs = json.items || [];
            return processAsync(orgs);
        },
        error: function (xhr, status, error) {
            processAsync([]);
        }
    });
}

// Template for Local Institution suggestions
function localSuggestionTemplate(data) {
    return `
        <div>
            <strong>${data.department ? `${data.department}, ` : ''}${data.text}</strong>
            <small>${data.hint || ''}</small>
        </div>`;
}

// Template for ROR suggestions
function rorSuggestionTemplate(data) {

    return `
    <div>
        <p>
            ${data.name}<br>
            <small>${data.type}, ${data.country}<br>
            <i>${data.altNames}</i></small>
        </p>
    </div>`;
}



function initializeLocalInstitutions(query = '', cache = false) {
    const url = `<%= typeahead_institutions_path %>.json?q=${encodeURIComponent(query)}`;

    return new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: url,
            wildcard: '%QUERY',
            cache: cache,
            transform: response => response.results
        }
    });
}

function clearInstitutionFields() {
    $j('#institution_title').val('');
    $j('#institution_id').val('');
    $j('#institution_ror_id').val('');
    $j('#institution_city').val('');
    $j('#institution_country').val('');
    $j('#institution_web_page').val('');
    $j('#institution_address').val('');
}


$j(document).ready(function () {
    var $j = jQuery.noConflict();

    $j('#fetch-ror-data-with-id').on('click', function () {
        fetchRorData($j('#institution_ror_id').val());
    });

    // if the institution title is not selected from the local list or ROR, but entered manually by user
    $j('#institution_title').on('change', function () {
        const inputValue = $j(this).val();
        $j('#institution_title').val(inputValue);
        checkSubmitButtonEnabled();
    });


    $j('#combined_typeahead .typeahead').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 4
        },
        // First Dataset: Local Institutions
        {
            name: 'institutions',
            limit: 10,
            display: 'text', // Display the 'text' field in the dropdown
            source: function (query, syncResults, asyncResults) {
                const bloodhound = initializeLocalInstitutions(query);
                bloodhound.search(query, syncResults, asyncResults);
            }, // Local data source
            templates: {
                header: '<div class="league-name">Institutions saved locally</div>',
                suggestion: localSuggestionTemplate
            }
        },
        // Second Dataset: Remote ROR Query
        {
            name: 'ror-query',
            limit: 50,
            async: true,
            source: rorQuerySource,
            templates: {
                header: '<div class="league-name">Institutions fetched from ROR</div>',
                pending: '<div class="empty-message">Fetching from ROR API ...</div>',
                suggestion: rorSuggestionTemplate
            },
            display: function (data) {
                return data.name;
            },
            value: function (data) {
                return data.identifier;
            }
        }
    );


    $j('#ror_query_name .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 3
        },
        {
            limit: 50,
            async: true,
            source: rorQuerySource,
            templates: {
                pending: [
                    '<div class="empty-message">',
                    'Fetching list ...',
                    '</div>'
                ].join('\n'),
                suggestion: rorSuggestionTemplate
            },
            display: function (data) {
                return data.name;
            },
            value: function (data) {
                return data.identifier;
            }
        });

    $j('#combined_typeahead .typeahead').bind('typeahead:select', function (ev, data) {
        $j('#combined_typeahead .typeahead').typeahead('close');

        if (data.hasOwnProperty("text")) {
            $j('#institution_title').val(data.text);
            $j('#institution_id').val(data.id);
            $j('#institution_ror_id').val(data.ror_id);
            $j('#institution_department').val(data.department);
            $j('#institution_city').val(data.city);
            $j('#institution_country').val(data.country);
            $j('#institution_web_page').val(data.web_page);
        }
        else
        {
            $j('#institution_title').val(data.name);
            $j('#ror-response').html(JSON.stringify(data, undefined, 4));
            $j('#institution_city').val(data.city);
            $j('#institution_country').val(data.countrycode);
            $j('#institution_ror_id').val(data.id);
            $j('#institution_web_page').val(data.webpage);
        }
        toggleUserInput(true);
        checkSubmitButtonEnabled();
    });

    $j('#ror_query_name .typeahead').bind('typeahead:select', function (ev, suggestion) {
        $j('#ror-response').html(JSON.stringify(suggestion, undefined, 4));
        $j('#institution_city').val(suggestion.city);
        $j('#institution_country').val(suggestion.countrycode);
        $j('#institution_ror_id').val(suggestion.id);
        $j('#institution_web_page').val(suggestion.webpage);
        toggleUserInput(true);
    });

    $j('#clear-fields').on('click', function(event) {
        event.preventDefault();
        clearInstitutionFields();
        toggleUserInput(false);
        checkSubmitButtonEnabled();
    });


    if ($j('#institution_ror_id').val()!== '') {
        toggleUserInput(true);
    }

});