<div class="form-group">
  <select class="form-control" autocomplete="off" id="contributions-range-select">
    <option value="recent" selected="selected">last 12 months</option>
    <option value="all">since project began</option>
  </select>
</div>

<canvas id="contributions-canvas"></canvas>

<p class="help-block">
  Mouse over a bar to see the breakdown of contributions for that month.
  Clicking on a type in the legend will hide it from the chart.
</p>

<% all_assets = (@project.investigations + @project.studies + @project.assays + @project.assets + @project.samples) %>
<% all_by_month = all_assets.group_by { |a| a.created_at.strftime('%B %Y') } %>
<% all_types = all_assets.map(&:class).uniq %>
<% all_months = months_between(@project.created_at, Date.today) %>
<% recent_assets = all_assets.select { |a| a.created_at > 12.months.ago } %>
<% recent_by_month = recent_assets.group_by { |a| a.created_at.strftime('%B %Y') } %>
<% recent_types = recent_assets.map(&:class).uniq %>
<% recent_months = months_between(1.year.ago, Date.today) %>
<script>
    var allTimeData = {
        labels: <%= all_months.map { |d| d.strftime('%B %Y') }.to_json.html_safe %>,
        datasets: <%= all_types.map do |type|
        {
            label: type.name.humanize,
            backgroundColor: ISAHelper::FILL_COLOURS[type.name],
            data: all_months.map { |month| (all_by_month[month.strftime('%B %Y')] || []).select { |a| a.class == type }.count }
        }
        end.to_json.html_safe %>
    };
    var recentData = {
        labels: <%= recent_months.map { |d| d.strftime('%B %Y') }.to_json.html_safe %>,
        datasets: <%= recent_types.map do |type|
        {
            label: type.name.humanize,
            backgroundColor: ISAHelper::FILL_COLOURS[type.name],
            data: recent_months.map { |month| (recent_by_month[month.strftime('%B %Y')] || []).select { |a| a.class == type }.count }
        }
        end.to_json.html_safe %>
    };
    var ctx = document.getElementById('contributions-canvas').getContext('2d');
    var contributionChart = new Chart(ctx, {
        type: 'bar',
        data: recentData,
        options: {
            legend: {
                position: 'right'
            },
            title: {
                display: false,
                text: 'Contributions'
            },
            tooltips: {
                mode: 'index',
                filter: function (x) { return x.yLabel > 0 }, // Hide asset types with 0 contributions in that month
                intersect: false
            },
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    ticks: { // This whole block is just to avoid and protoype.js bug that breaks the whole chart
                        beginAtZero:true,
                        userCallback: function(label, index) {
                            if (Math.floor(label) === label) {
                                return label;
                            }
                        }
                    },
                    stacked: true
                }]
            }
        }
    });

    $j('#contributions-range-select').change(function () {
        if ($j(this).val() == 'recent') {
            contributionChart.data = recentData;
        } else if ($j(this).val() == 'all') {
            contributionChart.data = allTimeData;
        }

        contributionChart.update();
    })
</script>