<% most_actioned = ActivityLog.where(referenced_id: @project.id, referenced_type: 'Project', action: action).
    group(:activity_loggable_type, :activity_loggable_id).count.to_a.
    select { |(type, id), _| type.constantize.find_by_id(id)}.
    sort_by { |x| -x[1] }.first(10) %>
<ul class="mini-resource-list">
  <% most_actioned.each do |(type, id), count| %>
    <% asset = type.constantize.find(id) %>
    <li><%= resource_with_count(asset, count) %></li>
  <% end %>
</ul>
