<div id="response-error" class="alert alert-danger">
  <p>
    Unfortunately, an error occurred whilst processing the uploaded <%= t('data_file') %>. The error has been logged and reported.
  </p>
  <p>
    <b>This will only affect you if the <%= t('data_file') %> uploaded was a RightField based template.</b>
    You can still continue to register the <%= t('data_file') %>, but any details will need to be manually completed, rather than being automatically populated.
  </p>

  <p class="text-right small">Error: <%= exception_message %></p>
</div>