<div class='alert alert-warning'>
  <h2>RightField extraction warnings</h2>
  <p>There were some issues detected during the extraction that are not critical, but you should be aware of:</p>
  <ul>
<% warnings.each do |warning| %>
    <li>
      <%= warning.text %>
      <% unless warning.value.blank? %>
        - <em><%= warning.value %></em>
      <% end %>
    </li>

<% end %>
  </ul>
</div>
