
<div class="sparql-examples">
  <%= folding_panel(sparql_examples_panel_title, true, class: 'panel-info') do %>
    <div class="example-query-filter">
      <div class="form-group">
        <div class="input-group">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-search"></i>
                </span>
          <input type="text" class="form-control" id="query-filter" placeholder="Filter example queries..."/>
        </div>
      </div>
    </div>

    <div id="example-queries-container">
      <%= render partial: "example_queries" %>
    </div>

    <div id="no-queries-message" class="alert alert-info" style="display: none;">
      <i class="glyphicon glyphicon-info-sign"></i>
      No example queries match your search.
    </div>

  <% end %>
</div>