<% applied_templates = resource.respond_to?("sample_types") ?
 resource.sample_types.map {|s| s.isa_template } : [resource.sample_type&.isa_template]  %>
 
<% if applied_templates.any? %>
  <div style="margin-left: 20px">
    <b>Applied <%=applied_templates.second ? t('template').pluralize() :  t('template') %>:</b>
    <div>
    <ul>
      <% applied_templates.each do |t| %>
        <li> 
					<%= link_to "#{t.title} #{t.version}", template_path(t.id), { target: "_blank" }  %>
					<%= " (id: #{t.id})"%>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

