<% study ||= nil %>
<% valid_study = study && study.sample_types.any? %>
<% sample_type = study&.sample_types&.first %>

<div style="padding:0 20px 20px 20px;">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered display nowrap" id="source-material-table" style="width:100%;"></table>
        </div>
    </div>
</div>

<div class="btn-group">
    <input class="btn btn-default" type="button" value="Add row" onClick="SourceAddNewRow()" />
    <input class="btn btn-default" type="button" value="Paste From Clipboard" onClick="SourcePasteFromClipboard()" />
    <input class="btn btn-default" type="button" value="Delete selected" onClick="SourceSetAsDeleted()" />
    <input class="btn btn-primary" type="button" value="Save" onClick="SourceSave()" />
</div>


<% if valid_study %>
    <script>
    // TODO: Load data in a separeta script tag and remove it after DT is loaded
    
        var sourceDynamicTable 
        let initialLoad = true;
        $j(document).ready(function () {
            $j('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $j.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
            });
            let dt = <%= sanitize(dt_data(sample_type).to_json) %>
            sourceDynamicTable = new $j.dynamicTable('#source-material-table')
            const options = {
               ajax:{
                    url: `/single_pages/${pid}/dynamic_table_data/`,
                    data: function(d) { 
                        if (initialLoad) {
                            initialLoad = false;
                            return;
                        }
                        d.sample_type_id = '<%=sample_type.id%>';
                        d.rows_pad = "true"
                    }
                },
                callback: () => studyDynamicTable.table.ajax.reload()
            }
            sourceDynamicTable.init(dt.rows, dt.columns, options)
            dt = []

            $j(".dataTables_scrollBody").css("min-height", "300px")
        });

        function SourcePasteFromClipboard(){
            sourceDynamicTable.pasteFromClipboard()
        }

        function SourceSave(){
            sourceDynamicTable.save()
        }

        function SourceSetAsDeleted(){
            sourceDynamicTable.setAsDeleted()
        }

        function SourceAddNewRow(){
            sourceDynamicTable.newRow()
        }
																														
    </script>
<% end %>
