<% study ||= nil %>
<% valid_study = study && !study.sample_types.blank? && study&.sample_types&.second %>

<div style="padding: 0 20px 20px 20px;">
    <div class="row" id="options_container" style="margin-bottom:15px">
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered display nowrap" id="study-table" style="width:100%;"></table>
        </div>
    </div>
</div>

<% if valid_study %>
    <script>
        let studyDynamicTable
        $j(document).ready(function () {
            const dt = <%= sanitize(dt_aggregated(study).to_json) %>
            studyDynamicTable = new $j.dynamicTable('#study-table')
            studyDynamicTable.init(dt.rows, dt.columns, { readonly: true })
            const types = studyDynamicTable.getSampleTypes()
            createSampleTypeOptions(types)
        });	
        
        function createSampleTypeOptions(types){
            types.forEach( t => {
                const input = `<div><input checked type="checkbox" id="checkbox-${t}" onClick="toggleSampleType(${t}, $j(this))"> <label for="checkbox-${t}">sample type ${t}</label> <div/>`
                $j("#options_container").append(input)
            })
        }

        function toggleSampleType(sample_type, e){
            studyDynamicTable.toggleSampleType(sample_type, e.is(":checked"))
        }

    </script>
<% end %>
