<%# The study experiment overview table %>

<% study ||= nil %>
<% valid_study = study&.sample_types&.count == 2 %>

<div style="padding: 0 20px 20px 20px;">
    <div class="row" id="options_container" style="margin-bottom:15px">
			<b><%= t('sample_type').pluralize %>: </b>&nbsp;
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered display nowrap" id="study-table" style="width:100%;"></table>
        </div>
    </div>
</div>

<% if valid_study %>
    <script>
        var studyDynamicTable
        let studyTableInitialLoad = true;
        $j(document).ready(function () {
            const dt = <%= sanitize(dt_aggregated(study, false).to_json) %>
            studyDynamicTable = new $j.dynamicTable('#study-table')
            const ajax = {
                url: dynamicTableDataPath,
                data: function(d) {
                    if (studyTableInitialLoad) {
                        studyTableInitialLoad = false;
                        return;
                    }
                    d.study_id = '<%=study&.id%>';
                    d.rows_pad = "true";
                }
            }
            studyDynamicTable.init(dt.rows, dt.columns, { readonly: true, ajax })
            const types = studyDynamicTable.getSampleTypes()
            createSampleTypeOptions(dt.sample_types)

            $j(".dataTables_scrollBody").css("min-height", "300px")
        });

        function createSampleTypeOptions(types){
            $j("#options_container").append('<div id="checkbox_group" class="btn-group" data-toggle="buttons"></div>')
            let studyTitle = '<%= study&.title || 'Study' %>';
            let sourceSampleType = types[0];
            let sampleSampleType = types[1];
            let source_elem = `<label class="btn btn-default active sp-btn-variant-0"><input id="checkbox-${sourceSampleType.id}" type="checkbox" checked onchange="toggleSampleType(${sourceSampleType.id}, $j(this))" />${studyTitle} - sources</label>`;
            let sample_elem = `<label class="btn btn-default active sp-btn-variant-1"><input id="checkbox-${sampleSampleType.id}" type="checkbox" checked onchange="toggleSampleType(${sampleSampleType.id}, $j(this))" />${studyTitle} - samples</label>`;
            [source_elem, sample_elem].forEach((elem) => {
                $j("#checkbox_group").append(elem);
            });
        }

        function toggleSampleType(sample_type, e){
            studyDynamicTable.toggleSampleType(sample_type, e.is(":checked"))
        }

    </script>
<% end %>
