<h1>Edit <%= t('isa_study') %></h1>

<%= render partial: "templates/template_modal" -%>
<div class="show_basic">
	<%= form_for @isa_study, url: { controller: "isa_studies", action: "update", id: params[:id] }, method: :put do |f| %>
	  <%= render :partial => "form", :locals => { :f => f, :action=>:edit } -%>
	<% end -%>
</div>

<script>
  $j(document).ready(function() {
		// Filter ISA tags for new rows
		updateIsaTagSelect("study source", "#new-attribute-row_source_sample_type");
		updateIsaTagSelect("study sample", "#new-attribute-row_sample_collection_sample_type");
  });
</script>
