swagger: '2.0'
info:
  version: '0.1'
  title: JSON API to FAIRDOM SEEK
  license:
    name: The 3-Clause BSD License
    url: https://opensource.org/licenses/BSD-3-Clause
  contact:
    name: SEEK support
    url: http://groups.google.com/group/seek4science
    email: support@fair-dom.org
  description: |-
    The JSON API to FAIRDOM SEEK is a [JSON API](http://jsonapi.org)
    specification describing how to read and write to a SEEK instance.

    The API is defined in the [OpenAPI
    specification](https://swagger.io/specification) currently in [version
    2](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md)

    Example IPython notebooks showing use of the API are available on [GitHub](https://github.com/hleonov/ipython_for_SEEK-API).
  x-logo:
    url: ./definitions/seek.png
    backgroundColor: '#FFFFFF'
host: www.fairdomhub.org
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  basicAuth:
    type: basic
    description: |-
      The JSON API uses [Basic access
      authentication](https://en.wikipedia.org/wiki/Basic_access_authentication)
      where the *username* and *password* correspond to a registered user on
      the SEEK that is being accessed.

      The **List** and **Read** API calls may be used without authentication. In
      that case, they will only list, or allow reading of, publicly viewable
      objects.
security:
- basicAuth: []
tags:
- name: list
  description: |-
    **List** operations return a JSON object containing a list of all the
    objects of the specified class to which the authenticated user has
    access.

    Success response codes:
    * 200 OK

    Error response codes:
  x-traitTag: true
- name: create
  description: |
    A **Create** operation creates a new instance of the specified
    class. The instance is populated with the content of the body of the
    API call.

    The **Create** call returns a JSON object representing the newly
    created instance.

    Success response codes:
    * 201 Created

    Error response codes:
    * 400 Bad request
    * 403 Forbidden
    * 422 Unprocessable entity
  x-traitTag: true
- name: read
  description: |
    A **Read** operation will return information about the
    instance identified, provided the authenticated user has access to it.

    The **Read** operation returns a JSON object representing the instance.

    Success response codes:

    * 200 OK

    Error response codes:
    * 403 Forbidden
    * 404 Not found
  x-traitTag: true
- name: update
  description: |
    An **Update** operation will modify the information held about the
    specified instance. This operation is only available if the
    authenticated user has access to the object.

    Success response codes:
    * 200 OK

    Error response codes:
    * 403 Forbidden
    * 404 Not found
    * 422 Unprocessable entity
  x-traitTag: true
- name: delete
  description: |
    A **Delete** operation will delete the specified instance, if the authenticated user has sufficient access to it.

    Success response codes:
    * 200 OK

    Error response codes:
    * 403 Forbidden
    * 404 Not found
  x-traitTag: true

- name: search
  description: |
- name: institutions
  description: |-
    An institition in SEEK is where someone is employed or works. It is normal for an institution to have a physical location - a set of buildings in which people work.

    SEEK does not impose any constraints on the granularity of the institution so it may represent a whole university or company, or be limited to a specific site.
- name: people
  description: |-
    This is a people description
- name: programmes
  description: |-
    This is a programmes description
- name: projects
  description: |-
    This is a projects description
- name: investigations
  description: |-
    This is a investigations description
- name: studies
  description: |-
    This is a studies description
- name: assays
  description: |-
    This is a assays description
- name: dataFiles
  description: |-
    This is a dataFiles description
- name: documents
  description: |-
    This is a documents description
- name: models
  description: |-
    This is a models description
- name: publications
  description: |-
    This is a publications description
- name: sops
  description: |-
    This is a sops description
- name: events
  description: |-
    This is a events description
- name: presentations
  description: |-
    This is a presentations description
- name: organisms
  description: |-
    This is a organisms description
- name: sampleTypes
  description: |-
    This is a sampleTypes description
x-tagGroups:
- name: operation types
  tags:
  - list
  - create
  - read
  - update
  - delete

- name: Search
  tags:
  - search

- name: Yellow Pages
  tags:
  - institutions
  - people
  - programmes
  - projects

- name: Experiments
  tags:
  - investigations
  - studies
  - assays

- name: Assets
  tags:
  - dataFiles
  - documents
  - models
  - publications
  - sops

- name: Activities
  tags:
  - events
  - presentations

- name: Samples
  tags:
  - organisms
  - sampleTypes

x-types:
  ListTypeT: &ListType
    '501':
      description: Not implemented

  CreateTypeT: &CreateType
    '400':
      description: Bad request
      schema:
        $ref: '#/definitions/bad_request'
    '403':
      description: Forbidden
      schema:
        $ref: '#/definitions/forbidden'
    '422':
      description: Unprocessable entity
      schema:
        $ref: '#/definitions/unprocessable_entity'
  ReadTypeT: &ReadType
    '403':
      description: Forbidden
      schema:
        $ref: '#/definitions/forbidden'
    '404':
      description: Not found
      schema:
        $ref: '#/definitions/not_found'

  UpdateTypeT: &UpdateType
    '403':
      description: Forbidden
      schema:
        $ref: '#/definitions/forbidden'
    '404':
      description: Not found
      schema:
        $ref: '#/definitions/not_found'
    '422':
      description: Unprocessable entity
      schema:
        $ref: '#/definitions/unprocessable_entity'

  DeleteTypeT: &DeleteType
    '403':
      description: Forbidden
      schema:
        $ref: '#/definitions/forbidden'
    '404':
      description: Not found
      schema:
        $ref: '#/definitions/not_found'

paths:
  /search:
    parameters:
    - name: q
      in: query
      required: true
      description: |
        The text to search for
      type: string
      default: lactate inhibition
    - name: search_type
      in: query
      required: false
      description: The type of resource to return
      type: string
      enum:
      - assays
      - data_files
      - events
      - institutions
      - investigations
      - models
      - people
      - presentations
      - programmes
      - projects
      - publications
      - sample_types
      - sops
      - studies
      default: data_files
    get:
      operationId: search
      description: |
        **search** returns a list of references to resources

        * of the specified type
        * that are visible to the authenticated user, and
        * contain the specified test
      tags:
      - search
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/searchResponse'
          examples:
            application/json:
              data:
              - id: '1213'
                type: data_files
                attributes:
                  title: Lactate flux inhibition data
                  links:
                    self: /data_files/1213
              - id: '70'
                type: data_files
                attributes:
                  title: Characterization of kinetics of the lactate dehydrogenase
                    of S. pyogenes
                  links:
                    self: /data_files/70
              jsonapi:
                version: '1.0'
                links: {}
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
  /assays:
    get:
      operationId: listAssays
      description: |
        The **listAssays** operation returns a JSON object containing a list of all the
        Assays to which the authenticated user has
        access.
      tags:
      - list
      - assays
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/assaysResponse'
          examples:
            application/json:
              data:
              - id: '1'
                type: assays
                attributes:
                  title: Standard-based Excel template for metabolomics data
                links:
                  self: /assays/1
              - id: '2'
                type: assays
                attributes:
                  title: Gene expression(Transcriptome)
                links:
                  self: /assays/2
              - id: '3'
                type: assays
                attributes:
                  title: metabolome-LCMS
                links:
                  self: /assays/3
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
    post:
      operationId: createAssay
      description: |
        A **createAssay** operation creates a new instance of an Assay. The
        instance is populated with the content of the body of the API call.

        The **createAssay** operation returns a JSON object representing the newly
        created Assay.
      tags:
      - create
      - assays
      parameters:
      - in: body
        name: assay
        description: The assay to create.
        schema:
          $ref: '#/definitions/assayPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/assayResponse'
          examples:
            application/json:
              data:
                id: '54'
                type: assays
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource_type: projects
                      resource_id: '442'
                      access: manage
                  title: A Maximal experimental Assay
                  description: A Western Blot Assay
                  other_creators: Anonymous creator
                  assay_class:
                    title: Experimental assay
                    key: EXP
                    description: An experimental assay class description
                  assay_type:
                    label:
                    uri: http://www.mygrid.org.uk/ontology/JERMOntology#Transcriptomics
                  technology_type:
                    label:
                    uri: http://www.mygrid.org.uk/ontology/JERMOntology#RNA-Seq
                  tags:
                  - Assay-tag1
                  - Assay-tag2
                  - Assay-tag3
                relationships:
                  creators:
                    data:
                    - id: '287'
                      type: people
                  submitter:
                    data:
                    - id: '287'
                      type: people
                  organisms:
                    data:
                    - id: '3'
                      type: organisms
                  people:
                    data:
                    - id: '287'
                      type: people
                  projects:
                    data:
                    - id: '436'
                      type: projects
                  investigation:
                    data:
                      id: '66'
                      type: investigations
                  study:
                    data:
                      id: '66'
                      type: studies
                  data_files:
                    data:
                    - id: '16'
                      type: data_files
                  models:
                    data:
                    - id: '5'
                      type: models
                  sops:
                    data:
                    - id: '4'
                      type: sops
                  publications:
                    data:
                    - id: '16'
                      type: publications
                  documents:
                    data:
                    - id: '32'
                      type: documents
                links:
                  self: /assays/54
                meta:
                  created: '2018-04-27T14:27:53.800Z'
                  modified: '2018-04-27T14:27:54.372Z'
                  api_version: '0.1'
                  uuid: 18867f90-2c55-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /assays/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The assay to be fetched, updated or deleted
      type: integer
      default: 267
    patch:
      operationId: updateAssay
      description: |
        An **updateAssay** operation will modify the information held about the specified Assay. This operation is only available if the authenticated user has access to the Assay.

        The **updateAssay** operation returns a JSON object representing the modified Assay.
      tags:
      - update
      - assays
      parameters:
      - in: body
        name: assay
        description: The assay to patch
        schema:
          $ref: '#/definitions/assayPatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/assayResponse'
          examples:
            application/json:
              data:
                id: '72'
                type: assays
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource_type: projects
                      resource_id: '585'
                      access: manage
                  title: A Maximal Assay
                  description: A Western Blot Assay
                  other_creators: Anonymous creator
                  assay_class:
                    title: Experimental assay
                    key: EXP
                    description: An experimental assay class description
                  assay_type:
                    label:
                    uri: http://www.mygrid.org.uk/ontology/JERMOntology#Transcriptomics
                  technology_type:
                    label:
                    uri: http://www.mygrid.org.uk/ontology/JERMOntology#RNA-Seq
                  tags:
                  - Assay-tag1
                  - Assay-tag2
                  - Assay-tag3
                relationships:
                  creators:
                    data:
                    - id: '391'
                      type: people
                  submitter:
                    data:
                    - id: '391'
                      type: people
                  organisms:
                    data:
                    - id: '4'
                      type: organisms
                  people:
                    data:
                    - id: '391'
                      type: people
                  projects:
                    data:
                    - id: '583'
                      type: projects
                  investigation:
                    data:
                      id: '94'
                      type: investigations
                  study:
                    data:
                      id: '94'
                      type: studies
                  data_files:
                    data:
                    - id: '18'
                      type: data_files
                  models:
                    data:
                    - id: '8'
                      type: models
                  sops:
                    data:
                    - id: '6'
                      type: sops
                  publications:
                    data:
                    - id: '18'
                      type: publications
                  documents:
                    data:
                    - id: '34'
                      type: documents
                links:
                  self: /assays/72
                meta:
                  created: '2018-04-27T14:28:46.000Z'
                  modified: '2018-04-27T14:28:51.457Z'
                  api_version: '0.1'
                  uuid: 37b79600-2c55-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    get:
      operationId: readAssay
      description: |
        A **readAssay** operation will return information about the
        Assay identified, provided the authenticated user has access to it.

        The **readAssay** operation returns a JSON object representing the Assay.
      tags:
      - read
      - assays
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/assayResponse'
          examples:
            application/json:
              data:
                id: '267'
                type: assays
                attributes:
                  tags:
                  title: Culturing and synchronisation of P. falciparum
                  description:
                  assay_class:
                    title: Experimental Assay
                    key: EXP
                    description:
                  assay_type:
                    label: Experimental Assay Type
                    uri: http://jermontology.org/ontology/JERMOntology#Experimental_assay_type
                  technology_type:
                    label: Technology Type
                    uri: http://jermontology.org/ontology/JERMOntology#Technology_type
                relationships:
                  creators:
                    data: []
                  submitter:
                    data:
                    - id: '411'
                      type: people
                  organisms:
                    data: []
                  people:
                    data:
                    - id: '411'
                      type: people
                  projects:
                    data:
                    - id: '17'
                      type: projects
                  investigation:
                    data:
                      id: '56'
                      type: investigations
                  study:
                    data:
                      id: '118'
                      type: studies
                  data_files:
                    data: []
                  models:
                    data: []
                  sops:
                    data: []
                  publications:
                    data: []
                links:
                  self: /assays/267
                meta:
                  created: '2014-08-15T13:01:52.000Z'
                  modified: '2017-11-08T14:21:08.000Z'
                  api_version: '0.1'
                  uuid: 510b329d-1628-4e19-9ecb-4efd8966baa6
                  base_url: https://fairdomhub.org
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteAssay
      description: |
        A **deleteAssay** operation will delete the specified Assay, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - assays
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /data_files:
    get:
      operationId: listDataFiles
      description: |
        The **listDataFiles** operation returns a JSON object containing a list of all the
        DataFiles to which the authenticated user has
        access.
      tags:
      - list
      - dataFiles
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/dataFilesResponse'
          examples:
            application/json:
              data:
              - id: '1'
                type: data_files
                attributes:
                  title: Growth-rate dependent catabolic flux disitribution
                links:
                  self: /data_files/1
              - id: '2'
                type: data_files
                attributes:
                  title: 'Excel sheet template : concentrations of intracellular metabolites'
                links:
                  self: /data_files/2
              - id: '6'
                type: data_files
                attributes:
                  title: 0804_shake-flask-sigB-starvation
                links:
                  self: /data_files/6
              - id: '8'
                type: data_files
                attributes:
                  title: Transcriptomics Template (ArrayExpress Format)
                links:
                  self: /data_files/8
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
    post:
      operationId: createDataFile
      description: |
        A **createDataFile** operation creates a new instance of a DataFile. The
        instance is populated with the content of the body of the API call.

        The **createDataFile** operation returns a JSON object representing the newly
        created DataFile.
      tags:
      - create
      - dataFiles
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/dataFileResponse'
          examples:
            application/json:
              data:
                id: '57'
                type: data_files
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource_type: projects
                      resource_id: '2058'
                      access: edit
                  title: A Maximal Data File
                  description: This is the description
                  license: CC-BY-4.0
                  latest_version: 1
                  tags:
                  - tag1
                  - tag2
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/data_files/57?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:43:12.000Z'
                  updated_at: '2018-04-27T14:43:12.000Z'
                  content_blobs:
                  - original_filename: a_pdf_file.pdf
                    url:
                    md5sum:
                    sha1sum:
                    content_type: application/pdf
                    link: http://localhost:3000/data_files/57/content_blobs/313
                    size:
                  other_creators: John Smith, Jane Smith
                relationships:
                  creators:
                    data:
                    - id: '1369'
                      type: people
                  submitter:
                    data:
                    - id: '1368'
                      type: people
                  people:
                    data:
                    - id: '1368'
                      type: people
                    - id: '1369'
                      type: people
                  projects:
                    data:
                    - id: '2058'
                      type: projects
                  investigations:
                    data:
                    - id: '298'
                      type: investigations
                  studies:
                    data:
                    - id: '250'
                      type: studies
                  assays:
                    data:
                    - id: '186'
                      type: assays
                  publications:
                    data:
                    - id: '87'
                      type: publications
                  events:
                    data:
                    - id: '70'
                      type: events
                links:
                  self: /data_files/57?version=1
                meta:
                  created: '2018-04-27T14:43:12.273Z'
                  modified: '2018-04-27T14:43:13.177Z'
                  api_version: '0.1'
                  uuid: 3bf3e270-2c57-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /data_files/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The data file to fetch
      type: integer
      default: 1152
    get:
      operationId: readDataFile
      description: |
        A **readDataFile** operation will return information about the
        DataFile identified, provided the authenticated user has access to it.

        The **readDataFile** operation returns a JSON object representing the DataFile.
      parameters:
      - name: version
        in: query
        required: true
        description: The version of the data file to get
        type: integer
        default: 2
      tags:
      - read
      - dataFiles
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/dataFileResponse'
          examples:
            application/json:
              data:
                id: '1152'
                type: data_files
                attributes:
                  tags:
                  title: G3PDH Kinetic data
                  description: Experimental data set for the kinetic characterisation
                    of G3PDH
                  license:
                  latest_version: 2
                  versions:
                  - version: 1
                    revision_comments:
                    url: https://fairdomhub.org/data_files/1152?version=1
                  - version: 2
                    revision_comments:
                    url: https://fairdomhub.org/data_files/1152?version=2
                  version: '2'
                  revision_comments:
                  created_at: '2014-12-08T17:25:32.000Z'
                  updated_at: '2015-05-07T12:16:24.000Z'
                  content_blobs:
                  - original_filename: G3PDH_kinetics-SEEK.xls
                    url:
                    md5sum: 54470f803b4e5348096c63bdda458ae6
                    sha1sum: 9a88d3c402fe060453001ac3d82974ee91f4095f
                    content_type: application/vnd.ms-excel
                    link: https://fairdomhub.org/data_files/1152/content_blobs/1831
                    size: 100864
                relationships:
                  creators:
                    data:
                    - id: '411'
                      type: people
                    - id: '49'
                      type: people
                  submitter:
                    data:
                    - id: '411'
                      type: people
                  people:
                    data:
                    - id: '49'
                      type: people
                    - id: '411'
                      type: people
                  projects:
                    data:
                    - id: '17'
                      type: projects
                  investigations:
                    data:
                    - id: '56'
                      type: investigations
                  studies:
                    data:
                    - id: '118'
                      type: studies
                  assays:
                    data:
                    - id: '253'
                      type: assays
                  publications:
                    data: []
                  events:
                    data: []
                links:
                  self: /data_files/1152?version=2
                meta:
                  created: '2014-08-11T06:32:28.000Z'
                  modified: '2015-03-03T09:54:27.000Z'
                  api_version: '0.1'
                  uuid: d6a8a3a9-44da-46c9-a36e-f6fad19de5f7
                  base_url: https://fairdomhub.org
              jsonapi:
                version: '1.0'
    patch:
      operationId: updateDataFile
      description: |
        An **updateDataFile** operation will modify the information held about the specified DataFile. This operation is only available if the authenticated user has access to the DataFile.

        The **updateDataFile** operation returns a JSON object representing the modified DataFile.
      tags:
      - update
      - dataFiles
      parameters:
      - in: body
        name: data file
        description: The data file to patch
        schema:
          $ref: '#/definitions/dataFilePatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/dataFileResponse'
          examples:
            application/json:
              data:
                id: '68'
                type: data_files
                attributes:
                  policy:
                    access: manage
                    permissions: []
                  title: A Data File_62
                  description: Study of the Human Genome
                  license:
                  latest_version: 1
                  tags:
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/data_files/68?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:43:48.000Z'
                  updated_at: '2018-04-27T14:43:52.000Z'
                  content_blobs:
                  - original_filename: a_pdf_file.pdf
                    url:
                    md5sum: 565ae8a7a743c3bfd9f15c69647f5b8b
                    sha1sum: b9d2148740050b7f37975edd0fb97faa508ff767
                    content_type: application/pdf
                    link: http://localhost:3000/data_files/68/content_blobs/324
                    size: 8827
                  other_creators:
                relationships:
                  creators:
                    data:
                    - id: '1413'
                      type: people
                  submitter:
                    data:
                    - id: '1412'
                      type: people
                  people:
                    data:
                    - id: '1412'
                      type: people
                    - id: '1413'
                      type: people
                  projects:
                    data:
                    - id: '2117'
                      type: projects
                  investigations:
                    data: []
                  studies:
                    data: []
                  assays:
                    data: []
                  publications:
                    data: []
                  events:
                    data: []
                links:
                  self: /data_files/68?version=1
                meta:
                  created: '2018-04-27T14:43:48.000Z'
                  modified: '2018-04-27T14:43:49.000Z'
                  api_version: '0.1'
                  uuid: 51b0b600-2c57-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteDataFile
      description: |
        A **deleteDataFile** operation will delete the specified DataFile, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - dataFiles
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /data_files/{id}/content_blobs/{blob_id}:
    put:
      operationId: updateDataFileContent
#      description:
#        $ref: ../descriptions/updateDataFileContent.md
      parameters:
      - name: id
        in: path
        required: true
        description: The data file content to upload
        type: integer
        default: 1152
      - name: blob_id
        in: path
        required: true
        description: The content identifier to upload
        type: integer
        default: 1831
      - in: body
        name: blobContent
        description: The blob content to upload
        schema:
          type: string
          format: binary
      consumes:
      - application/octet-stream
      produces:
      - '*/*'
      tags:
      - update
      - dataFiles
      responses:
        '200':
          description: Success
  /data_files/{id}/content_blobs/{blob_id}/download:
    parameters:
    - name: id
      in: path
      required: true
      description: The data file to fetch
      type: integer
      default: 1152
    - name: blob_id
      in: path
      required: true
      description: The blob to download
      type: integer
      default: 1831
    get:
      operationId: readDataFileContent
#      description:
#        $ref: ../descriptions/readDataFileContent.md
      produces:
      - '*/*'
      tags:
      - read
      - dataFiles
      responses:
        <<: *ReadType
        '200':
          description: Success
  /documents:
    get:
      operationId: listDocuments
      description: |
        The **listDocuments** operation returns a JSON object containing a list of all the
        Documents to which the authenticated user has
        access.
      tags:
      - list
      - documents
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/documentsResponse'
          examples:
            application/json:
              data:
              - id: '1'
                type: documents
                attributes:
                  title: OpenAPI Specification | Swagger
                links:
                  self: /documents/1
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://testing.sysmo-db.org
                api_version: '0.1'
    post:
      operationId: createDocument
      description: |
        A **createDocument** operation creates a new instance of a Document. The
        instance is populated with the content of the body of the API call.

        The **createDocument** operation returns a JSON object representing the newly
        created Document
      tags:
      - create
      - documents
      parameters:
      - in: body
        name: document
        description: The document to create.
        schema:
          $ref: '#/definitions/documentPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          examples:
            application/json:
              data:
                id: '14'
                type: documents
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource_type: projects
                      resource_id: '359'
                      access: edit
                  title: A Maximal Document
                  description: This is the description
                  license: CC-BY-4.0
                  latest_version: 1
                  tags:
                  - tag1
                  - tag2
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/documents/14?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:26:09.000Z'
                  updated_at: '2018-04-27T14:26:09.000Z'
                  content_blobs:
                  - original_filename: a_pdf_file.pdf
                    url:
                    md5sum:
                    sha1sum:
                    content_type: application/pdf
                    link: http://localhost:3000/documents/14/content_blobs/48
                    size:
                  other_creators: John Smith, Jane Smith
                relationships:
                  creators:
                    data:
                    - id: '234'
                      type: people
                  submitter:
                    data:
                    - id: '233'
                      type: people
                  people:
                    data:
                    - id: '233'
                      type: people
                    - id: '234'
                      type: people
                  projects:
                    data:
                    - id: '359'
                      type: projects
                  investigations:
                    data:
                    - id: '51'
                      type: investigations
                  studies:
                    data:
                    - id: '51'
                      type: studies
                  assays:
                    data:
                    - id: '38'
                      type: assays
                  publications:
                    data: []
                links:
                  self: /documents/14?version=1
                meta:
                  created: '2018-04-27T14:26:09.713Z'
                  modified: '2018-04-27T14:26:10.078Z'
                  api_version: '0.1'
                  uuid: da7cb1a0-2c54-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /documents/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The document to fetch
      type: integer
      default: 1152
    get:
      operationId: readDocument
      description: |
        A **readDocument** operation will return information about the
        Document identified, provided the authenticated user has access to it.

        The **readDocument** operation returns a JSON object representing the Document.
      tags:
      - read
      - documents
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/documentResponse'
    patch:
      operationId: updateDocument
      description: |
        An **updateDocument** operation will modify the information held about the specified Document. This operation is only available if the authenticated user has access to the Document.

        The **updateDocument** operation returns a JSON object representing the modified Document.
      tags:
      - update
      - documents
      parameters:
      - in: body
        name: document
        description: The document to patch.
        schema:
          $ref: '#/definitions/documentPatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/documentResponse'
          examples:
            application/json:
              data:
                id: '25'
                type: documents
                attributes:
                  policy:
                    access: manage
                    permissions: []
                  title: This Document
                  description: A report about the thing that happened
                  license:
                  latest_version: 1
                  tags:
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/documents/25?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:27:09.000Z'
                  updated_at: '2018-04-27T14:27:15.000Z'
                  content_blobs:
                  - original_filename: file-17
                    url:
                    md5sum: 443130e29a37e34e439a5b391efd1d42
                    sha1sum: 3da9d44ef741dda15ef1194e949f6c3b02c597bd
                    content_type: application/pdf
                    link: http://localhost:3000/documents/25/content_blobs/59
                    size: 9
                  other_creators:
                relationships:
                  creators:
                    data:
                    - id: '262'
                      type: people
                  submitter:
                    data:
                    - id: '261'
                      type: people
                  people:
                    data:
                    - id: '261'
                      type: people
                    - id: '262'
                      type: people
                  projects:
                    data:
                    - id: '400'
                      type: projects
                  investigations:
                    data: []
                  studies:
                    data: []
                  assays:
                    data: []
                  publications:
                    data: []
                links:
                  self: /documents/25?version=1
                meta:
                  created: '2018-04-27T14:27:09.000Z'
                  modified: '2018-04-27T14:27:12.000Z'
                  api_version: '0.1'
                  uuid: fde626a0-2c54-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteDocument
      description: |
        A **deleteDocument** operation will delete the specified Document, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - documents
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /events:
    get:
      operationId: listEvents
      description: |
        The **listEvents** operations return a JSON object containing a list of all the
        Events to which the authenticated user has
        access.
      tags:
      - list
      - events
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventsResponse'
          examples:
            application/json:
              data:
              - id: '1'
                type: events
                attributes:
                  title: SysMO Conference 2011
                links:
                  self: /events/1
              - id: '2'
                type: events
                attributes:
                  title: 'All Hands SySMO PALs  meeting '
                links:
                  self: /events/2
              - id: '4'
                type: events
                attributes:
                  title: SilicoTryp student & post-doc meeting
                links:
                  self: /events/4
              - id: '5'
                type: events
                attributes:
                  title: Bacell-meeting 1109-Groningen
                links:
                  self: /events/5
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
    post:
      operationId: createEvent
      description: |
        A **createEvent** operation creates a new instance of an Event. The
        instance is populated with the content of the body of the API call.

        The **createEvent** operation returns a JSON object representing the newly
        created Event
      tags:
      - create
      - events
      parameters:
      - in: body
        name: sop
        description: The event to create.
        schema:
          $ref: '#/definitions/eventPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/eventResponse'
          examples:
            application/json:
              data:
                id: '3'
                type: events
                attributes:
                  policy:
                    access: view
                    permissions:
                    - resource_type: projects
                      resource_id: '242'
                      access: edit
                  title: A Maximal Event
                  description: This is the description
                  url: http://www.example.com/events/123
                  address: Sofienstr 2
                  city: Heidelberg
                  country: Germany
                  start_date: '2017-01-01T00:20:00.000Z'
                  end_date: '2017-01-01T00:22:00.000Z'
                relationships:
                  submitter:
                    data:
                    - id: '177'
                      type: people
                  projects:
                    data:
                    - id: '242'
                      type: projects
                  data_files:
                    data:
                    - id: '4'
                      type: data_files
                  publications:
                    data:
                    - id: '4'
                      type: publications
                  presentations:
                    data:
                    - id: '1'
                      type: presentations
                links:
                  self: /events/3
                meta:
                  created: '2018-04-27T14:25:05.300Z'
                  modified: '2018-04-27T14:25:05.300Z'
                  api_version: '0.1'
                  uuid: b410eb70-2c54-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /events/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The event to fetch
      type: integer
      default: 75
    get:
      operationId: readEvent
      description: |
        A **readEvent** operation will return information about the
        Event identified, provided the authenticated user has access to it.

        The **readEvent** operation returns a JSON object representing the Event.
      tags:
      - read
      - events
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventResponse'
    patch:
      operationId: updateEvent
      description: |
        An **updateEvent** operation will modify the information held about the specified Event. This operation is only available if the authenticated user has access to the Event.

        The **updateEvent** operation returns a JSON object representing the modified Event.
      tags:
      - update
      - events
      parameters:
      - in: body
        name: sop
        description: The event to update.
        schema:
          $ref: '#/definitions/eventPatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventResponse'
          examples:
            application/json:
              data:
                id: '14'
                type: events
                attributes:
                  policy:
                    access: manage
                    permissions: []
                  title: An Event
                  description: A thing that will happen
                  url:
                  address:
                  city:
                  country:
                  start_date: '2018-04-27T14:24:49.000Z'
                  end_date: '2018-04-28T14:24:49.000Z'
                relationships:
                  submitter:
                    data:
                    - id: '205'
                      type: people
                  projects:
                    data:
                    - id: '310'
                      type: projects
                  data_files:
                    data: []
                  publications:
                    data: []
                  presentations:
                    data: []
                links:
                  self: /events/14
                meta:
                  created: '2018-04-27T14:25:29.000Z'
                  modified: '2018-04-27T14:25:30.000Z'
                  api_version: '0.1'
                  uuid: c2d344b0-2c54-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteEvent
      description: |
        A **deleteEvent** operation will delete the specified Event, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - events
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /institutions:
    get:
      operationId: listInstitutions
      description: |
        The **listInstitutions** operation returns a JSON object containing a list of all the
        Institutions to which the authenticated user has
        access.
      tags:
      - list
      - institutions
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/institutionsResponse'
          examples:
            application/json:
              data:
              - id: '1'
                type: institutions
                attributes:
                  title: Institute of Physiology Academy of Sciences
                links:
                  self: /institutions/1
              - id: '2'
                type: institutions
                attributes:
                  title: Autonomous University of Barcelona
                links:
                  self: /institutions/2
              - id: '3'
                type: institutions
                attributes:
                  title: CSIC Granada
                  links:
                  self: /institutions/3
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
    post:
      operationId: createInstitution
      description: |
        A **createInstitution** operation creates a new instance of an Institution. The
        instance is populated with the content of the body of the API call.

        The **createInstitution** operation returns a JSON object representing the newly
        created Institution
      tags:
      - create
      - institutions
      parameters:
      - in: body
        name: institution
        description: The institution to create.
        schema:
          $ref: '#/definitions/institutionPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/institutionResponse'
          examples:
            application/json:
              data:
                id: '1063'
                type: institutions
                attributes:
                  avatar:
                  title: 'Post An Institution: 886 Max'
                  country: Brazil
                  country_code: br
                  city: Manchester
                  address: Manchester Centre for Integrative Systems Biology, MIB/CEAS,
                    The University of Manchester Faraday Building, Sackville Street,
                    Manchester M60 1QD United Kingdom
                  web_page: http://www.mib.ac.uk/
                relationships:
                  people:
                    data: []
                  projects:
                    data: []
                links:
                  self: /institutions/1063
                meta:
                  created: '2018-04-27T14:38:14.497Z'
                  modified: '2018-04-27T14:38:14.497Z'
                  api_version: '0.1'
                  uuid: 8a81b740-2c56-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /institutions/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The institution to fetch, patch or delete
      type: integer
      default: 142
    get:
      operationId: readInstitution
      description: |
        A **readInstitution** operation will return information about the
        Institution identified, provided the authenticated user has access to it.

        The **readInstitution** operation returns a JSON object representing the Institution.
      tags:
      - read
      - institutions
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/institutionResponse'
          examples:
            application/json:
              data:
                id: '70'
                type: institutions
                attributes:
                  avatar:
                  title: Some university
                  country: FR
                  city:
                  address:
                  web_page:
                relationships:
                  people:
                    data: []
                  projects:
                    data: []
                links:
                  self: /institutions/70
                meta:
                  created: '2018-04-12T09:46:10.695Z'
                  modified: '2018-04-12T09:46:10.695Z'
                  api_version: '0.1'
                  uuid: 414f8a70-2064-0136-17ed-54bed9b4c528
                  base_url: https://testing.sysmo-db.org
              jsonapi:
                version: '1.0'
    patch:
      operationId: updateInstitution
      description: |
        An **updateInstitution** operation will modify the information held about the specified Institution. This operation is only available if the authenticated user has access to the Institution.

        The **updateInstitution** operation returns a JSON object representing the modified Institution.
      parameters:
      - in: body
        name: institution
        description: The data with which to update the institution.
        schema:
          $ref: '#/definitions/institutionPatch'
      tags:
      - update
      - institutions
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/institutionResponse'
          examples:
            application/json:
              data:
                id: '1094'
                type: institutions
                attributes:
                  avatar:
                  title: Patched institution
                  country: Germany
                  country_code: de
                  city: Heidelberg
                  address: NoName street 23
                  web_page: http://my.Institution.com
                relationships:
                  people:
                    data: []
                  projects:
                    data: []
                links:
                  self: /institutions/1094
                meta:
                  created: '2018-04-27T14:38:21.000Z'
                  modified: '2018-04-27T14:38:23.245Z'
                  api_version: '0.1'
                  uuid: 8e95da20-2c56-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteInstitution
      description: |
        A **deleteInstitution** operation will delete the specified Institution, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - institutions
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'

  /investigations:
    get:
      operationId: listInvestigations
      description: |
        The **listInvestigations** operation returns a JSON object containing a list of all the
        Investigations to which the authenticated user has
        access.
      tags:
      - list
      - investigations
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/investigationsResponse'
          examples:
            application/json:
              data:
              - id: '1'
                type: investigations
                attributes:
                  title: Creating data sheet template for 'omics data
                links:
                  self: /investigations/1
              - id: '2'
                type: investigations
                attributes:
                  title: The transition from growing to non-growing Bacillus subtilis
                    cells
                links:
                  self: /investigations/2
              - id: '3'
                type: investigations
                attributes:
                  title: Systems Biology of Clostridium acetobutylicum - a possible
                    answer to dwindling crude oil reserves
                links:
                  self: /investigations/3
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
    post:
      operationId: createInvestigation
      description: |
        A **createInvestigation** operation creates a new instance of an Investigation. The
        instance is populated with the content of the body of the API call.

        The **createInvestigation** operation returns a JSON object representing the newly
        created Investigation.
      tags:
      - create
      - investigations
      parameters:
      - in: body
        name: investigation
        description: The investigation to create.
        schema:
          $ref: '#/definitions/investigationPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/investigationResponse'
          examples:
            application/json:
              data:
                id: '122'
                type: investigations
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource_type: projects
                      resource_id: '809'
                      access: manage
                    - resource_type: projects
                      resource_id: '859'
                      access: manage
                  title: A Maximal Investigation
                  description: This is a more complex investigation
                  other_creators: Max Blumenthal, Ed Snowden
                relationships:
                  creators:
                    data:
                    - id: '555'
                      type: people
                  submitter:
                    data:
                    - id: '555'
                      type: people
                  people:
                    data:
                    - id: '555'
                      type: people
                  projects:
                    data:
                    - id: '809'
                      type: projects
                    - id: '859'
                      type: projects
                  studies:
                    data: []
                  assays:
                    data: []
                  data_files:
                    data: []
                  models:
                    data: []
                  sops:
                    data: []
                  publications:
                    data:
                    - id: '23'
                      type: publications
                  documents:
                    data: []
                links:
                  self: /investigations/122
                meta:
                  created: '2018-04-27T14:31:15.345Z'
                  modified: '2018-04-27T14:31:15.859Z'
                  api_version: '0.1'
                  uuid: 90a27200-2c55-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /investigations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The investigation to fetch, patch or delete
      type: integer
      default: 56
    get:
      operationId: readInvestigation
      description: |
        A **readInvestigation** operation will return information about the
        Investigation identified, provided the authenticated user has access to it.

        The **readInvestigation** operation returns a JSON object representing the Investigation.
      tags:
      - read
      - investigations
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/investigationResponse'
    patch:
      operationId: updateInvestigation
      description: |
        An **updateInvestigation** operation will modify the information held about the specified Investigation. This operation is only available if the authenticated user has access to the Investigation.

        The **updateInvestigation** operation returns a JSON object representing the modified Investigation.
      parameters:
      - in: body
        name: investigation
        description: The investigation to patch.
        schema:
          $ref: '#/definitions/investigationPatch'
      tags:
      - update
      - investigations
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/investigationResponse'
          examples:
            application/json:
              data:
                id: '196'
                type: investigations
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource_type: projects
                      resource_id: '1293'
                      access: manage
                    - resource_type: projects
                      resource_id: '1343'
                      access: manage
                  title: A Maximal Investigation
                  description: This is a more complex investigation
                  other_creators: Max Blumenthal, Ed Snowden
                relationships:
                  creators:
                    data:
                    - id: '838'
                      type: people
                  submitter:
                    data:
                    - id: '838'
                      type: people
                  people:
                    data:
                    - id: '838'
                      type: people
                  projects:
                    data:
                    - id: '1293'
                      type: projects
                    - id: '1343'
                      type: projects
                  studies:
                    data: []
                  assays:
                    data: []
                  data_files:
                    data: []
                  models:
                    data: []
                  sops:
                    data: []
                  publications:
                    data:
                    - id: '41'
                      type: publications
                  documents:
                    data: []
                links:
                  self: /investigations/196
                meta:
                  created: '2018-04-27T14:35:11.000Z'
                  modified: '2018-04-27T14:35:19.217Z'
                  api_version: '0.1'
                  uuid: 1d766430-2c56-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteInvestigation
      description: |
        A **deleteInvestigation** operation will delete the specified Investigation, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - investigations
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /models:
    get:
      operationId: listModels
      description: |
        The **listModels** operation returns a JSON object containing a list of all the
        Models to which the authenticated user has
        access.
      tags:
      - list
      - models
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/modelsResponse'
          examples:
            application/json:
              data:
              - id: '16'
                type: models
                attributes:
                  title: Basic kinetic model of Escherichia coli's electron transport
                    chain (ETC)
                links:
                  self: /models/16
              - id: '18'
                type: models
                attributes:
                  title: Development of agent-based models describing the response
                    of Escherichia coli to changes in oxygen availability
                links:
                  self: /models/18
              - id: '20'
                type: models
                attributes:
                  title: sigB-response_starvation_shakeflask
                links:
                  self: /models/20
              - id: '21'
                type: models
                attributes:
                  title: Model for ED pathway in Sulfolobus solfataricus
                links:
                  self: /models/21
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
    post:
      operationId: createModel
      description: |
        A **createModel** operation creates a new instance of a Model. The
        instance is populated with the content of the body of the API call.

        The **createModel** operation returns a JSON object representing the newly
        created Model.
      tags:
      - create
      - models
      parameters:
      - in: body
        name: model
        description: The model to create.
        schema:
          $ref: '#/definitions/modelPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/modelResponse'
          examples:
            application/json:
              data:
                id: '60'
                type: models
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource_type: projects
                      resource_id: '1548'
                      access: edit
                  title: A Maximal Model
                  description: This is the description
                  license: CC-BY-4.0
                  latest_version: 1
                  tags:
                  - tag1
                  - tag2
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/models/60?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:37:09.000Z'
                  updated_at: '2018-04-27T14:37:09.000Z'
                  content_blobs:
                  - original_filename: docs.pdf
                    url:
                    md5sum:
                    sha1sum:
                    content_type: application/pdf
                    link: http://localhost:3000/models/60/content_blobs/230
                    size:
                  - original_filename: the_model.xml
                    url:
                    md5sum:
                    sha1sum:
                    content_type: application/xml
                    link: http://localhost:3000/models/60/content_blobs/231
                    size:
                  other_creators: John Smith, Jane Smith
                  model_type: Linear equations
                  model_format: SBML
                  environment: JWS Online
                relationships:
                  creators:
                    data:
                    - id: '992'
                      type: people
                  submitter:
                    data:
                    - id: '991'
                      type: people
                  people:
                    data:
                    - id: '991'
                      type: people
                    - id: '992'
                      type: people
                  projects:
                    data:
                    - id: '1548'
                      type: projects
                  investigations:
                    data:
                    - id: '228'
                      type: investigations
                  studies:
                    data:
                    - id: '192'
                      type: studies
                  assays:
                    data:
                    - id: '153'
                      type: assays
                  publications:
                    data:
                    - id: '52'
                      type: publications
                links:
                  self: /models/60?version=1
                meta:
                  created: '2018-04-27T14:37:08.942Z'
                  modified: '2018-04-27T14:37:09.687Z'
                  api_version: '0.1'
                  uuid: 635ea0d0-2c56-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /models/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The model to fetch, patch or delete
      type: integer
      default: 139
    get:
      operationId: readModel
      description: |
        A **readModel** operation will return information about the
        Model identified, provided the authenticated user has access to it.

        The **readModel** operation returns a JSON object representing the Model.
      parameters:
      - name: version
        in: query
        required: true
        description: The version of the model to get
        type: integer
        default: 2
      tags:
      - read
      - models
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/modelResponse'
    patch:
      operationId: updateModel
      description: |
        An **updateModel** operation will modify the information held about the specified Model. This operation is only available if the authenticated user has access to the Model.

        The **updateModel** operation returns a JSON object representing the modified Model.
      tags:
      - update
      - models
      parameters:
      - in: body
        name: model
        description: The model to patch.
        schema:
          $ref: '#/definitions/modelPatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/modelResponse'
          examples:
            application/json:
              data:
                id: '71'
                type: models
                attributes:
                  policy:
                    access: manage
                    permissions: []
                  title: A Model 64
                  description: A simulation of a thing
                  license:
                  latest_version: 1
                  tags:
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/models/71?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:38:03.000Z'
                  updated_at: '2018-04-27T14:38:06.000Z'
                  content_blobs:
                  - original_filename: cronwright.xml
                    url:
                    md5sum: 6b9283ed4ca52a081398b715aaeb8113
                    sha1sum: 454e4b6067f577b680bb8538772b12ebcdb6c4a4
                    content_type: text/xml
                    link: http://localhost:3000/models/71/content_blobs/242
                    size: 5933
                  other_creators:
                  model_type:
                  model_format: SBML
                  environment:
                relationships:
                  creators:
                    data:
                    - id: '1036'
                      type: people
                  submitter:
                    data:
                    - id: '1035'
                      type: people
                  people:
                    data:
                    - id: '1035'
                      type: people
                    - id: '1036'
                      type: people
                  projects:
                    data:
                    - id: '1607'
                      type: projects
                  investigations:
                    data: []
                  studies:
                    data: []
                  assays:
                    data: []
                  publications:
                    data: []
                links:
                  self: /models/71?version=1
                meta:
                  created: '2018-04-27T14:38:03.000Z'
                  modified: '2018-04-27T14:38:04.000Z'
                  api_version: '0.1'
                  uuid: 83ed6ca0-2c56-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteModel
      description: |
        A **deleteModel** operation will delete the specified Model, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - models
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /models/{id}/content_blobs/{blob_id}/download:
    parameters:
    - name: id
      in: path
      required: true
      description: The model to fetch
      type: integer
      default: 139
    - name: blob_id
      in: path
      required: true
      description: The blob to download
      type: integer
      default: 1850
    get:
      operationId: readModelContent
#      description:
#        $ref: ../descriptions/readModelContent.md
      tags:
      - read
      - models
      responses:
        '200':
          description: Success
          schema:
            type: file
  /organisms:
    get:
      operationId: listOrganisms
      description: |
        The **listOrganisms** operation returns a JSON object containing a list of all the
        Organisms to which the authenticated user has
        access.
      tags:
      - list
      - organisms
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/organismsResponse'
          examples:
            application/json:
              data:
              - id: '1933753700'
                type: organisms
                attributes:
                  title: Acidithiobacillus caldus
                links:
                  self: /organisms/1933753700
              - id: '1933753714'
                type: organisms
                attributes:
                  title: Arabidopsis thaliana
                links:
                  self: /organisms/1933753714
              - id: '1933753716'
                type: organisms
                attributes:
                  title: Arabidopsis thaliana
                links:
                  self: /organisms/1933753716
              - id: '1933753708'
                type: organisms
                attributes:
                  title: Bacillus methanolicus
                links:
                  self: /organisms/1933753708
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
  /organisms/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The organism to fetch, patch or delete
      type: integer
      default: 1933753696
    get:
      operationId: readOrganism
      description: |
        A **readOrganism** operation will return information about the
        Organism identified, provided the authenticated user has access to it.

        The **readOrganism** operation returns a JSON object representing the Organism.
      tags:
      - read
      - organisms
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/organismResponse'
  /people:
    get:
      operationId: listPeople
      description: |
        The **listPeople** operation returns a JSON object containing a list of all the
        People to which the authenticated user has
        access.
      tags:
      - list
      - people
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/peopleResponse'
          examples:
            application/json:
              data:
              - id: '364'
                type: people
                attributes:
                  title: Hadas Leonov
                links:
                  self: /people/364
              - id: '321'
                type: people
                attributes:
                  title: Finn Bacall
                links:
                  self: /people/321
              - id: '134'
                type: people
                attributes:
                  title: Stuart Owen
                links:
                  self: /people/134
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://testing.sysmo-db.org
                api_version: '0.1'
    post:
      operationId: createPerson
      description: |
        A **createPerson** operation creates a new instance of a Person. The
        instance is populated with the content of the body of the API call.

        The **createPerson** operation returns a JSON object representing the newly
        created Person.
      tags:
      - create
      - people
      parameters:
      - in: body
        name: person
        description: The person to create.
        schema:
          $ref: '#/definitions/personPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/personResponse'
          examples:
            application/json:
              data:
                id: '441'
                type: people
                attributes:
                  avatar:
                  title: Post Last
                  description: A person with all possible details
                  first_name: Post
                  last_name: Last
                  web_page: http://www.website.com
                  orcid: http://orcid.org/0000-0001-9842-9718
                  mbox_sha1sum: d6b1a16fb3c8678069841a2e47f0f5bdd5103a6e
                  phone: 34-167-552266
                  skype_name: postedSkype
                  expertise:
                  - modeling
                  - programming
                  tools:
                  - CeriusII
                  - Gromacs
                  - Python
                  project_positions:
                relationships:
                  projects:
                    data: []
                  institutions:
                    data: []
                  investigations:
                    data: []
                  studies:
                    data: []
                  assays:
                    data: []
                  data_files:
                    data: []
                  models:
                    data: []
                  sops:
                    data: []
                  publications:
                    data: []
                  presentations:
                    data: []
                  events:
                    data: []
                  documents:
                    data: []
                links:
                  self: /people/441
                meta:
                  created: '2018-04-27T14:29:10.153Z'
                  modified: '2018-04-27T14:29:10.153Z'
                  api_version: '0.1'
                  uuid: 460c1550-2c55-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /people/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The person to fetch, patch or delete
      type: integer
      default: 433
    get:
      operationId: readPerson
      description: |
        A **readPerson** operation will return information about the
        Person identified, provided the authenticated user has access to it.

        The **readPerson** operation returns a JSON object representing the Person.
      tags:
      - read
      - people
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/personResponse'
          examples:
            application/json:
              id: '132'
              type: people
              attributes:
                avatar: /people/132/avatars/4
                title: Katy Wolstencroft
                description: I am a Research Fellow at the University of Manchester,
                  working in Bioinformatics and Computer Science. I am also a guest
                  researcher at the Vrije Universiteit.My research interests include
                  scientific workflows, semantic discovery, and applying ontology
                  technologies to biological data
                first_name: Katy
                last_name: Wolstencroft
                web_page:
                orcid:
                mbox_sha1sum: 3dabdf312876f4b139507ce80b36e872e10164ae
                phone: '48229'
                skype_name:
                expertise:
                - Biochemistry
                - Bioinformatics
                - Data Management
                tools:
                - Data Management
                - Databases
                - Ontologies
                - Taverna
                - Transcriptomics
                - Web services
                - Workflows
                project_positions:
              relationships:
                projects:
                  data:
                  - id: '12'
                    type: projects
                  - id: '15'
                    type: projects
                institutions:
                  data:
                  - id: '7'
                    type: institutions
                  - id: '62'
                    type: institutions
                investigations:
                  data:
                  - id: '2'
                    type: investigations
                  - id: '4'
                    type: investigations
                studies:
                  data:
                  - id: '4'
                    type: studies
                  - id: '7'
                    type: studies
                assays:
                  data:
                  - id: '2'
                    type: assays
                  - id: '3'
                    type: assays
                  - id: '4'
                    type: assays
                  - id: '6'
                    type: assays
                  - id: '10'
                    type: assays
                  - id: '11'
                    type: assays
                  - id: '12'
                    type: assays
                  - id: '13'
                    type: assays
                data_files:
                  data:
                  - id: '4'
                    type: data_files
                  - id: '5'
                    type: data_files
                  - id: '6'
                    type: data_files
                  - id: '8'
                    type: data_files
                  - id: '15'
                    type: data_files
                  - id: '17'
                    type: data_files
                models:
                  data:
                  - id: '19'
                    type: models
                  - id: '20'
                    type: models
                sops:
                  data:
                  - id: '13'
                    type: sops
                  - id: '15'
                    type: sops
                publications:
                  data:
                  - id: '3'
                    type: publications
                  - id: '5'
                    type: publications
                  - id: '7'
                    type: publications
                  - id: '9'
                    type: publications
                  - id: '11'
                    type: publications
                  - id: '13'
                    type: publications
                  - id: '14'
                    type: publications
                  - id: '15'
                    type: publications
                  - id: '34'
                    type: publications
                  - id: '38'
                    type: publications
                  - id: '39'
                    type: publications
                presentations:
                  data:
                  - id: '7'
                    type: presentations
                events:
                  data: []
                documents:
                  data: []
              links:
                self: /people/132
              meta:
                created: '2009-01-15T12:24:02.000Z'
                modified: '2014-04-09T11:24:47.000Z'
                api_version: '0.1'
                uuid: 7989c509-5ac4-47bf-b161-30193b131379
                base_url: https://testing.sysmo-db.org
    patch:
      operationId: updatePerson
      description: |
        An **updatePerson** operation will modify the information held about the specified Person. This operation is only available if the authenticated user has access to the Person.

        The **updatePerson** operation returns a JSON object representing the modified Person.
      parameters:
      - in: body
        name: person
        description: The data with which to update the person.
        schema:
          $ref: '#/definitions/personPatch'
      tags:
      - update
      - people
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/personResponse'
          examples:
            application/json:
              data:
                id: '472'
                type: people
                attributes:
                  avatar:
                  title: Patched Name
                  description: A person with all possible details
                  first_name: Patched
                  last_name: Name
                  web_page: http://www.website.com
                  orcid: http://orcid.org/0000-0001-9842-9718
                  mbox_sha1sum: 5f9cd9691c643af7e4506ff02cdb6629b9bb880f
                  phone: 34-167-552266
                  skype_name: patchedSkype
                  expertise:
                  - modeling
                  - programming
                  tools:
                  - CeriusII
                  - Gromacs
                  - Python
                  project_positions:
                  - project_id: '676'
                    position_id: '1'
                    position_name: A Role
                relationships:
                  projects:
                    data:
                    - id: '676'
                      type: projects
                  institutions:
                    data:
                    - id: '473'
                      type: institutions
                  investigations:
                    data: []
                  studies:
                    data: []
                  assays:
                    data: []
                  data_files:
                    data: []
                  models:
                    data: []
                  sops:
                    data: []
                  publications:
                    data: []
                  presentations:
                    data: []
                  events:
                    data: []
                  documents:
                    data: []
                links:
                  self: /people/472
                meta:
                  created: '2018-04-27T14:29:35.000Z'
                  modified: '2018-04-27T14:29:39.205Z'
                  api_version: '0.1'
                  uuid: 552d8ab0-2c55-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deletePerson
      description: |
        A **deletePerson** operation will delete the specified Person, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - people
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /presentations:
    get:
      operationId: listPresentations
      description: |
        The **listPresentations** operation returns a JSON object containing a list of all the
        Presentations to which the authenticated user has
        access.
      tags:
      - list
      - presentations
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/presentationsResponse'
          examples:
            application/json:
              data:
              - id: '2'
                type: presentations
                attributes:
                  title: 'Feed-back regulation of the anabolic (ProB) and osmoadaptive
                    (ProJ) glutamate kinases: predicted role of a flexible protein
                    loop.'
                links:
                  self: /presentations/2
              - id: '3'
                type: presentations
                attributes:
                  title: 'Balancing the osmotic gradient: adaptation of the cytoplasmic
                    solute pool via de novo synthesis and compatible solute uptake
                    in response to hyper-osmolarity.'
                links:
                  self: /presentations/3
              - id: '4'
                type: presentations
                attributes:
                  title: Towards system understanding of B. subtilis - integrating
                    fluxes and cellular components under salt stress
                links:
                  self: /presentations/4
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
    post:
      operationId: createPresentation
      description: |
        A **createPresentation** operation creates a new instance of a Presentation. The
        instance is populated with the content of the body of the API call.

        The **createPresentation** operation returns a JSON object representing the newly
        created Presentation.
      tags:
      - create
      - presentations
      parameters:
      - in: body
        name: presentation
        description: The presentation to create.
        schema:
          $ref: '#/definitions/presentationPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/presentationResponse'
          examples:
            application/json:
              data:
                id: '36'
                type: presentations
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource_type: projects
                      resource_id: '1836'
                      access: edit
                  title: A Maximal Presentation
                  description: This is the description
                  license: CC-BY-4.0
                  latest_version: 1
                  tags:
                  - tag1
                  - tag2
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/presentations/36?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:40:02.000Z'
                  updated_at: '2018-04-27T14:40:02.000Z'
                  content_blobs:
                  - original_filename: a_pdf_file.pdf
                    url:
                    md5sum:
                    sha1sum:
                    content_type: application/pdf
                    link: http://localhost:3000/presentations/36/content_blobs/264
                    size:
                  other_creators: John Smith, Jane Smith
                relationships:
                  creators:
                    data:
                    - id: '1206'
                      type: people
                  submitter:
                    data:
                    - id: '1205'
                      type: people
                  people:
                    data:
                    - id: '1205'
                      type: people
                    - id: '1206'
                      type: people
                  projects:
                    data:
                    - id: '1836'
                      type: projects
                  investigations:
                    data: []
                  studies:
                    data: []
                  assays:
                    data: []
                  publications:
                    data:
                    - id: '71'
                      type: publications
                  events:
                    data:
                    - id: '54'
                      type: events
                links:
                  self: /presentations/36?version=1
                meta:
                  created: '2018-04-27T14:40:02.790Z'
                  modified: '2018-04-27T14:40:03.363Z'
                  api_version: '0.1'
                  uuid: caf4e8a0-2c56-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /presentations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The presentation to fetch, patch or delete
      type: integer
      default: 253
    get:
      operationId: readPresentation
      description: |
        A **readPresentation** operation will return information about the
        Presentation identified, provided the authenticated user has access to it.

        The **readPresentation** operation returns a JSON object representing the Presentation.
      parameters:
      - name: version
        in: query
        required: true
        description: The version of the presentation to get
        type: integer
        default: 1
      tags:
      - read
      - presentations
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/presentationResponse'
    patch:
      operationId: updatePresentation
      description: |
        An **updatePresentation** operation will modify the information held about the specified Presentation. This operation is only available if the authenticated user has access to the Presentation.

        The **updatePresentation** operation returns a JSON object representing the modified Presentation.
      tags:
      - update
      - presentations
      parameters:
      - in: body
        name: presentation
        description: The presentation to update.
        schema:
          $ref: '#/definitions/presentationPatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/presentationResponse'
          examples:
            application/json:
              data:
                id: '47'
                type: presentations
                attributes:
                  policy:
                    access: manage
                    permissions: []
                  title: A Presentation 44
                  description: A report about the thing that happened
                  license:
                  latest_version: 1
                  tags:
                  versions:
[...]
