<div class="yui-b show_basic">
  
  <div id="name">
    <p><%= h @expertise.name.capitalize %></p>
  </div>
  
  <% unless is_nil_or_empty? @expertise.people %>
    <div id="expertise_people">
      <ul><label>People with this expertise</label></ul>
      <% for person in @expertise.people %>
              <% link_class = person==current_user.person ? "current_user" : "" %>
        <li><%= link_to h(person.name), url_for(person) , :class=>link_class %>  </li>
      <% end %>
    </div>

  <% end %>
  
</div>
