swagger: '2.0'
info:
  version: '0.2'
  title: 'JSON API to FAIRDOM SEEK '
  x-logo:
    url: 'https://fairdomhub.org/assets/seek-new-full-a62bea4ae0b7163ea6471db30c9836cd5d4a2d9d4878df077c9add8a30d396ec.svg'
    backgroundColor: '#FFFFFF'
host: www.fairdomhub.org
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  basicAuth:
    type: basic
security:
  - basicAuth: []
tags:
  - name: search
    description:
      $ref: ../descriptions/search.md
  - name: institutions
    description:
      $ref: ../descriptions/institutions.md
  - name: people
    description:
      $ref: ../descriptions/people.md
  - name: programmes
    description:
      $ref: ../descriptions/programmes.md
  - name: projects
    description:
      $ref: ../descriptions/projects.md
  
  - name: investigations
    description:
      $ref: ../descriptions/investigations.md
  - name: studies
    description:
      $ref: ../descriptions/studies.md
  - name: assays
    description:
      $ref: ../descriptions/assays.md
  
  - name: dataFiles
    description:
      $ref: ../descriptions/dataFiles.md
  - name: documents
    description:
      $ref: ../descriptions/documents.md
  - name: models
    description:
      $ref: ../descriptions/models.md
  - name: publications
    description:
      $ref: ../descriptions/publications.md
  - name: sops
    description:
      $ref: ../descriptions/sops.md

  - name: events
    description:
      $ref: ../descriptions/events.md
  - name: presentations
    description:
      $ref: ../descriptions/presentations.md

  - name: organisms
    description:
      $ref: ../descriptions/organisms.md
  - name: sampleTypes
    description:
      $ref: ../descriptions/sampleTypes.md
  
x-tagGroups:
  - name: Search
    tags:
      - search

  - name: Yellow Pages
    tags:
      - institutions
      - people
      - programmes
      - projects

  - name: Experiments
    tags:
      - investigations
      - studies
      - assays

  - name: Assets
    tags:
      - dataFiles
      - documents
      - models
      - publications
      - sops

  - name: Activities
    tags:
      - events
      - presentations
      
  - name: Samples
    tags:
      - organisms
      - sampleTypes
      
paths:
  /search:
    parameters:
      - name: q
        in: query
        required: true
        description: |
          The text to search for
        type: string
        default: lactate inhibition
      - name: search_type
        in: query
        required: false
        description: The type of resource to return
        type: string
        enum:
          - assays
          - data_files
          - events
          - institutions
          - investigations
          - models
          - people
          - presentations
          - programmes
          - projects
          - publications
          - sample_types
          - sops
          - studies
        default: data_files
    get:
      operationId: search
      description: |
        Search for resources
        * of the specified type
        * that are visible to the authenticated user, and
        * contain the specified test
      tags:
        - search
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/searchResponse'
  /assays:
    get:
      operationId: listAssays
#      description: List references to the assays that are visible to the authenticated user
      description:
        $ref: ../descriptions/listAssays.md
      tags:
        - assays
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/assaysResponse'
          examples:
            application/json:
              $ref: ../examples/assaysResponse.yml
    post:
      operationId: createAssay
      description:
        $ref: ../descriptions/createAssay.md
      tags:
        - assays
      parameters:
        - in: body
          name: assay
          description: The assay to create.
          schema:
            $ref: '#/definitions/assayPost'
      responses:
        '200':
          schema:
            $ref: '#/definitions/assayResponse'
          examples:
            application/json:
              $ref: ../examples/assayPostResponse.yml
        '501':
          description: Not implemented
  '/assays/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The assay to be fetched, updated or deleted'
        type: integer
        default: 267
    patch:
      operationId: updateAssay
      description:
        $ref: ../descriptions/updateAssay.md
      tags:
        - assays
      parameters:
        - in: body
          name: assay
          description: The assay to patch
          schema:
            $ref: '#/definitions/assayPatch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/assayResponse'
          examples:
            application/json:
              $ref: ../examples/assayPatchResponse.yml
        '501':
          description: Not implemented
    get:
      operationId: readAssay
      description:
        $ref: ../descriptions/readAssay.md
      tags:
        - assays
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/assayResponse'
          examples:
            application/json:
              $ref: ../examples/assayResponse.yml
    delete:
      operationId: deleteAssay
      description:
        $ref: ../descriptions/deleteAssay.md
      tags:
        - assays
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /data_files:
    get:
      operationId: listDataFiles
      description:
        $ref: ../descriptions/listDataFiles.md
      tags:
        - dataFiles
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/dataFilesResponse'
          examples:
            application/json:
              $ref: ../examples/dataFilesResponse.yml
    post:
      operationId: createDataFile
      description:
        $ref: ../descriptions/createDataFile.md
      tags:
        - dataFiles
      responses:
        '501':
          description: Not implemented
  '/data_files/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: The data file to fetch
        type: integer
        default: 1152
    get:
      operationId: readDataFile
      description:
        $ref: ../descriptions/readDataFile.md
      parameters:
        - name: version
          in: query
          required: true
          description: The version of the data file to get
          type: integer
          default: 2
      tags:
        - dataFiles
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/dataFileResponse'
    patch:
      operationId: updateDataFile
      description:
        $ref: ../descriptions/updateDataFile.md
      tags:
        - dataFiles
      responses:
        '501':
          description: Not implemented
    delete:
      operationId: deleteDataFile
      description:
        $ref: ../descriptions/deleteDataFile.md
      tags:
        - dataFiles
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  '/data_files/{id}/content_blobs/{blob_id}':
    put:
      operationId: updateDataFileContent
#      description:
#        $ref: ../descriptions/updateDataFileContent.md
      parameters:
        - name: id
          in: path
          required: true
          description: The data file content to upload
          type: integer
          default: 1152
        - name: blob_id
          in: path
          required: true
          description: The content identifier to upload
          type: integer
          default: 1831
        - in: body
          name: blobContent
          description: The blob content to upload
          schema:
            type: string
            format: binary
      consumes:
        - application/octet-stream
      produces:
        - '*/*'
      tags:
        - dataFiles
      responses:
        '200':
          description: Success
  '/data_files/{id}/content_blobs/{blob_id}/download':
    parameters:
      - name: id
        in: path
        required: true
        description: The data file to fetch
        type: integer
        default: 1152
      - name: blob_id
        in: path
        required: true
        description: The blob to download
        type: integer
        default: 1831
    get:
      operationId: readDataFileContent
#      description:
#        $ref: ../descriptions/readDataFileContent.md
      produces:
        - '*/*'
      tags:
        - dataFiles
      responses:
        '200':
          description: Success
  /documents:
    get:
      operationId: listDocuments
      description:
        $ref: ../descriptions/listDocuments.md
      tags:
        - documents
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/documentsResponse'
    post:
      operationId: createDocument
      description:
        $ref: ../descriptions/createDocument.md
      tags:
        - documents
      parameters:
        - in: body
          name: document
          description: The document to create.
          schema:
            $ref: '#/definitions/documentPost'
      responses:
        '200':
          description: OK
        '501':
          description: Not implemented
  '/documents/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: The document to fetch
        type: integer
        default: 1152
    get:
      operationId: readDocument
      description:
        $ref: ../descriptions/readDocument.md
      tags:
        - documents
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/documentResponse'
    patch:
      operationId: updateDocument
      description:
        $ref: ../descriptions/updateDocument.md
      tags:
        - documents
      parameters:
        - in: body
          name: document
          description: The document to patch.
          schema:
            $ref: '#/definitions/documentPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/documentResponse'
        '501':
          description: Not implemented
    delete:
      operationId: deleteDocument
      description:
        $ref: ../descriptions/deleteDocument.md
      tags:
        - documents
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /events:
    get:
      operationId: listEvents
      description:
        $ref: ../descriptions/listEvents.md
      tags:
        - events
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventsResponse'
    post:
      operationId: createEvent
      description:
        $ref: ../descriptions/createEvent.md
      tags:
        - events
      parameters:
        - in: body
          name: sop
          description: The event to create.
          schema:
            $ref: '#/definitions/eventPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventResponse'
        '501':
          description: Not implemented
  '/events/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: The event to fetch
        type: integer
        default: 75
    get:
      operationId: readEvent
      description:
        $ref: ../descriptions/readEvent.md
      tags:
        - events
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventResponse'
    patch:
      operationId: updateEvent
      description:
        $ref: ../descriptions/updateEvent.md
      tags:
        - events
      parameters:
        - in: body
          name: sop
          description: The event to update.
          schema:
            $ref: '#/definitions/eventPatch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventResponse'
        '501':
          description: Not implemented
    delete:
      operationId: deleteEvent
      description:
        $ref: ../descriptions/deleteEvent.md
      tags:
        - events
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /institutions:
    get:
      operationId: listInstitutions
      description:
        $ref: ../descriptions/listInstitutions.md
      tags:
        - institutions
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/institutionsResponse'
    post:
      operationId: createInstitution
      description:
        $ref: ../descriptions/createInstitution.md
      tags:
        - institutions
      parameters:
        - in: body
          name: institution
          description: The institution to create.
          schema:
            $ref: '#/definitions/institutionPost'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/institutionResponse'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/bad_request'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  '/institutions/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The institution to fetch, patch or delete'
        type: integer
        default: 142
    get:
      operationId: readInstitution
      description:
        $ref: ../descriptions/readInstitution.md
      tags:
        - institutions
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/institutionResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    patch:
      operationId: updateInstitution
      description:
        $ref: ../descriptions/updateInstitution.md
      parameters:
        - in: body
          name: institution
          description: The data with which to update the institution.
          schema:
            $ref: '#/definitions/institutionPatch'
      tags:
        - institutions
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/institutionResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    delete:
      operationId: deleteInstitution
      description:
        $ref: ../descriptions/deleteInstitution.md
      tags:
        - institutions
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  /investigations:
    get:
      operationId: listInvestigations
      description:
        $ref: ../descriptions/listInvestigations.md
      tags:
        - investigations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/investigationsResponse'
    post:
      operationId: createInvestigation
      description:
        $ref: ../descriptions/createInvestigation.md
      tags:
        - investigations
      parameters:
        - in: body
          name: investigation
          description: The investigation to create.
          schema:
            $ref: '#/definitions/investigationPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/investigationResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  '/investigations/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The investigation to fetch, patch or delete'
        type: integer
        default: 56
    get:
      operationId: readInvestigation
      description:
        $ref: ../descriptions/readInvestigation.md
      tags:
        - investigations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/investigationResponse'
    patch:
      operationId: updateInvestigation
      description:
        $ref: ../descriptions/updateInvestigation.md
      parameters:
        - in: body
          name: investigation
          description: The investigation to patch.
          schema:
            $ref: '#/definitions/investigationPatch'
      tags:
        - investigations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/investigationResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    delete:
      operationId: deleteInvestigation
      description:
        $ref: ../descriptions/deleteInvestigation.md
      tags:
        - investigations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /models:
    get:
      operationId: listModels
      description:
        $ref: ../descriptions/listModels.md
      tags:
        - models
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/modelsResponse'
    post:
      operationId: createModel
      description:
        $ref: ../descriptions/createModel.md
      tags:
        - models
      parameters:
        - in: body
          name: model
          description: The model to create.
          schema:
            $ref: '#/definitions/modelPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/modelResponse'
        '501':
          description: Not implemented
  '/models/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The model to fetch, patch or delete'
        type: integer
        default: 139
    get:
      operationId: readModel
      description:
        $ref: ../descriptions/readModel.md
      parameters:
        - name: version
          in: query
          required: true
          description: The version of the model to get
          type: integer
          default: 2
      tags:
        - models
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/modelResponse'
    patch:
      operationId: updateModel
      description:
        $ref: ../descriptions/updateModel.md
      tags:
        - models
      parameters:
        - in: body
          name: model
          description: The model to patch.
          schema:
            $ref: '#/definitions/modelPatch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/modelResponse'
        '501':
          description: Not implemented
    delete:
      operationId: deleteModel
      description:
        $ref: ../descriptions/deleteModel.md
      tags:
        - models
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  '/models/{id}/content_blobs/{blob_id}/download':
    parameters:
      - name: id
        in: path
        required: true
        description: The model to fetch
        type: integer
        default: 139
      - name: blob_id
        in: path
        required: true
        description: The blob to download
        type: integer
        default: 1850
    get:
      operationId: readModelContent
#      description:
#        $ref: ../descriptions/readModelContent.md
      tags:
        - models
      responses:
        '200':
          description: Success
          schema:
            type: file
  /organisms:
    get:
      operationId: listOrganisms
      description:
        $ref: ../descriptions/listOrganisms.md
      tags:
        - organisms
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/organismsResponse'
    post:
      operationId: createOrganism
      description:
        $ref: ../descriptions/createOrganism.md
      tags:
        - organisms
      parameters:
        - in: body
          name: organism
          description: The organism to create.
          schema:
            $ref: '#/definitions/sopPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/organismResponse'
        '501':
          description: Not implemented
  '/organisms/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The organism to fetch, patch or delete'
        type: integer
        default: 1933753696
    get:
      operationId: readOrganism
      description:
        $ref: ../descriptions/readOrganism.md
      tags:
        - organisms
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/organismResponse'
    patch:
      operationId: updateOrganism
      description:
        $ref: ../descriptions/updateOrganism.md
      tags:
        - organisms
      parameters:
        - in: body
          name: organism
          description: The organism to update.
          schema:
            $ref: '#/definitions/sopPatch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/organismResponse'
        '501':
          description: Not implemented
    delete:
      operationId: deleteOrganism
      description:
        $ref: ../descriptions/deleteOrganism.md
      tags:
        - organisms
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /people:
    get:
      operationId: listPeople
      description:
        $ref: ../descriptions/listPeople.md
      tags:
        - people
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/peopleResponse'
    post:
      operationId: createPerson
      description:
        $ref: ../descriptions/createPerson.md
      tags:
        - people
      parameters:
        - in: body
          name: person
          description: The person to create.
          schema:
            $ref: '#/definitions/personPost'
      responses:
        '201':
          description: OK
          schema:
            $ref: '#/definitions/personResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  '/people/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The person to fetch, patch or delete'
        type: integer
        default: 433
    get:
      operationId: readPerson
      description:
        $ref: ../descriptions/readPerson.md
      tags:
        - people
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/personResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    patch:
      operationId: updatePerson
      description:
        $ref: ../descriptions/updatePerson.md
      parameters:
        - in: body
          name: person
          description: The data with which to update the person.
          schema:
            $ref: '#/definitions/personPatch'
      tags:
        - people
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/personResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    delete:
      operationId: deletePerson
      description:
        $ref: ../descriptions/deletePerson.md
      tags:
        - people
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  /presentations:
    get:
      operationId: listPresentations
      description:
        $ref: ../descriptions/listPresentations.md
      tags:
        - presentations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/presentationsResponse'
    post:
      operationId: createPresentation
      description:
        $ref: ../descriptions/createPresentation.md
      tags:
        - presentations
      parameters:
        - in: body
          name: presentation
          description: The presentation to create.
          schema:
            $ref: '#/definitions/presentationPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/presentationResponse'
        '501':
          description: Not implemented
  '/presentations/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The presentation to fetch, patch or delete'
        type: integer
        default: 253
    get:
      operationId: readPresentation
      description:
        $ref: ../descriptions/readPresentation.md
      parameters:
        - name: version
          in: query
          required: true
          description: The version of the presentation to get
          type: integer
          default: 1
      tags:
        - presentations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/presentationResponse'
    patch:
      operationId: updatePresentation
      description:
        $ref: ../descriptions/updatePresentation.md
      tags:
        - presentations
      parameters:
        - in: body
          name: presentation
          description: The presentation to update.
          schema:
            $ref: '#/definitions/presentationPatch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/presentationResponse'
        '501':
          description: Not implemented
    delete:
      operationId: deletePresentation
      description:
        $ref: ../descriptions/deletePresentation.md
      tags:
        - presentations
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  '/presentations/{id}/content_blobs/{blob_id}/download':
    parameters:
      - name: id
        in: path
        required: true
        description: The presentation to fetch
        type: integer
        default: 377
      - name: blob_id
        in: path
        required: true
        description: The blob to download
        type: integer
        default: 3215
    get:
      operationId: readPresentationContent
#      description:
#        $ref: ../descriptions/readPresentationContent.md
      tags:
        - presentations
      responses:
        '200':
          description: Success
          schema:
            type: file
  /programmes:
    get:
      operationId: listProgrammes
      description:
        $ref: ../descriptions/listProgrammes.md
      tags:
        - programmes
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/programmesResponse'
    post:
      operationId: createProgramme
      description:
        $ref: ../descriptions/createProgramme.md
      tags:
        - programmes
      parameters:
        - in: body
          name: programme
          description: The programme to create.
          schema:
            $ref: '#/definitions/programmePost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/programmeResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  '/programmes/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The programme to fetch, patch or delete'
        type: integer
        default: 3
    get:
      operationId: readProgramme
      description:
        $ref: ../descriptions/readProgramme.md
      tags:
        - programmes
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/programmeResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    patch:
      operationId: updateProgramme
      description:
        $ref: ../descriptions/updateProgramme.md
      parameters:
        - in: body
          name: programme
          description: The data with which to update the programme.
          schema:
            $ref: '#/definitions/programmePatch'
      tags:
        - programmes
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/programmeResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    delete:
      operationId: deleteProgramme
      description:
        $ref: ../descriptions/deleteProgramme.md
      tags:
        - programmes
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  /projects:
    get:
      operationId: listProjects
      description:
        $ref: ../descriptions/listProjects.md
      tags:
        - projects
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/projectsResponse'
    post:
      operationId: createProject
      description:
        $ref: ../descriptions/createProject.md
      tags:
        - projects
      parameters:
        - in: body
          name: project
          description: The project to create.
          schema:
            $ref: '#/definitions/projectPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/projectResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  '/projects/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The project to fetch, patch or delete'
        type: integer
        default: 17
    get:
      operationId: readProject
      description:
        $ref: ../descriptions/readProject.md
      tags:
        - projects
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/projectResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    patch:
      operationId: updateProject
      description:
        $ref: ../descriptions/updateProject.md
      parameters:
        - in: body
          name: project
          description: The data with which to update the project.
          schema:
            $ref: '#/definitions/projectPatch'
      tags:
        - projects
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/projectResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    delete:
      operationId: deleteProject
      description:
        $ref: ../descriptions/deleteProject.md
      tags:
        - projects
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  /publications:
    get:
      operationId: listPublications
      description:
        $ref: ../descriptions/listPublications.md
      tags:
        - publications
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/publicationsResponse'
    post:
      operationId: createPublication
      description:
        $ref: ../descriptions/createPublication.md
      tags:
        - publications
      parameters:
        - in: body
          name: publication
          description: The publication to create.
          schema:
            $ref: '#/definitions/sopPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/publicationResponse'
        '501':
          description: Not implemented
  '/publications/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The publication to fetch, patch or delete'
        type: integer
        default: 240
    get:
      operationId: readPublication
      description:
        $ref: ../descriptions/readPublication.md
      tags:
        - publications
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/publicationResponse'
    patch:
      operationId: updatePublication
      description:
        $ref: ../descriptions/updatePublication.md
      tags:
        - publications
      parameters:
        - in: body
          name: publication
          description: The publication to update.
          schema:
            $ref: '#/definitions/sopPatch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/publicationResponse'
        '501':
          description: Not implemented
    delete:
      operationId: deletePublication
      description:
        $ref: ../descriptions/deletePublication.md
      tags:
        - publications
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /sample_types:
    get:
      operationId: listSampleTypes
      description:
        $ref: ../descriptions/listSampleTypes.md
      tags:
        - sampleTypes
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sampleTypesResponse'
  /sops:
    get:
      operationId: listSops
      description:
        $ref: ../descriptions/listSops.md
      tags:
        - sops
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sopsResponse'
    post:
      operationId: createSop
      description:
        $ref: ../descriptions/createSop.md
      tags:
        - sops
      parameters:
        - in: body
          name: sop
          description: The sop to create.
          schema:
            $ref: '#/definitions/sopPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sopResponse'
        '501':
          description: Not implemented
  '/sops/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The SOP to fetch, patch or delete'
        type: integer
        default: 203
    get:
      operationId: readSop
      description:
        $ref: ../descriptions/readSop.md
      parameters:
        - name: version
          in: query
          required: true
          description: The version of the sop to get
          type: integer
          default: 1
      tags:
        - sops
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sopResponse'
    patch:
      operationId: updateSop
      description:
        $ref: ../descriptions/updateSop.md
      tags:
        - sops
      parameters:
        - in: body
          name: sop
          description: The sop to update.
          schema:
            $ref: '#/definitions/sopPatch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sopResponse'
        '501':
          description: Not implemented
    delete:
      operationId: deleteSop
      description:
        $ref: ../descriptions/deleteSop.md
      tags:
        - sops
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  '/sops/{id}/content_blobs/{blob_id}/download':
    parameters:
      - name: id
        in: path
        required: true
        description: The SOP to fetch
        type: integer
        default: 203
      - name: blob_id
        in: path
        required: true
        description: The blob to download
        type: integer
        default: 1806
    get:
      operationId: readSopContent
#      description:
#        $ref: ../descriptions/readSopContent.md
      tags:
        - sops
      responses:
        '200':
          description: Success
          schema:
            type: file
  /studies:
    get:
      operationId: listStudies
      description:
        $ref: ../descriptions/listStudies.md
      tags:
        - studies
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/studiesResponse'
    post:
      operationId: createStudy
      description:
        $ref: ../descriptions/createStudy.md
      tags:
        - studies
      parameters:
        - in: body
          name: study
          description: The study to create.
          schema:
            $ref: '#/definitions/studyPost'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/studyResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
  '/studies/{id}':
    parameters:
      - name: id
        in: path
        required: true
        description: 'The study to fetch, patch or delete'
        type: integer
        default: 138
    get:
      operationId: readStudy
      description:
        $ref: ../descriptions/readStudy.md
      tags:
        - studies
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/studyResponse'
    patch:
      operationId: updateStudy
      description:
        $ref: ../descriptions/updateStudy.md
      tags:
        - studies
      parameters:
        - in: body
          name: study
          description: The study to update.
          schema:
            $ref: '#/definitions/studyPatch'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/studyResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '422':
          description: Unprocessable entity
          schema:
            $ref: '#/definitions/unprocessable_entity'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
    delete:
      operationId: deleteStudy
      description:
        $ref: ../descriptions/deleteStudy.md
      tags:
        - studies
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/not_found'
        '501':
          description: Not Implemented
          schema:
            $ref: '#/definitions/not_implemented'
definitions:
  error:
    type: object
    properties:
      id:
        type: string
      status:
        type: string
      code:
        type: string
      title:
        type: string
      detail:
        type: string
      source:
        type: object
        properties:
          pointer:
            type: string
  errors_array:
    type: array
    minItems: 0
    items:
      $ref: '#/definitions/error'
  errors:
    type: object
    properties:
      errors:
        $ref: '#/definitions/errors_array'
  dateTimeString:
    type: string
    minLength: 1
    format: date-time
  nonEmptyString:
    type: string
    minLength: 1
  nullableNonEmptyString:
    type: string
    minLength: 1
    x-nullable: true
  otherCreatorsString:
    type: string
    minLength: 1
  nullableOtherCreatorsString:
    oneOf:
      - $ref: '#/definitions/otherCreatorsString'
      - type: 'null'
  nonEmptyStringList:
    type: array
    minItems: 1
    items:
      $ref: '#/definitions/nonEmptyString'
  nullableNonEmptyStringList:
    type: array
    minItems: 1
    x-nullable: true
    items:
      $ref: '#/definitions/nonEmptyString'
  projectPosition:
    type: object
    properties:
      project_id:
        type: string
      position_id:
        type: string
      project_name:
        type: string
  nonEmptyProjectPositionsList:
    type: array
    minItems: 1
    items:
      $ref: '#/definitions/projectPosition'
  nullableProjectPositionsList:
    oneOf:
      - $ref: '#/definitions/nonEmptyProjectPositionsList'
      - type: 'null'
  uriString:
    type: string
    minLength: 1
    format: uri
  nullableUriString:
    type: string
    minLength: 1
    format: uri
    x-nullable: true
  nullableInteger:
    type: integer
    x-nullable: true
  license:
    type: string
    minLength: 1
  nullableLicense:
    oneOf:
      - $ref: '#/definitions/license'
      - type: 'null'
  md5sumString:
    type: string
    minLength: 32
    maxLength: 32
    pattern: '[0-9a-f]{32}'
  nullableMd5sumString:
    oneOf:
      - $ref: '#/definitions/md5sumString'
      - type: 'null'
  sha1sumString:
    type: string
    minLength: 5
    maxLength: 40
    pattern: '[0-9a-f]{5,40}'
  nullableSha1sumString:
    oneOf:
      - $ref: '#/definitions/sha1sumString'
      - type: 'null'
  countryString:
    type: string
  nullableCountryString:
    oneOf:
      - $ref: '#/definitions/countryString'
      - type: 'null'
  countryCodeString:
    minLength: 2
    maxLength: 2
    type: string
  nullableCountryCodeString:
    oneOf:
      - $ref: '#/definitions/countryCodeString'
      - type: 'null'
  versionNumber:
    type: string
    minLength: 1
    enum:
      - '1.0'
  JsonApiVersion:
    type: object
    properties:
      version:
        $ref: '#/definitions/versionNumber'
    required:
      - version
  linksType:
    type: object
    properties:
      self:
        $ref: '#/definitions/uriString'
    required:
      - self
  metaType:
    type: object
    properties:
      created:
        $ref: '#/definitions/dateTimeString'
      modified:
        $ref: '#/definitions/dateTimeString'
      uuid:
        $ref: '#/definitions/nonEmptyString'
      base_url:
        $ref: '#/definitions/uriString'
    required:
      - created
      - modified
      - uuid
      - base_url
  baseMetaType:
    type: object
    properties:
      base_url:
        $ref: '#/definitions/uriString'
    required:
      - base_url
    additionalProperties: false
  ok:
    type: object
    properties:
      status:
        $ref: '#/definitions/nonEmptyString'
    required:
      - status
    additionalProperties: false
    example:
      status: ok
  
  not_implemented:
    type: object
    properties:
      errors:
        $ref: '#/definitions/errors_array'
  unprocessable_entity:
    type: object
    properties:
      errors:
        $ref: '#/definitions/errors_array'
    example:
      errors:
        - detail: id specified by the PUT request does not match object-id in the JSON input
  bad_request:
    type: object
    properties:
      errors:
        $ref: '#/definitions/errors_array'
    example:
      errors:
        - title: You do not have permission
          detail: No permission
  forbidden:
    type: object
    properties:
      errors:
        $ref: '#/definitions/errors_array'
  not_found:
    type: object
    properties:
      errors:
        $ref: '#/definitions/errors_array'
    example:
      errors:
        - title: Not found
          detail: 'Couldn''t find Institution with ''id''=[70]'
  policy:
    type: object
    properties:
      access:
        $ref: '#/definitions/accessType'
      permissions:
        type: array
        minItems: 0
        uniqueItems: true
        items:
          properties:
            resource_type:
              $ref: '#/definitions/nonEmptyString'
            resource_id:
              $ref: '#/definitions/nonEmptyString'
            access:
              $ref: '#/definitions/accessType'
          required:
            - resource_type
            - resource_id
            - access
          additionalProperties: false
    required:
      - access
      - permissions
    additionalProperties: false
  accessType:
    type: string
    minLength: 1
    enum:
      - manage
      - edit
      - download
      - view
      - no_access
  anyType:
    type: string
    minLength: 1
    enum:
      - assays
      - content_blobs
      - data_files
      - documents
      - events
      - models
      - organisms
      - people
      - presentations
      - programmes
      - projects
      - publications
      - sample_types
      - sops
      - studies
  contributedTypeAttributes:
    type: object
    properties:
      tags:
        $ref: '#/definitions/tagsType'
      title:
        $ref: '#/definitions/nonEmptyString'
      description:
        $ref: '#/definitions/nullableNonEmptyString'
      license:
        $ref: '#/definitions/nullableLicense'
      latest_version:
        type: number
      versions:
        type: array
        minItems: 1
        uniqueItems: true
        items:
          properties:
            version:
              type: number
            revision_comments:
              $ref: '#/definitions/nullableNonEmptyString'
            url:
              $ref: '#/definitions/uriString'
          required:
            - version
            - revision_comments
            - url
          additionalProperties: false
      version:
        type: number
      revision_comments:
        $ref: '#/definitions/nullableNonEmptyString'
      created_at:
        $ref: '#/definitions/dateTimeString'
      updated_at:
        $ref: '#/definitions/dateTimeString'
      content_blobs:
        $ref: '#/definitions/contentBlobsList'
      policy:
        $ref: '#/definitions/policy'
      other_creators:
        $ref: '#/definitions/nullableOtherCreatorsString'
    required:
      - title
      - license
      - latest_version
      - versions
      - version
      - created_at
      - updated_at
      - content_blobs
    additionalProperties: false
  modelAttributes:
    type: object
    properties:
      tags:
        $ref: '#/definitions/tagsType'
      title:
        $ref: '#/definitions/nonEmptyString'
      description:
        $ref: '#/definitions/nullableNonEmptyString'
      license:
        $ref: '#/definitions/nullableLicense'
      latest_version:
        type: number
      versions:
        type: array
        minItems: 1
        uniqueItems: true
        items:
          properties:
            version:
              type: number
            revision_comments:
              $ref: '#/definitions/nullableNonEmptyString'
            url:
              $ref: '#/definitions/uriString'
          required:
            - version
            - revision_comments
            - url
          additionalProperties: false
      version:
        type: number
      revision_comments:
        $ref: '#/definitions/nullableNonEmptyString'
      created_at:
        $ref: '#/definitions/dateTimeString'
      updated_at:
        $ref: '#/definitions/dateTimeString'
      content_blobs:
        $ref: '#/definitions/contentBlobsList'
      model_type:
        $ref: '#/definitions/nullableNonEmptyString'
      model_format:
        $ref: '#/definitions/nullableNonEmptyString'
      environment:
        $ref: '#/definitions/nullableNonEmptyString'
      policy:
        $ref: '#/definitions/policy'
      other_creators:
        $ref: '#/definitions/nullableOtherCreatorsString'
    required:
      - title
      - license
      - latest_version
      - versions
      - version
      - created_at
      - updated_at
      - content_blobs
      - model_type
      - model_format
      - environment
    additionalProperties: false
  assayType:
    type: string
    minLength: 1
    enum:
      - assays
  assayReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/assayReferences'
    required:
      - data
    additionalProperties: false
  assayAttributes:
    type: object
    properties:
      tags:
        $ref: '#/definitions/tagsType'
      title:
        $ref: '#/definitions/nonEmptyString'
      description:
        $ref: '#/definitions/nullableNonEmptyString'
      assay_class:
        type: object
        properties:
          title:
            $ref: '#/definitions/nonEmptyString'
          key:
            $ref: '#/definitions/nonEmptyString'
          description:
            type: string
        required:
          - title
          - key
        additionalProperties: false
      assay_type:
        type: object
        properties:
          label:
            $ref: '#/definitions/nonEmptyString'
          uri:
            $ref: '#/definitions/uriString'
        required:
          - label
          - uri
        additionalProperties: false
      technology_type:
        type: object
        properties:
          label:
            $ref: '#/definitions/nonEmptyString'
          uri:
            $ref: '#/definitions/uriString'
        required:
          - label
          - uri
    required:
      - title
      - description
      - assay_class
      - assay_type
      - technology_type
    additionalProperties: false
  contentBlobType:
    type: string
    minLength: 1
    enum:
      - content_blobs
  dataFileType:
    type: string
    minLength: 1
    enum:
      - data_files
  dataFileReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/dataFileReferences'
    required:
      - data
    additionalProperties: false
  documentType:
    type: string
    minLength: 1
    enum:
      - documents
  documentReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/documentReferences'
    required:
      - data
    additionalProperties: false
  eventType:
    type: string
    minLength: 1
    enum:
      - events
  eventReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/eventReferences'
    required:
      - data
    additionalProperties: false
  investigationType:
    type: string
    minLength: 1
    enum:
      - investigations
  investigationReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/investigationReferences'
    required:
      - data
    additionalProperties: false
  investigationSingletonReference:
    type: object
    properties:
      data:
        $ref: '#/definitions/investigationReference'
    required:
      - data
    additionalProperties: false
  institutionType:
    type: string
    minLength: 1
    enum:
      - institutions
  institutionReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/institutionReferences'
    required:
      - data
    additionalProperties: false
  modelType:
    type: string
    minLength: 1
    enum:
      - models
  modelReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/modelReferences'
    required:
      - data
    additionalProperties: false
  organismType:
    type: string
    minLength: 1
    enum:
      - organisms
  organismReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/organismType'
    required:
      - id
      - type
    additionalProperties: false
  organismReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/organismReferences'
    required:
      - data
    additionalProperties: false
  peopleType:
    type: string
    minLength: 1
    enum:
      - people
  peopleReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/peopleType'
    required:
      - id
      - type
    additionalProperties: false
  peopleReferenceList:
    type: object
    properties:
      data:
        $ref: '#/definitions/peopleReferences'
    required:
      - data
    additionalProperties: false
  presentationType:
    type: string
    minLength: 1
    enum:
      - presentations
  presentationReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/presentationReferences'
    required:
      - data
    additionalProperties: false
  programmeType:
    type: string
    minLength: 1
    enum:
      - programmes
  programmeReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/programmeReferences'
    required:
      - data
    additionalProperties: false
  programmeDataType:
    type: object
    properties:
      avatar:
        $ref: '#/definitions/nullableUriString'
      title:
        $ref: '#/definitions/nonEmptyString'
      description:
        $ref: '#/definitions/nullableNonEmptyString'
      web_page:
        $ref: '#/definitions/nullableUriString'
      funding_details:
        $ref: '#/definitions/nullableNonEmptyString'
      funding_codes:
        $ref: '#/definitions/tagsType'
    required:
      - avatar
      - title
      - description
      - web_page
      - funding_details
      - funding_codes
    additionalProperties: false
  projectType:
    type: string
    minLength: 1
    enum:
      - projects
  projectReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/projectReferences'
    required:
      - data
    additionalProperties: false
  publicationType:
    type: string
    minLength: 1
    enum:
      - publications
  publicationReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/publicationReferences'
    required:
      - data
    additionalProperties: false
  sampleTypeType:
    type: string
    minLength: 1
    enum:
      - sample_types
  sampleTypeReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/sampleTypeType'
    required:
      - id
      - type
    additionalProperties: false
  sampleTypeReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/sampleTypeReferences'
    required:
      - data
    additionalProperties: false
  sopType:
    type: string
    minLength: 1
    enum:
      - sops
  sopReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/sopReferences'
    required:
      - data
    additionalProperties: false
  studyType:
    type: string
    minLength: 1
    enum:
      - studies
  studyReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/studyType'
    required:
      - id
      - type
    additionalProperties: false
  studyReferencesList:
    type: object
    properties:
      data:
        $ref: '#/definitions/studyReferences'
    required:
      - data
    additionalProperties: false
  studySingletonReference:
    type: object
    properties:
      data:
        $ref: '#/definitions/studyReference'
    required:
      - data
    additionalProperties: false
  tagsType:
    $ref: '#/definitions/nullableNonEmptyStringList'
  anySkeleton:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/anyType'
      attributes:
        type: object
        properties:
          title:
            $ref: '#/definitions/nonEmptyString'
        required:
          - title
        additionalProperties: false
      links:
        $ref: '#/definitions/linksType'
    required:
      - id
      - type
      - attributes
      - links
    additionalProperties: false
  anySkeletons:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/anySkeleton'
  assayReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/assayType'
    required:
      - id
      - type
    additionalProperties: false
  assayReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/assayReference'
  assaySkeleton:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/assayType'
      attributes:
        type: object
        properties:
          title:
            $ref: '#/definitions/nonEmptyString'
        required:
          - title
        additionalProperties: false
      links:
        $ref: '#/definitions/linksType'
    required:
      - id
      - type
      - attributes
      - links
    additionalProperties: false
  assaySkeletons:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/assaySkeleton'
  dataFileReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/dataFileReference'
  dataFileReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/dataFileType'
    required:
      - id
      - type
    additionalProperties: false
  dataFileSkeleton:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/dataFileType'
      attributes:
        type: object
        properties:
          title:
            $ref: '#/definitions/nonEmptyString'
        required:
          - title
        additionalProperties: false
      links:
        $ref: '#/definitions/linksType'
    required:
      - id
      - type
      - attributes
      - links
    additionalProperties: false
  dataFileSkeletons:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/dataFileSkeleton'
  documentReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/documentReference'
  documentReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/documentType'
    required:
      - id
      - type
    additionalProperties: false
  eventReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/eventReference'
  eventReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/eventType'
    required:
      - id
      - type
    additionalProperties: false
  investigationReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/investigationReference'
  investigationReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/investigationType'
    required:
      - id
      - type
    additionalProperties: false
  institutionReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/institutionReference'
  institutionReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/institutionType'
    required:
      - id
      - type
    additionalProperties: false
  modelReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/modelReference'
  modelReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/modelType'
    required:
      - id
      - type
    additionalProperties: false
  organismReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/organismReference'
  peopleReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/peopleReference'
  presentationReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/presentationReference'
  presentationReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/presentationType'
    required:
      - id
      - type
    additionalProperties: false
  programmeReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/programmeReference'
  programmeReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/programmeType'
    required:
      - id
      - type
    additionalProperties: false
  projectReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/projectReference'
  projectReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/projectType'
    required:
      - id
      - type
    additionalProperties: false
  publicationReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/publicationReference'
  publicationReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/publicationType'
    required:
      - id
      - type
    additionalProperties: false
  sampleTypeReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/sampleTypeReference'
  sopReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/sopReference'
  sopReference:
    properties:
      id:
        $ref: '#/definitions/nonEmptyString'
      type:
        $ref: '#/definitions/sopType'
    required:
      - id
      - type
    additionalProperties: false
  studyReferences:
    type: array
    minItems: 0
    uniqueItems: true
    items:
      $ref: '#/definitions/studyReference'
  searchResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/anySkeletons'
      jsonapi:
        $ref: '#/definitions/JsonApiVersion'
      links: {}
      meta:
        $ref: '#/definitions/baseMetaType'
    required:
      - data
      - jsonapi
      - links
      - meta
    additionalProperties: false
  assayResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/assayType'
          attributes:
            type: object
            properties:
              tags:
                $ref: '#/definitions/nullableNonEmptyStringList'
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              other_creators:
                $ref: '#/definitions/nullableOtherCreatorsString'
              assay_class:
                type: object
                properties:
                  title:
                    $ref: '#/definitions/nonEmptyString'
                  key:
                    $ref: '#/definitions/nonEmptyString'
                  description:
                    $ref: '#/definitions/nullableNonEmptyString'
                required:
                  - title
                  - key
                additionalProperties: false
              assay_type:
                type: object
                properties:
                  label:
                    $ref: '#/definitions/nullableNonEmptyString'
                  uri:
                    $ref: '#/definitions/uriString'
                required:
                  - uri
                additionalProperties: false
              technology_type:
                type: object
                properties:
                  label:
                    $ref: '#/definitions/nullableNonEmptyString'
                  uri:
                    $ref: '#/definitions/uriString'
                required:
                  - uri
                additionalProperties: false
              policy:
                $ref: '#/definitions/policy'
            required:
              - title
              - assay_class
              - assay_type
              - technology_type
            additionalProperties: false
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              submitter:
                $ref: '#/definitions/peopleReferenceList'
              organisms:
                $ref: '#/definitions/organismReferencesList'
              people:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
              investigation:
                $ref: '#/definitions/investigationSingletonReference'
              study:
                $ref: '#/definitions/studySingletonReference'
              data_files:
                $ref: '#/definitions/dataFileReferencesList'
              documents:
                $ref: '#/definitions/documentReferencesList'
              models:
                $ref: '#/definitions/modelReferencesList'
              sops:
                $ref: '#/definitions/sopReferencesList'
              publications:
                $ref: '#/definitions/publicationReferencesList'
            required:
              - creators
              - submitter
              - organisms
              - people
              - projects
              - investigation
              - study
              - data_files
              - documents
              - models
              - sops
              - publications
            additionalProperties: false
          links:
            $ref: '#/definitions/linksType'
          meta:
            $ref: '#/definitions/metaType'
        required:
          - id
          - type
          - attributes
          - relationships
          - links
          - meta
        additionalProperties: false
      jsonapi:
        $ref: '#/definitions/JsonApiVersion'
    required:
      - data
      - jsonapi
    additionalProperties: false
  assayPost:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/assayType'
          attributes:
            type: object
            properties:
              tags:
                $ref: '#/definitions/nullableNonEmptyStringList'
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              other_creators:
                $ref: '#/definitions/nullableOtherCreatorsString'
              assay_class:
                type: object
                properties:
                  key:
                    $ref: '#/definitions/nonEmptyString'
                required:
                  - key
                additionalProperties: false
              assay_type:
                type: object
                properties:
                  uri:
                    $ref: '#/definitions/uriString'
                required:
                  - uri
                additionalProperties: false
              technology_type:
                type: object
                properties:
                  uri:
                    $ref: '#/definitions/uriString'
                required:
                  - uri
                additionalProperties: false
              policy:
                $ref: '#/definitions/policy'
            required:
              - title
              - assay_class
              - assay_type
              - technology_type
            additionalProperties: false
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              study:
                $ref: '#/definitions/studySingletonReference'
              publications:
                $ref: '#/definitions/publicationReferencesList'
              data_files:
                $ref: '#/definitions/dataFileReferencesList'
              documents:
                $ref: '#/definitions/documentReferencesList'
              models:
                $ref: '#/definitions/modelReferencesList'
              sops:
                $ref: '#/definitions/sopReferencesList'
              organisms:
                $ref: '#/definitions/organismReferencesList'
            required:
              - study
            additionalProperties: false
        required:
          - type
          - attributes
          - relationships
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  assayPatch:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/assayType'
          attributes:
            type: object
            properties:
              tags:
                $ref: '#/definitions/nullableNonEmptyStringList'
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              other_creators:
                $ref: '#/definitions/nullableOtherCreatorsString'
              assay_class:
                type: object
                properties:
                  key:
                    $ref: '#/definitions/nonEmptyString'
                required:
                  - key
                additionalProperties: false
              assay_type:
                type: object
                properties:
                  uri:
                    $ref: '#/definitions/uriString'
                required:
                  - uri
                additionalProperties: false
              technology_type:
                type: object
                properties:
                  uri:
                    $ref: '#/definitions/uriString'
                required:
                  - uri
                additionalProperties: false
              policy:
                $ref: '#/definitions/policy'
            additionalProperties: false
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              study:
                $ref: '#/definitions/studySingletonReference'
              publications:
                $ref: '#/definitions/publicationReferencesList'
              data_files:
                $ref: '#/definitions/dataFileReferencesList'
              documents:
                $ref: '#/definitions/documentReferencesList'
              models:
                $ref: '#/definitions/modelReferencesList'
              sops:
                $ref: '#/definitions/sopReferencesList'
              organisms:
                $ref: '#/definitions/organismReferencesList'
            additionalProperties: false
        required:
          - id
          - type
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  getContentBlobsResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/nonEmptyString'
          attributes:
            type: object
            properties:
              original_filename:
                $ref: '#/definitions/nonEmptyString'
              url:
                $ref: '#/definitions/nullableUriString'
              md5sum:
                $ref: '#/definitions/md5sumString'
              sha1sum:
                $ref: '#/definitions/sha1sumString'
              content_type:
                $ref: '#/definitions/contentBlobType'
            required:
              - original_filename
              - md5sum
              - sha1sum
              - content_type
            additionalProperties: false
          links:
            $ref: '#/definitions/linksType'
          meta:
            $ref: '#/definitions/metaType'
        required:
          - id
          - type
          - attributes
          - links
          - meta
        additionalProperties: false
      jsonapi:
        $ref: '#/definitions/JsonApiVersion'
    required:
      - data
      - jsonapi
    additionalProperties: false
  dataFileResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/dataFileType'
          attributes:
            $ref: '#/definitions/contributedTypeAttributes'
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              submitter:
                $ref: '#/definitions/peopleReferenceList'
              people:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
              investigations:
                $ref: '#/definitions/investigationReferencesList'
              studies:
                $ref: '#/definitions/studyReferencesList'
              assays:
                $ref: '#/definitions/assayReferencesList'
              publications:
                $ref: '#/definitions/publicationReferencesList'
              events:
                $ref: '#/definitions/eventReferencesList'
            required:
              - creators
              - submitter
              - people
              - projects
              - investigations
              - studies
              - assays
              - publications
              - events
            additionalProperties: false
          links:
            $ref: '#/definitions/linksType'
          meta:
            $ref: '#/definitions/metaType'
        required:
          - id
          - type
          - attributes
          - relationships
          - links
          - meta
        additionalProperties: false
      jsonapi:
        $ref: '#/definitions/JsonApiVersion'
    required:
      - data
      - jsonapi
    additionalProperties: false
  dataFilePost:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/dataFileType'
          attributes:
            type: object
            properties:
              tags:
                $ref: '#/definitions/nullableNonEmptyStringList'
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              license:
                $ref: '#/definitions/nullableLicense'
              policy:
                $ref: '#/definitions/policy'
              content_blobs:
                $ref: '#/definitions/contentBlobPlaceholdersList'
              other_creators:
                $ref: '#/definitions/nullableOtherCreatorsString'
            required:
              - title
              - policy
              - content_blobs
            additionalProperties: false
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
              assays:
                $ref: '#/definitions/assayReferencesList'
              publications:
                $ref: '#/definitions/publicationReferencesList'
              events:
                $ref: '#/definitions/eventReferencesList'
            required:
              - projects
            additionalProperties: false
        required:
          - type
          - attributes
          - relationships
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  dataFilePatch:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/dataFileType'
          attributes:
            type: object
            properties:
              tags:
                $ref: '#/definitions/nullableNonEmptyStringList'
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              license:
                $ref: '#/definitions/nullableLicense'
              policy:
                $ref: '#/definitions/policy'
              other_creators:
                $ref: '#/definitions/nullableOtherCreatorsString'
            additionalProperties: false
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
              assays:
                $ref: '#/definitions/assayReferencesList'
              publications:
                $ref: '#/definitions/publicationReferencesList'
              events:
                $ref: '#/definitions/eventReferencesList'
            additionalProperties: false
        required:
          - id
          - type
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  documentResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/documentType'
          attributes:
            $ref: '#/definitions/contributedTypeAttributes'
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              submitter:
                $ref: '#/definitions/peopleReferenceList'
              people:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
              investigations:
                $ref: '#/definitions/investigationReferencesList'
              studies:
                $ref: '#/definitions/studyReferencesList'
              assays:
                $ref: '#/definitions/assayReferencesList'
              publications:
                $ref: '#/definitions/publicationReferencesList'
            required:
              - creators
              - submitter
              - people
              - projects
              - investigations
              - studies
              - assays
              - publications
            additionalProperties: false
          links:
            $ref: '#/definitions/linksType'
          meta:
            $ref: '#/definitions/metaType'
        required:
          - id
          - type
          - attributes
          - relationships
          - links
          - meta
        additionalProperties: false
      jsonapi:
        $ref: '#/definitions/JsonApiVersion'
    required:
      - data
      - jsonapi
    additionalProperties: false
  documentPost:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/documentType'
          attributes:
            type: object
            properties:
              tags:
                $ref: '#/definitions/nullableNonEmptyStringList'
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              license:
                $ref: '#/definitions/nullableLicense'
              policy:
                $ref: '#/definitions/policy'
              content_blobs:
                $ref: '#/definitions/contentBlobPlaceholdersList'
              other_creators:
                $ref: '#/definitions/nullableOtherCreatorsString'
            required:
              - title
              - policy
              - content_blobs
            additionalProperties: false
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
              assays:
                $ref: '#/definitions/assayReferencesList'
            required:
              - projects
            additionalProperties: false
        required:
          - type
          - attributes
          - relationships
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  documentPatch:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/documentType'
          attributes:
            type: object
            properties:
              tags:
                $ref: '#/definitions/nullableNonEmptyStringList'
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              license:
                $ref: '#/definitions/nullableLicense'
              policy:
                $ref: '#/definitions/policy'
              other_creators:
                $ref: '#/definitions/nullableOtherCreatorsString'
            additionalProperties: false
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
              assays:
                $ref: '#/definitions/assayReferencesList'
            additionalProperties: false
        required:
          - id
          - type
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  eventResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/eventType'
          attributes:
            type: object
            properties:
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              url:
                $ref: '#/definitions/nullableUriString'
              address:
                $ref: '#/definitions/nullableNonEmptyString'
              city:
                $ref: '#/definitions/nullableNonEmptyString'
              country:
                $ref: '#/definitions/nullableCountryString'
              start_date:
                $ref: '#/definitions/dateTimeString'
              end_date:
                $ref: '#/definitions/dateTimeString'
              policy:
                $ref: '#/definitions/policy'
            required:
              - title
              - description
              - start_date
              - end_date
            additionalProperties: false
          relationships:
            type: object
            properties:
              submitter:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
              data_files:
                $ref: '#/definitions/dataFileReferencesList'
              publications:
                $ref: '#/definitions/publicationReferencesList'
              presentations:
                $ref: '#/definitions/presentationReferencesList'
            required:
              - projects
              - data_files
              - publications
              - presentations
            additionalProperties: false
          links:
            $ref: '#/definitions/linksType'
          meta:
            $ref: '#/definitions/metaType'
        required:
          - id
          - type
          - attributes
          - relationships
          - links
          - meta
        additionalProperties: false
      jsonapi:
        $ref: '#/definitions/JsonApiVersion'
    required:
      - data
      - jsonapi
    additionalProperties: false
  eventPost:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/eventType'
          attributes:
            type: object
            properties:
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              url:
                $ref: '#/definitions/nullableUriString'
              address:
                $ref: '#/definitions/nullableNonEmptyString'
              city:
                $ref: '#/definitions/nullableNonEmptyString'
              country:
                $ref: '#/definitions/nullableCountryString'
              start_date:
                $ref: '#/definitions/dateTimeString'
              end_date:
                $ref: '#/definitions/dateTimeString'
              policy:
                $ref: '#/definitions/policy'
            required:
              - title
              - policy
              - start_date
            additionalProperties: false
          relationships:
            type: object
            properties:
              projects:
                $ref: '#/definitions/projectReferencesList'
              data_files:
                $ref: '#/definitions/dataFileReferencesList'
              publications:
                $ref: '#/definitions/publicationReferencesList'
              presentations:
                $ref: '#/definitions/presentationReferencesList'
            required:
              - projects
            additionalProperties: false
        required:
          - type
          - attributes
          - relationships
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  eventPatch:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/eventType'
          attributes:
            type: object
            properties:
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              url:
                $ref: '#/definitions/nullableUriString'
              address:
                $ref: '#/definitions/nullableNonEmptyString'
              city:
                $ref: '#/definitions/nullableNonEmptyString'
              country:
                $ref: '#/definitions/nullableCountryString'
              start_date:
                $ref: '#/definitions/dateTimeString'
              end_date:
                $ref: '#/definitions/dateTimeString'
              policy:
                $ref: '#/definitions/policy'
            additionalProperties: false
          relationships:
            type: object
            properties:
              projects:
                $ref: '#/definitions/projectReferencesList'
              data_files:
                $ref: '#/definitions/dataFileReferencesList'
              publications:
                $ref: '#/definitions/publicationReferencesList'
              presentations:
                $ref: '#/definitions/presentationReferencesList'
            additionalProperties: false
        required:
          - id
          - type
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  institutionResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/institutionType'
          attributes:
            type: object
            properties:
              avatar:
                $ref: '#/definitions/nullableUriString'
              title:
                $ref: '#/definitions/nonEmptyString'
              country:
                $ref: '#/definitions/nullableCountryString'
              country_code:
                $ref: '#/definitions/nullableCountryCodeString'
              city:
                $ref: '#/definitions/nullableNonEmptyString'
              address:
                $ref: '#/definitions/nullableNonEmptyString'
              web_page:
                $ref: '#/definitions/nullableUriString'
            required:
              - title
              - country
              - city
              - address
              - web_page
            additionalProperties: false
          relationships:
            type: object
            properties:
              people:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
            required:
              - people
              - projects
            additionalProperties: false
          links:
            $ref: '#/definitions/linksType'
          meta:
            $ref: '#/definitions/metaType'
        required:
          - id
          - type
          - attributes
          - relationships
          - links
          - meta
        additionalProperties: false
      jsonapi:
        $ref: '#/definitions/JsonApiVersion'
    required:
      - data
      - jsonapi
    additionalProperties: false
    example:
      $ref: 'http://docs.seek4science.org/tech/api/examples/institutionResponse.yaml'
  institutionPost:
    type: object
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/institutionType'
          attributes:
            type: object
            properties:
              avatar:
                $ref: '#/definitions/nullableUriString'
              title:
                $ref: '#/definitions/nonEmptyString'
              country:
                $ref: '#/definitions/nullableCountryString'
              city:
                $ref: '#/definitions/nullableNonEmptyString'
              address:
                $ref: '#/definitions/nullableNonEmptyString'
              web_page:
                $ref: '#/definitions/nullableUriString'
            required:
              - title
            additionalProperties: false
        required:
          - type
          - attributes
    required:
      - data
    additionalProperties: false
    example:
      $ref: 'http://docs.seek4science.org/tech/api/examples/institutionPost.yaml'
  institutionPatch:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/institutionType'
          attributes:
            type: object
            properties:
              avatar:
                $ref: '#/definitions/nullableUriString'
              title:
                $ref: '#/definitions/nonEmptyString'
              country:
                $ref: '#/definitions/nullableCountryString'
              city:
                $ref: '#/definitions/nullableNonEmptyString'
              address:
                $ref: '#/definitions/nullableNonEmptyString'
              web_page:
                $ref: '#/definitions/nullableUriString'
            additionalProperties: false
        required:
          - id
          - type
    required:
      - data
    additionalProperties: false
    example:
      $ref: 'http://docs.seek4science.org/tech/api/examples/institutionPatch.yaml'
  investigationResponse:
    type: object
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/nonEmptyString'
          type:
            $ref: '#/definitions/investigationType'
          attributes:
            type: object
            properties:
              title:
                $ref: '#/definitions/nonEmptyString'
              description:
                $ref: '#/definitions/nullableNonEmptyString'
              other_creators:
                $ref: '#/definitions/nullableOtherCreatorsString'
              policy:
                $ref: '#/definitions/policy'
            required:
              - title
            additionalProperties: false
          relationships:
            type: object
            properties:
              creators:
                $ref: '#/definitions/peopleReferenceList'
              submitter:
                $ref: '#/definitions/peopleReferenceList'
              people:
                $ref: '#/definitions/peopleReferenceList'
              projects:
                $ref: '#/definitions/projectReferencesList'
              studies:
                $ref: '#/definitions/studyReferencesList'
              assays:
                $ref: '#/definitions/assayReferencesList'
              data_files:
                $ref: '#/definitions/dataFileReferencesList'
              documents:
                $ref: '#/definitions/documentReferencesList'
              models:
                $ref: '#/definitions/modelReferencesList'
              sops:
                $ref: '#/definitions/sopReferencesList'
              publications:
                $ref: '#/definitions/publicationReferencesList'
            required:
              - creators
              - submitter
              - people
              - projects
[...]
