swagger: '2.0'
info:
  version: '0.1'
  title: JSON API to FAIRDOM SEEK
  license:
    name: The 3-Clause BSD License
    url: https://opensource.org/licenses/BSD-3-Clause
  contact:
    name: SEEK support
    url: http://groups.google.com/group/seek4science
    email: support@fair-dom.org
  description: |
    <a name="api"></a>The JSON API to FAIRDOM SEEK is a [JSON API](http://jsonapi.org) specification describing how to read and write to a SEEK instance.

    The API is defined in the [OpenAPI specification](https://swagger.io/specification) currently in [version 2](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md)

    Example IPython notebooks showing use of the API are available on [GitHub](https://github.com/seek4science/seekAPIexamples)

    ===

    ## Policy
    <a name="Policy"></a>
    A Policy specifies the visibility of an object to people using SEEK. A <a href="#projects">**Project**</a> may specify the default policy for objects belonging to that <a href="#projects">**Project**</a>

    The **Policy** specifies the visibility of the object to non-registered people or <a href="#people">**People**</a> not allowed special access.

    The access may be one of (in order of increasing "power"):

    * no_access
    * view
    * download
    * edit
    * manage

    In addition a **Policy** may give special access to specific <a href="#people">**People**</a>, People working at an <a href="#institutions">**Institution**</a> or working on a <a href="#projects">**Project**</a>.

    ===

    ## License
    <a name="License"></a>
    The license specifies the license that will apply to any <a href="#dataFiles">**DataFiles**</a>, <a href="#models">**Models**</a>, <a href="#sops">**SOPs**</a>, <a href="#documents">**Documents**</a> and <a href="#presentations">**Presentations**</a> associated with a <a href="#projects">**Project**</a>.

    The license can currently be:

    * [CC0-1.0](https://creativecommons.org/publicdomain/zero/1.0/) - CC0 1.0
    * [CC-BY-4.0](https://creativecommons.org/licenses/by/4.0/) - Creative Commons Attribution 4.0
    * [CC-BY-SA-4.0](https://creativecommons.org/licenses/by-sa/4.0/) - Creative Commons Attribution Share-Alike 4.0
    * [ODC-BY-1.0](http://www.opendefinition.org/licenses/odc-by) - Open Data Commons Attribution License 1.0
    * [ODbL-1.0](http://www.opendefinition.org/licenses/odc-odbl) - Open Data Commons Open Database License 1.0
    * [ODC-PDDL-1.0](http://www.opendefinition.org/licenses/odc-pddl) - Open Data Commons Public Domain Dedication and Licence 1.0
    * notspecified - License Not Specified
    * other-at - Other (Attribution)
    * other-open - Other (Open)
    * other-pd - Other (Public Domain)
    * [AFL-3.0](http://www.opensource.org/licenses/AFL-3.0) - Academic Free License 3.0
    * [Against-DRM](http://www.opendefinition.org/licenses/against-drm) - Against DRM
    * [CC-BY-NC-4.0](https://creativecommons.org/licenses/by-nc/4.0/) - Creative Commons Attribution-NonCommercial 4.0
    * [DSL](http://www.opendefinition.org/licenses/dsl) - Design Science License
    * [FAL-1.3](http://www.opendefinition.org/licenses/fal) - Free Art License 1.3
    * [GFDL-1.3-no-cover-texts-no-invariant-sections](http://www.opendefinition.org/licenses/gfdl) - GNU Free Documentation License 1.3 with no cover texts and no invariant sections
    * [geogratis](http://geogratis.gc.ca/geogratis/licenceGG) - Geogratis
    * [hesa-withrights](http://www.hesa.ac.uk/index.php?option=com_content&amp;task=view&amp;id=2619&amp;Itemid=209) - Higher Education Statistics Agency Copyright with data.gov.uk rights
    * localauth-withrights - Local Authority Copyright with data.gov.uk rights
    * [MirOS](http://www.opensource.org/licenses/MirOS) - MirOS Licence
    * [NPOSL-3.0](http://www.opensource.org/licenses/NPOSL-3.0) - Non-Profit Open Software License 3.0
    * [OGL-UK-1.0](http://reference.data.gov.uk/id/open-government-licence) - Open Government Licence 1.0 (United Kingdom)
    * [OGL-UK-2.0](https://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/) - Open Government Licence 2.0 (United Kingdom)
    * [OGL-UK-3.0](https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/) - Open Government Licence 3.0 (United Kingdom)
    * [OGL-Canada-2.0](http://data.gc.ca/eng/open-government-licence-canada) - Open Government License 2.0 (Canada)
    * [OSL-3.0](http://www.opensource.org/licenses/OSL-3.0) - Open Software License 3.0
    * [dli-model-use](http://data.library.ubc.ca/datalib/geographic/DMTI/license.html) - Statistics Canada: Data Liberation Initiative (DLI) - Model Data Use Licence
    * [Talis](http://www.opendefinition.org/licenses/tcl) - Talis Community License
    * ukclickusepsi - UK Click Use PSI
    * ukcrown-withrights - UK Crown Copyright with data.gov.uk rights
    * [ukpsi](http://www.opendefinition.org/licenses/ukpsi) - UK PSI Public Sector Information

    ===

    ## ContentBlob
    <a name="ContentBlob"></a>
    <a name="contentBlobs"></a>
    The content of a <a href="#dataFiles">**DataFile**</a>, <a href="#documents">**Document**</a>, <a href="#models">**Model**</a>, <a href="#sops">**SOP**</a> or <a href="#presentations">**Presentation**</a> is specified as a set of **ContentBlobs**.

    When a resource with content is created, it is possible to specify a ContentBlob either as:

    * A remote ContentBlob with:
      * **URI to the content's location**
      * The original filename for the content
      * The content type of the remote content as a [MIME media type](https://en.wikipedia.org/wiki/Media_type)
    * A placeholder that will be filled with uploaded content
      * **The original filename for the content**
      * **The content type of the content as a [MIME media type](https://en.wikipedia.org/wiki/Media_type)**

    The creation of the resource will return a JSON document containing ContentBlobs corresponding to the remote ContentBlob and to the ContentBlob placeholder. The blobs contain a URI to their location.

    A placeholder can then be satisfied by uploading a file to the location URI. For example by a placeholder such as 

    ```
    "content_blobs": [
      {
        "original_filename": "a_pdf_file.pdf",
        "content_type": "application/pdf",
        "link": "http://fairdomhub.org/data_files/57/content_blobs/313"
      }
    ],
    ```

    may be satisfied by uploading a file to http://fairdomhub.org/data_files/57/content_blobs/313 using the <a href="#uploadDataFileContent">uploadDataFileContent</a> operation

    The content of a resource may be downloaded by first *reading* the resource and then *downloading* the ContentBlobs from their URI.

    ===
  x-logo:
    url: ./definitions/seek.png
    backgroundColor: '#FFFFFF'
host: fairdomhub.org
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  basicAuth:
    type: basic
    description: |-
      <a name="authentication"></a>The JSON API uses [Basic access
      authentication](https://en.wikipedia.org/wiki/Basic_access_authentication)
      where the *username* and *password* correspond to a registered user on
      the SEEK that is being accessed.

      The **List** and **Read** API calls may be used without authentication. In
      that case, they will only list, or allow reading of, publicly viewable
      objects.
security:
- basicAuth: []
tags:
- name: list
  description: |-
    <a name="list"></a>**List** operations return a JSON object containing a list of all the objects of the specified class to which the authenticated user has access.

    Success response codes:
    * 200 OK

    Error response codes:
  x-traitTag: true
- name: create
  description: |
    <a name="create"></a>A **Create** operation creates a new instance of the specified class. The instance is populated with the content of the body of the API call.

    The **Create** call returns a JSON object representing the newly created instance.

    Success response codes:
    * 201 Created

    Error response codes:
    * 400 Bad request
    * 403 Forbidden
    * 422 Unprocessable entity
  x-traitTag: true
- name: read
  description: |
    <a name="read"></a>A **Read** operation will return information about the instance identified, provided the authenticated user has access to it.

    The **Read** operation returns a JSON object representing the instance.

    Success response codes:

    * 200 OK

    Error response codes:
    * 403 Forbidden
    * 404 Not found
  x-traitTag: true
- name: update
  description: |
    <a name="update"></a>An **Update** operation will modify the information held about the specified instance. This operation is only available if the authenticated user has access to the object.

    Success response codes:
    * 200 OK

    Error response codes:
    * 403 Forbidden
    * 404 Not found
    * 422 Unprocessable entity
  x-traitTag: true
- name: delete
  description: |
    <a name="delete"></a>A **Delete** operation will delete the specified instance, if the authenticated user has sufficient access to it.

    Success response codes:
    * 200 OK

    Error response codes:
    * 403 Forbidden
    * 404 Not found
  x-traitTag: true
- name: upload
  description: |
    <a name="upload"></a>**Upload** operations are used to satisfy the required content of previously created resources such as <a href="#dataFiles">**DataFile**</a>, <a href="#documents">**Document**</a>, <a href="#models">**Model**</a>, <a href="#sops">**SOP**</a> or <a href="#presentations">**Presentation**</a>. See <a href="#ContentBlob">**ContentBlob**</a> for more details.
  x-traitTag: true
- name: download
  description: |
    <a name="download"></a>**Download** operations are used to retrieve the content of resources such as <a href="#dataFiles">**DataFile**</a>, <a href="#documents">**Document**</a>, <a href="#models">**Model**</a>, <a href="#sops">**SOP**</a> or <a href="#presentations">**Presentation**</a>. See <a href="#ContentBlob">**ContentBlob**</a> for more details.
  x-traitTag: true

- name: search
  description: |-
    <a name="search"></a>
- name: institutions
  description: |
    <a name="institutions"></a>An **Institition** in SEEK is where someone is employed or works. It is normal for an **Institution** to have a physical location - a set of buildings in which <a href="#people">**People**</a> work.

    SEEK does not impose any constraints on the granularity of the **Institution** so it may represent a whole university or company, or be limited to a specific site.

    An **Institution** has the following associated information:

    * **The title of the Institution**
    * A reference to an avatar / logo for the **Institution**
    * The two letter country code
    * The name of the city where the **Institution** has its headquarters
    * The address of the **Institution** within the city
    * A URI to the webpage for the **Institution**

    A response for an **Institution** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * References to registered <a href="#people">**People**</a> who work at the **Institution**
    * References to the <a href="#projects">**Projects**</a> in which the **Institution** is a partner.
- name: people
  description: |-
    <a name="people"></a>A **Person** in SEEK is someone who participates directly or indirectly in the scientific research described within SEEK. A person may:

    * work at one or more <a href="#institutions">**Institutions**</a>
    * work on one or more <a href="#projects">**Projects**</a>

    A **Person** can have helped to carry out <a href="#investigations">**Investigations**</a>, <a href="#studies">**Studies**</a> and <a href="#assays">**Assays**</a>, and to have been involved in the creation of resources such as <a href="#dataFiles">**DataFles**</a>.

    A **Person** has the following associated information:

    * **The person's first name**
    * **The person's last name**
    * A personal description
    * An email address for the **Person**
    * A URI to a webpage about the **Person**
    * The [ORCID](https://orcid.org/) for the **Person**
    * A list of strings describing the expertise of the **Person**
    * A list of strings describing the tools that the **Person** uses
    * The telephone number of the **Person**, including country code
    * The [Skype](https://www.skype.com) name of the **Person**

    A response for a **Person** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * A URI to an image used as the **Person's** avatar
    * The **Person's** title, made from their first and last name
    * A list of the <a href="#projects">**Project**</a> positions held by the **Person**

    * References to the <a href="#projects">**Projects**</a> in which the **Person** is involved
    * References to the <a href="#institutions">**Institutions**</a> where the **Person** works
    * References to the <a href="#investigations">**Investigations**</a> in which the **Person** is involved
    * References to the <a href="#studies">**Studies**</a> in which the **Person** is involved
    * References to the <a href="#assays">**Assays**</a> in which the **Person** is involved
    * References to the <a href="#dataFiles">**DataFiles**</a> associated with the **Person**
    * References to the <a href="#documents">**Documents**</a> associated with the **Person**
    * References to the <a href="#models">**Models**</a> associated with the **Person**
    * References to the <a href="#sops">**SOPs**</a> associated with the **Person**
    * References to the <a href="#publications">**Publications**</a> associated with the **Person**
    * References to the <a href="#presentations">**Presentations**</a> associated with the **Person**
    * References to the <a href="#events">**Events**</a> associated with the **Person**

    **Note that in the Person response the email address is encoded in mbox_sha1sum**
- name: programmes
  description: |
    <a name="programmes"></a>**Programmes** are an umbrella group for one or more <a href="#projects">**Projects**</a>. They are usually, but not always, associated with a particular funded piece of research.

    A **Programme** has the following associated information:

    * ** The title of the Programme **
    * A description of the **Programme**
    * A URI to a webpage about the **Programme**
    * A string containing details about the funding of the **Programme**
    * A list of the funding codes for the **Programme**

    * References to the <a href="#people">**People**</a> who are administrators for the **Programme**
    * References to <a href="#projects">**Projects**</a> that are part of the **Programme**

    A response for a **Programme** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * References to <a href="#people">**People**</a> who work on the **Programme** and are not administrators
    * References to <a href="#institutions">**Institutions**</a> that are involved in the **Programme**
    * References to <a href="#investigations">**Investigations**</a> that are part of the **Programme**
    * References to <a href="#studies">**Studies**</a> that are part of the **Programme**
    * References to <a href="#assays">**Assays**</a> that are part of the **Programme**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#documents">**Documents**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#models">**Models**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#sops">**Sops**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#publications">**Publications**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#presentations">**Presentations**</a> that belong to <a href="#projects">**Projects**</a> that are part of the **Programme**
    * References to <a href="#events">**Events**</a> that are held by or attended by <a href="#projects">**Projects**</a> that are part of the **Programme**
- name: projects
  description: |
    <a name="projects"></a>A **Project** is an area of research carried out as part of a <a href="#programmes">**Programme**</a> and consisting of one or more <a href="#investigations">**Investigations**</a>.

    **In the current version of the API, the <a href="#Policy">Policy</a> and the description of Project members and administrative roles does not work correctly.  This will be improved in future versions of the API.**

    A **Project** has the following associated information:

    * **The title of the Project**
    * A reference to an avatar / logo for the **Project**
    * A description of the **Project**
    * A URI to a webpage about the **Project**
    * A URI to the wiki of the **Project**
    * The default <a href="#Policy">**Policy**</a> applied to objects belonging to the **Project**
    * The default <a href="#License">**License**</a> applied to objects belonging to the **Project**

    * References to the <a href="#programmes">**Programmes**</a> that the **Project** is part of
    * References to the <a href="#organisms">**Organisms**</a> studied by the **Project**

    A response for a **Project** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * References to <a href="#people">**People**</a> who work on the **Project**
    * References to <a href="#institutions">**Institutions**</a> that are involved in the **Project**
    * References to <a href="#investigations">**Investigations**</a> that are part of the **Project**
    * References to <a href="#studies">**Studies**</a> that are part of the **Project**
    * References to <a href="#assays">**Assays**</a> that are part of the **Project**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#documents">**Documents**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#models">**Models**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#sops">**Sops**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#publications">**Publications**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#presentations">**Presentations**</a> that belong to the <a href="#projects">**Project**</a>
    * References to <a href="#events">**Events**</a> that are held by or attended by the <a href="#projects">**Project**</a>
- name: investigations
  description: |
    <a name="investigations"></a>**Investigations** are high level descriptions of the research carried out by a particular <a href="#projects">**Project**</a>. They typically reflect the general aims of the <a href="#projects">**Project**</a>, for example, carbon metabolism or anaerobic/aerobic transitions.

    An **Investigation** has the following associated information:

    * **The title of the Investigation**
    * A description of the **Investigation**
    * A string listing other creators of the **Investigation**
    * The sharing <a href="#Policy">**Policy**</a> of the **Investigation**
    * References to the <a href="#people">**People**</a> who created the **Investigation**
    * References to the <a href="#projects">**Projects**</a> which the **Investigation** is part of
    * References to <a href="#publications">**Publications**</a> about the **Investigation**

    A response for an **Investigation** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * A reference to the <a href="#people">**Person**</a> who registered (submitted) the **Investigation** into SEEK
    * References to <a href="#studies">**Studies**</a> that are part of the **Investigation**
    * References to <a href="#assays">**Assays**</a> that are part of the **Investigation**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to the **Investigation**
    * References to <a href="#documents">**Documents**</a> that belong to the **Investigation**
    * References to <a href="#models">**Models**</a> that belong to the **Investigation**
    * References to <a href="#sops">**Sops**</a> that belong to the **Investigation**
    * References to <a href="#publications">**Publications**</a> that belong to the **Investigation**
- name: studies
  description: |
    <a name="studies"></a>A **Study** is a series of experiments (or <a href="#assays">**Assays**</a> ) which can be combined to answer a particular biological question. These experiments might be a series of the same type of <a href="#assays">**Assay**</a> (for example, microarrays for different conditions), or they may be a collection of different types of <a href="#assays">**Assay**</a> (e.g. a combination of array and mass spec measurements).

    A **Study** has the following associated information:

    * **The title of the Study**
    * A description of the **Study**
    * A string listing experimentalists of the **Study**
    * A string listing other creators of the **Study**
    * A string containing the id of the <a href="#people">**Person**</a> responsible for the **Study**
    * The sharing <a href="#Policy">**Policy**</a> of the **Study**
    * References to the <a href="#people">**People**</a> who created the **Study**
    ** A reference to the <a href="#investigations">Investigation</a> containing the Study**
    * References to <a href="#publications">**Publications**</a> about the **Study**

    A response for a **Study** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * A reference to the <a href="#people">**Person**</a> who registered (submitted) the **Study** into SEEK
    * References to the <a href="#projects">**Projects**</a> that indirectly contain the **Study**
    * References to the <a href="#assays">**Assays**</a> that belong to the **Stuady**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to the **Study**
    * References to <a href="#documents">**Documents**</a> that belong to the **Study**
    * References to <a href="#models">**Models**</a> that belong to the **Study**
    * References to <a href="#sops">**Sops**</a> that belong to the **Study**
    * References to <a href="#publications">**Publications**</a> that belong to the **Study**
- name: assays
  description: |
    <a name="assays"></a>An **Assay** describes a particular experiment. It allows you to associate <a href="#dataFiles">**DataFiles**</a>, <a href="#sops">**SOPs**</a> and <a href="#models">**Models**</a> together as well as describing the type of **Assay** and any technology required to perform the experiment.

    An **Assay** has the following associated information:

    * **The title of the Assay**
    * A description of the **Assay**
    * A string listing other creators of the **Assay**
    * A string containing the abbreviated form of the kind of **Assay** - normally *EXP* for experimental or *MOD* for modelling
    * A URI to the type of **Assay** resolving to an entry in the [JERM ontology](http://www.mygrid.org.uk/ontology/JERMOntology)
    * A URI to the technology used in the **Assay** resolving to an entry in the [JERM ontology](http://www.mygrid.org.uk/ontology/JERMOntology)
    * The sharing <a href="#Policy">**Policy**</a> of the **Assay**
    * References to the <a href="#people">**People**</a> who created the **Assay**
    * A singleton reference to the <a href="#studies">**Study**</a> which the **Assay** is part of
    * References to <a href="#publications">**Publications**</a> about the **Assay**
    * References to <a href="#dataFiles">**DataFiles**</a> that belong to the **Assay**
    * References to <a href="#documents">**Documents**</a> that belong to the **Assay**
    * References to <a href="#models">**Models**</a> that belong to the **Assay**
    * References to <a href="#sops">**Sops**</a> that belong to the **Assay**
    * References to the <a href="#organisms">**Organisms**</a> studied in the **Assay**

    A response for an **Assay** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * A singleton reference to the <a href="#investigations">**Investigation**</a> which the **Assay** is part of
    * References to the <a href="#projects">**Projects**</a> that indirectly contain the **Assay**
- name: contentBlobs
  description: |
- name: dataFiles
  description: |
    <a name="dataFiles"></a>A **dataFile** can be any file containing data relevant to the <a href="#assays">**Assay**</a> (raw data, processed data, calibration information etc). They can be in any format (word files, e-lab notebooks, code, annotated spreadsheets etc).

    **Although dataFiles are versioned, this is out of scope for the current release of the API.**

    A **DataFile** has the following associated information:

    * **The title of the DataFile**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the DataFile**
    * **References to the <a href="#projects">Projects</a> documented**
    * A string containing a list of tags for the **DataFile**
    * A description of the **DataFile**
    * The <a href="#License">**License**</a> applied to the **DataFile**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **DataFile**
    * A string listing other creators of the **DataFile**
    * References to the <a href="#people">**People**</a> who wrote the **DataFile**
    * References to the <a href="#assays">**Assays**</a> associated with the **DataFile**
    * References to the <a href="#publications">**Publications**</a> associated with the **DataFile**
    * References to the <a href="#events">**Events**</a> associated with the **DataFile**

    A response for a **DataFile** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * ** An array of the versions of the DataFile**
    * ** A number indicating the latest version**
    * ** The time when the DataFile was created**
    * ** The last time the DataFile was updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **DataFile**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **DataFile**
    * References to the <a href="#studies">**Studies**</a> associated with the **DataFile**
- name: documents
  description: |
    <a name="documents"></a>A **Document** is any documentation that describes an <a href="#investigations">**Investigation**</a>, <a href="#studies">**Study**</a> or <a href="#assays">**Assay**</a>. The content of a **Document** is descriptive and it must not contain any data that is consumed or produced by an <a href="#assays">**Assay**</a>.

    **Although documents are versioned, this is out of scope for the current release of the API.**

    A **Document** has the following associated information:

    * **The title of the Document**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the Document**
    * **References to the <a href="#projects">Projects</a> documented**
    * A string containing a list of tags for the **Document**
    * A description of the **Document**
    * The <a href="#License">**License**</a> applied to the **Document**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **Document**
    * A string listing other creators of the **Document**
    * References to the <a href="#people">**People**</a> who wrote the **Document**
    * References to the <a href="#assays">**Assays**</a> documented

    A response for a **Document** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * ** An array of the versions of the Document**
    * ** A number indicating the latest version**
    * ** The time when the Document was created**
    * ** The last time the Document was updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **Document**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **Document**
    * References to the <a href="#studies">**Studies**</a> associated with the **Document**
    * References to the <a href="#publications">**Publications**</a> associated with the **Document**
- name: models
  description: |
    <a name="models"></a>A **Model** is a computer model of a biological or biochemical network or process.Some **Models** may be simulated using the JWSOnline system.

    **Although models are versioned, this is out of scope for the current release of the API.**

    A **Model** has the following associated information:

    * **The title of the Model**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the Model**
    * **References to the <a href="#projects">Projects</a> documented**
    * A string containing a list of tags for the **Model**
    * A description of the **Model**
    * The <a href="#License">**License**</a> applied to the **Model**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **Model**
    * A string listing other creators of the **Model**
    * A string specifying the **Model** type
    * A string specifying the **Model** format
    * A string specifying the execution environment of the **Model**
    * References to the <a href="#people">**People**</a> who wrote the **Model**
    * References to the <a href="#assays">**Assays**</a> associated with the **Model**
    * References to the <a href="#publications">**Publications**</a> associated with the **Model**

    A response for a **Model** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * ** An array of the versions of the Model**
    * ** A number indicating the latest version**
    * ** The time when the Model was created**
    * ** The last time the Model was updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **Model**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **Model**
    * References to the <a href="#studies">**Studies**</a> associated with the **Model**
- name: publications
  description: |
    <a name="publications"></a>A **Publication** is a publication about a <a href="#projects">**Project**</a>, It normally has a [DOI](http://www.doi.org/) or [PubMed ID](https://en.wikipedia.org/wiki/Wikipedia:PMID).

    The response to a read of a **Publication** includes the following information:

    * **The title of the Publication**
    * **The journal in which the Publication is published**
    * **A string containing the date of publication**
    * **The PubMed ID**
    * **The preferred string for citing the Publication**
    * **A link to the Publication**
    * The DOI of the **Publication**
    * A list of strings for the authors
    * The sharing <a href="#Policy">**Policy**</a> for the **Publication**
    * References to the <a href="#people">**People**</a> who wrote the **Publication**
    * References to the <a href="#projects">**Projects**</a> described in the **Publication**
    * References to the <a href="#investigations">**Investigations**</a> described in the **Publication**
    * References to the <a href="#studies">**Studies**</a> described in the **Publication**
    * References to the <a href="#assays">**Assays**</a> described in the **Publication**
    * References to <a href="#dataFiles">**DataFiles**</a> that were used in the work described in the **Publication**
    * References to <a href="#models">**Models**</a> that were used in the work described in the **Publication**
    * References to related **Publications**
    * References to <a href="#presentations">**Presentations**</a> associated with the **Publication**
    * References to <a href="#events">**Events**</a> associated with the **Publication**
- name: sops
  description: |
    <a name="sops"></a>**SOPs** are standard operating procedures which describe the protocol required to reproduce an <a href="#assays">**Assay**</a>. They can be in any format (word files, e-lab notebooks, code, annotated spreadsheets etc). Relevant **SOPs** can be linked directly to the <a href="#assays">**Assay**</a>.

    **Although SOPs are versioned, this is out of scope for the current release of the API.**

    A **SOP** has the following associated information:

    * **The title of the SOP**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the SOP**
    * **References to the <a href="#projects">Projects</a> relevant to the SOP**
    * A string containing a list of tags for the **SOP**
    * A description of the **SOP**
    * The <a href="#License">**License**</a> applied to the **SOP**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **SOP**
    * A string listing other creators of the **SOP**
    * References to the <a href="#people">**People**</a> who wrote the **SOP**
    * References to the <a href="#assays">**Assays**</a> relevant to the SOP

    A response for a **SOP** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * ** An array of the versions of the SOP**
    * ** A number indicating the latest version**
    * ** The time when the SOP was created**
    * ** The last time the SOP was updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **SOP**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **SOP**
    * References to the <a href="#studies">**Studies**</a> associated with the **SOP**
    * References to the <a href="#publications">**Publications**</a> associated with the **SOP**
- name: events
  description: |-
    <a name="events"></a>An **Event** is an event that is associated with one or more <a href="#projects">**Projects**</a>, happening on specified dates and at a specific, actual or virtual, location.

    An **Event** has the following associated information:

    * **The title of the Event**
    * **The start date of the Event**
    * A description of the **Event**
    * A URI to a webpage about the **Event**
    * The two letter country code for where the **Event** is
    * The name of the city where the **Event** takes place
    * The address within the city where the **Event** takes place
    * The end date of the **Event**
    * The sharing <a href="#Policy">**Policy**</a> for the **Event**
    * **References to the <a href="#projects">Projects</a> associated with the Event**
    * References to any <a href="#dataFiles">**DataFiles**</a>  associated with the **Event**
    * References to any <a href="#publications">**Publications**</a>  associated with the **Event**
    * References to any <a href="#presentations">**Presentations**</a>  associated with the **Event**

    A response for an **Event** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * Reference to the <a href="#people">**Person**</a> who submitted the **Event**
- name: presentations
  description: |-
    <a name="presentations"></a>A **Presentation** is a presentation about one or more <a href="#projects">**Projects**</a>.

    **Although presentations are versioned, this is out of scope for the current release of the API.**

    A **Presentation** has the following associated information:

    * **The title of the Presentation**
    * **The specification for the <a href="#ContentBlob">ContentBlobs</a> in the Presentation**
    * **References to the <a href="#projects">Projects</a> documented**
    * A string containing a list of tags for the **Presentation**
    * A description of the **Presentation**
    * The <a href="#License">**License**</a> applied to the **Presentation**
    * The sharing <a href="#Policy">**Policy**</a> applied to the **Presentation**
    * A string listing other creators of the **Presentation**
    * References to the <a href="#people">**People**</a> who wrote the **Presentation**
    * References to the <a href="#assays">**Assays**</a> associated with the **Presentation**
    * References to the <a href="#publications">**Publications**</a> associated with the **Presentation**
    * References to the <a href="#events">**Events**</a> associated with the **Presentation**

    A response for a **Presentation** such as that for a <a href="#create">**Create**</a>, <a href="#read">**Read**</a> or <a href="#update">**Update**</a> includes the additional information

    * ** An array of the versions of the Presentation**
    * ** A number indicating the latest version**
    * ** The time when the Presentation was created**
    * ** The last time the Presentation was updated**
    * A reference to the <a href="#people">**Person**</a> who submitted the **Presentation**
    * References to the <a href="#investigations">**Investigations**</a> associated with the **Presentation**
    * References to the <a href="#studies">**Studies**</a> associated with the **Presentation**
- name: organisms
  description: |
    <a name="organisms"></a>An **Organism** is a organism as identified by an entry in the [NCBI ontology](http://www.ncbi.nlm.nih.gov/taxonomy).

    The response to a read of an **Organism** includes the following information:

    * **The title of the Organism**
    * **A URI referencing an ontology entry describing the Organism**
    * **The common abbreviation for the ontology**
    * **References to <a href="#projects">Projects</a> that use the Organism**
    * **References to <a href="#assays">Assays</a> that use the Organism**
    * **References to <a href="#models">Models</a> that simulate the Organism**
- name: sampleTypes
  description: |
    <a name="sampleTypes"></a>A **SampleType** is a definition of the information that is held about a physical or virtual sample.

    **In the current release of the API it is only possible to list references to the SampleTypes. Additional functionality will be available in future versions.**
x-tagGroups:
- name: operation types
  tags:
  - list
  - create
  - read
  - update
  - delete
  - upload
  - download

- name: Search
  tags:
  - search

- name: Yellow Pages
  tags:
  - institutions
  - people
  - programmes
  - projects

- name: Experiments
  tags:
  - investigations
  - studies
  - assays

- name: Assets
  tags:
  - dataFiles
  - documents
  - models
  - publications
  - sops
  - contentBlobs

- name: Activities
  tags:
  - events
  - presentations

- name: Samples
  tags:
  - organisms
  - sampleTypes

x-types:
  ListTypeT: &ListType
    '501':
      description: Not implemented

  CreateTypeT: &CreateType
    '400':
      description: Bad request
      schema:
        $ref: '#/definitions/bad_request'
    '403':
      description: Forbidden
      schema:
        $ref: '#/definitions/forbidden'
    '422':
      description: Unprocessable entity
      schema:
        $ref: '#/definitions/unprocessable_entity'
  ReadTypeT: &ReadType
    '403':
      description: Forbidden
      schema:
        $ref: '#/definitions/forbidden'
    '404':
      description: Not found
      schema:
        $ref: '#/definitions/not_found'

  UpdateTypeT: &UpdateType
    '403':
      description: Forbidden
      schema:
        $ref: '#/definitions/forbidden'
    '404':
      description: Not found
      schema:
        $ref: '#/definitions/not_found'
    '422':
      description: Unprocessable entity
      schema:
        $ref: '#/definitions/unprocessable_entity'

  DeleteTypeT: &DeleteType
    '403':
      description: Forbidden
      schema:
        $ref: '#/definitions/forbidden'
    '404':
      description: Not found
      schema:
        $ref: '#/definitions/not_found'

paths:
  /search:
    parameters:
    - name: q
      in: query
      required: true
      description: |
        The text to search for
      type: string
      default: lactate inhibition
    - name: search_type
      in: query
      required: false
      description: The type of resource to return
      type: string
      enum:
      - assays
      - data_files
      - events
      - institutions
      - investigations
      - models
      - people
      - presentations
      - programmes
      - projects
      - publications
      - sample_types
      - sops
      - studies
      default: data_files
    get:
      operationId: search
      description: |
        <a name="searchOperation"></a>**search** returns a list of references to resources

        * of the specified type
        * that are visible to the authenticated user, and
        * contain the specified test
      tags:
      - search
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/searchResponse'
          examples:
            application/json:
              data:
              - id: '1213'
                type: data_files
                attributes:
                  title: Lactate flux inhibition data
                links:
                  self: /data_files/1213
              - id: '70'
                type: data_files
                attributes:
                  title: Characterization of kinetics of the lactate dehydrogenase
                    of S. pyogenes
                links:
                  self: /data_files/70
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
  /assays:
    get:
      operationId: listAssays
      description: |
        <a name="listAssays"></a>The **listAssays** operation returns a JSON object containing a list of all the <a href="#assays">**Assays**</a> to which the authenticated user has accesss.
      tags:
      - list
      - assays
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/assaysResponse'
          examples:
            application/json:

              data:

              - id: '1'

                type: assays

                attributes:

                  title: Standard-based Excel template for metabolomics data

                links:

                  self: /assays/1

              - id: '2'

                type: assays

                attributes:

                  title: Gene expression(Transcriptome)

                links:

                  self: /assays/2

              - id: '3'

                type: assays

                attributes:

                  title: metabolome-LCMS

                links:

                  self: /assays/3

              jsonapi:

                version: '1.0'

              meta:

                base_url: https://fairdomhub.org

                api_version: '0.1'

    post:
      operationId: createAssay
      description: |
        <a name="createAssay"></a>A **createAssay** operation creates a new instance of a <a href="#assays">**Assay**</a>. The instance is populated with the content of the body of the API call.

        The **createAssay** operation returns a JSON object representing the newly created <a href="#assays">**Assay**</a> and redirects to its URL.
      tags:
      - create
      - assays
      parameters:
      - in: body
        name: assay
        description: The assay to create.
        schema:
          $ref: '#/definitions/assayPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/assayResponse'
          examples:
            application/json:
              data:
                id: '54'
                type: assays
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource:
                        type: projects
                        id: '442'
                      access: manage
                  title: A Maximal experimental Assay
                  description: A Western Blot Assay
                  other_creators: Anonymous creator
                  assay_class:
                    title: Experimental assay
                    key: EXP
                    description: An experimental assay class description
                  assay_type:
                    label:
                    uri: http://www.mygrid.org.uk/ontology/JERMOntology#Transcriptomics
                  technology_type:
                    label:
                    uri: http://www.mygrid.org.uk/ontology/JERMOntology#RNA-Seq
                relationships:
                  creators:
                    data:
                    - id: '287'
                      type: people
                  submitter:
                    data:
                    - id: '287'
                      type: people
                  organisms:
                    data:
                    - id: '3'
                      type: organisms
                  people:
                    data:
                    - id: '287'
                      type: people
                  projects:
                    data:
                    - id: '436'
                      type: projects
                  investigation:
                    data:
                      id: '66'
                      type: investigations
                  study:
                    data:
                      id: '66'
                      type: studies
                  data_files:
                    data:
                    - id: '16'
                      type: data_files
                  models:
                    data:
                    - id: '5'
                      type: models
                  sops:
                    data:
                    - id: '4'
                      type: sops
                  publications:
                    data:
                    - id: '16'
                      type: publications
                  documents:
                    data:
                    - id: '32'
                      type: documents
                links:
                  self: /assays/54
                meta:
                  created: '2018-04-27T14:27:53.800Z'
                  modified: '2018-04-27T14:27:54.372Z'
                  api_version: '0.1'
                  uuid: 18867f90-2c55-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /assays/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The assay to be fetched, updated or deleted
      type: integer
      default: 267
    patch:
      operationId: updateAssay
      description: |
        <a name="updateAssay"></a>An **updateAssay** operation will modify the information held about the specified <a href="#assays">**Assay**</a>. This operation is only available if the authenticated user has access to the <a href="#assays">**Assay**</a>.

        The **updateAssay** operation returns a JSON object representing the modified <a href="#assays">**Assay**</a>.
      tags:
      - update
      - assays
      parameters:
      - in: body
        name: assay
        description: The assay to patch
        schema:
          $ref: '#/definitions/assayPatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/assayResponse'
          examples:
            application/json:
              data:
                id: '72'
                type: assays
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource:
                        type: projects
                        id: '585'
                      access: manage
                  title: A Maximal Assay
                  description: A Western Blot Assay
                  other_creators: Anonymous creator
                  assay_class:
                    title: Experimental assay
                    key: EXP
                    description: An experimental assay class description
                  assay_type:
                    label:
                    uri: http://www.mygrid.org.uk/ontology/JERMOntology#Transcriptomics
                  technology_type:
                    label:
                    uri: http://www.mygrid.org.uk/ontology/JERMOntology#RNA-Seq
                relationships:
                  creators:
                    data:
                    - id: '391'
                      type: people
                  submitter:
                    data:
                    - id: '391'
                      type: people
                  organisms:
                    data:
                    - id: '4'
                      type: organisms
                  people:
                    data:
                    - id: '391'
                      type: people
                  projects:
                    data:
                    - id: '583'
                      type: projects
                  investigation:
                    data:
                      id: '94'
                      type: investigations
                  study:
                    data:
                      id: '94'
                      type: studies
                  data_files:
                    data:
                    - id: '18'
                      type: data_files
                  models:
                    data:
                    - id: '8'
                      type: models
                  sops:
                    data:
                    - id: '6'
                      type: sops
                  publications:
                    data:
                    - id: '18'
                      type: publications
                  documents:
                    data:
                    - id: '34'
                      type: documents
                links:
                  self: /assays/72
                meta:
                  created: '2018-04-27T14:28:46.000Z'
                  modified: '2018-04-27T14:28:51.457Z'
                  api_version: '0.1'
                  uuid: 37b79600-2c55-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    get:
      operationId: readAssay
      description: |
        <a name="readAssay"></a>A **readAssay** operation will return information about the <a href="#assays">Assay</a> identified, provided the authenticated user has access to it.

        The **readAssay** operation returns a JSON object representing the <a href="#assays">**Assay**</a>.
      tags:
      - read
      - assays
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/assayResponse'
          examples:
            application/json:

              data:

                id: '267'

                type: assays

                attributes:

                  title: Culturing and synchronisation of P. falciparum

                  description:

                  assay_class:

                    title: Experimental Assay

                    key: EXP

                    description:

                  assay_type:

                    label: Experimental Assay Type

                    uri: http://jermontology.org/ontology/JERMOntology#Experimental_assay_type

                  technology_type:

                    label: Technology Type

                    uri: http://jermontology.org/ontology/JERMOntology#Technology_type

                relationships:

                  creators:

                    data: []

                  submitter:

                    data:

                    - id: '411'

                      type: people

                  organisms:

                    data: []

                  people:

                    data:

                    - id: '411'

                      type: people

                  projects:

                    data:

                    - id: '17'

                      type: projects

                  investigation:

                    data:

                      id: '56'

                      type: investigations

                  study:

                    data:

                      id: '118'

                      type: studies

                  data_files:

                    data: []

                  models:

                    data: []

                  sops:

                    data: []

                  publications:

                    data: []

                  documents:

                    data: []

                links:

                  self: /assays/267

                meta:

                  created: '2014-08-15T13:01:52.000Z'

                  modified: '2017-11-08T14:21:08.000Z'

                  api_version: '0.1'

                  uuid: 510b329d-1628-4e19-9ecb-4efd8966baa6

                  base_url: https://fairdomhub.org

              jsonapi:

                version: '1.0'

    delete:
      operationId: deleteAssay
      description: |
        <a name="deleteAssay"></a>A **deleteAssay** operation will delete the specified <a href="#assays">**Assay**</a>, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - assays
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /data_files:
    get:
      operationId: listDataFiles
      description: |
        <a name="listDataFiles"></a>The **listDataFiles** operation returns a JSON object containing a list of all the <a href="#dataFiles">**DataFiles**</a> to which the authenticated user has accesss.
      tags:
      - list
      - dataFiles
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/dataFilesResponse'
          examples:
            application/json:

              data:

              - id: '1'

                type: data_files

                attributes:

                  title: Growth-rate dependent catabolic flux disitribution

                links:

                  self: /data_files/1

              - id: '2'

                type: data_files

                attributes:

                  title: 'Excel sheet template : concentrations of intracellular metabolites'

                links:

                  self: /data_files/2

              - id: '6'

                type: data_files

                attributes:

                  title: 0804_shake-flask-sigB-starvation

                links:

                  self: /data_files/6

              - id: '8'

                type: data_files

                attributes:

                  title: Transcriptomics Template (ArrayExpress Format)

                links:

                  self: /data_files/8

              jsonapi:

                version: '1.0'

              meta:

                base_url: https://fairdomhub.org

                api_version: '0.1'

    post:
      operationId: createDataFile
      description: |
        <a name="createDataFile"></a>A **createDataFile** operation creates a new instance of a <a href="#dataFiles">**DataFile**</a>. The instance is populated with the content of the body of the API call.

        The **createDataFile** operation returns a JSON object representing the newly created <a href="#dataFiles">**DataFile**</a> and redirects to its URL.
      tags:
      - create
      - dataFiles
      parameters:
      - in: body
        name: dataFile
        description: The dataFile to create.
        schema:
          $ref: '#/definitions/dataFilePost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/dataFileResponse'
          examples:
            application/json:
              data:
                id: '57'
                type: data_files
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource:
                        type: projects
                        id: '2058'
                      access: edit
                  title: A Maximal Data File
                  description: This is the description
                  license: CC-BY-4.0
                  latest_version: 1
                  tags:
                  - tag1
                  - tag2
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/data_files/57?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:43:12.000Z'
                  updated_at: '2018-04-27T14:43:12.000Z'
                  content_blobs:
                  - original_filename: a_pdf_file.pdf
                    url:
                    md5sum:
                    sha1sum:
                    content_type: application/pdf
                    link: http://localhost:3000/data_files/57/content_blobs/313
                    size:
                  other_creators: John Smith, Jane Smith
                relationships:
                  creators:
                    data:
                    - id: '1369'
                      type: people
                  submitter:
                    data:
                    - id: '1368'
                      type: people
                  people:
                    data:
                    - id: '1368'
                      type: people
                    - id: '1369'
                      type: people
                  projects:
                    data:
                    - id: '2058'
                      type: projects
                  investigations:
                    data:
                    - id: '298'
                      type: investigations
                  studies:
                    data:
                    - id: '250'
                      type: studies
                  assays:
                    data:
                    - id: '186'
                      type: assays
                  publications:
                    data:
                    - id: '87'
                      type: publications
                  events:
                    data:
                    - id: '70'
                      type: events
                links:
                  self: /data_files/57?version=1
                meta:
                  created: '2018-04-27T14:43:12.273Z'
                  modified: '2018-04-27T14:43:13.177Z'
                  api_version: '0.1'
                  uuid: 3bf3e270-2c57-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /data_files/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The data file to fetch
      type: integer
      default: 1152
    get:
      operationId: readDataFile
      description: |
        <a name="readDataFile"></a>A **readDataFile** operation will return information about the <a href="#dataFiles">DataFile</a> identified, provided the authenticated user has access to it.

        The **readDataFile** operation returns a JSON object representing the <a href="#dataFiles">**DataFile**</a>.
      parameters:
      - name: version
        in: query
        required: true
        description: The version of the data file to get
        type: integer
        default: 2
      tags:
      - read
      - dataFiles
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/dataFileResponse'
          examples:
            application/json:

              data:

                id: '1152'

                type: data_files

                attributes:

                  tags:

                  title: G3PDH Kinetic data

                  description: Experimental data set for the kinetic characterisation
                    of G3PDH

                  license:

                  latest_version: 2

                  versions:

                  - version: 1

                    revision_comments:

                    url: https://fairdomhub.org/data_files/1152?version=1

                  - version: 2

                    revision_comments:

                    url: https://fairdomhub.org/data_files/1152?version=2

                  version: 2

                  revision_comments:

                  created_at: '2014-12-08T17:25:32.000Z'

                  updated_at: '2015-05-07T12:16:24.000Z'

                  content_blobs:

                  - original_filename: G3PDH_kinetics-SEEK.xls

                    url:

                    md5sum: 54470f803b4e5348096c63bdda458ae6

                    sha1sum: 9a88d3c402fe060453001ac3d82974ee91f4095f

                    content_type: application/vnd.ms-excel

                    link: https://fairdomhub.org/data_files/1152/content_blobs/1831

                    size: 100864

                relationships:

                  creators:

                    data:

                    - id: '411'

                      type: people

                    - id: '49'

                      type: people

                  submitter:

                    data:

                    - id: '411'

                      type: people

                  people:

                    data:

                    - id: '49'

                      type: people

                    - id: '411'

                      type: people

                  projects:

                    data:

                    - id: '17'

                      type: projects

                  investigations:

                    data:

                    - id: '56'

                      type: investigations

                  studies:

                    data:

                    - id: '118'

                      type: studies

                  assays:

                    data:

                    - id: '253'

                      type: assays

                  publications:

                    data: []

                  events:

                    data: []

                links:

                  self: /data_files/1152?version=2

                meta:

                  created: '2014-08-11T06:32:28.000Z'

                  modified: '2015-03-03T09:54:27.000Z'

                  api_version: '0.1'

                  uuid: d6a8a3a9-44da-46c9-a36e-f6fad19de5f7

                  base_url: https://fairdomhub.org

              jsonapi:

                version: '1.0'

    patch:
      operationId: updateDataFile
      description: |
        <a name="updateDataFile"></a>An **updateDataFile** operation will modify the information held about the specified <a href="#dataFiles">**DataFile**</a>. This operation is only available if the authenticated user has access to the <a href="#dataFiles">**DataFile**</a>.

        The **updateDataFile** operation returns a JSON object representing the modified <a href="#dataFiles">**DataFile**</a>.
      tags:
      - update
      - dataFiles
      parameters:
      - in: body
        name: data file
        description: The data file to patch
        schema:
          $ref: '#/definitions/dataFilePatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/dataFileResponse'
          examples:
            application/json:
              data:
                id: '68'
                type: data_files
                attributes:
                  policy:
                    access: manage
                    permissions: []
                  title: A Data File_62
                  description: Study of the Human Genome
                  license:
                  latest_version: 1
                  tags:
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/data_files/68?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:43:48.000Z'
                  updated_at: '2018-04-27T14:43:52.000Z'
                  content_blobs:
                  - original_filename: a_pdf_file.pdf
                    url:
                    md5sum: 565ae8a7a743c3bfd9f15c69647f5b8b
                    sha1sum: b9d2148740050b7f37975edd0fb97faa508ff767
                    content_type: application/pdf
                    link: http://localhost:3000/data_files/68/content_blobs/324
                    size: 8827
                  other_creators:
                relationships:
                  creators:
                    data:
                    - id: '1413'
                      type: people
                  submitter:
                    data:
                    - id: '1412'
                      type: people
                  people:
                    data:
                    - id: '1412'
                      type: people
                    - id: '1413'
                      type: people
                  projects:
                    data:
                    - id: '2117'
                      type: projects
                  investigations:
                    data: []
                  studies:
                    data: []
                  assays:
                    data: []
                  publications:
                    data: []
                  events:
                    data: []
                links:
                  self: /data_files/68?version=1
                meta:
                  created: '2018-04-27T14:43:48.000Z'
                  modified: '2018-04-27T14:43:49.000Z'
                  api_version: '0.1'
                  uuid: 51b0b600-2c57-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteDataFile
      description: |
        <a name="deleteDataFile"></a>A **deleteDataFile** operation will delete the specified <a href="#dataFiles">**DataFile**</a>, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - dataFiles
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /{asset_types}/{id}/content_blobs/{blob_id}:
    parameters:
    - name: asset_types
      in: path
      required: true
      description: The typs of asset being fetched, uploaded or downloaded
      type: string
      default: data_files
    - name: id
      in: path
      required: true
      description: The asset content to fetch, upload or download
      type: integer
      default: 1152
    - name: blob_id
      in: path
      required: true
      description: The asset identifier to fetch, upload or download
      type: integer
      default: 1831
    put:
      operationId: uploadAssetContent
      description: |-
        <a name="uploadAssetContent"></a>Upload the message body into the blob of the identified asset
      consumes:
      - application/octet-stream
      produces:
      - '*/*'
      tags:
      - upload
      - contentBlobs
      parameters:
      - in: body
        name: blobContent
        description: The blob content to fetch, upload or download
        schema:
          type: string
          format: binary
      responses:
        '200':
          description: Success
    get:
      operationId: readContentBlob
      description: |
        <a name="readContentBlob"></a>A **readContentBlob** operation will return information about the <a href="#contentBlobs">ContentBlob</a> identified, provided the authenticated user has access to it.

        The **readContentBlob** operation may return
        * a JSON object representing the <a href="#contentBlobs">**ContentBlob**</a>.
        * a csv file, if **text/csv** is specified in the **Accept** header and if the content blob can be converted into a csv or is already a csv
      produces:
      - application/json
      - text/csv
      tags:
      - read
      - contentBlobs
      responses:
        <<: *ReadType
        '200':
          description: Success
          schema:
            $ref: '#/definitions/contentBlobResponse'
  /{asset_types}/{id}/content_blobs/{blob_id}/download:
    parameters:
    - name: asset_types
      in: path
      required: true
      description: The typs of asset being downloaded
      type: string
      default: data_files
    - name: id
      in: path
      required: true
      description: The asset to fetch
      type: integer
      default: 1152
    - name: blob_id
      in: path
      required: true
      description: The blob to download
      type: integer
      default: 1831
    get:
      operationId: downloadAssetContent
      description: |-
        <a name="downloadAssetContent"></a>Return the identified content of the identified asset
      produces:
      - '*/*'
      tags:
      - download
      - contentBlobs
      responses:
        <<: *ReadType
        '200':
          description: Success
  /documents:
    get:
      operationId: listDocuments
      description: |
        <a name="listDocuments"></a>The **listDocuments** operation returns a JSON object containing a list of all the <a href="#documents">**Documents**</a> to which the authenticated user has accesss.
      tags:
      - list
      - documents
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/documentsResponse'
          examples:
            application/json:
              data:
              - id: '1'
                type: documents
                attributes:
                  title: OpenAPI Specification | Swagger
                links:
                  self: /documents/1
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://testing.sysmo-db.org
                api_version: '0.1'
    post:
      operationId: createDocument
      description: |
        <a name="createDocument"></a>A **createDocument** operation creates a new instance of a <a href="#documents">**Document**</a>. The instance is populated with the content of the body of the API call.

        The **createDocument** operation returns a JSON object representing the newly created <a href="#documents">**Document**</a> and redirects to its URL.
      tags:
      - create
      - documents
      parameters:
      - in: body
        name: document
        description: The document to create.
        schema:
          $ref: '#/definitions/documentPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/documentResponse'
          examples:
            application/json:
              data:
                id: '14'
                type: documents
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource:
                        id: '359'
                        type: projects
                      access: edit
                  title: A Maximal Document
                  description: This is the description
                  license: CC-BY-4.0
                  latest_version: 1
                  tags:
                  - tag1
                  - tag2
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/documents/14?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:26:09.000Z'
                  updated_at: '2018-04-27T14:26:09.000Z'
                  content_blobs:
                  - original_filename: a_pdf_file.pdf
                    url:
                    md5sum:
                    sha1sum:
                    content_type: application/pdf
                    link: http://localhost:3000/documents/14/content_blobs/48
                    size:
                  other_creators: John Smith, Jane Smith
                relationships:
                  creators:
                    data:
                    - id: '234'
                      type: people
                  submitter:
                    data:
                    - id: '233'
                      type: people
                  people:
                    data:
                    - id: '233'
                      type: people
                    - id: '234'
                      type: people
                  projects:
                    data:
                    - id: '359'
                      type: projects
                  investigations:
                    data:
                    - id: '51'
                      type: investigations
                  studies:
                    data:
                    - id: '51'
                      type: studies
                  assays:
                    data:
                    - id: '38'
                      type: assays
                  publications:
                    data: []
                links:
                  self: /documents/14?version=1
                meta:
                  created: '2018-04-27T14:26:09.713Z'
                  modified: '2018-04-27T14:26:10.078Z'
                  api_version: '0.1'
                  uuid: da7cb1a0-2c54-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /documents/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The document to fetch
      type: integer
      default: 1152
    get:
      operationId: readDocument
      description: |
        <a name="readDocument"></a>A **readDocument** operation will return information about the <a href="#documents">Document</a> identified, provided the authenticated user has access to it.

        The **readDocument** operation returns a JSON object representing the <a href="#documents">**Document**</a>.
      tags:
      - read
      - documents
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/documentResponse'
          examples:
            application/json:
              data:
                id: '14'
                type: documents
                attributes:
                  policy:
                    access: download
                    permissions:
                    - resource_type: projects
                      resource_id: '359'
                      access: edit
                  title: A Maximal Document
                  description: This is the description
                  license: CC-BY-4.0
                  latest_version: 1
                  tags:
                  - tag1
                  - tag2
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/documents/14?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:26:09.000Z'
                  updated_at: '2018-04-27T14:26:09.000Z'
                  content_blobs:
                  - original_filename: a_pdf_file.pdf
                    url:
                    md5sum:
                    sha1sum:
                    content_type: application/pdf
                    link: http://localhost:3000/documents/14/content_blobs/48
                    size:
                  other_creators: John Smith, Jane Smith
                relationships:
                  creators:
                    data:
                    - id: '234'
                      type: people
                  submitter:
                    data:
                    - id: '233'
                      type: people
                  people:
                    data:
                    - id: '233'
                      type: people
                    - id: '234'
                      type: people
                  projects:
                    data:
                    - id: '359'
                      type: projects
                  investigations:
                    data:
                    - id: '51'
                      type: investigations
                  studies:
                    data:
                    - id: '51'
                      type: studies
                  assays:
                    data:
                    - id: '38'
                      type: assays
                  publications:
                    data: []
                links:
                  self: /documents/14?version=1
                meta:
                  created: '2018-04-27T14:26:09.713Z'
                  modified: '2018-04-27T14:26:10.078Z'
                  api_version: '0.1'
                  uuid: da7cb1a0-2c54-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    patch:
      operationId: updateDocument
      description: |
        <a name="updateDocument"></a>An **updateDocument** operation will modify the information held about the specified <a href="#documents">**Document**</a>. This operation is only available if the authenticated user has access to the <a href="#documents">**Document**</a>.

        The **updateDocument** operation returns a JSON object representing the modified <a href="#documents">**Document**</a>.
      tags:
      - update
      - documents
      parameters:
      - in: body
        name: document
        description: The document to patch.
        schema:
          $ref: '#/definitions/documentPatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/documentResponse'
          examples:
            application/json:
              data:
                id: '25'
                type: documents
                attributes:
                  policy:
                    access: manage
                    permissions: []
                  title: This Document
                  description: A report about the thing that happened
                  license:
                  latest_version: 1
                  tags:
                  versions:
                  - version: 1
                    revision_comments:
                    url: http://localhost:3000/documents/25?version=1
                  version: 1
                  revision_comments:
                  created_at: '2018-04-27T14:27:09.000Z'
                  updated_at: '2018-04-27T14:27:15.000Z'
                  content_blobs:
                  - original_filename: file-17
                    url:
                    md5sum: 443130e29a37e34e439a5b391efd1d42
                    sha1sum: 3da9d44ef741dda15ef1194e949f6c3b02c597bd
                    content_type: application/pdf
                    link: http://localhost:3000/documents/25/content_blobs/59
                    size: 9
                  other_creators:
                relationships:
                  creators:
                    data:
                    - id: '262'
                      type: people
                  submitter:
                    data:
                    - id: '261'
                      type: people
                  people:
                    data:
                    - id: '261'
                      type: people
                    - id: '262'
                      type: people
                  projects:
                    data:
                    - id: '400'
                      type: projects
                  investigations:
                    data: []
                  studies:
                    data: []
                  assays:
                    data: []
                  publications:
                    data: []
                links:
                  self: /documents/25?version=1
                meta:
                  created: '2018-04-27T14:27:09.000Z'
                  modified: '2018-04-27T14:27:12.000Z'
                  api_version: '0.1'
                  uuid: fde626a0-2c54-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteDocument
      description: |
        <a name="deleteDocument"></a>A **deleteDocument** operation will delete the specified <a href="#documents">**Document**</a>, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - documents
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /events:
    get:
      operationId: listEvents
      description: |
        <a name="listEvents"></a>The **listEvents** operation returns a JSON object containing a list of all the <a href="#events">**Events**</a> to which the authenticated user has accesss.
      tags:
      - list
      - events
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventsResponse'
          examples:
            application/json:

              data:

              - id: '1'

                type: events

                attributes:

                  title: SysMO Conference 2011

                links:

                  self: /events/1

              - id: '2'

                type: events

                attributes:

                  title: 'All Hands SySMO PALs  meeting '

                links:

                  self: /events/2

              - id: '4'

                type: events

                attributes:

                  title: SilicoTryp student & post-doc meeting

                links:

                  self: /events/4

              - id: '5'

                type: events

                attributes:

                  title: Bacell-meeting 1109-Groningen

                links:

                  self: /events/5

              jsonapi:

                version: '1.0'

              meta:

                base_url: https://fairdomhub.org

                api_version: '0.1'

    post:
      operationId: createEvent
      description: |
        <a name="createEvent"></a>A **createEvent** operation creates a new instance of a <a href="#events">**Event**</a>. The instance is populated with the content of the body of the API call.

        The **createEvent** operation returns a JSON object representing the newly created <a href="#events">**Event**</a> and redirects to its URL.
      tags:
      - create
      - events
      parameters:
      - in: body
        name: sop
        description: The event to create.
        schema:
          $ref: '#/definitions/eventPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/eventResponse'
          examples:
            application/json:
              data:
                id: '3'
                type: events
                attributes:
                  policy:
                    access: view
                    permissions:
                    - resource:
                        id: '242'
                        type: projects
                      access: edit
                  title: A Maximal Event
                  description: This is the description
                  url: http://www.example.com/events/123
                  address: Sofienstr 2
                  city: Heidelberg
                  country: Germany
                  start_date: '2017-01-01T00:20:00.000Z'
                  end_date: '2017-01-01T00:22:00.000Z'
                relationships:
                  submitter:
                    data:
                    - id: '177'
                      type: people
                  projects:
                    data:
                    - id: '242'
                      type: projects
                  data_files:
                    data:
                    - id: '4'
                      type: data_files
                  publications:
                    data:
                    - id: '4'
                      type: publications
                  presentations:
                    data:
                    - id: '1'
                      type: presentations
                links:
                  self: /events/3
                meta:
                  created: '2018-04-27T14:25:05.300Z'
                  modified: '2018-04-27T14:25:05.300Z'
                  api_version: '0.1'
                  uuid: b410eb70-2c54-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /events/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The event to fetch
      type: integer
      default: 75
    get:
      operationId: readEvent
      description: |
        <a name="readEvent"></a>A **readEvent** operation will return information about the <a href="#events">Event</a> identified, provided the authenticated user has access to it.

        The **readEvent** operation returns a JSON object representing the <a href="#events">**Event**</a>.
      tags:
      - read
      - events
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventResponse'
          examples:
            application/json:

              data:

                id: '75'

                type: events

                attributes:

                  title: CropClock Kick-off Meeting, November 2014

                  description: "The kickoff meeting of CropClock team took place in\
                    \ November 12,\n2014 at the Max Plank Institute (MPIPZ, http://www.mpipz.mpg.de/en),\
                    \ Kologne,\nGermany. The goal for this meeting was for the members\
                    \ of the various teams\nto get acquainted with each other\xE2\u20AC\
                    \u2122s expertise and to discuss the following items:\n1) Logistics\
                    \ about the project start,  2) Data that need to be shared,  3)\
                    \ Matlab\ncode that needs to shared among the teams. \r\nThe initial\
                    \ plan of action for\ndata sharing was also laid out."

                  url: http://www.mpipz.mpg.de/en

                  address:

                  city: Kologne

                  country: Germany

                  start_date: '2014-11-12T00:00:00.000Z'

                  end_date: '2014-11-12T00:00:00.000Z'

                relationships:

                  projects:

                    data:

                    - id: '26'

                      type: projects

                  data_files:

                    data: []

                  publications:

                    data: []

                  presentations:

                    data: []

                links:

                  self: /events/75

                meta:

                  created: '2017-04-24T09:49:00.000Z'

                  modified: '2017-04-26T07:43:42.000Z'

                  api_version: '0.1'

                  uuid: 2adac480-0b01-0135-8501-549f350973c0

                  base_url: https://fairdomhub.org

              jsonapi:

                version: '1.0'

    patch:
      operationId: updateEvent
      description: |
        <a name="updateEvent"></a>An **updateEvent** operation will modify the information held about the specified <a href="#events">**Event**</a>. This operation is only available if the authenticated user has access to the <a href="#events">**Event**</a>.

        The **updateEvent** operation returns a JSON object representing the modified <a href="#events">**Event**</a>.
      tags:
      - update
      - events
      parameters:
      - in: body
        name: sop
        description: The event to update.
        schema:
          $ref: '#/definitions/eventPatch'
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/eventResponse'
          examples:
            application/json:
              data:
                id: '14'
                type: events
                attributes:
                  policy:
                    access: manage
                    permissions: []
                  title: An Event
                  description: A thing that will happen
                  url:
                  address:
                  city:
                  country:
                  start_date: '2018-04-27T14:24:49.000Z'
                  end_date: '2018-04-28T14:24:49.000Z'
                relationships:
                  submitter:
                    data:
                    - id: '205'
                      type: people
                  projects:
                    data:
                    - id: '310'
                      type: projects
                  data_files:
                    data: []
                  publications:
                    data: []
                  presentations:
                    data: []
                links:
                  self: /events/14
                meta:
                  created: '2018-04-27T14:25:29.000Z'
                  modified: '2018-04-27T14:25:30.000Z'
                  api_version: '0.1'
                  uuid: c2d344b0-2c54-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteEvent
      description: |
        <a name="deleteEvent"></a>A **deleteEvent** operation will delete the specified <a href="#events">**Event**</a>, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - events
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /institutions:
    get:
      operationId: listInstitutions
      description: |
        <a name="listInstitutions"></a>The **listInstitutions** operation returns a JSON object containing a list of all the <a href="#institutions">**Institutions**</a> to which the authenticated user has accesss.
      tags:
      - list
      - institutions
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/institutionsResponse'
          examples:
            application/json:
              data:
              - id: '1'
                type: institutions
                attributes:
                  title: Institute of Physiology Academy of Sciences
                links:
                  self: /institutions/1
              - id: '2'
                type: institutions
                attributes:
                  title: Autonomous University of Barcelona
                links:
                  self: /institutions/2
              - id: '3'
                type: institutions
                attributes:
                  title: CSIC Granada
                links:
                  self: /institutions/3
              jsonapi:
                version: '1.0'
              meta:
                base_url: https://fairdomhub.org
                api_version: '0.1'
    post:
      operationId: createInstitution
      description: |
        <a name="createInstitution"></a>A **createInstitution** operation creates a new instance of a <a href="#institutions">**Institution**</a>. The instance is populated with the content of the body of the API call.

        The **createInstitution** operation returns a JSON object representing the newly created <a href="#institutions">**Institution**</a> and redirects to its URL.
      tags:
      - create
      - institutions
      parameters:
      - in: body
        name: institution
        description: The institution to create.
        schema:
          $ref: '#/definitions/institutionPost'
      responses:
        <<: *CreateType
        '201':
          description: Created
          schema:
            $ref: '#/definitions/institutionResponse'
          examples:
            application/json:
              data:
                id: '1063'
                type: institutions
                attributes:
                  avatar:
                  title: 'Post An Institution: 886 Max'
                  country: Brazil
                  country_code: br
                  city: Manchester
                  address: Manchester Centre for Integrative Systems Biology, MIB/CEAS,
                    The University of Manchester Faraday Building, Sackville Street,
                    Manchester M60 1QD United Kingdom
                  web_page: http://www.mib.ac.uk/
                relationships:
                  people:
                    data: []
                  projects:
                    data: []
                links:
                  self: /institutions/1063
                meta:
                  created: '2018-04-27T14:38:14.497Z'
                  modified: '2018-04-27T14:38:14.497Z'
                  api_version: '0.1'
                  uuid: 8a81b740-2c56-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
  /institutions/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The institution to fetch, patch or delete
      type: integer
      default: 142
    get:
      operationId: readInstitution
      description: |
        <a name="readInstitution"></a>A **readInstitution** operation will return information about the <a href="#institutions">Institution</a> identified, provided the authenticated user has access to it.

        The **readInstitution** operation returns a JSON object representing the <a href="#institutions">**Institution**</a>.
      tags:
      - read
      - institutions
      responses:
        <<: *ReadType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/institutionResponse'
          examples:
            application/json:
              data:
                id: '70'
                type: institutions
                attributes:
                  avatar:
                  title: Some university
                  country: FR
                  city:
                  address:
                  web_page:
                relationships:
                  people:
                    data: []
                  projects:
                    data: []
                links:
                  self: /institutions/70
                meta:
                  created: '2018-04-12T09:46:10.695Z'
                  modified: '2018-04-12T09:46:10.695Z'
                  api_version: '0.1'
                  uuid: 414f8a70-2064-0136-17ed-54bed9b4c528
                  base_url: https://testing.sysmo-db.org
              jsonapi:
                version: '1.0'
    patch:
      operationId: updateInstitution
      description: |
        <a name="updateInstitution"></a>An **updateInstitution** operation will modify the information held about the specified <a href="#institutions">**Institution**</a>. This operation is only available if the authenticated user has access to the <a href="#institutions">**Institution**</a>.

        The **updateInstitution** operation returns a JSON object representing the modified <a href="#institutions">**Institution**</a>.
      parameters:
      - in: body
        name: institution
        description: The data with which to update the institution.
        schema:
          $ref: '#/definitions/institutionPatch'
      tags:
      - update
      - institutions
      responses:
        <<: *UpdateType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/institutionResponse'
          examples:
            application/json:
              data:
                id: '1094'
                type: institutions
                attributes:
                  avatar:
                  title: Patched institution
                  country: Germany
                  country_code: de
                  city: Heidelberg
                  address: NoName street 23
                  web_page: http://my.Institution.com
                relationships:
                  people:
                    data: []
                  projects:
                    data: []
                links:
                  self: /institutions/1094
                meta:
                  created: '2018-04-27T14:38:21.000Z'
                  modified: '2018-04-27T14:38:23.245Z'
                  api_version: '0.1'
                  uuid: 8e95da20-2c56-0136-ec2f-08002734982f
                  base_url: http://localhost:3000
              jsonapi:
                version: '1.0'
    delete:
      operationId: deleteInstitution
      description: |
        <a name="deleteInstitution"></a>A **deleteInstitution** operation will delete the specified <a href="#institutions">**Institution**</a>, if the authenticated user has sufficient access to it.
      tags:
      - delete
      - institutions
      responses:
        <<: *DeleteType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ok'

  /investigations:
    get:
      operationId: listInvestigations
      description: |
        <a name="listInvestigations"></a>The **listInvestigations** operation returns a JSON object containing a list of all the <a href="#investigations">**Investigations**</a> to which the authenticated user has accesss.
      tags:
      - list
      - investigations
      responses:
        <<: *ListType
        '200':
          description: OK
          schema:
            $ref: '#/definitions/investigationsResponse'
          examples:
            application/json:

              data:

              - id: '1'

                type: investigations

                attributes:

                  title: Creating data sheet template for 'omics data

                links:

                  self: /investigations/1

              - id: '2'

                type: investigations

                attributes:

                  title: The transition from growing to non-growing Bacillus subtilis
                    cells

                links:

                  self: /investigations/2

              - id: '3'

                type: investigations

[...]
