<div>
  <h1>Contact</h1>
  <p><strong>For information on the BioVeL project</strong><br><a target="_blank" href="mailto:contact@biovel.eu">contact@biovel.eu</a></p>
  <p><strong>Service support center<br></strong><a target="_blank" href="mailto:support@biovel.eu">support@biovel.eu</a></p>
  <p><strong>Communication and outreach<br></strong><a target="_blank" href="mailto:elisabeth.paymal@fondationbiodiversite.fr">Elisabeth Paymal</a></p>
</div>

