Here explain
    -what are the related items and what will happen next
    -what items from the previous step will be affected

<% form_tag :action => :publish_related_items do %>
    <div style="display:none">
      <% @items_for_publishing.each do |item| %>
          <%= render :partial => "assets/publishing/options_for_publishing", :object => item, :locals => {:html_classes => "publishing_options", :checked => true} -%>
          <br/>
      <% end %>
    </div>
    <%
       resource = (controller_name == 'people') ? current_user.person : @asset
    %>
    <%= submit_tag "OK" -%>
    <%= submit_tag  "Skip", :onclick => "this.form.action='check_gatekeeper_required'" -%>
    <%= link_to "Cancel", polymorphic_path(resource) -%>
<% end %>

