<div class="show_basic">
  <br>
  <div class="box_infotext">
    <ul style="padding-left:1em;">
      <li>
        Here explain
        -what are the related items and what will happen next
        -what items from the previous step will be affected
      </li>
    </ul>

  </div>
  <% form_tag :action => :publish_related_items do %>
        <% @items_for_publishing.each do |item| %>
            <%= check_box_tag publishing_item_param(item),1,true,{:style=>'display:none;'} %>
            <br/>
        <% end %>
      <%
         resource = (controller_name == 'people') ? current_user.person : @asset
      %>
      <br/>
      <center>
          <%= submit_tag "OK" -%>
          <%= submit_tag "Skip", :onclick => "this.form.action='check_gatekeeper_required'" -%>
          <%= link_to "Cancel", polymorphic_path(resource) -%>
      </center>
  <% end %>
</div>

