$bootstrap-sass-asset-helper: true;
@import 'theme'; /* Customize colours etc. here */
@import 'bootstrap/variables';

$grid-float-breakpoint: $screen-sm-max + 1;
$grid-float-breakpoint-max: $grid-float-breakpoint - 1;

$info-box-colour: #fffeda;
$seek-button-colour: #f0f4ff;

// Asset colours - Replicated in app/helpers/i_s_a_helper.rb
$isa-bg-Programme: #90A8FF;
$isa-bg-Project: #85D6FF;
$isa-bg-Investigation: #D6FF00;
$isa-bg-Study: #96ED29;
$isa-bg-Assay: #52D155;
$isa-bg-Publication: #CBB8FF;
$isa-bg-DataFile: #FFC382;
$isa-bg-Document: #D5C8A8;
$isa-bg-Model: #F9EB57;
$isa-bg-Sop: #CCE5FF;
$isa-bg-Sample: #FFF2D5;
$isa-bg-Presentation: #FFB2E4;
$isa-bg-Event: #FF918E;
$isa-bg-Workflow: #ADCDDC;
$isa-bg-Collection: #ABEACB;
$isa-bg-HiddenItem: #D3D3D3;
