/* Customize colours etc. here */
@import 'bootstrap/variables';

$navbar-default-bg: #f8f8f8;
$navbar-default-link-color: #777;
$navbar-default-link-active-color: #555;
$navbar-default-link-hover-color: #333;

$grid-float-breakpoint: $screen-sm-max;
$grid-float-breakpoint-max: $grid-float-breakpoint - 1;

$container-large-desktop: 1400px + $grid-gutter-width;
$container-lg: $container-large-desktop;
