div.admin_tasks ul{
    margin-bottom: 1em;
}

div.admin_tasks ul li{
    margin-left: 1em;
}

table#storage-stats tr,table#storage-stats td, table#storage-stats th {
    border: 1px solid #555;
    padding: 5px 5px;
}

table#storage-stats th.storage-name {
    min-width: 40em;
}

table#storage-stats tr.programme-storage-stat {
    font-style: italic;
    font-weight: bolder;
}

table#storage-stats tr.project-storage-stat td:first-child {
    padding-left: 2em;
}

table#storage-stats {
    min-width: 55em;
    border: 1px solid #222;
}

table#storage-stats thead {
    font-weight: bolder;
}
