/* ...
*= require yui-grids
*= require bootstrap_include
*= require gadgets
*= require acts_as_taggable_stylesheet
*= require styles
*= require favourites
*= require fast_auto_complete
*= require redbox
*= require autocompleter_advanced
*= require savage_beast/forums
*= require site_announcements
*= require tabnav
*= require top_menu
*= require dynamic_menu
*= require easytabs
*= require taverna_player/application
*= require projects
*= require jquery.bxslider
*= require jws
*= require images
*= require landing_page
*= require asset_report
*= require bives
*= require full_scroll_table
*= require match_making
*= require modified_exhibit
*= require faceted_browsing
*= require project_folders
*= require publishing
*= require settings
*= require new_styles
*= require jquery-ui-drag-drop
*= require jquery.ui.resizable
*= require jquery.ui.datepicker
*= require bootstrap-typeahead
*= require bootstrap-tagsinput
*= require bootstrap-multiselect
*= require organisms
*= require samples
*= require DataTables-1.10.11/dataTables.bootstrap
*= require DataTables-1.10.11/select.bootstrap
*= require DataTables-1.10.11/buttons.bootstrap
*= require jstree
*= require openbis
*= require eonasdan-bootstrap-datetimepicker
*= require cytoscape_isa_graph
*/
