/* ...
*= require yui-grids
*= require bootstrap_include
*= require gadgets
*= require acts_as_taggable_stylesheet
*= require styles
*= require favourites
*= require fast_auto_complete
*= require autocompleter_advanced
*= require site_announcements
*= require tabnav
*= require easytabs
*= require projects
*= require jquery.bxslider
*= require images
*= require landing_page
*= require asset_report
*= require bives
*= require full_scroll_table
*= require match_making
*= require faceted_browsing
*= require project_folders
*= require publishing
*= require sharing_peremission_change
*= require settings
*= require new_styles
*= require jquery-ui
*= require bootstrap-typeahead
*= require bootstrap-tagsinput
*= require bootstrap-multiselect
*= require organisms
*= require human_diseases
*= require samples
*= require DataTables-1.10.11/dataTables.bootstrap
*= require DataTables-1.10.11/select.bootstrap
*= require DataTables-1.10.11/buttons.bootstrap
*= require jstree
*= require openbis
*= require eonasdan-bootstrap-datetimepicker
*= require cytoscape_isa_graph
*= require multi-step-wizard.css.erb
*= require lightbox2
*= require simplemde-markdown-editor-1.11.2/simplemde.min
*= require github-markdown-css/github-markdown
*= require single_page
*/
