/* ...
*= require yui-grids
*= require bootstrap_include
*= require my_exp
*= require gadgets
*= require acts_as_taggable_stylesheet
*= require styles
*= require favourites
*= require fast_auto_complete
*= require redbox
*= require autocompleter_advanced
*= require alphabetical_pagination
*= require savage_beast/forums
*= require site_announcements
*= require tabnav
*= require top_menu
*= require dynamic_menu
*= require batch_upload
*= require easytabs
*= require taverna_player/application
*= require data_tables
*= require projects
*= require jquery.bxslider
*= require jws
*= require images
*= require landing_page
*= require asset_report
*= require biosamples
*= require bives
*= require full_scroll_table
*= require match_making
*= require modified_exhibit
*= require faceted_browsing
*= require project_folders
*= require publishing
*= require settings
*= require new_styles
*= require jquery-ui-drag-drop
*= require bootstrap-tagsinput
*/
