/* ...
*= require bootstrap_include
*= require acts_as_taggable_stylesheet
*= require styles
*= require favourites
*= require site_announcements
*= require projects
*= require images
*= require landing_page
*= require asset_report
*= require bives
*= require project_folders
*= require publishing
*= require sharing
*= require jquery-ui
*= require bootstrap-typeahead
*= require bootstrap-tagsinput
*= require bootstrap-multiselect
*= require organisms
*= require human_diseases
*= require samples
*= require DataTables-1.10.11/dataTables.bootstrap
*= require DataTables-1.10.11/select.bootstrap
*= require DataTables-1.10.11/buttons.bootstrap
*= require jstree
*= require openbis
*= require eonasdan-bootstrap-datetimepicker
*= require isa_graph
*= require multi-step-wizard
*= require lightbox2
*= require simplemde-markdown-editor-1.11.2/simplemde.min
*= require github-markdown-css/github-markdown
*= require single_page
*= require home_page
*= require help_documents
*= require indexes
*= require dashboard
*= require git
*= require associations
*= require admin
*/
