
div.report_tab_content {
    width: 98%;
    background-color: #F0F0F0;
    margin-top: 6px;
    padding: 1em;
    border: #999 solid 1px;
    border-collapse: collapse;
}

div.asset_report_container {
    background-color: white;
    border: 1px solid #999;
    padding: 1em;
    margin-bottom: 1em;
}
div.report_selection {
    padding: 1em;
}

table.asset_report_table {
    border: 1px black solid;
    width: 100%;
}

table.asset_report_table tr {
    border: 1px black solid;
}

table.asset_report_table th {
    border: 1px black solid;
}

table.asset_report_table td {
    border: 1px black solid;
    padding: 0px;
    margin: 0px;
    height: 3em;
}

table.inner_linked_assets {
    width: 100%;
    height: 100%;
}

table.inner_linked_assets tr {
    border: 0px;
}

table.inner_linked_assets td {
    border: 0px;
    vertical-align: middle;
}

table.inner_linked_assets tr.bordered td {
    border-bottom: 1px solid #999;
}

table.inner_linked_assets tr.notpublic {
    background-color: #fdd;
}

span.cell_content {
    margin: 5px 5px 5px 5px;
}