@import 'variables';

ul.associations-list {
  padding-left: 5px;
  margin-bottom: 0;
}

li.association-list-item {
  white-space: normal;
  list-style-type: none;
  list-style-position: inside;
}

a.remove-association {
  text-decoration: none;
  vertical-align: middle;
  color: $brand-danger !important;
  &:hover {
    text-decoration: none;
  }
}

.association-candidate-list {
  border: 1px solid $list-group-border;
  max-height: 200px;
  overflow-y: scroll;

  .list-group-item {
    border-radius: 0;
  }
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  background-color: #eee;
  z-index: 2;
  
  .btn {
    margin-bottom: 5px;
  }
}