div.mint_doi_preview {
    margin-left: 1em;
}

div.minted_doi {
    margin-left: 1em;
}

div.metadata {
    margin-left: 1em;
    padding-bottom: 2em;
}

div.metadata span.description{
    padding-bottom: 0.5em;
    display:block;
    max-width: 95%;
    font-size: smaller;
    color: #777;
}

div.metadata table.field{
    margin-left: 2em;
}

div.metadata div.field{
    margin-left: 2em;
}

div.metadata div.add_icon{
    margin-left: 2.5em;
}

div.metadata span.label{
    font-weight: bold;
}

