.separator {
    border-bottom: 1px solid;
    border-image-source: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border-image-slice: 1;
    width: 100%;
    left: 0;
    color: #aaa;
    font-size: 10px;
    font-weight: normal;
    float: right;
    text-align: right;
    padding-right: 35px;
    position: absolute;
    pointer-events: none
}

.big_plus {
    color: #555;
    border: none;
    background-color: white;
    transition: all .2s ease-in-out;
    font-size: 22px;
    cursor: pointer;
    top: 4px;
}

.treeaction,
.treeaction:visited {
    color: #555;
    margin-left: 3px;
    padding: 2px;
    font-weight: bold;
    font-size: 10px;
    border: none;
    background-color: white;
    transition: all .2s ease-in-out;
    text-decoration: none !important;
    float: right;
    margin-right: 2px;
    top: 4px;
}

.treeaction:hover,
.big_plus:hover {
    color: green;
    text-decoration: none;
    transform: scale(1.5)
}

.project_treeview {
    border: #ddd 1px solid;
    border-radius: 5px;
    overflow-x: scroll;
    min-height: 500px
}

.simpleForm {
    background-color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 15px;
    border: #ddd solid 1px
}

.fileManager li {
    padding-bottom: 10px;
    text-align: center;
    width: 110px;
    word-wrap: break-word;
    display: table-cell;
    border-radius: 5px;
    padding: 5px;
}

.fileManager li img {
    margin-right: auto;
    margin-left: auto;
    max-width: 75px
}

.fileManager li a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.fileManager {
    display: table-row;
    list-style: none;
    font-size: 14px;
    /* font-family: 'Archivo Narrow', sans-serif; */
    padding: 0;
}

.tableXs {
    background-color: white;
}

.tableXs td {
    border: 1px #ddd solid
}

.tableXs th {
    background-color: #000;
    color: white;
    text-align: center;
    white-space: nowrap;
    font-size: 11px
}

.tableXs tr:nth-child(even) {
    background: aliceblue
}

.tableXs tr:nth-child(odd) {
    background: white
}

.tableXs th:first-child {
    border-top-left-radius: 5px
}

.tableXs th:last-child {
    border-top-right-radius: 5px
}

.tableXs td {
    border-radius: 5px
}

.file_selected {
    background-color: aliceblue;
    color: white
}

.del_file {
    position: absolute;
    visibility: hidden;
    top: 10px;
    left: 5px;
    color: #dedfe0;
    cursor: pointer;
}

.del_file:hover {
    color: red;
}

.file {
    position: relative
}

.file:hover .del_file {
    visibility: visible;
}

.preDefinedCols {
    width: 200px;
    height: 270px;
    border-radius: 5px;
    border: 1px solid #ddd;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.1);
}

.arrow_box {
    width: 200px;
    height: auto;
    position: absolute;
    background: white;
    border: 4px solid #ddd;
    border-radius: 5px;
}

.arrow_box:after,
.arrow_box:before {
    right: 100%;
    top: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-right-color: white;
    border-width: 10px;
    margin-top: -10px;
}

.arrow_box:before {
    border-right-color: #ddd;
    border-width: 16px;
    margin-top: -16px;
}

.disabledMenu {
    pointer-events: none;
    opacity: 0.4 !important;
}

.bcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
}


.bcrumb li a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #000634;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #000634;
    position: relative;
    display: block;
    float: left;
    width:25%;
    text-align:center
}

.bcrumb li a::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #000634;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.bcrumb li a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:first-child a {
  
}

.bcrumb li:nth-child(2) a {
    background: #346090
}

.bcrumb li:nth-child(2) a:after {
    border-left-color: #346090
}

.bcrumb li:nth-child(3) a {
    background: #9cbede
}

.bcrumb li:nth-child(3) a:after {
    border-left-color: #9cbede
}

.bcrumb li:nth-child(4) a {
    background: #cbe2f7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
}

.bcrumb li:nth-child(4) a:after {
    border: none
}

.bcrumb li a:hover {
    cursor: default
}

.bcrumb li a:hover:after {
    cursor: default
}

.small_list {
    margin-bottom: 10px;
    max-height: 75px;
    overflow-y: scroll;
    font-size: 9px;
    border-radius: 3px;
    border: soloid #aaa 1px
}

.pgclose {
    position: absolute;
    top: 5px;
    right: 5px
}

.workflowPopup input {
    font-size: 12px
}

.workflowPopup {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    border-radius: 5px;
    border: 2px solid #bbb;
    z-Index: 999;
    font-size: 12px;
    -webkit-box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
}

.workflowPopup select {
    font-size: 12px;
    max-width: 150px
}

.workflowPopup table {
    border-spacing: 5px;
    border-collapse: separate;
}

.cdiv {
    float: left
}

.cdiv label {
    display: block;
}

.badge {
    transition: all 200ms ease-in-out;
}

#investigation_contents,
#study_contents,
#assay_contents {
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    min-height: 50em;
}