div.exhibit-viewPanel {
    margin-top : -2em;
    margin-left : 1em;
    text-align: center;
}

ul.align_new_button {
    text-align:left;
    margin-left: 1.5em;
    margin-bottom: -2em;
}

div.faceted_browsing {
    width: 100%;
    margin-left: 1em;
}