/* HELP DOCUMENT STYLES */
ul.bulleted_list li {
    list-style: disc;
    list-style-position: inside;
}

div.help_document {
    border-bottom: 1px dotted #999;
    border-top: 1px dotted #999;
    margin: 1em 0;
    padding: 1em 0;
}

div.help_document ol, div.help_document ul{
    margin: 0.5em 0em 0.5em 1em;
}

div.help_document ol li {
    list-style: decimal;
    list-style-position: inside;
}

div.help_document ul li {
    list-style: disc;
    list-style-position: inside;
}

div.help_document h1, div.help_document h2, div.help_document h3, div.help_document h4, div.help_document h5,div.help_document h6 {
    border: none;
    padding: 0;
    margin: 0.5em 0;
    color: #444;
    text-align: left;
    background: none;
    line-height: normal;
    font-weight: bold;
}

div.help_document h1 {
    font-size: 200%;
}

div.help_document h2 {
    font-size: 180%;
    margin: 0.4em 0;
}

div.help_document h3 {
    font-size: 160%;
    margin: 0.3em 0;
}

div.help_document h4 {
    font-size: 140%;
    margin: 0.2em 0;
}

div.help_document h5 {
    font-size: 120%;
    margin: 0.1em 0;
}

div.help_document h6 {
    font-size: 100%;
    margin: 0;
}

div.help_upload_box form {
    border-top: 1px dotted #ccc;
    margin-top: 5px;
}

div.help_upload_box div.image_thumbnail {
    display: inline-block;
    padding: 2px;
    border: 1px solid #999;
    text-align: center;
    margin-bottom: 3px;
}

div.help_upload_box div.image_thumbnail div.thumb {
    width: 64px;
    height: 64px;
    display: table-cell;
    vertical-align: middle;
}

#markup_toggle {
    padding: 3px;
    border: 1px solid #889;
    background-color: #EFE;
    display: inline-block;
    margin-top: 4px;
}

/* END OF HELP DOCUMENT STYLES */