@import 'variables';
@import 'mixins';

#isa-graph {
  &.fullscreen{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    padding-bottom: 70px;
    height: 100%;

    .isa-wrapper {
      position: relative;
      height: 100%;
    }

    #cy {
      height: 100% !important;
      max-height: none !important;
      margin-bottom: 70px;
    }

    #jstree {
      height: auto !important;
      max-height: none !important;
    }
  }
}

div#node_info {
  border-bottom: 1px solid $panel-default-border;
  padding: 10px;
  background-color: $panel-default-heading-bg;
}

a.graph_toggle {
  float: right;
  margin-right:1em;
  margin-top:1em;
  font-weight: bold;
}

.isa-wrapper {
  display: flex;
}

#cy {
  flex-grow: 1;
  height: 600px !important;
}

#jstree {
  background-color: #fff;
  width: 300px;
  flex-shrink: 0;
  border-left: 1px solid $panel-default-border;
  margin-left: -1px;
  padding: 10px 0 10px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .jstree-themeicon {
    background-size: 24px !important;
  }

  .hidden-leaf {
    color: gray;
    > i {
      display: none;
    }
  }

  .child-count-leaf {
    color: #999;
    font-size: small;
    &:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }

    > i {
      display: none;
    }
  }
}

.isa-footer {
  overflow: auto;
  z-index: 20000;
  position: absolute;
  right: 20px;
  top: 5px;
  text-align: right;
  #isa-view-controls {
    display: inline-block;
  }
}

.isa-highlight {
  background-color: rgba(190, 235, 255, 0.5) !important;

  & > a {
    font-weight: bold;
  }

  > ul {
    background-color: rgba(255, 255, 255, 0.5) !important;

  }
}