div.isa_graph {
    background-color: white;
    border: 1px solid lightgray;
}


div.node_info ul.items {
    text-align:left;
}

.ui-cytoscape-panzoom {
    position: relative;
    float: right;
    right: 3.5em;
    margin-right:1em;
}

a.graph_toggle {
    float: right;
    margin-right:1em;
    margin-top:1em;
    font-weight: bold;
}