div.isa_graph {
    float: left;
    width: 79%;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
    border: 1px solid lightgray;
}

div.node_info {
    position: relative;
    float: right;
    width: 18%;
    background-color: white;
    border: 1px solid lightgray;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    display:none;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.node_info ul.items {
    margin-left: 1em;
}

.ui-cytoscape-panzoom {
    position: relative;
    float: right;
    right: 3.5em;
    margin-right:1em;
}

a.graph_toggle {
    float: right;
    margin-right:1em;
    margin-bottom:1em;
    font-weight: bold;
}