div.isa_graph {
    border-width: 1px;
    border-style: solid;
    margin: 1em 0em 1em 0.75em;

    width: 98%;
}


div#node_info {
    margin: 0.5em;
}

.ui-cytoscape-panzoom {
    position: relative;
    float: right;
    right: 3.5em;
    margin-right:1em;
    display: none;
}

a.graph_toggle {
    float: right;
    margin-right:1em;
    margin-top:1em;
    font-weight: bold;
}