div.isa_graph {
    border-width: 1px;
    border-style: solid;
    margin: 1em 0 1em 0.75em;
    width: 98%;
}

div#node_info {
    margin: 0.5em;
}

a.graph_toggle {
    float: right;
    margin-right:1em;
    margin-top:1em;
    font-weight: bold;
}

#cy {
    max-height: 600px !important;
    min-height: 400px;
}

#jstree .jstree-themeicon {
    background-size: 24px !important;
}
