.linked_extended_metdata .panel-default .panel-heading {
    font-weight: bold;
    color: #333;
    background-color: #ffffff;
    border: 0;
    padding-left:0px;
}

.linked_extended_metdata .panel-body {
    background-color: rgb(248,248,248);
    padding: 10px 15px;
    border-radius: 5px;
}


.linked_extended_metdata .panel {
   border: 0;
}

.linked_extended_metdata_even {
    background-color: rgb(248,248,248);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.linked_extended_metdata_odd {
    background-color: rgb(224,224,224);

    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.multi_linked_extended_metdata {
    background-color: rgb(246, 246, 246);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.linked_extended_metdata_display .panel-default .panel-heading {
    font-weight: bold;
    border: none;
    background-color: #ffffff;
    padding: 0px 0px;
}


.linked_extended_metdata_display .panel {
    border: none;
    box-shadow: none;
    margin-bottom: 0px;
}

.linked_extended_metdata_display .panel-body {
    padding: 0px 0px;
    border-radius: 5px;
}

#extended-metadata .panel-heading-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extended_metadata-small-btn{
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}

