.linked_custom_metdata .panel-default .panel-heading {
    font-weight: bold;
    color: #333;
    background-color: #ffffff;
    border: 0;
    padding-left:0px;
}

.linked_custom_metdata .panel-body {
    background-color: rgb(248,248,248);
    padding: 10px 15px;
    border-radius: 5px;
}


.linked_custom_metdata .panel {
   border: 0;
}

.linked_custom_metdata_even {
    background-color: rgb(248,248,248);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.linked_custom_metdata_odd {
    background-color: rgb(224,224,224);

    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.multi_linked_custom_metdata {
    background-color: rgb(246, 246, 246);
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}