div.matching_items {
    margin: 0.5em 1em;
    width: auto;
}

div.matching_item {
    background-color: #efefef;
    border: #999 1px solid;
    margin-top: 6px;
    width: 97%;
    padding: 0.5em 1em 0.75em;
}

div.matching_item ul.plots li.plot {
    background-color: white;
    border: #999 1px solid;
}

.score {
    font-size: smaller;
    color: #444;
    margin-left: 2em;
}

ul.plots li.plot {
    margin-top: 1em;
    margin-right: 1em;
    float: left;
    width: 450px;
    height: 300px;
}