div.exhibit-facet-value-count {
    float:          right;
    width:          2em;
    text-align:     right;
    color:          #aaa;
    padding-right:  5px;
}

div.exhibit-facet-value-checkbox {
    float:          left;
    padding-right:   2px;
}

div.exhibit-facet-header {
    padding:        1px;
}

div.exhibit-facet-header-filterControl {
    float:          left;
    width:          2em;
    display:        none;
    cursor:         pointer;
}

div.exhibit-facet-value-inner {
    float:          left;
    padding-left:   5px;
}

a.exhibit-flowingFacet-value-link {
    text-decoration: none;
    float:           left;
    padding-left:    5px;
}

div.exhibit-flowingFacet-value-checkbox {
    position:       absolute;
    left:           -15px;
    padding:        0;
    margin:         0;
}

img.exhibit-facet-header-collapse {
    border: 1px;
    cursor: pointer;
    float: right;
    padding-left: 3px;
}

img.exhibit-facet-header-expand {
    border: 1px;
    cursor: pointer;
    float: right;
    padding-left: 3px;
}

img.exhibit-bookmarkWidget-button {
    margin-right: 2.3em;
}

div.exhibit-collectionView-header{
    text-align: center;
    margin-top: 1em;
}

.exhibit-busyIndicator {
    position:   absolute;
    left:       35%;
    width:      29.5%;
    z-index:    1000;
}

span.filter_text {
    display: none;
    font-weight: bold;
}

input.reset_all_filters {
    display: none;
}
