@import 'variables';
@import 'mixins';

body {
  border: none;
}

#header {
  padding: 0 1em;
}

#myexp_sidebar {
  background: none;
}

#bd {
  background: none;
}

#content > .container-fluid,
#navbar > .container-fluid,
#ft > .container-fluid {
  max-width: 1400px;
}

.logo_link {
  margin-right: 1em;
}

.front-page-panel {
  max-height: 280px;
  overflow-y: auto;
}

ul.feed {
  padding: 0;
  margin: 0;
}

ul.feed li {
  list-style: none;
  border-top: 1px solid #ccc;
  padding: 0.5em 0;
}

ul.feed li:first-child {
  border-top: none;
  padding-top: 0;
}

ul.feed .file-type-icon {
  display: block;
  float: left;
  margin: 0 0.5em 0.5em 0;
}

ul.feed .file-type-icon img {
  width: 32px;
  height: 32px;
}

.subtle {
  font-size: 80%;
  color: #777777;
}

.powered-by {
  padding: 2px;
  margin: 2px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 90px;
  display: block;
  border-radius: 4px;
}

#ft {
  color: #333;
  background-color: #eee;
  bottom: 0;
  margin-top: 2em;
  text-align: center;
  padding: 1em 0.5em;
  font-size: small;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#ft .logo-section {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 4px;
}

#delete-favourite-zone {
  background-color: $brand-danger;
  color: white;
  font-size: small;
  padding: 8px 3px;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
}

#drop_favourites {
  padding: 0.75em;
}

#drop_favourites.active {
  border-style: solid;
  border-width: 1px 0;
  border-color: $brand-success; /* a bootstrap variable! (green colour) */
}

#drop-favourite-text {
  padding: 0.25em 0.75em;
  background: $brand-success;
  color: white;
  font-size: small;
}

#advanced-search {
  vertical-align: middle;
  padding: 5px;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #search_box {
    width: 18em;
  }
}

span.truncated-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.contribution_section_box {
  @include rounded-box-shadow($info-box-colour);
  padding: 0.5em 0.25em;
  text-align: center;
  margin-bottom: 0.6em;
}

.sectionIcons li a {
  width: 100%;
  padding: 0.5em 0.5em;
  *padding: 0.2em 0.5em;
  line-height: 1.0;
  text-decoration: none;
  @include rounded-box-shadow(#f0f4ff);
}

.sectionIcons li a:hover {
  @include box(darken(#f0f4ff, 10%));
}

.box_standout {
  padding: 0.5em 0.8em;
  @include rounded-box-shadow($info-box-colour);
}

.box_standout {
  padding: 0.5em 0.8em;
  @include rounded-box-shadow($info-box-colour);
}

.contribution_version_box {
  padding: 0.6em 0.5em 0.4em 0.5em;
  @include rounded-box-shadow($info-box-colour);
}

div.list_item, div.private_list_item, div.public_list_item {
  padding: 1em;
  @include rounded-box-shadow(#F0F0F0);
  border-collapse: collapse;
  min-height: 90px;
  overflow: auto;
  margin: 3px 10px;
}
