@import 'variables';
@import 'mixins';

html, body {
  height: 100%;
}

body {
  border: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#header {
  padding: 0 1em;
}

#content > .container-fluid,
#navbar > .container-fluid,
#ft > .container-fluid {
  max-width: 1400px;
}

.logo_link {
  margin-right: 1em;
}

.logo_link > img {
  max-height: 50px;
}

.front-page-panel {
  max-height: 280px;
  overflow-y: auto;
}

ul.feed {
  padding: 0;
  margin: 0;
}

ul.feed li {
  list-style: none;
  border-top: 1px solid #ccc;
  padding: 0.5em 0;
}

ul.feed li:first-child {
  border-top: none;
  padding-top: 0;
}

.file-type-icon {
  display: block;
  float: left;
  margin: 0 0.5em 0.5em 0;
}

.file-type-icon img {
  max-width: 32px;
  max-height: 32px;
}

.subtle {
  font-size: 80%;
}

.none_text, .subtle {
  color: if(lightness($text-color) > 50, darken($text-color, 20%), lighten($text-color, 30%));
}

.powered-by {
  padding: 2px;
  margin: 2px auto;
  background-color: #fff;
  width: 90px;
  display: block;
  border-radius: 4px;
}

.powered-by img {
  margin-bottom: 0.25em;
}

#content {
  flex: 1 0 auto;
}

#ft {
  background-color: $panel-default-heading-bg;
  flex-shrink: 0;
  text-align: center;
  margin-top: 2em;
  padding: 1em 0.5em;
  font-size: small;
}

#ft .ft-info {
  padding: 10px;
}

#seek-credit {
  text-align: center;
  padding-left: 10px;
  float: right;
}

#delete-favourite-zone {
  background-color: $brand-danger;
  color: white;
  font-size: small;
  padding: 8px 3px;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
}

#add-favourites-zone {
  padding: 0.75em;
}

#add-favourites-zone.active {
  border-style: solid;
  border-width: 1px 0;
  border-color: $brand-success; /* a bootstrap variable! (green colour) */
}

#add-favourites-zone-text {
  padding: 0.25em 0.75em;
  background: $brand-success;
  color: white;
  font-size: small;
}

#advanced-search {
  vertical-align: middle;
  padding: 10px 0 0 0;
}

@media (min-width: $screen-md-min) {
  #search_box {
    width: 300px; /* overflows in chrome without this */
  }

  #advanced-search {
    position: absolute;
    right: 0;
    border-style: solid;
    border-color: $dropdown-border;
    border-width: 1px;
    background: $dropdown-bg;
    padding: 10px;
    margin-top: 2px;
    z-index: 10;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  }
}

span.truncated-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.sectionIcons li a,
.sectionIcons li span.disabled_icon {
  padding: 0.5em;
  *padding: 0.2em 0.5em;
  text-decoration: none;
  @include rounded-box-shadow($seek-button-colour);
}

.sectionIcons li a:hover {
  @include box(darken($seek-button-colour, 10%));
}

.box_standout, .contribution_version_box, .contribution_section_box {
  padding: 0.5em 0.8em;
  @include rounded-box-shadow($info-box-colour);
}

.contribution_section_box {
  padding: 0.5em 0.25em;
  text-align: center;
  margin-bottom: 0.6em;
}

.contribution-header {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.contribution-header a.favouritable {
  @include rounded-box-shadow(#ffffff);
  float: left;
  margin-right: 0.5em;
}

.contribution-header a.favouritable > img {
  padding: 2px;
  height: 34px;
}

.contribution-header h1 {
  margin-top: 0;
}

img.icon {
  margin-right: 0.25em;
}

h1 div.version {
  display: inline-block;
  font-size: 16px;
  color: $gray-light;
  position: relative;
}

h1 div.version a.dropdown-toggle {
  cursor: pointer;
}

.list_item_actions .btn {
  width: 9em;
}

.list_item_content {
  font-size: 85%;
}

.list_item_title {
  display: inline;
}

.list_item_desc {
  margin-bottom: 1em;
}

.factors-studied li {
  list-style: none;
}

#description p:last-child, .list_item_desc p:last-child, #home_description p:last-child {
  margin-bottom: 0;
}

ul.no-icon {
  list-style: none;
}

div.hidden_list_item {
  margin-top: 6px;
  padding: 1em;
  color: #999;
  @include rounded-box-shadow(#F5F5F5);
}

.clickable {
  cursor: pointer;
}

.ui-draggable-dragging {
  z-index: 1000;
}

.favourite .framed {
  margin-bottom: 4px;
}

input.calendar {
  padding-left: 32px;
  background-image: url(asset-path("famfamfam_silk/calendar.png"));
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

a.select_assay_class {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  @include rounded-box-shadow(#F5F5F5);
  margin: 10px;
}

a.select_assay_class:hover {
  background-color: #FCFCFC;
  text-decoration: none;
}

.box_editing_inner {
  @include rounded-box-inset-shadow(#F5F5F5);
  padding: 0.5em;
  margin-bottom: 1em;
}

#search_box {
  position: relative;
}

.index-page-setting {
  width: 16em;
  display: inline-block;
}

.index-page-setting > label {
  display: block;
}

.index-page-setting .btn-group label {
  width: 6em;
}

label.admin-checkbox {
  font-weight: bold
}

.seek-homepage-button-container {
  margin-bottom: 1em;
  margin-top: 1em;
}

a.seek-homepage-button {
  display: block;
  font-size: 200%;
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 20px;
  margin: 5px;
  text-decoration: none;

  &:hover {
    background-color: #f0f0f0;
  }
}

.seek-homepage-button img, .seek-homepage-button span.glyphicon  {
  display: block;
  font-size: 80px;
  margin: auto;
  line-height: 120px;
  color: #666;
}

@media (min-width: $screen-sm-min) {
  .seek-homepage-button-container {
    margin-bottom: 3em;
    margin-top: 3em;
  }

  a.seek-homepage-button {
    display: block;
    text-align: center;
  }

  .seek-homepage-button img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 5px auto;
  }
}

div.isa_graph {
  background: $panel-bg;
  border-color: $panel-default-border;
}


#user-menu-button {
  height: $navbar-height;
}

.publishing_options {
  padding: 0.5em 1em;

  &.publishable {
    background-color: #fafaff;
    border-left-color: $btn-success-bg;
  }

  &.not-publishable {
    border-left-color: $btn-warning-bg;
  }

  &.already-published {
    border-left-color: $gray-light;
  }
}

.publish-colour {
  color: $btn-success-bg;
}

.publish-checkbox {
  background-color: $btn-success-bg;
  color: $btn-success-color;
  padding: 0px 10px;
  border-radius: 5px;
  display: inline-block;
}

.sample-attribute .attribute-handle { }

.sample-attribute .attribute-position .glyphicon {
  color: #fff;
}

a.remove-association {
  text-decoration: none;
  vertical-align: middle;
  color: $brand-danger !important;
  &:hover {
    text-decoration: none;
  }
}

.association-candidate-list {
  border: 1px solid $list-group-border;
  max-height: 200px;
  overflow-y: scroll;

  .list-group-item {
    border-radius: 0;
  }
}

a.selectable.selected,
a.selectable.selected:hover,
a.selectable.selected:focus,
.selectable.selected,
.selectable.selected:hover,
.selectable.selected:focus {
  color: $list-group-active-color;
  background-color: $list-group-active-bg;
}

.samples-table-container {
  overflow: auto;
}

table > tbody > tr > td.sample-field-error {
  background-color: $state-danger-bg;
  padding: 0;

  > div {
    padding: 8px;
  }
}

img.avatar-corner-icon {
  display: block;
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.favouritable {
  display: inline-block;
}

.permissions-table {
  width: auto;
  border: none;

  .name-column {
    border: none;
  }
  .name-column, .name-cell {
    max-width: 200px;
    width: 200px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      max-width: 250px;
      width: 250px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      max-width: 400px;
      width: 300px;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 600px;
      width: 400px;
    }
  }

  tbody > tr > td {
    vertical-align: middle;
    padding: 5px;
  }

  .permission-column.no-access, .privilege-cell.no-access {
    border-left-width: 3px;
    border-right-width: 3px;
  }

  .permission-column.hidden, .privilege-cell.hidden {
    display: none;
  }

  .permission-column {
    text-align: center;
    width: 7em;
    border-top: 1px solid #ddd !important;
  }

  .actions-column, .actions-cell {
    border: none;
    text-align: left;
  }

  .name-cell {
    border-left: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .permission-row.mandatory {
    .name-cell {
      font-weight: bold;
    }
  }

  .permission-row.hidden {
    display: none;
  }

  .privilege-cell {
    text-align: center;

    &.enabled {
      background-color: #c3e8b9;
      background-image: url(asset-path("crystal_project/16x16/apps/clean.png"));
      background-position: center center;
      background-repeat: no-repeat;

      input {
        display: none;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    &.disabled {
      background-image: linear-gradient(45deg,rgba(200,200,200,.15) 25%,transparent 25%,transparent 50%,rgba(200,200,200,.15) 50%,rgba(200,200,200,.15) 75%,transparent 75%,transparent);
      background-size: 33px 33px;
      &:hover {
        cursor: auto;
      }

      input {
        display: none;
      }
    }

    &.no-access {
      &.enabled {
        background-color: #ffc2c4;
        background-image: url(asset-path("famfamfam_silk/cross.png"));

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

#preview_permissions {
  p.private {
    color: $brand-danger;
  }
  p.public {
    color: $brand-success;
  }
  ul {
    list-style: none;
    padding-left: 16px;
  }
}

.type-icon-wrapper {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
}
.type-icon {
  max-width: 24px;
  max-height: 24px;
}

div.popup-contributor {
  width: 270px;
  display: inline-block;
  margin: 5px;
  clear: both;

  .favouritable {
    float: left;
    margin-right: 5px;
    left: 0;
    top: 0;
  }

  div.popup-contributor-name {
    height: 3em;
    display: table-cell;
    vertical-align: middle;
  }
}

.list_item {
  .rli-head {
    display: flex;
  }

  .list_item_title {
    flex-grow: 1;
    flex-shrink: 0;

    img {
      max-height: 34px;
    }
  }

  .rli-project-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    flex-grow: 0;
    margin-left: 3em;
  }
}

#user-menu > .dropdown-menu {
  @media (min-width: $screen-md-min) {
    max-width: 24em;
  }
  li.project-item > a {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }
}

.admin_tasks ul {
  padding-left: 0.5em;
}

.type-tree {
  ul {
    background-image: url('tree/line.png');
    background-repeat: repeat-y;
    padding: 0;
    margin: 0;
  }
  li {
    padding-left: 24px;
    line-height: 24px;
    list-style: none;
    background-image: url('tree/node.png');
    background-repeat: no-repeat;
    &.selected {
      background-color: lightblue !important;
    }
    &:last-child {
      background-image: url('tree/last_node.png');
      background-color: $body-bg; /* This stops the <ul>'s background overlapping */
    }
  }
}

[data-role="seek-associations-list"] ul {
  max-height: 250px;
  overflow-y: auto;
}

.disabled_icon.disabled {
  pointer-events: inherit;
}

li.role {
  list-style: none;
  margin-left: -18px;
}

label.required::after {
  content: '*';
}

span.required, label.required::after {
  color: red;
  font-weight: bold;
  margin-left: 0.2em;
}

.mini-resource-list {
  padding: 0;

  li {
    list-style: none;
  }
}

.mini-resource-list-item {
  display: flex;

  .mini-resource-list-avatar {
    width: 24px;
    margin-right: 5px;
    flex-shrink: 0;
  }
  .mini-resource-list-title { }
  .mini-resource-list-text {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .mini-resource-list-count {
    flex-shrink: 0;
    color: #999;
  }
  .mini-resource-list-type {
    color: #999;
    display: block;
  }
}

.dashboard-panel {
  position: relative;

  .panel-heading {
    line-height: 2.5;
    padding: 5px 10px;
  }

  .panel-body {
    position: relative;
  }

  .panel-body.loading::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: center center no-repeat url(asset-path("ajax-loader-large.gif")) rgba(255,255,255,0.6);
  }
}

#dashboard-controls {
  margin-bottom: 5px;

  .form-group, .btn {
    margin-top: 5px;
  }
}

.js-highlight, .js-highlight-yellow, .js-highlight-warning {
  animation: js-highlight-fadeout 1s;
}
@keyframes js-highlight-fadeout
{
  0%   { background-color: #ffffcc; }
  100% { background-color: inherit; }
}

.js-highlight-danger, .js-highlight-error, .js-highlight-red, .js-highlight-failure {
  animation: js-highlight-red-fadeout 1s;
}
@keyframes js-highlight-red-fadeout
{
  0%   { background-color: $brand-danger; }
  100% { background-color: inherit; }
}

.js-highlight-success, .js-highlight-green { animation: js-highlight-green-fadeout 1s; }
@keyframes js-highlight-green-fadeout
{
  0%   { background-color: $brand-success; }
  100% { background-color: inherit; }
}

.js-highlight-blue { animation: js-highlight-blue-fadeout 1s; }
@keyframes js-highlight-blue-fadeout
{
  0%   { background-color: #a7c7ff; }
  100% { background-color: inherit; }
}

#null_license img {
  padding-right:1em;
}

.my-items-delete-btn {
  display: none;
}

#my-items .my-items-delete-btn {
  display: inline-block;
}

div.index-container {
  display: flex;
}

div.index-content {
  flex-grow: 1;
  min-width: 0; /* This seems to prevent content overflowing parent. Not sure why... */
}

div.index-filters {
  width: 240px;
  margin-right: 20px;
  flex-shrink: 0;
}

.filter-category {
  .filter-category-title {
    background: #eee;
    padding: 5px;
    border-bottom: 1px solid $pagination-border;
  }
  border-top: 1px solid $pagination-border;
  border-left: 1px solid $pagination-border;
  border-right: 1px solid $pagination-border;
  &:last-child {
    border-bottom: 1px solid $pagination-border;
  }

  .filter-option {
    display: flex;
    padding: 5px;
    .filter-option-label {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .filter-option-count {
      flex-shrink: 0;
    }
  }

  &.collapsed {
    .filter-option-hidden {
      display: none;
    }
  }
}

.filter-option {
  display: flex;
  padding: 5px;

  .filter-option-label {
    display: inline-block;
  }

  .filter-option-count {
    color: #999;
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
    color: $pagination-hover-color;
    background-color: #fafafa;
  }

  &.filter-option-active {
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    .filter-option-count {
      display: none;
    }

    &:after {
      content: "×";
      float: right;
      margin-left: 5px;
      font-weight: bold;
    }

    &:hover {
      background-color: lighten($pagination-active-bg, 10%);
      color: $pagination-active-color;
    }
  }
}

.active-filters {
  .filter-option {
    display: inline-block;
    padding: 0 5px;
    border-radius: 4px;
    margin-bottom: 4px;
  }
}

.expand-filter-category-link {
  display: block;
  color: #999;
  background: #f9f9f9;
  padding: 2px 5px;
  &:hover, &:active, &:visited {
    text-decoration: none;
    color: #999;
  }
  &:hover {
    background: #eee;
  }
}

.filter-option-field-group {
  display: flex;
  line-height: 24px;

  .filter-option-field {
    flex-grow: 1;
    min-width: 5em;
    padding: 5px;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #ccc;
    &:first-child {
      border-width: 0;
    }
  }
  .filter-option-field-button {
    flex-shrink: 1;
    color: inherit;
    border-left: 1px solid #ccc;
    padding: 5px 10px;
    display: block;
  }
  .filter-option-field-clear {
    flex-shrink: 1;
    color: #999;
    text-decoration: none;
    font-size: 26px;
    padding: 5px;
    font-weight: bold;
  }
}

.filter-option-dropdown {
  border: none;
  background: transparent;
  width: 100%;
  border-radius: 0;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555555;
}

.pagination-container {
  text-align: center;
  clear: both;
}

.remote-content-preview-result {
  border-left: 3px solid #ccc;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
}

li.upload-field-tab {
  cursor: pointer;
}

img.github-logo {
  width: 16px;
  height: 16px;
}

.github-path {
  padding: 8px 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: inline-block;
}

#application-owner .list_item {
  .hidden-xs {
    display: none;
  }
  .col-sm-6 {
    width: 100%;
  }
  .list_item_avatar {
    width: 25%;
  }
  .list_item_content {
    width: 70%;
  }
}

.workflow-diagram img {
  max-width: 100%;
}

ul.list.collapsed li.hidden-item {
  display: none;
}

h5.author-list-title {
  margin-top: 0;
  font-weight: bold;
}

ul.author-list {
  padding-left: 0;
}

li.author-list-item {
  display: inline;
  &:not(:last-child):after {
    content: ", ";
  }
}

hr.discussion-links-divider {
  margin: 0.5em;
}

div.discussion-link {
  word-wrap: break-word;
}

.typeahead-new-item {
  color:darkblue;
  font-style: bold;
}

span.disabled {
  opacity: 0.65;
}

.btn.disabled img.icon {
  opacity: 0.4;
}

/* Rich editor box */
.short-editor ~ .CodeMirror,
.short-editor ~ .CodeMirror .CodeMirror-scroll {
  min-height:4em;
}

/* controlled vocab term table */
#controlled-vocab-terms-fixed {
  display:block;
  overflow-y: auto;
  max-height: 20em;
}

.citation-box {
  overflow-x: auto;
}

a.orcid-link {
  background-image: url(image-path('logos/orcid_16x16.png'));
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
}

#author-form {
  .author-form-search {
    display: inline-block;
    .bootstrap-tagsinput {
      width: 20em;
    }
  }

  .assets-creator-list {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 10px 0;

    .author {
      padding: 3px;
      border-radius: 4px;
      &.ui-sortable-helper {
        background-color: $hover-highlight;
        opacity: 0.7;
      }
    }
  }
}
  
.seek-description {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.markdown-body {
  padding: 15px;
  min-height: 20px;
  margin-bottom: 20px;
  font-size: inherit !important;
}  

