div#folder_contents {
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    min-height: 50em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

div#folder_column {
    border-right: 1px #666 solid;
    min-height: 50em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px
}

div#tree {
    max-width: 16em;
}

div#remove_from_assay_surround {
    width: 100%;
    height: 3em;
}

div#remove_from_assay_drop_area {
    background-color: red;
}

div#remove_from_assay_drop_area.folder_hover {
    background-color: #8b0000;
}

div#remove_from_assay_drop_area p {
    text-align: center;
    font-size: larger;
    vertical-align: middle;
}


.folder_hover {
    background: #2f628f;
    font-weight: bolder;
}

.ygtvcontent.ygtvfocus>a {
    background-color: green;
}

ul.asset_cards {
    font-size: smaller;
}

ul.asset_cards li.asset_card_item {
    margin: 0.25em 0.25em 0.25em 0.25em;
    padding: 0.25em;
    min-width: 100px;
    max-width: 100px;
    min-height: 130px;
    max-height: 130px;
    float: left;
    list-style: none;
    border-radius: 5px;
    border: #fff solid 1px;
    background-color: transparent
}

ul.asset_cards>li.asset_card_item:hover {
    border: #ebebeb solid 1px;
}


li.asset_card_item img.asset_card_avatar {
    width: 80px;
    height: 80px;
    padding-right: 0.3em;
    vertical-align: middle;
}

li.asset_card_item.data_file {
    /* background-color: #eec591; */
}

li.asset_card_item.model {
    /* background-color: #cdcd00; */
}

li.asset_card_item.publication {
    /* background-color: #84b5fd; */
}

li.asset_card_item.sop {
    /* background-color: #7ac5cd; */
}

li.asset_card_item.presentation {
    /* background-color: #8ee5ee; */
}

li.asset_card_item {
    /* background-color: red; */
}

ul#folder_details {
    list-style-type: none;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #ddd;
}

ul#folder_details li {
    float: left;
}

ul#folder_details li.title_and_description {

    float: left;
}

ul#folder_details li.actions {
    float: right
}

.asset_card_item+.tooltip>.tooltip-inner {
    background-color: white;
    color: #111;
    border: 1px #999 solid;
}

.asset_card_item+.tooltip.top>.tooltip-arrow {
    display: none;
}

.asset_card_filename {

    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis
}

.asset_card_filename a {
    color: #333333;
    font-size: 13px
}

.asset_card_filename a:hover {
    text-decoration: none;
}

.asset_card_title {
    margin-bottom: 4px;
}