@import 'variables';
@import 'mixins';

ul.publishing_options {
    padding-left: 1em;
}

ul.publishing_options li.type_and_title {
    font-weight:bolder;
}

ul.publishing_options li.type_and_title img.icon_visibility {
    margin-left:2em;
}

ul.publishing_options li.secondary {

}

.published {
    color: limegreen;
}

span.published {
    color: green;
}

span.approve {
    color: limegreen;
    font-weight: bolder;
}

span.reject {
    color: red;
    font-weight: bolder;
}

span.decide_later {
    font-weight: bolder;
}


ul.item_waiting_for_approval {
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

ul.item_waiting_for_approval li.type_and_title {
    font-weight: bolder;
}


img.icon_visibility {
    margin-left: 2em;
}

ul.item_for_decision {
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.publishing_options {
  padding: 0.5em 1em;

  &.publishable {
    background-color: #fafaff;
    border-left-color: $btn-success-bg;
  }

  &.not-publishable {
    border-left-color: $btn-warning-bg;
  }

  &.already-published {
    border-left-color: $gray-light;
  }
}

.publish-colour {
  color: $btn-success-bg;
}

.publish-checkbox {
  background-color: $btn-success-bg;
  color: $btn-success-color;
  padding: 0px 10px;
  border-radius: 5px;
  display: inline-block;
}

ul.decided_item {
  padding-left: 1em;
}

ul.decided_item li.type_and_title {
  font-weight: bolder;
  margin-top: 20px;
}

.waiting_approval_items {
  padding: 0.5em 15px;
  margin: 0.3em 0em;
}

.rejected_items {
  padding: 0.5em 15px;
  margin: 0.3em 0em;
}
