div#notification_setttings p {
	font-size: larger;
	padding-left: 2em;
	padding-top: 1em;
}

.headline_announcement {
    border:solid red 1px;
    margin: 1em 2em 1em 2em;
    text-align:center
}

.headline_announcement_title {
    font-weight: bolder;
    font-size: larger;
}

.headline_announcement_date {
    font-size: smaller;
    color: #666666;
}

.headline_announcement_edit {
    float: right;
    font-size:smaller;
    display: inline-block;
}

ul.feed_announcement_list {
    padding-left: 0;
    list-style: none;
}
