kbd {} /* Leave this here, because for some reason this file isn't loaded properly if the first style definition begins with a # */

#custom-doc {
    margin: auto;
    text-align: left; /* leave unchanged */
    width: 78.77em; /* non-IE */ *width:
    76.87em; /* IE */
min-width:
    600px; /* optional but recommended */
}

#main_pane {
    padding-right: 1em;
    padding-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 3em;
}

#bd {
    background-color: #FAFAFA;
	min-height: 58em;
}

#who_am_i #avatar img {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border: black double 4px;
}

#who_am_i p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.box_editing_inner2 {
	background-color: #eee;
	padding: 0.5em 0.8em;
	border: 1px dotted #999;
}

.list_items_container {
  margin-left:auto;
  margin-right:auto;
  clear: both;
  padding-top: 5px;
}

table.list_item {
    width: 100%;
    background-color: #F0F0F0;
    margin-top: 6px;
    padding: 1em;
    border: #999 solid 1px;
    border-collapse: collapse;
    font-size: 93%;
    min-height: 90px;
}

table.list_item tr.odd_row {
    background-color: #F5F5F5;
}

table.list_item tr.even_row {
    background-color: #eee;
}

table.list_item tr td.actions {
    text-align: left;
}

table.list_item tr td.actions a {
    display: block;
    border-bottom: 0px solid #999;
    margin-bottom: 0.3em;
    font-size: 85%;
    font-weight: normal;
}

table.list_item .desc {
    border: 1px dotted #999;
    margin: 0.2em 0;
    padding: 0.4em 0.6em;
    background-color: #FFFFCC;
    text-align: left;
    line-height: 1.3;
    overflow: hidden;
}

table.list_item .standout {
    border: 1px dotted #999;
    margin: 0.2em 0;
    padding: 0.5em 0.6em;
    background-color: #fffeda;
    text-align: left;
    line-height: 1;
    font-size: 93%;
    font-weight: bold;
    color: #333;
}



table.list_item p {
    line-height: 1.0;
    margin-top: 0.2em;
}

table.list_item p.title {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 108%;
}

table.list_item p.section_header {
    text-align: left;
    font-size: 107%;
    font-weight: bold;
}

table.list_item td {
    vertical-align: top;
}

table.list_item .item_avatar {
    /* styling of avatars in table listings */
    width: 100px;
    min-width: 100px;
}

table.list_item .item_details {
    text-align: left;
}

table.list_item .item_right_table_cell {
    text-align: left;
    padding-top: 2em;
}

table.list_item .name {
    font-size: 131%;
    font-weight: bold;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    border-bottom: black dotted 1px;
}

table.list_item .details {
    margin-left: 100px;
    margin-right: 120px;
    padding: 0.5em 1em;
}

table.list_item ul {
    margin: 0;  padding: 0;
}

table.list_item li {
    list-style-type:none;
    margin: 0px 0px 0px 0px;
    padding: 0;
    white-space:nowrap;
}

table.list_item label {
    font-weight: bold;
}

table.list_item .tags {
    text-align: left;
    border-left: 1px dotted #365FA5;
    margin-top: 0.7em;
}

a[disabled] {
  pointer-events: none;
}

.show_basic #tool_list {
    width: 22em;
}

.show_basic .submit  {
    width: 5em;
}

.show_basic #edit_person_left {
    width:87%;
    padding-left: 1em;
    border-right: dotted 1px black;
}

.show_basic label {
    font-weight: bold;
}

.show_basic #name p {
    font-size: 24px;
    font-weight: bold;
}

#expertise_people a.current_user {
    color: red;
}


/* boxes */

.box_about_actor {
    /* reserved for potential styling of the box containing personal information about actor */
}

.main_content_left_box {
    float: left;
    width: 79%;

}

.main_content_right_box {
    float: right;
    width: 20%;

}

.contribution_version_selector_box * {
    vertical-align: middle;
}

.contribution_version_selector_box table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.contribution_version_selector_box table td {
    padding: 0em 0.5em;
}

.contribution_version_selector_box .heading {
    text-align: left;
}

.contribution_version_inner_box {
    padding: 0.6em 0.7em;
}

.contribution_version_inner_box h4 {
    text-align: center;
}

.contribution_version_inner_box .option_box {
    padding: 0.2em 0.6em;
    border: 1px solid #CCCCCC;
}

.contribution_version_meta_info_box {
    padding: 0.3em 0.6em;
    border: 1px dotted #999999;
    background-color: #FFFFCC;
    color: #333333;
    line-height: 1.2;
    font-size: 85%;
    margin-left: 2.5em;
}

.contribution_section_box ul.items {
	margin: 0 0 0.8em 1em;
	text-align: left;
}

.contribution_section_box ul.items li {
	list-style-type: none;
	margin: 0.6em 0;
	padding-left: 0.8em;
	line-height: 1.1;
	border-left: 3px solid #DDDDBB;
}

.contribution_section_box ul.items li * {
	vertical-align: middle;
}

.contribution_section_box p {
	text-align: center;
	padding: 0.2em;
}

.contribution_section_box .stats_box p {
	font-size: 85%;
	text-align: center;
	line-height: 1.3;
	padding: 0;
}

.contribution_section_box hr {
	margin: 0.5em 0;
	*margin: 0;
	height: 1px;
	border-bottom: 1px dotted #999;
}

.contribution_section_box .heading {
	font-size: 100%;
	font-weight: bold;
	line-height: 1.0;
	margin-top: 0.2em;
}

.contribution_section_box .hTagcloud {
	margin-top: 0.3em;
	margin-bottom: 0.5em;
}

.contribution_section_box .tokenizer {
    margin-left: 0.5em;
    width: 93%;
}

/* customized version of styles from my_exp.css with different names */
.contribution_section_box ul.list {
    margin: 0 0 0 0.8em;
    text-align: left;
}

.contribution_section_box ul.list li {
    list-style-type: none;
    margin: 0.6em 0;
    padding-left: 0;
    line-height: 1.1;
    /*border-left: 3px solid #DDDDBB;*/
}

.contribution_section_box ul.list li * {
    vertical-align: middle;
}

/* text style classes */
.admin_warning {
    color: #F00000;
}

.allowed_text {
    font-weight: bold;
    font-style: normal;
    color: #00BC0C;
}

.denied_text {
    font-weight: bold;
    font-style: normal;
    color: #900000;
}

.note_text_disabled {
    font-size: 93%;
    font-weight: bold;
    color: #666;
}


/* BEGIN Tabber tab styles */

/*--------------------------------------------------
REQUIRED to hide the non-active tab content.
But do not hide them in the print stylesheet!
--------------------------------------------------*/
.tabberlive .tabbertabhide {
    display: none;
}

/*--------------------------------------------------
.tabber = before the tabber interface is set up
.tabberlive = after the tabber interface is set up
--------------------------------------------------*/
.tabber {
}

.tabberlive {
    margin-top: 1em;
}

/*--------------------------------------------------
ul.tabbernav = the tab navigation list
li.tabberactive = the active tab
--------------------------------------------------*/
ul.tabbernav
{
    margin: 0;
    padding: 3px 0;
    border-bottom: 1px solid #CCC;
    font-size: 90%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

ul.tabbernav li
{
    list-style: none;
    margin: 0;
    display: inline;
}

ul.tabbernav li a
{
    padding: 3px 0.5em;
    margin-left: 3px;
    border: 1px solid #aaa;
    border-bottom: none;
    background: #ccccff;
    text-decoration: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;

}

ul.tabbernav li a:link { color: #333; }

ul.tabbernav li a:hover
{
    color: #000;
    background: #3173ff;
    border-color: #CCC;
}

ul.tabbernav li.tabberactive a
{
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
    color: #000;
    background: white;
    border-bottom: 1px solid white;
}

ul.tabbernav li a.external_result {
    background: #DCF;
}

/*--------------------------------------------------
.tabbertab = the tab content
Add style only after the tabber interface is set up (.tabberlive)
--------------------------------------------------*/
.tabberlive .tabbertab {
    margin-right: 0.3em;

}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h3 {
    display: none;
}
.tabberlive .tabbertab h3 {
    display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}

.tabberlive#tab2 .tabbertab {
    height:200px;
    overflow:auto;
}

/* END Tabber tab styles */

/* Colapsable tags */

.expand_collapse_tags_button {
    width:98%;
    text-align:right;
}

/* END Collapsable tags */


ul.users_details li {
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    border: solid 1px black;
    list-style: none;
    width: 14em;
    text-align: left;
    background-color:silver;
	font-size: smaller;
	min-width: 15em;
	min-height: 6em;
}

li.group p{
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

ul.users_details li p {
    margin: 0.1em;
	padding: 0.1em;
}

#publication_preview_container {
    max-height: 50em;
    overflow-y: auto;
}

#publication_preview {

}

ul.heading li {
    font-weight:bolder;
    min-height: 4em;
}



div.ontology_nav {
    padding-left: 3em;
}

p#assay_types label {
    width: 20em;
}

div#more_info {
    display:inline-block;
}

div#more_info ul li {
    list-style-image: none;
    list-style-type: disc;
    list-style-position:outside;
    margin-left: 2em;
}

a#adminmode {
    color: #FFFFCC;
    margin-right: 2em;
    float: right;
    font-weight:bolder;
}

div#faq {
    margin: 0 2em 0 2em;
}

.warning {
    text-align: center;
    font-size:larger;
    border: 1px red solid;
    padding: 0.5em 0.5em 1em 0.5em;
}

a#feedback {
    color: #FFFFCC;
    margin-left: 2em;
    float: left;
    font-weight:bolder;
}

table.padded_table td {
    text-align:left;
    padding: 4px 1em 0px 0px;
}

img.badge {
    width: 55px;
    height: 20px;
    padding-top: 3px;
}

#topbar * {
    vertical-align: middle;
}

.avatar_text {
    position: absolute;
    text-align:center;
    bottom: 6px;
    font-size: smaller;
}

a.asset img.avatar {
    padding :5px;
    border:1px solid #ccc;
    background-color: #fff;
    min-width :3em;
    min-height: 3em;
}

img.search_fav_avatar {
    padding :5px;
    border:1px solid #ccc;
    background-color: #fff;
    min-width :3em;
    min-height: 3em;
    vertical-align:middle;
}

p.list_item_attribute {
    line-height: 1;
    margin: 5px 0;
}

div.list_item_attribute p, div.list_item_attribute h1, div.list_item_attribute h2, div.list_item_attribute h3,
div.list_item_attribute h4, div.list_item_attribute li {
  font-size: 85%;
  line-height: 1;
  margin: 5px 0;
}

div.list_item_attribute ul, div.list_item_attribute ol {
  margin-left: 5px;
  padding-left: 5px;
}


div.simple-formating h1, div.simple-formating h2, div.simple-formating h3, div.simple-formating h4, div.simple-formating h5,
div.simple-formating h6, div.simple-formating li, div.simple-formating p {
  font-size: 100%;
}

div.simple-formating h1, div.simple-formating h2, div.simple-formating h3, div.simple-formating h4, div.simple-formating h5,
div.simple-formating h6 {
  font-weight: bold;
}



div.list_item_left_column{
    float: left;
    width: 45%;
    border-right: 1px solid #bbb;
}

div.list_item_right_column{
    float: left;
    margin-right: 1em;
    margin-left: 1em;
    padding-left: 1em;
    width: 45%;
}

div.list_item_whole_width{
    float: left;
    margin-top: 0.1em;
    margin-right: 1em;
    width: 100%;
}

div.list_item_avatar img {
    margin-top: 0.3em;
}

ul.related_asset_list {
    padding-left: 5px;
    margin-bottom: 0;
}

ul.related_asset_list li, li.association-list-item {
    white-space: normal;
    list-style-type: none;
    list-style-position: inside;
}

table.jerm_results {
    font-size: x-small;
}

ul.horiz_list_items li {
    display: inline;
}

div.error_div h2 {
    font-size: inherit;
    font-weight: bold;
    margin: 0;
}

p.system_message {
    border: red 1px solid;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

ul.bulleted_list li {
  list-style: disc;
  list-style-position: inside;
}

/* HELP DOCUMENT STYLES */
div.help_document {
  border-bottom: 1px dotted #999;
  border-top: 1px dotted #999;
  margin: 1em 0;
  padding: 1em 0;
}

div.help_document ol, div.help_document ul{
  margin: 0.5em 0em 0.5em 1em;
}

div.help_document ol li {
  list-style: decimal;
  list-style-position: inside;
}

div.help_document ul li {
  list-style: disc;
  list-style-position: inside;
}

div.help_document h1, div.help_document h2, div.help_document h3, div.help_document h4, div.help_document h5,div.help_document h6 {
  border: none;
  padding: 0;
  margin: 0.5em 0;
  color: #444;
  text-align: left;
  background: none;
  line-height: normal;
  font-weight: bold;
}

div.help_document h1 {
  font-size: 200%;
}

div.help_document h2 {
  font-size: 180%;
  margin: 0.4em 0;
}

div.help_document h3 {
  font-size: 160%;
  margin: 0.3em 0;
}

div.help_document h4 {
  font-size: 140%;
  margin: 0.2em 0;
}

div.help_document h5 {
  font-size: 120%;
  margin: 0.1em 0;
}

div.help_document h6 {
  font-size: 100%;
  margin: 0;
}

div.help_upload_box form {
  border-top: 1px dotted #ccc;
  margin-top: 5px;
}

div.help_upload_box div.image_thumbnail {
  display: inline-block;
  padding: 2px;
  border: 1px solid #999;
  text-align: center;
  margin-bottom: 3px;
}

div.help_upload_box div.image_thumbnail div.thumb {
  width: 64px;
  height: 64px;
  display: table-cell;
  vertical-align: middle;
}

#markup_toggle {
  padding: 3px;
  border: 1px solid #889;
  background-color: #EFE;
  display: inline-block;
  margin-top: 4px;
}

/* END OF HELP DOCUMENT STYLES */


ul.stats {

}

ul.stats li {
  border: solid 1px #666;
  padding: 1em;
  margin: 0.5em;
  list-style-type: none;
  min-width: 25em;
  background-color: white;
}

ul.stats li p label {
  font-weight: bolder;
}

div.hit_counter {
  text-align: center;
  width: 100%;
}

div.hit_counter  ul {
  text-align: center;
  width: 100%;
  margin:0;
}

div.hit_counter  ul li {
  	list-style: none;
}

img.visibility_icon {
  margin: 0 0.5em;
}

#edit_organism li {
	list-style: none;
}

#edit_organism li span {
	font-weight: bold;
}

#edit_human_disease li {
	list-style: none;
}

#edit_human_disease li span {
	font-weight: bold;
}

div#isa_svg {
	text-align: center;
	padding-top: 1em;

}

div.stat_item {
  border: 1px solid #999;
}

div.admin_tasks ul{
  margin-bottom: 1em;
}

div.admin_tasks ul li{
  margin-left: 1em;
}

a.block_link {
  display: inline-block;
  background-color: #eee;
  padding: 0.4em;
  margin-top: 0.3em;
  text-align: left;
  vertical-align: middle;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px #aaa solid;
  box-shadow: -2px -2px 5px #ddd;
  -moz-box-shadow: -2px -2px 5px #ddd;
}

a.block_link_active {
  border: 1px solid #0000ff;
  background-color: #eee;
}

a:hover.block_link {
  border: 1px solid #888;
  background-color: #ddd;
}

a.block_link img {
  vertical-align: middle;
}

.pale_text {
	color: #666;
}

div.asset_form {
	padding-right: 1em;
}

div#upload_type_selection {
    padding-left: 0.5em;
}

ul#switch_upload_buttons {
    list-style: none;
    height:100%;
}

ul#switch_upload_buttons > li {
	list-style: none;
    padding-right: 0.75em;
    padding-top: 10px;
}

li#upload_options {
    padding-left: 1em;
    display: inline-block;
}

div.email_configuration{
    border: 1px solid #999;
    margin: 3px 0;
    width: 500px
}



a.advanced_sharing_link {
    float: none;
    display: inline-block;
    padding: 7px 0;
}

.sharing_box_form {
	background-color: #eee;
	padding: 0.8em 0.8em;
}


.border_top {
    border-top: 1px solid #DDD;
    width: 20em;
    padding: 0.5em 1em 0.5em 1em;
}

.space_for_alignment {
  width: 1em;
}

div.growth_medium_or_buffer_description {
    margin-bottom: 1em;
}

div.strain {
    border: 1px solid #DDD;
    float: left;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 2em;
    width: 50em;
    padding: 0 1em 0.5em 1em;
}

ul.genes li {
    list-style-type:none;
}

ul.genes {
    float: left;
    margin-top: 2em;
}

ul.gene_row {
    clear:both;
    border-bottom: dotted #d3d3d3 1px;
}

ul.gene_row li {
    float:left;
    padding: 0 0.6em 0.25em 0.25em;
    text-align:left;
    min-height: 2em;
}

ul.modifications li {
    list-style-type:none;
}

ul.modifications {
    float: left;
    margin-top: 2em;
}





ul.modification_row {
    clear:both;
    border-bottom: dotted #d3d3d3 1px;
}

ul.modification_row li {
    float:left;
    padding: 0 0.6em 0.25em 0.25em;
    text-align:left;
    min-height: 2em;
}


div.sharing_summary {
    text-align: center;
}

table tr td.return_to_search {
    float: right;
    margin-right: 1em;
    font-size: 14px;
}
p.import_details {
    font-style: italic;
}

ul.fileinfo_list {
    margin-left: 0.5em;
}

ul.fileinfo_list li.fileinfo_container {
    float: left;
    background-color: white;
    padding: 0.25em;
    margin: 0.5em;
}

li.fileinfo_container div.fileinfo {

    //border: 1px dotted black;
    margin: 0.25em;
    min-height: 8.1em;
    max-width: 30em;
    word-wrap: break-word;
}


#usage_timestamps {
    color: #555;
    font-size: smaller;
    text-align: center;
}

#usage_timestamps p {
    margin: 0em;
    padding: 0em;
}

p#logging_started {
  color: #555;

  text-align: center;
  font-style: italic;
  margin-top: 1em;
}


#usage_count {
    margin-bottom: 0.5em;
    text-align: center;
}

.big_download_button {
    float:left;
    padding-left: 0.5em;
    padding-top: 0.5em;
    height: 5em;
    text-align: center;
}

.box_normal {
    margin: 0;
    padding: 0.5em 0.8em;
    line-height: 1.4;
    border: 1px solid #bbb;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.none_text {
    font-style: italic;
}

ul.model_scales_list {
    margin-left:1em;
}

.sectionIcons {
    margin: 1em 0 0 0;
    font-size: smaller;
    text-align: center;
}

.sectionIcons * {
    vertical-align: middle;
}

.sectionIcons li {
    display: inline-block;
    margin-left: 4px;
    padding-top: 0.75em;
}

.sectionIcons li * {
    vertical-align: middle;

}

.sectionIcons li a * {
    vertical-align: middle;
}

.with_shadow {
    border: 1px #aaa solid;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.05);
}

.with_smaller_shadow {
    border: 1px #aaa solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.curved_top {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;

}

.curved_bottom {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}

.curved {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.framed {
    border: 1px solid #aaa;
    padding: 3px;
    background-color: #FFFFFF;
}

.framed_nospace {
    border: 1px solid #aaa;
}

div.data_model_relationship {
    border: 1px dotted black;
    background-color: #EEEEFF;
    padding: 5px
}

div.data_model_relationship ul li {
    list-style: none;
    list-style-position: inside;
    margin-left: 5px;
}

div.data_model_relationship span.relationship_type {
    color: #1465FF;
}

ul#header {
    width:100%;

    margin:0.75em 0.25em 0em;
    text-align: center;
    padding-bottom:1em;
}
ul#header > li {
    display:inline-block;
    list-style-type: none;
}

ul#header > li#seek_logo {
    float:left;
}

ul#header > li#seek_logo img{
    max-height: 80px;
    max-width: 80px;
}

ul#header > li#header_text {
    width:65%;
}

ul#header > li#header_text.logged_in {
    width:70%;
}

ul#header > li#image_block {
    float:right;
}

ul#header > li#image_block img {
    max-height: 60px;
}

ul#header > li#image_block.logged_in img {
    max-height:48px;
}

ul#my_profile_menu {
    right: 1em;
    margin-top: 0.5em;
}

div#logged_in_as {
    float:right;
    top:-0.45em;
    position: relative;
    clear:both;
}

div#logged_in_as img {
    vertical-align: middle;
    margin-right:0.5em;
}
ul#my_profile_menu > li {
    list-style: none;
    text-align: left;
    padding-left: 0.25em;
}
ul#my_profile_menu > li.dynamic_menu_li {
    padding-left: 0.5em;
}

ul#my_profile_menu:before {
    border-color: transparent transparent #ddd;
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    display: block;
    height: 0;
    left: 8em;
    position: absolute;
    top: -10px;
    width: 0;
}
ul#my_profile_menu > li.my_profile_menu_header {
    background-color: #ddd;
}
ul#my_profile_menu > li.my_profile_menu_break {
    border-top: 1px solid #ddd;
    font-size: 4px;
}

span.published {
    color: green;
}

span.approve {
    color: limegreen;
    font-weight: bolder;
}

span.reject {
    color: red;
    font-weight: bolder;
}

span.decide_later {
    font-weight: bolder;
}


ul.item_waiting_for_approval {
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

ul.item_waiting_for_approval li.type_and_title {
    font-weight: bolder;
}

img.icon_visibility {
    margin-left: 2em;
}

ul.item_for_decision {
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

div#version_box li.current {
    font-weight: bolder;
}
div#version_box ul#version_list {
    text-align: left;
    padding-left:1em;
}
div#version_box .compare {
    font-size:smaller;
}

.large_text_entry {
    width: 99%;
    height: 10em;
}

.title_text_entry {
    width: 99%;
    height: 2em;
}

.text_entry {
    width: 40em;
}

#search_label {
    padding-right: 0.25em;
}

#test_url_result img.preview {
  max-width: 8em;
  max-height: 8em;
  min-width: 3em;
  min-height: 3em;
  float:left;
  padding-right:1em;
  vertical-align: text-top;
}

#no-index-items-text {
    font-style:italic;
    text-align: center;
    width:100%;
    padding:1em;
}

.pending-files {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pending-files li {
    vertical-align: middle;
}

.pending-files span {
    vertical-align: middle;
}

.pending-files a {
    padding-left: 0.75em;
}

.isa-tree {
    margin-bottom: 0;
    margin-left: 1em;
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-left: 4px solid #eee;
}

img.zenodo-publish {
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 #ccc;
    margin: 0 auto 6px;
}

img.mint-doi {
  display: block;
  margin: 0 auto 6px;
}

.creator-checkbox {
    width: 14em;
    display: inline-block;
}

.creator-checkbox input:not(:checked) + span {
    text-decoration: line-through;
    color: #999;
}

#login-panel, #forgot-password-panel {
    max-width: 45em;
    margin: auto;
}

dl.icon-key {
    margin-bottom: 0;
}

dl.icon-key > dt {
    width: 40px;
}

dl.icon-key > dd {
    margin-left: 60px;
}

.avatar-gallery {
    overflow: auto;
}

.avatar-gallery div.avatar {
    float: left;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #999;
    margin: 10px;
    width: 200px;
    text-align: center;
}

select.project-positions-adder {
    width: auto;
}

.related-items .nav {
    margin-bottom: 0.5em;
}

div.renderer {
    text-align:center;
}

#snapshot-citation {
  font-size: small;
}

table#storage-stats tr,table#storage-stats td, table#storage-stats th {
  border: 1px solid #555;
  padding: 5px 5px;
}

table#storage-stats th.storage-name {
  min-width: 40em;
}

table#storage-stats tr.programme-storage-stat {
  font-style: italic;
  font-weight: bolder;
}

table#storage-stats tr.project-storage-stat td:first-child {
  padding-left: 2em;
}

table#storage-stats {
  min-width: 55em;
  border: 1px solid #222;
}
table#storage-stats thead {
  font-weight: bolder;
}

/* Markdown presentation*/
#description,
.list_item_desc{
  overflow: auto;
  max-height: 40em;
}

#description img,
.list_item_desc img,
.editor-preview-side img{
  max-width:95%;
}

/* condensed list collapse icons */
.list_items_container a{
  cursor: pointer;
}
.list_items_container a[aria-expanded='true'] .glyphicon-option-horizontal {
  display: none;
}
.list_items_container a[aria-expanded='false'] .glyphicon-option-vertical {
  display: none;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.carousel .card {
    flex: 0 0 auto;
}

#carousel-left{
  position: absolute;
  top: 45%;
  font-size:50px;
  left: 0;
}
#carousel-right{
  position: absolute;
  right: 0;
  top: 45%;
  font-size:50px;
}

a.image-link img{
  width: 100%;
}

@import 'variables';
@import 'mixins';

html, body {
    height: 100%;
}

body {
    border: none;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header {
    padding: 0 1em;
}

#content > .container-fluid,
#navbar > .container-fluid,
#ft > .container-fluid {
    max-width: 1400px;
}

.logo_link {
    margin-right: 1em;
}

.logo_link > img {
    max-height: 50px;
}

.front-page-panel {
    max-height: 280px;
    overflow-y: auto;
}

ul.feed {
    padding: 0;
    margin: 0;
}

ul.feed li {
    list-style: none;
    border-top: 1px solid #ccc;
    padding: 0.5em 0;
}

ul.feed li:first-child {
    border-top: none;
    padding-top: 0;
}

div#my-recent-contributions .feed {
    max-height:40em;
    overflow:hidden;
    overflow-y:auto;
}

div#home_who_uses_carousel div.carousel-logo img {
    width:auto;
    height:14em;
}

div#home_who_uses_carousel p.carousel-description {
    font-size: 1.15em;
}

div#home_who_uses_carousel p.carousel-author {
    font-style: italic;
}

div#home_who_uses_carousel .carousel-control {
    background-image: none;
    color:black;
}

div#home_who_uses_carousel .carousel-control span {
    opacity: 0.4;
}

.file-type-icon {
    display: block;
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.file-type-icon img {
    max-width: 32px;
    max-height: 32px;
}

.subtle {
    font-size: 80%;
}

.none_text, .subtle {
    color: if(lightness($text-color) > 50, darken($text-color, 20%), lighten($text-color, 30%));
}

.powered-by {
    padding: 2px;
    margin: 2px auto;
    background-color: #fff;
    width: 90px;
    display: block;
    border-radius: 4px;
}

.powered-by img {
    margin-bottom: 0.25em;
}

#content {
    flex: 1 0 auto;
}

#ft {
    background-color: $panel-default-heading-bg;
    flex-shrink: 0;
    text-align: center;
    margin-top: 2em;
    padding: 1em 0.5em;
    font-size: small;
}

#ft .ft-info {
    padding: 10px;
}

#seek-credit {
    text-align: center;
    padding-left: 10px;
    float: right;
}

#delete-favourite-zone {
    background-color: $brand-danger;
    color: white;
    font-size: small;
    padding: 8px 3px;
    text-align: center;
    border-radius: 4px;
    margin: 5px;
}

#add-favourites-zone {
    padding: 0.75em;
}

#add-favourites-zone.active {
    border-style: solid;
    border-width: 1px 0;
    border-color: $brand-success; /* a bootstrap variable! (green colour) */
}

#add-favourites-zone-text {
    padding: 0.25em 0.75em;
    background: $brand-success;
    color: white;
    font-size: small;
}

#advanced-search {
    vertical-align: middle;
    padding: 10px 0 0 0;
}

@media (min-width: $screen-md-min) {
    #search_box {
        width: 300px; /* overflows in chrome without this */
    }

    #advanced-search {
        position: absolute;
        right: 0;
        border-style: solid;
        border-color: $dropdown-border;
        border-width: 1px;
        background: $dropdown-bg;
        padding: 10px;
        margin-top: 2px;
        z-index: 10;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    }
}

span.truncated-name {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.sectionIcons li a,
.sectionIcons li span.disabled_icon {
    padding: 0.5em;
    *padding: 0.2em 0.5em;
    text-decoration: none;
    @include rounded-box-shadow($seek-button-colour);
}

.sectionIcons li a:hover {
    @include box(darken($seek-button-colour, 10%));
}

.box_standout, .contribution_version_box, .contribution_section_box {
    padding: 0.5em 0.8em;
    @include rounded-box-shadow($info-box-colour);
}

.contribution_section_box {
    padding: 0.5em 0.25em;
    text-align: center;
    margin-bottom: 0.6em;
}

.contribution-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.contribution-header a.favouritable {
    @include rounded-box-shadow(#ffffff);
    float: left;
    margin-right: 0.5em;
}

.contribution-header a.favouritable > img {
    padding: 2px;
    height: 34px;
}

.contribution-header h1 {
    margin-top: 0;
}

img.icon {
    margin-right: 0.25em;
}

h1 div.version {
    display: inline-block;
    font-size: 16px;
    color: $gray-light;
    position: relative;
}

h1 div.version a.dropdown-toggle {
    cursor: pointer;
}

.list_item_actions .btn {
    width: 9em;
}

.list_item_content {
    font-size: 85%;
}

.list_item_title {
    display: inline;
}

.list_item_desc {
    margin-bottom: 1em;
}

#description p:last-child, .list_item_desc p:last-child, #home_description p:last-child {
    margin-bottom: 0;
}

ul.no-icon {
    list-style: none;
}

div.hidden_list_item {
    margin-top: 6px;
    padding: 1em;
    color: #999;
    @include rounded-box-shadow(#F5F5F5);
}

.clickable {
    cursor: pointer;
}

.ui-draggable-dragging {
    z-index: 1000;
}

.favourite .framed {
    margin-bottom: 4px;
}

input.calendar {
    padding-left: 32px;
    background-image: url(asset-path("famfamfam_silk/calendar.png"));
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

a.select_assay_class {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    @include rounded-box-shadow(#F5F5F5);
    margin: 10px;
}

a.select_assay_class:hover {
    background-color: #FCFCFC;
    text-decoration: none;
}

.box_editing_inner {
    @include rounded-box-inset-shadow(#F5F5F5);
    padding: 0.5em;
    margin-bottom: 1em;
}

#search_box {
    position: relative;
}

.index-page-setting {
    width: 16em;
    display: inline-block;
}

.index-page-setting > label {
    display: block;
}

.index-page-setting .btn-group label {
    width: 6em;
}

label.admin-checkbox {
    font-weight: bold
}

div.isa_graph {
    background: $panel-bg;
    border-color: $panel-default-border;
}


#user-menu-button {
    height: $navbar-height;
}

.publishing_options {
    padding: 0.5em 1em;

&.publishable {
     background-color: #fafaff;
     border-left-color: $btn-success-bg;
 }

&.not-publishable {
     border-left-color: $btn-warning-bg;
 }

&.already-published {
     border-left-color: $gray-light;
 }
}

.publish-colour {
    color: $btn-success-bg;
}

.publish-checkbox {
    background-color: $btn-success-bg;
    color: $btn-success-color;
    padding: 0px 10px;
    border-radius: 5px;
    display: inline-block;
}

.sample-attribute .attribute-handle { }

.sample-attribute .attribute-position .glyphicon {
    color: #fff;
}

a.remove-association {
    text-decoration: none;
    vertical-align: middle;
    color: $brand-danger !important;
&:hover {
     text-decoration: none;
 }
}

.association-candidate-list {
    border: 1px solid $list-group-border;
    max-height: 200px;
    overflow-y: scroll;

.list-group-item {
    border-radius: 0;
}
}

a.selectable.selected,
a.selectable.selected:hover,
a.selectable.selected:focus,
.selectable.selected,
.selectable.selected:hover,
.selectable.selected:focus {
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
}

.samples-table-container {
    overflow: auto;
}

table > tbody > tr > td.sample-field-error {
    background-color: $state-danger-bg;
    padding: 0;

> div {
    padding: 8px;
}
}

img.avatar-corner-icon {
    display: block;
    position: absolute;
    right: 1px;
    bottom: 1px;
}

.favouritable {
    display: inline-block;
}

.permissions-table {
    width: auto;
    border: none;

.name-column {
    border: none;
}
.name-column, .name-cell {
    max-width: 200px;
    width: 200px;

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    max-width: 250px;
    width: 250px;
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    max-width: 400px;
    width: 300px;
}
@media (min-width: $screen-lg-min) {
    max-width: 600px;
    width: 400px;
}
}

tbody > tr > td {
    vertical-align: middle;
    padding: 5px;
}

.permission-column.no-access, .privilege-cell.no-access {
    border-left-width: 3px;
    border-right-width: 3px;
}

.permission-column.hidden, .privilege-cell.hidden {
    display: none;
}

.permission-column {
    text-align: center;
    width: 7em;
    border-top: 1px solid #ddd !important;
}

.actions-column, .actions-cell {
    border: none;
    text-align: left;
}

.name-cell {
    border-left: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.permission-row.mandatory {
.name-cell {
    font-weight: bold;
}
}

.permission-row.hidden {
    display: none;
}

.privilege-cell {
    text-align: center;

&.enabled {
     background-color: #c3e8b9;
     background-image: url(asset-path("crystal_project/16x16/apps/clean.png"));
     background-position: center center;
     background-repeat: no-repeat;

input {
    display: none;
}

&:hover {
     opacity: 0.7;
 }
}

&.disabled {
     background-image: linear-gradient(45deg,rgba(200,200,200,.15) 25%,transparent 25%,transparent 50%,rgba(200,200,200,.15) 50%,rgba(200,200,200,.15) 75%,transparent 75%,transparent);
     background-size: 33px 33px;
&:hover {
     cursor: auto;
 }

input {
    display: none;
}
}

&.no-access {
&.enabled {
     background-color: #ffc2c4;
     background-image: url(asset-path("famfamfam_silk/cross.png"));

&:hover {
     opacity: 0.7;
 }
}
}

&:hover {
     cursor: pointer;
 }
}
}

#preview_permissions {
p.private {
    color: $brand-danger;
}
p.public {
    color: $brand-success;
}
ul {
    list-style: none;
    padding-left: 16px;
}
}

.type-icon-wrapper {
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
}
.type-icon {
    max-width: 24px;
    max-height: 24px;
}

div.popup-contributor {
    width: 270px;
    display: inline-block;
    margin: 5px;
    clear: both;

.favouritable {
    float: left;
    margin-right: 5px;
    left: 0;
    top: 0;
}

div.popup-contributor-name {
    height: 3em;
    display: table-cell;
    vertical-align: middle;
}
}

.list_item {
.rli-head {
    display: flex;
}

.list_item_title {
    flex-grow: 1;
    flex-shrink: 0;

img {
    max-height: 34px;
}
}

.rli-project-list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    flex-grow: 0;
    margin-left: 3em;
}
}

#user-menu > .dropdown-menu {
@media (min-width: $screen-md-min) {
    max-width: 24em;
}
li.project-item > a {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
}

.admin_tasks ul {
    padding-left: 0.5em;
}

.type-tree {
ul {
    background-image: url('tree/line.png');
    background-repeat: repeat-y;
    padding: 0;
    margin: 0;
}
li {
    padding-left: 24px;
    line-height: 24px;
    list-style: none;
    background-image: url('tree/node.png');
    background-repeat: no-repeat;
&.selected {
     background-color: lightblue !important;
 }
&:last-child {
     background-image: url('tree/last_node.png');
     background-color: $body-bg; /* This stops the <ul>'s background overlapping */
 }
}
}

[data-role="seek-associations-list"] ul {
    max-height: 250px;
    overflow-y: auto;
}

.disabled_icon.disabled {
    pointer-events: inherit;
}

li.role {
    list-style: none;
    margin-left: -18px;
}

label.required::after {
    content: '*';
}

span.required, label.required::after {
    color: red;
    font-weight: bold;
    margin-left: 0.2em;
}

.mini-resource-list {
    padding: 0;

li {
    list-style: none;
}
}

.mini-resource-list-item {
    display: flex;

.mini-resource-list-avatar {
    width: 24px;
    margin-right: 5px;
    flex-shrink: 0;
}
.mini-resource-list-title { }
.mini-resource-list-text {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.mini-resource-list-count {
    flex-shrink: 0;
    color: #999;
}
.mini-resource-list-type {
    color: #999;
    display: block;
}
}

.dashboard-panel {
    position: relative;

.panel-heading {
    line-height: 2.5;
    padding: 5px 10px;
}

.panel-body {
    position: relative;
}

.panel-body.loading::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: center center no-repeat url(asset-path("ajax-loader-large.gif")) rgba(255,255,255,0.6);
}
}

#dashboard-controls {
    margin-bottom: 5px;

.form-group, .btn {
    margin-top: 5px;
}
}

.js-highlight, .js-highlight-yellow, .js-highlight-warning {
    animation: js-highlight-fadeout 1s;
}
@keyframes js-highlight-fadeout
{
    0%   { background-color: #ffffcc; }
    100% { background-color: inherit; }
}

.js-highlight-danger, .js-highlight-error, .js-highlight-red, .js-highlight-failure {
    animation: js-highlight-red-fadeout 1s;
}
@keyframes js-highlight-red-fadeout
{
    0%   { background-color: $brand-danger; }
    100% { background-color: inherit; }
}

.js-highlight-success, .js-highlight-green { animation: js-highlight-green-fadeout 1s; }
@keyframes js-highlight-green-fadeout
{
    0%   { background-color: $brand-success; }
    100% { background-color: inherit; }
}

.js-highlight-blue { animation: js-highlight-blue-fadeout 1s; }
@keyframes js-highlight-blue-fadeout
{
    0%   { background-color: #a7c7ff; }
    100% { background-color: inherit; }
}

#null_license img {
    padding-right:1em;
}

.my-items-delete-btn {
    display: none;
}

#my-items .my-items-delete-btn {
    display: inline-block;
}

div.index-container {
    display: flex;
}

div.index-content {
    flex-grow: 1;
    min-width: 0; /* This seems to prevent content overflowing parent. Not sure why... */
}

div.index-filters {
    width: 240px;
    margin-right: 20px;
    flex-shrink: 0;
}

.filter-category {
.filter-category-title {
    background: #eee;
    padding: 5px;
    border-bottom: 1px solid $pagination-border;
}
border-top: 1px solid $pagination-border;
border-left: 1px solid $pagination-border;
border-right: 1px solid $pagination-border;
&:last-child {
     border-bottom: 1px solid $pagination-border;
 }

.filter-option {
    display: flex;
    padding: 5px;
.filter-option-label {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.filter-option-count {
    flex-shrink: 0;
}
}

&.collapsed {
.filter-option-hidden {
    display: none;
}
}
}

.filter-option {
    display: flex;
    padding: 5px;

.filter-option-label {
    display: inline-block;
}

.filter-option-count {
    color: #999;
    display: inline-block;
}

&:hover {
     text-decoration: none;
     color: $pagination-hover-color;
     background-color: #fafafa;
 }

&.filter-option-active {
     color: $pagination-active-color;
     background-color: $pagination-active-bg;
.filter-option-count {
    display: none;
}

&:after {
     content: "×";
     float: right;
     margin-left: 5px;
     font-weight: bold;
 }

&:hover {
     background-color: lighten($pagination-active-bg, 10%);
     color: $pagination-active-color;
 }
}
}

.active-filters {
.filter-option {
    display: inline-block;
    padding: 0 5px;
    border-radius: 4px;
    margin-bottom: 4px;
}
}

.expand-filter-category-link {
    display: block;
    color: #999;
    background: #f9f9f9;
    padding: 2px 5px;
&:hover, &:active, &:visited {
                        text-decoration: none;
                        color: #999;
                    }
&:hover {
     background: #eee;
 }
}

.filter-option-field-group {
    display: flex;
    line-height: 24px;

.filter-option-field {
    flex-grow: 1;
    min-width: 5em;
    padding: 5px;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #ccc;
&:first-child {
     border-width: 0;
 }
}
.filter-option-field-button {
    flex-shrink: 1;
    color: inherit;
    border-left: 1px solid #ccc;
    padding: 5px 10px;
    display: block;
}
.filter-option-field-clear {
    flex-shrink: 1;
    color: #999;
    text-decoration: none;
    font-size: 26px;
    padding: 5px;
    font-weight: bold;
}
}

.filter-option-dropdown {
    border: none;
    background: transparent;
    width: 100%;
    border-radius: 0;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
}

.pagination-container {
    text-align: center;
    clear: both;
}

.remote-content-preview-result {
    border-left: 3px solid #ccc;
    padding: 0.5em 1em;
    margin: 0.5em 1em;
}

li.upload-field-tab {
    cursor: pointer;
}

img.github-logo {
    width: 16px;
    height: 16px;
}

.github-path {
    padding: 8px 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: inline-block;
}

#application-owner .list_item {
.hidden-xs {
    display: none;
}
.col-sm-6 {
    width: 100%;
}
.list_item_avatar {
    width: 25%;
}
.list_item_content {
    width: 70%;
}
}

.workflow-diagram img {
    max-width: 100%;
}

ul.list.collapsed li.hidden-item {
    display: none;
}

h5.author-list-title {
    margin-top: 0;
    font-weight: bold;
}

ul.author-list {
    padding-left: 0;
}

li.author-list-item {
    display: inline;
&:not(:last-child):after {
     content: ", ";
 }
}

hr.discussion-links-divider {
    margin: 0.5em;
}

div.discussion-link {
    word-wrap: break-word;
}

.typeahead-new-item {
    color:darkblue;
    font-style: bold;
}

span.disabled {
    opacity: 0.65;
}

.btn.disabled img.icon {
    opacity: 0.4;
}

/* Rich editor box */
.short-editor ~ .CodeMirror,
.short-editor ~ .CodeMirror .CodeMirror-scroll {
    min-height:4em;
}

/* controlled vocab term table */
#controlled-vocab-terms-fixed {
    display:block;
    overflow-y: auto;
    max-height: 20em;
}

.jstree {
i.jstree-checkbox {
    display: none;
}
&.allow-root-select .git-jstree-root > i.jstree-checkbox {
     display: inherit;
 }
&.allow-tree-select .git-jstree-tree > i.jstree-checkbox {
     display: inherit;
 }
&.allow-blob-select .git-jstree-blob > i.jstree-checkbox {
     display: inherit;
 }
&.allow-blob-preview .jstree-leaf:hover .git-jstree-blob {
     text-decoration: underline;
 }
}

.git-browser-modal .modal-body {
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}

input.git-path {
    padding-left: 32px;
    background-image: url(asset-path("famfamfam_silk/folder_magnify.png"));
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.citation-box {
    overflow-x: auto;
}

a.orcid-link {
    background-image: url(image-path('logos/orcid_16x16.png'));
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-top;
}

#author-form {
.author-form-search {
    display: inline-block;
.bootstrap-tagsinput {
    width: 20em;
}
}

.assets-creator-list {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 10px 0;

.author {
    padding: 3px;
    border-radius: 4px;
&.ui-sortable-helper {
     background-color: $hover-highlight;
     opacity: 0.7;
 }
}
}
}

.seek-description {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.markdown-body {
    padding: 15px;
    min-height: 20px;
    margin-bottom: 20px;
    font-size: inherit !important;
}

.auto-collapse {
    max-height: 10em;
    overflow: hidden;
}

.auto-collapse.open {
    max-height: 9999em;
}

.auto-collapse-btn {
    cursor: pointer;
}

.git-annotated > a {
    font-weight: bold;
}

.git-annotated-parent > .git-annotation {
    opacity: 0.3;
}

.git-annotation {
    position: relative;
    margin-right: 2px;
    background-color: $label-default-bg;
&[data-annotation-key="main_workflow"] { background-color: $label-primary-bg; }
}

.git-image-preview {
    max-width: 100%;
}

ul.workflow-port-type {
    padding-left: 0;
li {
    list-style-type: none;
}
li + li:before {
    content: 'or';
    color: #ccc;
}
ul.workflow-port-type {
    padding-left: 2em;
}
}

div#super_tag_cloud {
    font-size: x-large;
}