$navbar-default-bg: rgb(123, 177, 87);
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-link-color: #19340d;
$navbar-default-link-active-color: lighten($navbar-default-link-color, 50%);
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 60%);

$body-bg: rgba(240, 248, 227, 0.2);
$panel-bg: lighten($body-bg, 25%);
$panel-default-heading-bg: darken($body-bg, 35%);
$panel-footer-bg: $panel-default-heading-bg;

//$btn-primary-bg: rgb(164, 210, 131);
//$btn-primary-color: #19340d;

