<% redirect_to ||= taverna_player.runs_path %>

<div id="buttons">
  <ul class="sectionIcons">
    <% if @run.finished? %>
        <li><%= render :partial => 'download_link', :locals => { :download_link_name => "Download all results", :download_url => run.results.url} %></li>
        <% workflow = Workflow.find(@run.workflow_id) %>
        <!--# If this run is part of a sweep - do not give option to create a new sweep off it.-->
        <!--# Also, if workflow does not have data input ports - there is nothing to sweep over.-->
        <% if @run.sweep_id.blank? && @workflow.data_input_ports.length > 0 %>
            <li><%= image_tag_for_key('sweep', main_app.new_sweep_path(:run_id => @run.id), nil, nil, "Data sweep based on this run") -%></li>
        <% end %>
        <% if @run.can_manage? -%>
            <li><%= image_tag_for_key('manage', main_app.edit_run_path(@run), nil, nil, "Manage run") -%></li>
        <% end -%>
    <% end %>
    <%= render :partial => "delete_or_cancel_button", :locals => {:run => @run, :redirect_to => redirect_to} %>
  </ul>
</div>