<div id="buttons">
  <ul class="sectionIcons">
    <% if @run.finished? %>
      <%= render :partial => 'download_all_button', :locals => {:run => @run} %>
      <li><%= image_tag_for_key('sweep', main_app.new_sweep_path(:run_id => @run.id), nil, nil, "Data sweep based on this run") -%></li>
      <% if @run.can_manage? -%>
        <li><%= image_tag_for_key('manage', main_app.edit_run_path(@run), nil, nil, "Manage run") -%></li>
      <% end -%>
    <% end %>
    <%= render :partial => "delete_or_cancel_button", :locals => {:run => @run} %>
  </ul>
</div>