<div id='<%= "#{id_prefix}_preview" %>' style='display:none;'>
  <b>Description:</b><span id="description"></span><br/>
  <b>Version:</b><span id="version"></span>
</div>
<script type="application/javascript">
    bind_data_select_to_fetch_preview('<%= id_prefix %>');
</script>