<%
   image_filename = icon_filename_for_key('download')

   image_options = { :alt => 'Download All' }
   img_tag = image_tag(image_filename, image_options).html_safe

   download_tag = "#{img_tag} Download all results".html_safe

%>

<li><%= link_to ('<span class="icon">' + download_tag + '</span>').html_safe, run.results.url -%></li>
