<%
   download_link_name ||= 'Download'
   download_url ||= ''

   image_filename = icon_filename_for_key('download')
   image_options = { :alt => download_link_name }
   img_tag = image_tag(image_filename, image_options).html_safe
   download_tag = "#{img_tag} #{download_link_name}".html_safe
%>
<%= link_to ('<span class="icon">' + download_tag + '</span>').html_safe, download_url -%>