
<div id="run-poll">
  <script type="text/javascript">
    var poll_interval = <%= TavernaPlayer.server_poll_interval * 2000 %>

    $(document).ready(
      function() {
        window.setTimeout("poll_run()", poll_interval)
      }
    );

    function poll_run() {
      $.get("<%= reload %>", null, null, "script")
    }
  </script>
</div>
