<%= javascript_include_tag 'DataTables-1.8.2/jquery.js', 'DataTables-1.8.2/jquery.dataTables.js', 'DataTables-1.8.2/jquery.dataTables.rowGrouping.js', 'DataTables-1.8.2/Scroller.js' %>
<script type="text/javascript">
    jQuery.noConflict();
    var $j = jQuery;
    $j(document).ready(function () {
        workflow_runs_table = $j('#workflow_runs_table').dataTable({
            "bPaginate":false,
            "bLengthChange":false,
            "bFilter":true,
            "bSort":true,
            "bInfo":false,
            "bAutoWidth":false,
            "bRetrieve":true,
            "aaSorting":[
                [ 4, "desc" ]
            ],
            "aoColumns":[
                { "sWidth":"15%" },
                { "sWidth":"15%" },
                { "sWidth":"10%" },
                { "sWidth":"10%" },
                { "sWidth":"15%", "bSearchable": false },
                { "sWidth":"15%", "bSearchable": false },
                { "sWidth":"10%", "bSortable":false, "bSearchable": false }
            ]
        });
        window.setInterval(function () { $j.get("<%= polling_url %>", null, null, "script") }, 5000);
    });
</script>

<div id="workflow_runs">
  <div class="scroll_box">
    <table cellpadding="0" cellspacing="0" class="display" id="workflow_runs_table" style="">
      <thead>
      <tr>
        <th>Run</th>
        <th>Workflow</th>
        <th>Category</th>
        <th>State</th>
        <th>Created</th>
        <th>Finished</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <%= render :partial => 'taverna_player/runs/table_body', :locals => { :runs => runs } %>
      </tbody>
    </table>
  </div>
</div>