<%= javascript_include_tag 'DataTables-1.8.2/jquery.js', 'DataTables-1.8.2/jquery.dataTables.js', 'DataTables-1.8.2/jquery.dataTables.rowGrouping.js', 'DataTables-1.8.2/Scroller.js' %>
<%= stylesheet_link_tag 'data_tables.css' %>
<script type="text/javascript">
    jQuery.noConflict();
    var $j = jQuery;
</script>

<script type="text/javascript" charset="utf-8">
    $j(document).ready(function () {
        workflow_runs_table = $j('#workflow_runs_table').dataTable({
            "bPaginate":false,
            "bLengthChange":false,
            "bFilter":true,
            "bSort":true,
            "bInfo":false,
            "bAutoWidth":false,
            "bRetrieve":true,
            "aaSorting":[
                [ 2, "asc" ]
            ],
            "aoColumns":[
                { "sWidth":"10%" },
                { "sWidth":"25%" },
                { "sWidth":"10%" },
                { "sWidth":"15%" },
                { "sWidth":"15%" },
                { "sWidth":"15%" },
                { "sWidth":"10%", "bSortable":false }
            ]
        });
    });
</script>

<div id="content">
  <div class="contribution_title">
    <h1><%= 'Workflow Runs' -%></h1>
  </div>

  <div class="show_basic">
    <div id="workflow_runs">
      <div class="scroll_box">
        <table cellpadding="0" cellspacing="0" class="display" id="workflow_runs_table">
          <thead>
          <tr>
            <th>Run id</th>
            <th>Workflow</th>
            <th>Type</th>
            <th>State</th>
            <th>Create time</th>
            <th>Finish time</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @runs.each do |run| -%>
              <tr class="gradeA">
                <% row = [run.id,
                          link_to(run.name, run),
                          'Simple',
                          run.state,
                          run.start_time,
                          run.finish_time,
                          (run.finished? || run.cancelled?) ? link_to('Delete', run, :method => :delete, :data => { confirm: 'Are you sure?' }) : link_to("Cancel", cancel_run_path(run.id), :method => :put, :data => { confirm: "Are you sure?" })]
                %>
                <% row.each do |column_data| %>
                    <td><%= column_data %></td>
                <% end %>
              </tr>
          <% end -%>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
