<table class='asset_report_table'>
  <thead>
    <tr>
      <th>Publication</th>
      <th>Publication SEEK URL</th>
      <th>PubMed ID / DOI</th>
      <th>Organism</th>
      <th>Data file titles</th>
      <th>Data file SEEK URLs</th>
      <th>Model titles</th>
      <th>Model SEEK URLs</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial=>"projects/asset_report/linked_publication_row",:collection=>linked_publication_table %>
  </tbody>
</table>