<%= stylesheet_link_tag "asset_report.css" %>
<div class="show_basic">
  <div class="tabber">
    <div class='tabbertab' title="Shared">
      <div class="report_tab_content">
        <%= render :partial => "projects/asset_report/shared_assets" -%>
      </div>
    </div>
    <div class="tabbertab" title="Linked">
      <div class="report_tab_content">
        <%= render :partial => "projects/asset_report/linked_publications" -%>
      </div>
    </div>
  </div>
</div>
