<!-- the links will be updated after the official doc is available -->
<div>
  For more information, please visit our
  <%= link_to 'Extended Metadata Technical Overview', Seek::Help::HelpDictionary.instance.help_link(:extended_metadata_technical_overview), target: '_blank' %> page.
  This is <%= link_to 'JSON schema', Seek::Help::HelpDictionary.instance.help_link(:extended_metadata_type_json_schema), target: '_blank' %> used to define your JSON file for creating a new extended metadata type via upload.
  Here’s a <%= link_to 'step-by-step example', Seek::Help::HelpDictionary.instance.help_link(:extended_metadata_type_example), target: '_blank' %> of how to create a new extended metadata type.
</div>
<br>