<h1>New Extended Metadata Type</h1>
<%= index_and_new_help_icon controller_name %>

<p>
  Extended Types can be defined semi-automatically by uploading a json format file to be used as a template.
</p>

<%= render :partial=>"form" -%>
