---
http_interactions:
- request:
    method: post
    uri: https://test-fe.cbu.uib.no/nels-api/user/sbi-storage/do
    body:
      encoding: UTF-8
      string: '{"method":"add","payload":{"sbi_current_path":"Storebioinfo/seek_pilot3/sdfsdfsdf/Analysis","dataset_id":1125253,"new":"test_create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer  fake-access-token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: '{"msgs":["data_set_id missing"]}'
  recorded_at: Fri, 09 Jun 2023 15:00:19 GMT
recorded_with: VCR 2.9.3
