---
http_interactions:
- request:
    method: get
    uri: https://test-fe.cbu.uib.no/nels-api/sbi/projects/91123122/datasets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"creation_date":"2017-05-17T22:00:00Z","owner_name":"","description":"test","id":91123528,"name":"Illumina-sequencing-dataset","type":"Illumina_seq_data"},{"creation_date":"2017-05-17T22:00:00Z","owner_name":"","description":"test","id":91123527,"name":"proteomics-dataset","type":"Proteomics_data"}]'
  recorded_at: Fri, 28 Jul 2017 09:00:01 GMT
recorded_with: VCR 2.9.3
