---
http_interactions:
- request:
    method: get
    uri: https://test-fe.cbu.uib.no/nels-api/sbi/projects/91123122
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":91123122,"description":"Seek pilot project 1","issensitive":false,"name":"seek_pilot1","contactperson":"Kidane
        M. Tekle","contactaffiliation":"NeLS","disk_usage":578212700,"contactemail":"kidane.tekle@gmail.com","creationtime":1495087464000,"sizeallocated":1073741824000,"sizeused":52785481948,"sbi_quota_id":2062,"quota_name":"NeLS_Test","ismetaquota":false,"quota_contactperson":"Kjell
        Petersen","quota_contactemail":"Kjell.Petersen@uni.no","quota_contactaffiliation":"","disk_stats":[{"id":53663,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1563951297796},{"id":54005,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1563951318462},{"id":54192,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1563951376351},{"id":54854,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1564387501560},{"id":55636,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1564657603827},{"id":56859,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":[...]
