---
http_interactions:
- request:
    method: get
    uri: https://test-fe.cbu.uib.no/nels-api/v2/sbi/projects/91123122
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"id":91123122,"name":"seek_pilot1","description":"Seek pilot project
        1","creationtime":1495087464000,"sizeused":578212721,"contactperson":"Kidane
        M. Tekle","contactemail":"kidane.tekle@gmail.com","contactaffiliation":"NeLS","quotaid":2062,"institution_id":-1,"quota_sizeallocated":1073741824000,"quota_sizeused":52801118697,"quota_name":"NeLS_Test","issensitive":false,"quota_utilization":0.04917487380746752,"disk_stats":[{"id":53663,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1563951297796},{"id":54005,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1563951318462},{"id":54192,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1563951376351},{"id":54854,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1564387501560},{"id":55636,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":1564657603827},{"id":56859,"statscontextid":300,"targetid":1123122,"value":6.96587024E8,"statstime":[...]
