---
http_interactions:
- request:
    method: post
    uri: https://test-fe.cbu.uib.no/nels-api/user/sbi-storage/do
    body:
      encoding: UTF-8
      string: '{"method":"list","payload":{"path":"Storebioinfo/seek_pilot3/Demo Dataset/Analysis","project_id":91123122,"dataset_id":91123528}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"elements":[{"size":9142,"path":"Storebioinfo/seek_pilot3/Demo Dataset/Analysis/main_logo.svg","name":"main_logo.svg","creationtime":1683207670626,"isFolder":false,"project_id":91123122,"dataset_id":91123528,"refid":"8cd8932b-805e-4f1b-8f60-2e8103d9700c","lastUpdate":1683207670626,"islocked":false,"membership_type":2,"description":""},{"size":11,"path":"Storebioinfo/seek_pilot3/Demo
        Dataset/Analysis/little_file.txt","name":"little_file.txt","creationtime":1683729238658,"isFolder":false,"project_id":91123122,"dataset_id":91123528,"refid":"8cd8932b-805e-4f1b-8f60-2e8103d9700c","lastUpdate":1683729238658,"islocked":false,"membership_type":2,"description":""},{"name":"test","size":0,"path":"Storebioinfo/seek_pilot3/Demo
        Dataset/Analysis/test","project_id":91123122,"dataset_id":91123528,"refid":"8cd8932b-805e-4[...]
