---
http_interactions:
- request:
    method: post
    uri: https://test-fe.cbu.uib.no/nels-api/seek/sbi/projects/1125299/datasets/1124840/analysis/data/do
    body:
      encoding: UTF-8
      string: '{"method":"initiate_upload","payload":{"location_in_sub_type":"","file_name":"little_file.txt"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-access-token
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 24 Apr 2025 12:26:09 GMT
recorded_with: VCR 6.3.1
