---
http_interactions:
- request:
    method: post
    uri: https://test-fe.cbu.uib.no/nels-api/seek/sbi/projects/1125299/datasets/1124840/analysis/data/do
    body:
      encoding: UTF-8
      string: '{"method":"initiate_upload","payload":{"location_in_sub_type":"","file_name":"little_file.txt"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"url":"https://test-fe.cbu.uib.no/nels-upload2/68164592-6813-4f9e-952f-d4a9986e133f","jobId":6573}'
  recorded_at: Thu, 13 Oct 2022 15:50:23 GMT
- request:
    method: post
    uri: https://test-fe.cbu.uib.no/nels-upload2/68164592-6813-4f9e-952f-d4a9986e133f
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryGaeKY8hYw61CuYre\r\nContent-Disposition: form-data;
        name=\"file\"; filename=\"little_file.txt\"\r\nContent-Type: text/plain\r\n\r\nlittle
        file\r\n------RubyFormBoundaryGaeKY8hYw61CuYre--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryGaeKY8hYw61CuYre
  response:
    status:
      code: 204
      message: OK
    headers:
  recorded_at: Thu, 13 Oct 2022 15:50:23 GMT
- request:
    method: post
    uri: https://test-fe.cbu.uib.no/nels-api/seek/sbi/projects/1125299/datasets/1124840/analysis/data/do
    body:
      encoding: UTF-8
      string: '{"method":"upload_done","payload":{"job_id":6573}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-access-token
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 13 Oct 2022 15:50:23 GMT
- request:
    method: post
    uri: https://test-fe.cbu.uib.no/nels-api/seek/sbi/projects/1125299/datasets/1124840/analysis/data/do
    body:
      encoding: UTF-8
      string: '{"method":"job_state","payload":{"job_id":6573}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"state_id":103,"completion":0}'
  recorded_at: Thu, 13 Oct 2022 15:50:23 GMT
- request:
    method: post
    uri: https://test-fe.cbu.uib.no/nels-api/seek/sbi/projects/1125299/datasets/1124840/analysis/data/do
    body:
      encoding: UTF-8
      string: '{"method":"job_state","payload":{"job_id":6573}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer fake-access-token
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: '{"state_id":101,"completion":100}'
  recorded_at: Thu, 13 Oct 2022 15:50:26 GMT
recorded_with: VCR 2.9.3
