.forums div.forums {
    margin-left: 0.5em;
}

.forums #container
{
	width:92%;
	margin:0 auto;
	min-width:760px;
}

.forums #content p.subtle {
	margin:0 0 0.5em;
	float:right;
	}
.forums #content .subtle a
{
	color:#999;
	font-size:0.7em;
}

.forums p.pages
{
	xfloat:right;
	font-size:0.85em;
	margin-top:1.2em;
}

.forums span.pipe
{
	color:#999;
	margin:0 0.15em;
}

.forums div.news
{
	background:#cfc;
	text-align:center;
	margin:0 auto;
	width:40em;
	margin-top:1em;
	padding:7px 15px;
	font-size:0.7em;
	font-weight:bold;
}
.forums div.news p { margin:0; }

.forums p.notice,
.forums p.sections
{
	background:#df9;
	padding:7px 15px;
	border:1px solid #bd7;
	margin-top:0;
	font-size:0.8em;
}

.forums p.sections a.action { color:#c00; }

.forums .hasfile
{
	color:#090;
	font-weight:bold;
	margin-left:10em;
}

.forums p.subtitle
{
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.9em;
	color:#666;
	font-weight:bold;
	padding-bottom: 1.2em;
}
.forums p.subtitle img { vertical-align: bottom; }

.forums ul.quotes,
.forums ul.flat
{
	margin-left:0;
	padding-left:0;
	font-size:0.75em;
	list-style-type:none;
}
.forums ul.talking li span
{
	color:#666;
	font-size:0.8em;
}

.forums ul.flat li
{
	background:url("../../images/savage_beast/small_circle.gif") no-repeat 5px 6px;
	padding-left:15px;
}
.forums ul.ways li span
{
	color:#666;
	font-size:0.9em;
}

.forums ul.quotes
{
	font-size:0.8em;
}
.forums ul.quotes li {margin-bottom:1em; }
.forums ul.quotes span
{
	color:#666;
	font-size:0.9em;
}


.forums ul.why
{
	font-family:'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:1.25em;
	margin-top:2em;
}
.forums ul.why li p
{
	margin-top:0.5em;
	color:#666;
	font-size:0.9em;
}
.forums ul.why li p strong { color:#c00; }

.forums a.utility
{
	font-weight:normal;
	color:blue;	
}
.forums a.remove { color:#c00; }
.forums a.utility:hover
{
	color:red;
	text-decoration:underline;
}
.forums a.subtle { color:#369; }
.forums a.subtle:hover { color:blue; }

.forums div.asset
{
	background:#e7e7e7;
	padding:7px 15px;
	border-bottom:1px solid #ccc;
	font-family:'Lucida Grande',Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	margin-bottom:1em;
	text-align:center;
}

.forums input.primary
{
  font-size:1.2em;

}

.forums #content .legend
{
	margin-top:0;
	color:#999;
	font-size:0.8em;
}
.forums #content .legend span strong { color: black; }
.forums #content .legend span
{
	margin-right:5em;
}

.forums p.private img { vertical-align:bottom;}
.forums p.private
{
  xcolor:white;
  color:#c00;
  font-weight:bold;
}
.forums p.psmall {
  font-size:0.7em;
  font-weight:normal;
}

.forums div.upload
{
	margin-top:-0.5em;
	xbackground:#e7e7e7;
	padding:7px 0;
	float:left;
	xwidth:63%;
	margin-left:0.5em;
}
.forums div.upload p label { font-size:0.7em; font-weight:bold;}
.forums div.upload p {margin:0}
.forums div.upload input { margin-left:0.75em;}
.forums div.upload a
{
	color:#666;
	font-size:0.8em;
}

.forums .pastePreview pre { font-size:0.9em; }

.forums .pastePreview p
{
	color:#777;
	font-size:0.7em;
	margin:0 0 0.5em;
}

.forums .pastePreview .when {	float:right; }
.forums .pastePreview .when strong {	color:black; }

.forums p
{
	font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}


.forums #news
{
	background:#248;
	background:#475f30;
	border:2px solid #778f60;
	border-width:2px 0;
	padding:5px 4%;
	color:#ffc;
	font-size:0.70em;
	text-align:center;

	position:fixed;
	bottom:0;
	width:100%;
	padding:6px 0 7px;
	z-index:50;
}
.forums #news a.subtle { 	color:#ffc; font-weight:normal;}
.forums #news a {color:gold; font-weight:bold}
.forums #news p {margin:0;}

.forums #header ul#nav
{
	float:right;
	list-style-type:none;
	margin:0;
	margin-top:0.4em;
}

.forums #header ul#nav li
{
	color:gold;
	font-family:'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:0.7em;
	float:left;
	margin-left:2em;
}

.forums #header ul#nav li a
{
	display:block;
	float:left;
	xcolor:#a86;
	color:#9c6;
	xpadding:3px 1em;
}

.forums #header ul#nav li.login a {
	color:gold;
	text-decoration: none;
}

.forums #header ul#nav li.active a
{
	font-weight:bold;
	xbackground:#222;
	color:#ca8;
}

.forums #header ul#nav li.hot a
{
	color:orange;
}
.forums #header ul#nav li.logout a
{
	color:#666;
}

.forums .line_numbers,
.forums .lineNumbers
{
	color:#999;
	padding-right:0.5em;
	text-align:right;
}
.forums .line_numbers strong { color:#555; }

.forums td.code,
.forums .thePaste
{
	padding-left:0.75em;
}

.forums .photo
{
	background:#aaa url("../../images/savage_beast/clearbits/smile.gif") no-repeat 8px 8px;
}

.forums .smallutils
{
	xfloat:right;
	margin-top:-0.5em;
	margin-bottom:0em;
	text-align:right;
}
.forums .smallutils a
{
	color:#666;
	font-size:0.7em;
}
.forums .smallutils a:hover {color:#369;}

.forums table.noborder td
{
  border:0;
}

.forums table.nopad td
{
  padding-left:0;
}

.forums table
{
	border-collapse:collapse;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
.forums table.wide {	width:95%; }


/* topics */

.forums #forum_description,
.forums #topic_body
{
  width:99%;
}

.forums table
{
	border-collapse:collapse;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
.forums table.wide {	width:100%; }
.forums table tr th
{
	background:#444444;
	color:white;	
	padding:3px 10px;
	border:1px solid #222;
}
.forums table tr td
{
	padding:7px;
	border:1px solid #ddd;
}

/* specific table styles */

.forums table.forums,
.forums table.topics
 { font-size:0.8em; }
.forums table.forums tr th { font-size:0.8em; }
.forums table.forums tr td .title {
	font-size:1.4em;
	}

.forums table.forums tr td .desc {
margin:0.5em 0;
}
.forums table.forums tr td
{
	padding:4px 15px;
}
.forums table.forums a.tiny
{
	font-size:0.8em;
	color:#666;
}

.forums table.forums .posts
{
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:0.8em;
}

.forums table tr th.la { 	text-align:left; }
.forums table tr td.ca { 	text-align:center; }
.forums table tr td.inv { background:#eee; }
.forums table tr td.vat { vertical-align:top; }

.forums table tr td.narrow { padding:2px 5px;}

/* last post */
.forums table tr td.lp {
	font-size: 1em;
	color:#333; }
.forums table tr td.lp span { color:#666; }
.forums table tr td.lp span a { color:#369; }

.forums table.topics tr td.c1
 {	border-right:0; padding-right:2px; }
.forums table.topics tr td.c2
  {	border-left:0; padding-left:2px; }


.forums table.topics tr td.c3 { border-left:0; }

.forums table.forums tr td.c1 {	border-right:0; padding-right:5px; padding-top:7px; }
.forums table.forums tr td.c2 {	border-width:1px 0; padding-left:5px; }
.forums table.forums tr td.c3 {	border-left:0; padding-left:5px; }
.forums table.topics tr td.stat { font-size:1em; }

.forums table.topics tr td .flag {
  background:#333;
  color:white;
  padding:1px 5px;
  margin-right:0.5em;
}


.forums table.topics tr td.c2 small a,
.forums .crumbs small a
{ color:#666; }


/* users */

.forums a.admin
{
	color:#c00;
	font-weight:bold;
}



/* misc */

.forums .button_or
{
  color:#333;
  padding-left:0.5em;
  font-size:0.9em;
  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
.forums .button_or a { color:#009; }

.forums form.dialog
{
	margin-top:3em;
	background:#eee;
	width:300px;
	padding:15px;
}

.forums form .entryhelp
{
  font-size:0.7em;
}

.forums form .help
{
	font-size:0.8em;
}

.forums span.arrow
{
	font-weight:normal;
	font-size:0.9em;
	color:#999;
}

.forums div.stats
{
	margin-top:2em;
	background:#ded;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	padding:15px 15px;
	border:2px solid #393;
	border-width:1px 0;
}
.forums div.stats .posts { float:right; text-align:right; }

/* breadcrumbs */

.forums .crumbs
{
	font-size:0.9em;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
        margin-top:0.25em;
}
.forums .crumbs a { color:#448; }
.forums .crumbs a:hover { color:red; text-decoration:none; }

/* posts */

.forums table.posts
{
	border-bottom:2px solid #eee;        
}

.forums table.posts tr td
{
	
}
.forums table.posts tr.spacer td
{
        font-size: 1px;
        max-height: 0.5em;
}

/* fade edit links */
.forums .post .author .edit a
{
  font-size:0.7em;
  color:#666;
}

.forums .post .author img {
	float:left;
	margin-right:0.5em;
	}
.forums .post .author
{
	border-top:1px solid #bbb;
        border-bottom:1px solid #bbb;
        border-right: 1px solid #bbb;
	padding:5px 10px;
	background:#eee;
	font-weight:bold;
	color:#333;
	font-size:0.9em;
	min-height:32px;
	width:10em;
	min-width:8em;
	vertical-align:top;
}

.forums .post .author .posts,
.forums .post .author .admin
{
	display:block;
	font-size:0.75em;
	color:black;
	color:#666;
}
.forums .post .author a
{
	color:#333;
	text-decoration:none;
}
.forums .post .author a.threadauthor
{
	color:#080;
}
.forums .post .author a:hover
{
	color:#369;
	text-decoration:underline;
}

.forums .post .date
{
	font-size:0.75em;
	color:#666;
	font-weight:normal;
	margin-bottom:0.5em;
}

.forums .posts .post .body
{
	border-top:1px solid #bbb;
        border-bottom:1px solid #bbb;
	font-size:0.9em;
	padding:10px 20px;
}

.forums .posts .post .body blockquote
{
	border:1px solid #cda;
	border-left:3px solid #9a7;
	border-right:0;
	background:#efc;
	padding:1px 10px;
	margin-left:0;
}

.forums .posts .post .body pre
{
	font-size:0.8em;
	background:#eee;
	padding:5px 10px;
	border:1px solid #ccc;
	border-left:3px solid #ddd;
	border-right:0;
	overflow:auto;
	font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", serif;
}

.forums .posts .post .body a:hover { color:brown; }

.forums .posts .post .body blockquote p
{
	margin:0.5em 0;
}

.forums .post .body p.topic
{
  font-size:0.8em;
  font-weight:bold;
  background:#eee;
  padding:2px 10px;
}

/* editing posts */

/*
table.posts .editing td {
}
table.posts .editing td.author {
  background:#030;
  }

table.posts .editing td.author * { color:#ccc; }
table.posts .editing td.body { }
*/

/* other stuff */

.forums p.online {margin-bottom:0;}

.forums img.icon
{
	background:#696;
	background-image: url("../../images/savage_beast/clearbits/bg_rounded.gif");
	background-repeat: no-repeat;
	vertical-align: bottom;
}
.forums img.reply { float:right; }
.forums img.orange { background-color:darkorange; }
.forums img.grey { background-color:#ccc; }
.forums img.darkgrey { background-color:#999; }
.forums img.green { background-color:#0c0;}

.forums .post .author .icon
{
	float:right;
}

/* reply */

.forums div.editbox
{	
	border:2px solid #333;
	border-width:2px 0;	
	width:100%;
	padding:6px 0 7px;
	z-index:50;
}

.forums div.editbox .container
{
	width:92%;
	margin:0 auto;
	min-width:760px;
}

.forums div.editbox p { margin:0.5em 0;}
.forums div.editbox textarea
{
  width:100%;
	background:white;
	opacity:1;
	font-size:0.8em;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
.forums div.editbox .button_or a
{
  color:#ccc;
}
.forums div.editbox table td { border:0; }
.forums div.editbox a.utility
{
  color: #f99;
  font-size: 0.65em;
  padding: 2px 5px 4px;
  display: block;
  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
  float: right;
  text-align: right;
  margin-top: 0.2em;
}

.forums div.editbox h5
{
  background:#222;
  color:white;
  padding:2px 10px 3px;
  font-size:0.7em;
  margin:0.2em 0 0.5em;
}

.forums div.editbox p.help span,
.forums div.editbox ul.help span { color:#666; }
.forums div.editbox p.help,
.forums div.editbox ul.help
{
  padding:3px 10px;
  font-size:0.9em;
  color:#333;
  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
.forums div.editbox ul.help { margin:0; }

.forums div.editbox ul.help {
  list-style-type:none; }

.forums #monitor_topic a
{
  color: #666;
}

.forums #right
{
	margin-top:2em;
        margin-right: 1em;
        padding-top: 0.5em;
	float:right;
	width:10em;	
        border: #999 solid 1px;
        text-align: center;
        background-color: #fff;
}

.forums #right p
{
	font-size:0.75em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

.forums #right a.hidden { color:black; text-decoration:none; border-bottom:1px solid #999; }
.forums #right a.hidden:hover { color:blue; text-decoration:none; border-bottom:1px solid #963; }

.forums #right p.help
{
	font-weight:normal;
	font-size:0.75em;
}

.forums .forum_description {
    margin: 1em 3em 1em 3em;
    text-align: center;    
}