<%= favouritable_icon(resource, 60) -%>
<div style="border: 1px dotted black; font-size: 85%;text-align: center;padding:2px;background-color: <%= resource.assay_class_id == 1 ? "#FFDEDE" : "#DEDEFF"%>">
<%= resource.assay_class.title -%>
</div>