<h2>Details about culture growth</h2>
<table class="padded_table">
  <tr>
    <td><label>Organism: </label></td>
    <td><label>Culture growth: </label></td>
  </tr>
  <tr>
    <td><%= select :assay,:organism_id,Organism.find(:all,:order=>:title).collect{|o| [o.title.capitalize,o.id]},:include_blank=>"Not specified" -%></td>
    <td><%= select :assay, :culture_growth_type_id,CultureGrowthType.find(:all,:order=>:title).collect{|o| [o.title.capitalize,o.id]},:include_blank=>"Not specified" -%></td>
  </tr>
</table>
