<%
show_culture_growth ||= false
-%>
<h2>Details about the organism<%= "and culture growth" if show_culture_growth -%></h2>
<table class="padded_table">
  <tr>
    <td><label>Organism: </label></td>
    <% if show_culture_growth -%>
      <td><label>Culture growth: </label></td>
    <% end -%>
  </tr>
  <tr>
    <td>
      <%= select :assay,:organism_id,Organism.find(:all,:order=>:title).collect{|o| [o.title.capitalize,o.id]},:include_blank=>"Not specified" -%>
    </td>
    <% if show_culture_growth -%>
      <td>
        <%= select :assay, :culture_growth_type_id,CultureGrowthType.find(:all,:order=>:title).collect{|o| [o.title.capitalize,o.id]},:include_blank=>"Not specified" -%>
      </td>
    <% end -%>
  </tr>
</table>
