<div class="contribution_title">
  <h1><%=  @assay.is_modelling? ? "#{t('assays.modelling_analysis')} editing" : "#{t('assays.experimental_assay')} editing" -%></h1>
</div>

<div class="show_basic">
  <%= suggested_type_modal_boxes %>
  <%= form_for @assay do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :action=>:edit } -%>
  <% end -%>
</div>
