<div class="contribution_title">
  <h1><%=  @assay.is_modelling? ? "Modelling analysis editing" : "Assay editing" -%></h1>
</div>

<div class="show_basic">
  <%= form_for @assay do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :action=>:edit } -%>
  <% end -%>
</div>
