<ul class="sectionIcons">
    <li><%= icon "new", new_assay_path, "New assay", nil, "New assay" %></li>
</ul>

<% if @assays.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @assays } -%>
<% end %>

<div class="list_items_container">
  <%= render :partial => "assays/resource_list_item", :collection=>@assays %>
</div>

<% if @assays.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @assays } -%>
<% end %>
