<% if logged_in_and_member? %>
     <ul class="sectionIcons align_new_button">
         <li><%= image_tag_for_key "new", new_assay_path, "New #{t('assays.assay').downcase}", nil, "New #{t('assays.assay').downcase}" %></li>
     </ul>
<% end %>

<%= render :partial => "faceted_browsing/facets", :object => @assays %>




