<div class="contribution_title">
  <h1>Assay creation</h1>
</div>

<% unless @assay.assay_class %>
  <div class="assay_selection">
    <ul>
      <label>Please select the type of assay you wish to create</label>
      <li>
        <%= link_to "An experimental assay",new_assay_path(:class=>:experimental) %>
      </li>
      <li>
        <%= link_to "A modelling analysis",new_assay_path(:class=>:modelling) %>
      </li>
    </ul>
  </div>
<% else %>  
  <div class="show_basic">
    <% form_for @assay do |f| %>
      <%= render :partial => "form", :locals => { :f => f, :action=>:new } -%>
    <% end -%>
  </div>
<% end -%>
