<li class="institution_member" data-person-name="{{person.name}}" data-membership-id="{{id}}" data-person-id="{{person.id}}">
    {{person.name}}
    <!--<a class="action-button flag-action" href="#"><span class="flag_as_left_icon"></span></a>-->
    <a class="action-button remove-action" href="#"><span class="remove_member_icon"></span></a>
    <a class="undo-action" href="#">Undo</a>
</li>
