<div class="modal" role="dialog" tabindex="-1" id="openbis_batch_parent-view" size="xl"
     data-role="modal_openbis_batch_parent" style="display: none;">

  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Select parent assay for registration</h4>
      </div>

      <div class="modal-body">

        <%= form_for(DataFile.new) do |f| %>

            <div class="form-group">
              <label>Register under Assay </label><span class="required">*</span>

              <%= assay_selection(@project, f) %>
            </div>

            <%= select_tag :assay_ids,'',{:multiple=>true,:style=>"display:none;"} %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" onclick="set_registration_parameters()">Register selected</button>
      </div>
    </div>
  </div>
</div>

<script>

    function set_registration_parameters() {
        if ($j('#new_data_file select').val()) {
            $j('#seek_parent').val($j('#new_data_file select').val());
            $j('#openbis_batch_parent-view').modal('hide');
            if($j('#batch_form input:checkbox:checked').length > 0) {
                $j('#batch_form').submit();
            } else {
                alert('First select elements for batch registration');
            }
        } else {
            alert('Select the parent element');
        }
    }


</script>