<% spaces = endpoint.available_spaces %>

<div class="form-group">
  <%= label_tag :space -%><span class="required">*</span>
  <%= select_tag "openbis_endpoint[space_perm_id]", options_from_collection_for_select(spaces, "code", "perm_id"),:class=>"form-control" -%>
</div>