<% space.datasets.each do |dataset| %>

    <div class="openbis-item">
      Perm ID: <%= dataset.perm_id %>
      Code: <%= dataset.code %>
      <ul>
      <% dataset.dataset_files.reject(&:is_directory).each do |file| %>
      <li><%= file.path %> - <%= number_to_human_size(file.size) %></li>
      <% end %>
      </ul>
    </div>

<% end %>