<%= modal_openbis_file_view('openbis-file-view') %>


<%= button_link_to('Refresh Cache','refresh','#','data-endpoint-id'=>openbis_endpoint.id,'data-project-id'=> @project.id, id:'refresh-cache') %>
<div class='row' id="openbis-dataset-cards">
  <%= render partial:'openbis_dataset_card',collection:openbis_endpoint.space.datasets %>
</div>

<script>

  $j('#openbis-dataset-cards').on('click', '.view-files-link', OpenBis.showFiles);
  $j('#refresh-cache').on('click',OpenBis.refreshCache);

</script>
