<div id='something-went-wrong' style='display: none'>
  <br/>
  <div>
    <div class='alert alert-danger'>
      <span class='error_icon'>&nbsp;</span>
      There was an error fetching DataSet information from OpenBIS. <br/>
      Please try again later.
    </div>
  </div>
</div>