<div id="waiting-for-items" style="display: none">
  <div>
    <div role="alert" class="alert-warning">
      Fetching list of DataSets from OpenBIS. This can take a while so please wait ....
    </div>

    <div class='large_spinner'> </div>
  </div>
</div>
