<div id='waiting-for-items' style='display: none'>
  <br/>
  <div>
    <div class='alert alert-info'>
      Fetching DataSet information from OpenBIS. <br/>
      If this is first time, or the cache has been cleared, this can take a while.</br>
      Please wait ....
    </div>

    <div class='large_spinner'></div>
  </div>
</div>
