<%= render(partial: 'waiting_for_items_message') %>

<p>
  <%= image(:openbis, :width => '75px') %>
</p>

Select Endpoint: <%= select_tag :selected_endpoints, options_from_collection_for_select(@openbis_endpoints, :id, :title), id: 'select-endpoints', class: 'form-control' %>

<div id="openbis-dataset-count">

</div>
<div id="openbis-datasets">
  <div id="contents">

  </div>
</div>

<script>


  function fetchItemsForSpace(spaceId) {
    $j.ajax('<%= show_items_project_openbis_endpoints_path(@project) %>', {
          data: {id: spaceId},
          success: function (html) {
            $j('#openbis-datasets #contents').html(html);
          },
          beforeSend: function () {
            OpenBis.showBrowseWaitingMessage();
          }
        }
    );
  }


  function endpointChanged() {
    var id = $j('#select-endpoints option:selected').val();
    if (id.trim()) {
      fetchItemsForSpace(id);
    }
    else {
      $j('#contents').html('');
    }
  }
  ;

  $j('#select-endpoints').change(function () {
    endpointChanged();
  });

  <% if @openbis_endpoints.any? %>
  $j(document).ready(function () {
    endpointChanged();
  });
  <% end %>

</script>
