
<%=
  content_tag(:h2) do
    "OpenBIS Spaces for the project #{link_to(@project.title,@project)}".html_safe
  end

%>

<%= button_link_to('Add new openBIS space','add',new_project_openbis_endpoint_path(@project)) %>

<br/>
<br/>
<br/>

<div class="list_items_container">
<% @project.openbis_endpoints.each do |space| %>
  <%= render partial:'space_list_item',locals:{space:space,project:@project} %>
<% end %>
</div>