
<%=
  content_tag(:h2) do
    "OpenBIS Spaces for the #{t('project').downcase} #{link_to(@project.title,@project)}".html_safe
  end

%>

<%= button_link_to('Add new openBIS space','add',new_project_openbis_endpoint_path(@project)) %>

<br/>
<br/>
<br/>

<div class="list_items_container">
<% @project.openbis_endpoints.each do |one_endpoint| %>
    <% unless one_endpoint.nil? %>
      <%= render partial:'space_list_item',locals:{one_endpoint:one_endpoint,project:@project} %>
    <% end %>
<% end %>
</div>
