<span class="isa-tree-toggle-close"  style="cursor:pointer">
  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
</span>
<span class="isa-tree-toggle-open"  style="display: none; cursor:pointer">
  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
</span>
