<% strain_links=[] %>
<div id="existing_strains">
  <% if existing_strains.empty? -%>
      <p class="none_text">No strains have yet been defined for <%= h(organism.title) -%>.</p>
  <% else -%>
      <p class="none_text">Here are the strains for <%= h(organism.title) -%>. Please choose one.</p>
      <% existing_strains.each do |strain| -%>
          <% strain_links << link_to_remote(h(strain.title), {:url =>{:controller => 'strains', :action => 'show_existing_strain', :id => "#{strain.id}"},
          :with=>"'organism_id='+ '#{organism.id}'"}) %>
      <% end -%>
      <%= strain_links.join(", ") -%>
  <% end -%>
</div>
