<% strain_links=[] %>
<div id="existing_genotypes_phenotypes">
  <% if strains_detail.empty? -%>
      <p class="none_text">No genotypes and phenotypes have yet been defined.</p>
  <% else -%>
      <table border="1">
        <tr>
          <th>Genotypes</th>
          <th>Phenotypes</th>
        </tr>
        <% strains_detail.each do |strain_detail| -%>
            <tr>
              <td><%= link_to_remote(h(strain_detail[:genotype]),{:url => {:controller => 'specimens' , :action => 'existing_specimens'}, :with => "'strain_id=' + #{strain_detail[:id]}"}) %> </td>
              <td><%= strain_detail[:phenotype] %></td>
            </tr>
        <% end -%>
      </table>
  <% end -%>
</div>



