<div class="show_basic" style="width:850px;">
  <h1>New Strain</h1>
  <%= form_for @strain do |f| %>
    <%= render :partial => "form", :locals => { :f => f, :action => "create"}-%>
  <% end %>
</div>