<div id="export_form" class="spreadsheet_popup" style="display:none">
  <div class="spreadsheet_box_title">
    <div style="float: left">Export Selection</div>
    <div style="float: right"><a href="#" onclick="$j('#export_form').hide(); return false;">Close</a></div>
    <br style="clear:both"/>
  </div>
  <p>
    The data in the text box below can be copied and pasted into Microsoft Excel.<br/>
    Make sure when pasting the data, "tabs" are selected as the column delimiter.
  </p>

  <br/>

  <textarea style="width: 25em; height: 20em" id="export_data"></textarea>
</div>
