name: Test Docker Image Build & Deploy

on:
  push:
    branches:
      - main
      - workflowhub
      - rails-7-hacking-rebased
      - full-test-suite
      - seek-1.17
      - small-tweaks-docker

  pull_request:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Create volumes
        run: |
          docker volume create --name=seek-filestore
          docker volume create --name=seek-mysql-db
          docker volume create --name=seek-solr-data
          docker volume create --name=seek-cache
      - name: Build and run the Docker containers
        run: docker compose --file docker-compose.yml --file docker-compose.build.yml up --build --detach --wait
        continue-on-error: true
      - name: Wait for workers to start
        run: sleep 30
      - name: Check app status
        run: ruby script/check_deployment.rb
