name: Test Docker Image Build

on:
  push:
    branches:
      - main
      - workflow
      - workflowhub
      - full-test-suite
      - seek-1.16

  pull_request:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag test-image:$(date +%s)
