
<div class="concept_details">
  <ul>
    <li>
      <label><b>Synonyms (<%= concept[:synonyms].count -%>) </b></label>
      <%= concept[:synonyms].join(", ") %>
    </li>
    <li>
      <label><b>Definitions (<%= concept[:definitions].count -%>) </b></label>
      <%= concept[:definitions].join(", ") %>
    </li>    
  </ul>
</div>