<img src="/images/logos/fp7.png" style="width: 100px; height: 90px; float: left; margin: 0 20px"/>

<%= link_to "BioVeL", "http://biovel.eu/", :target => '_blank' %> is funded by the European Commission 7th Framework Programme (FP7) as part of its e-Infrastructures activity (Grant no. 283359). Under FP7, the e-Infrastructures activity is part of the Research Infrastructures programme, funded under the FP7 'Capacities' Specific Programme. It focuses on the further development and evolution of the high-capacity and high-performance communication network (GÉANT), distributed computing infrastructures (grids and clouds), supercomputer infrastructures, simulation software, scientific data infrastructures, e-Science services as well as on the adoption of e-Infrastructures by user communities.
<p style="text-align: right;">Portal version: <%= $version -%></p>
