<%= image_tag "logos/eu_logo.jpg", :style => "float: left; margin: 0 20px" %>

<div style="width: 800px"><%= link_to "BioVeL", "http://biovel.eu/", :target => '_blank' %> has received funding from the European Union's Seventh Framework Programme for research,
  technological development and demonstration under grant agreement no. 283359.
</div>

<p style="text-align: right;">Portal version: <%= $version -%></p>
