<%# this partial expects 2 local to be declared -- -%>
<%# 1) "object" for which the avatar is displayed (object.name() method should be available for any supplied object); -%>
<%# 2) "drag_id" - id for dragging-dropping avatar into "favourites" gadget; -%>


<div class="contribution_section_box">
  <div>
    <%= favouritable_icon(object, 120) -%>
  </div>
  
  <% if object.instance_of?(Person) -%>
    <%= pal_icon(@person) -%>
    <%= admin_icon(@person) -%>
  <% end -%>
</div>