<p id="header_text" class="box_standout">
  Find, share and exchange <b>Data</b>, <b>Models</b> and <b>Processes</b><br/>
  within the <%= link_to "SysMO Consortium","http://www.sysmo.net",:popup=>true %>.
</p>