<p id='header_text_main'  class="box_standout">
Find, share and exchange <b>Data</b>, <b>Models</b> and <b>Processes</b>
within the <%= link_to Seek::Config.project_long_name, Seek::Config.project_link,:popup=>true %>.
</p>
