<% cache "header_main" do -%>
  <table width="100%">
    <tr>
      <td style="text-align:left">
        <%= link_to image_tag("seek-logo-beta_smaller.png",:alt=>"SEEK",:title=>"SEEK"),
          root_path %>
      </td>
      <td style="width:90%;">
        <%= render :partial=>"layouts/header_text_main" -%>
      </td>
      <td style="text-align:right;">
        <%= link_to image_tag("vln-logo-small.png",:alt=>"www.virtuelle-leber.org",:title=>"Virtuelle Leber"),"http://www.virtuelle-leber.org" %>
      </td>
    </tr>
  </table>
<% end -%>
