
  <% from_homepage = (request.url== root_url) ? true :false %>
  <table width="100%" style="margin-bottom: <%= from_homepage ? '0em' : '-2em' %>">
    <tr>
      <td style="text-align:left">
        <%= link_to image_tag("seek-logo-smaller.png",:alt=>"SEEK",:title=>"SEEK"),
          root_path %>
      </td>
      <% if from_homepage %>
          <td style="width:90%;">
            <%= render :partial=>"layouts/header_text_main" -%>
          </td>
      <% end %>
      <td style="text-align:right;">
        <%if Seek::Config.header_image_enabled%><%= link_to image_tag(Seek::Config.header_image,:alt=>Seek::Config.header_image_link,:title=>Seek::Config.header_image_title),
          Seek::Config.header_image_link %><%end%>
      </td>
    </tr>
  </table>
