<p id='header_text_main'  class="box_standout">
  Find, share and exchange <b>Data</b>, <b>Models</b> and <b>Processes</b>
  within the <%= link_to PROJECT_LONG_NAME, PROJECT_LINK,:popup=>true %>.
</p>
