<% item = items_related_to %>
<%  resource_hash = {}
   all_related_items_hash = get_all_related_items(item)
    all_related_items_hash.each_key do |resource_type|
      all_related_items_hash[resource_type][:items].uniq!
      all_related_items_hash[resource_type][:items].compact!
      unless all_related_items_hash[resource_type][:items].empty?
        resource_hash[resource_type] = all_related_items_hash[resource_type][:items]
      end
    end

%>
<h2 style="margin-top: 3em;">
  Items related to <span style="font-weight:bolder;"><%= h(get_object_title(item)) -%></span>.
</h2>

<%= render :partial => "scales/scale_search_results_tabs", :locals => {:resource_hash=>resource_hash,
                                                                          :scale_title=> "all",
                                                                          :scaled_results_disabled => true,
                                                                          :actions_partial_disable => false} %>