<%

item||=nil
version||=nil
avatar = item.nil? ? nil : resource_title_draggable_avatar(item,version)
title_prefix||="" 
title_postfix||=""
title||=h(item.title)
#based on a screen width of 1200, if the title is long make the image position:relative so that the image does not float above the text
#otherwise its position:absolute to make the image float and the text look centred
make_image_relative = item.title.length > 89
extra_image_style = make_image_relative ? "style='position:relative;'" : ""
%>

<div class="contribution_title">
    <% unless avatar.blank? -%>
        <div class="contribution_title_image" <%= extra_image_style -%>><%= avatar -%></div>
    <% end %>
    <h1 style="z-index:10;position:relative;"><%= title_prefix + title + title_postfix -%></h1>
</div>

<% if item.respond_to?(:private?) && item.respond_to?(:public?) && item.try(:can_manage?) %>
    <div class="sharing_summary">
      <%=
          if item.private?
            "This item is <span style='color: red; font-weight: bold;'>Private</span> (only you can view it)"
          elsif item.public?
            "This item is <span style='color: green; font-weight: bold;'>Public</span> (all visitors, even without a login, may view this item)"
          else
            "This item is <span style='font-weight: bold;'>Shared</span>, but not with all visitors to this site"
          end
      %>
    </div>
<% end %>