<%
avatar=resource_title_draggable_avatar item
%>
<div class="contribution_title">
  <% unless avatar.blank? -%>
    <span class="contribution_title_image">
      <%=  avatar -%>
    </span>
  <% end -%>
  <h1><%= h(item.title) -%></h1>
</div>