<%

item||=nil

avatar = item.nil? ? nil : resource_title_draggable_avatar(item,params[:version])
title_prefix||="" 
title_postfix||=""
title ||= item.title || ""

title = "#{h(title_prefix) + h(title) + h(title_postfix)}".html_safe


image_style_for_title_length = title.length > 89 ? "float:left" : "position:absolute"


%>

<div class="contribution_title">
    <% unless avatar.blank? -%>
        <div class="contribution_title_image" style="<%= image_style_for_title_length -%>"><%= avatar -%></div>
    <% end %>

    <h1><%= title -%></h1>

</div>

<% if @action=="show" && item.respond_to?(:private?) && item.respond_to?(:public?) && item.try(:can_manage?) %>
    <div class="sharing_summary">
      <%=
          if item.private?
            sharing_text = "This item is <span style='color: red; font-weight: bold;'>Private</span> (only you can view it)"
          elsif item.is_published?
            sharing_text = "This item is <span style='color: green; font-weight: bold;'>Published</span> (all visitors, even without a login, may view/access this item)"
          elsif item.public?
            sharing_text = "This item is <span style='color: green; font-weight: bold;'>Public</span> visible (all visitors, even without a login, may view this item)"
          else
            sharing_text = "This item is <span style='font-weight: bold;'>Shared</span>, but not with all visitors to this site"
          end
          sharing_text.html_safe
      %>
    </div>
<% end %>