<%

item||=nil

avatar = item.nil? ? nil : resource_title_draggable_avatar(item,params[:version])
title_prefix||="" 
title_postfix||=""
title ||= item.title || ""

title = title_prefix + title + title_postfix


image_style_for_title_length = title.length > 89 ? "float:left" : "position:absolute"


%>

<div class="contribution_title">
    <% unless avatar.blank? -%>
        <div class="contribution_title_image" style="<%= image_style_for_title_length -%>"><%= avatar -%></div>
    <% end %>

    <h1><%= h(title) -%></h1>

</div>

<% if item.respond_to?(:private?) && item.respond_to?(:public?) && item.try(:can_manage?) %>
    <div class="sharing_summary">
      <%=
          if item.private?
            "This item is <span style='color: red; font-weight: bold;'>Private</span> (only you can view it)"
          elsif item.public?
            "This item is <span style='color: green; font-weight: bold;'>Public</span> (all visitors, even without a login, may view this item)"
          else
            "This item is <span style='font-weight: bold;'>Shared</span>, but not with all visitors to this site"
          end
      %>
    </div>
<% end %>