
<%

avatar=resource_title_draggable_avatar item
title_prefix||="" 
title_postfix||=""
%>
<div class="contribution_title">    
    <% unless avatar.blank? -%>
    <span class="contribution_title_image"><%= avatar -%>
    </span>
    <% end -%>
    <h1><%= title_prefix + h(item.title) + title_postfix -%></h1>
</div>

