<%= alert_box('info', hide_button: true) do %>
  <p>
    Before you can contributute e.g. by uploading <%= t('workflow').pluralize -%> you need to
    <%= link_to 'log in', login_path %>
    or
    <%= link_to 'register', main_app.signup_url %>
  </p>
<% end %>
