<style>
  #tracking-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 14px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    display:none;
  }
</style>
<script>
  jQuery( document ).ready(function() {
    if (localStorage.getItem('trackingBannerSeen') != 'shown') {
      jQuery('#tracking-banner').delay(1000).fadeIn();
    };
    jQuery('#tracking-banner button').click(function() {
      localStorage.setItem('trackingBannerSeen','shown');
      jQuery('#tracking-banner').fadeOut();
    })
  })
</script>
<div id='tracking-banner'>
  <p> By continuing to use this site you agree to the use of cookies</p>
  <button type="button" class="btn btn-primary btn-sm">
    I agree
  </button>
</div>
