<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%= @title -%></title>
	<style type="text/css">
		body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; margin-top: 2em; }
		div.dialog {

		}
		div.dialog h1 { font-size: 400%; color: #00d; }
        div.dialog h2 { font-size: 250%; color: #00d; }
        div.dialog h2.error { font-size: 250%; color: #d00; }
        div.dialog p  { font-size: 150%; color: #555 }
	</style>    

</head>

<body>

<div style="text-align: center">
    <%= image :seek_logo, :width=>"250px" -%>
    <%= yield -%>
</div>

</body>

</html>