<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%= @title -%></title>
	<style type="text/css">
		body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
		div.dialog {
			width: 35em;
			padding: 0 4em;
			margin: 4em auto 0 auto;
			border: 1px solid #ccc;
			border-right-color: #999;
			border-bottom-color: #999;
			background-color: #F5F5F5;
		}
		h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
	</style>    

</head>

<body>
<%= yield -%>

<div class="request_feedback">
  <p>
      If you feel this is an error caused by a problem with <%= Seek::Config.application_name %> then please send an email to somebody listed below outlining your problem, and the steps that lead to it.
  </p>
  <p>
    <%= admin_mail_to_links -%>
  </p>
</div>
</body>

</html>